<div class="container-fluid">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6">XÁC THỰC MÃ OTP</h3>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="content">
    <div class="name-item">
      <p>Chúng tôi đã gửi mã OTP về số điện thoại 091234567. Vui lòng nhập mã và tiếp tục thực hiện.</p>
    </div>

    <div class="name-item">
      <input class="input-otp" id="otp" autocomplete="off" type="text" formControlName="email" placeholder="Nhập OTP">
      <div class="label-input-otp" *ngIf="!isSentOpt" (click)="countTimeOtp()">Gửi lại mã OTP</div>
      <div class="label-input-otp-sent" *ngIf="isSentOpt">Mã OTP hết hạn sau {{counter$ | async}}</div>

    </div>

    <div class="select-option">
      <button
        class="dx-button-form dx-button-close dx-button-90"
        (click)="submitOtp()"
        type="button">Xác nhận
      </button>
    </div>
  </form>
</div>
