//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
    text-align: center;
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: center;
    button {
      width: 91px;
      height: 31px;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: #FCAF17;
      cursor: pointer;
      margin: 5px;
    }
    button:nth-last-child(1) {
      background-color: #0041C4;
      margin: 5px;
    }
  }
}

.input-otp {
  display: block;
  margin: auto;
  width: 267px;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.input-otp-mobile {
  display: block;
  margin: auto;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.label-input-otp {

  font-size: 11px;
  line-height: 14px;
  justify-content: center;
  display: flex;
  margin-left: 193px;
  margin-top: 4px;
  text-decoration-line: underline;
  color: #106DB6;
}

.label-input-otp-mobile {

  text-align: center;
  color: #106DB6;
  justify-content: center;
  text-decoration-line: underline;


}

.label-input-otp-sent {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.invalid{
  color: red;
}