<div>
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">XÁC THỰC MÃ OTP</h3>
  </div>
  <form [formGroup]="addForm" class="content">
    <div style="text-align: center;">
      <p>Chúng tôi đã gửi mã OTP về số điện thoại <b style="color: #106DB6;">{{this.datasOtp.phone}}</b>.<br>
        Vui lòng nhập mã và tiếp tục thực hiện.</p>
    </div>

    <div class="label-input-otp-mobile">
      <input class="input-otp-mobile" id="otp" autocomplete="off" formControlName="otp" placeholder="Nhập OTP"
      maxlength="6"
      oninput="this.value = this.value.replace(/[^0-9]/g ,'', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');"
      >
      <div *ngIf="submitted && f.otp.errors" class="invalid">
        <div *ngIf="f.otp.errors.required">{{'Mã OTP không được để trống' | translate}}</div>
      </div>
      <div class="label-input-otp-sent" style="margin-left: 100px;" *ngIf="this.count > 0">Mã OTP hết hạn sau {{counter$ | async }}s</div>
      <div class="label-input-otp-sent" style="margin-left: 150px;" *ngIf="this.count == 0">Mã OTP đã hết hạn</div>
    </div>

    <div class="select-option">
      <button class="dx-button-form dx-button-close dx-button-90" [ngStyle]="getStyleReset()" (click)="this.count == 0?sendOtpAgain(this.datasOtp.contract_id, this.datasOtp.recipient_id, this.datasOtp.phone):''" type="button">Gửi lại OTP</button>
      <button class="dx-button-form dx-button-close dx-button-90" (click)="onSubmit()" type="button">{{'confirm' | translate}}</button>confirm
    </div>
  </form>
</div>



<div class="skeleton-sign position-absolute opacity-0">
  <app-display-signature-image [userOtp]="userOtp" [phoneOtp]="phoneOtp" [isDateTime]="isDateTime"></app-display-signature-image>
</div>
