//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}
.container{
  border-radius: 12px;
  background: #FFF;
}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
    text-align: center;
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: center;
    button {
      width: 91px;
      height: 31px;
      // border-radius: 5px;
      // border: none;
      // color: white;
      // background-color: #FCAF17;
      cursor: pointer;
      margin: 5px;
    }
    button:nth-last-child(1) {
      background-color: #0041C4;
      margin: 5px;
      color: white;
      border: 1px solid var(--Neutral-05, #C6D2EA);
      border-radius: 6px;
    }
  }
}

.input-otp {
  display: block;
  margin: auto;
  width: 267px;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.input-otp-mobile {
  display: block;
  margin: auto;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.label-input-otp {

  font-size: 11px;
  line-height: 14px;
  justify-content: center;
  display: flex;
  margin-left: 193px;
  margin-top: 4px;
  text-decoration-line: underline;
  color: #106DB6;
}

.label-input-otp-mobile {

  text-align: center;
  color: #106DB6;
  justify-content: center;
  text-decoration-line: underline;


}

.label-input-otp-sent {
  justify-content: center;
  display: flex;
  margin-top: 10px;
}
.invalid{
  color: red;
}
.title_otp{
  color: var(--Text-Primary, var(--Neutral-01, #00186D));
  font-family: inherit;
  text-transform: uppercase;
  font-family: 'Roboto';
  font-size: 14px;
  font-weight: 700;
}
.change_phone{
  color: #286CF5;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 21px;
  cursor: pointer;
  
}
.text_validate{
  color: #001A4D;
  text-align: center;
  /* Body/14 Regular */
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}

.otp__input-title{
  width: 93%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;

  #title {
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 48px;
    padding: 16px;
    border-radius: 8px;
    background-color: #F7FAFD;
    border: 1px solid #E6EDFA;
    outline: none;
    margin-top: 6px;
  }
}

.otp-input-item ::ng-deep {
  .otp-input {
    background-color: #F7FAFD;
    border: 1px solid #E6EDFA;
    border-radius: 8px;
    font-size: 16px;
    color: var(--Primary, #0041C4);
  }
}

.label-input-otp-sent {
  // display: flex;
  margin-top: 10px;
  float: right;
}

::ng-deep .wrapper .otp-input:not(:last-child) {
  margin-right: 23px !important;
}

::ng-deep .wrapper .otp-input {
  background-color: #F7FAFD;
  border: 1px solid #E6EDFA;
  border-radius: 8px;
}
.cancel-button {
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: #677694;
  border-radius: 6px;
  border: 1px solid var(--Neutral-05, #C6D2EA);
  background: var(--White, #FFF);
  font-size: 13px;
  margin: 0 10px;
}