<div class="container">
  <div style="text-align: center; font-weight: bold">
    <span class="title_otp">XÁC THỰC MÃ OTP</span>
  </div>
  <form [formGroup]="addForm" class="content">
    <div style="text-align: center;">
      <!-- <p>Chúng tôi đã gửi mã OTP về số điện thoại <b style="color: #106DB6;">{{this.datasOtp.phone}}</b>.<br>
        Vui lòng nhập mã và tiếp tục thực hiện.</p> -->
      <p class="text_validate">Vui lòng nhập mã xác thực đã được gửi về số điện thoại {{this.datasOtp.phone}}.</p>
      <p *ngIf="this.datasOtp.firstHandlerEdit" class="change_phone" (click)="changePhone()">Thay đổi số điện thoại</p>
    </div>
    
    <div style="display: flex;flex-direction: column;">
    
      <div class="otp__input-title">
        <span id = "title">
          Nhập OTP <span class="invalid">*</span>
        </span>
        <ng-otp-input class="otp-input-item" id="otp" [config]="{length:6}" formControlName="otp" (onInputChange)="onOtpChange($event)"></ng-otp-input>
        <div style="display: block;">
          <div class="label-input-otp-sent" *ngIf="this.count > 0">OTP có hiệu lực trong <span style="color: #0041C4; font-weight: bold;padding: 1px 4px;"> {{counter$ | async }}s.</span>
          </div>
          
          <div class="label-input-otp-sent" *ngIf="this.count == 0">OTP đã hết hiệu lực. <span style="color: #0041C4; cursor: pointer; padding: 1px 4px;" 
            (click)="this.count == 0?sendOtpAgain(this.datasOtp.contract_id, this.datasOtp.recipient_id, this.datasOtp.phone):''" > Gửi lại</span>
          </div>
        </div>
        <div *ngIf="submitted && f.otp.errors" class="invalid">
          <div *ngIf="f.otp.errors.pattern">{{'Mã OTP sai định dạng' | translate}}</div>
          <div *ngIf="f.otp.errors.required">{{'Mã OTP không được để trống' | translate}}</div>
        </div>
      </div>

      <!-- <div class="label-input-otp-mobile">
        <input class="input-otp-mobile" id="otp" autocomplete="off" formControlName="otp" placeholder="Nhập OTP"
        maxlength="6"
        oninput="this.value = this.value.replace(/[^0-9]/g ,'', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');"
        >
        <div *ngIf="submitted && f.otp.errors" class="invalid">
          <div *ngIf="f.otp.errors.required">{{'Mã OTP không được để trống' | translate}}</div>
        </div>
        <div class="label-input-otp-sent" *ngIf="this.count > 0">OTP có hiệu lực trong {{counter$ | async }}s</div>
        <div class="label-input-otp-sent" *ngIf="this.count == 0">Mã OTP đã hết hạn</div>
      </div> -->

      <div class="select-option">
        <button class="cancel-button" (click)="dialog.closeAll()" type="button">
          {{ "btn.cancel" | translate }}
        </button>
        <!-- <button class="dx-button-form dx-button-close dx-button-90" [ngStyle]="getStyleReset()" (click)="this.count == 0?sendOtpAgain(this.datasOtp.contract_id, this.datasOtp.recipient_id, this.datasOtp.phone):''" type="button">Gửi lại OTP</button> -->
        <button class="dx-button-form dx-button-close dx-button-90" (click)="onSubmit()" type="button" >{{'confirm' | translate}}</button>
      </div>
    </div>
  </form>
</div>



<div class="skeleton-sign position-absolute opacity-0">
  <app-display-signature-image [userOtp]="userOtp" [phoneOtp]="phoneOtp" [isDateTime]="isDateTime"></app-display-signature-image>
</div>
