
<ng-template [ngIf]="!roleMess">
  <div class="sample-contract row">
  <!--  information contract-->
    <div class="col-md-3 sample-contract__information" style="background-color: white;">
      <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
        <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label" (click)="t()">THÔNG TIN MẪU HỢP ĐỒNG</div>
        <div style="line-height: 25px">
          <div>
            <span class="title-contract">Tên mẫu hợp đồng:</span>
            <span>{{datas?.is_data_contract?.name}}</span>
          </div>
          <div>
            <span class="title-contract">Mã mẫu hợp đồng:</span>
            <span>{{datas?.is_data_contract?.code}}</span>
          </div>
          <div>
            <span class="title-contract">Loại hợp đồng:</span>
            <span>{{datas?.is_data_contract?.type_name}}</span>
          </div>
          <div>
            <span class="title-contract">File đính kèm:</span>
            <span *ngFor="let d of allFileAttachment;let i = index">
              <span *ngIf="i != 0">, </span>
              <a style="color: #106DB6" rel="stylesheet" [href]="d.path" target="_blank">{{d.filename}}</a>
            </span>
          </div>
          <div>
            <span class="title-contract">Thời gian tạo:</span>
            <span>{{datas?.is_data_contract?.created_at | date: 'dd/MM/yyyy HH:mm'}}</span>
          </div>
          <div>
            <span class="title-contract">Thời gian hiệu lực:</span>
            <span>{{datas?.is_data_contract?.start_time | date: 'dd/MM/yyyy'}} - {{datas?.is_data_contract?.end_time | date: 'dd/MM/yyyy'}}</span>
          </div>
        </div>
      </div>
     <hr>
  
      <div class="location-change" [ngStyle]="changeDisplay()">
        <div class="sample-contract__information&#45;&#45;user-sign" style="line-height: 25px">
        </div>
        <div>
          <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">Thông tin ký</u>
        </div>
      </div>
    </div>
  
    <!--  file content-->
    <!--  width: 74.7%-->
    <div (scroll)="scroll($event)" id="pdf-full" class="col-md-9 sample-contract__file viewer-pdf isDrag"
         style="background-color: #F2F2F2; position: relative;">
      <div id="pdf-viewer-step-3">
        <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
          <div class="resize-drag not-out-drop ck-da-keo"
               [id]="d.id"
               style="z-index: -1;"  
               #itemElement
               
               [ngStyle]="changePosition(d)">
            <div class="name-sig-img-daky text-ellipsis">{{d.name}}</div>
            <app-image-sign-contract-template-detail [style]="d.type==2 || d.type==3 ? 'display: flex; width: 100%; height: 100%; padding: 4px;' : ''"  [datas]="datas" [sign]="d"></app-image-sign-contract-template-detail>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="footer-sample-contract">
    <div class="col-md-3">
    </div>
    <div class="col-md-9">
        <div class="center" style="margin-top: 5px;">
          <a style="text-align: center">
            <button class="call-page" (click)="firstPage()">
              <!-- <img width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg"> -->
              <img  width="16px" height="20px" *ngIf="!this.page1" src="assets/img/firstpage.svg">
              <img  width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg">
            </button>
            <button style="margin-right: 5px;" class="call-page1" (click)="previousPage()">
              <img width="12px" height="16px" *ngIf="this.page1" src="assets/img/firstpagebold.svg">
              <img width="12px" height="16px" *ngIf="!this.page1" src="assets/img/previous.svg">
            </button>
      
            <input class="input1" [(ngModel)]="pageNum" type="text" (keyup.enter)="onEnter($event)" />&nbsp;/ &nbsp;{{this.pageNumber}}
            <button class="call-page1" (click)="onNextPage()" id="prev">
              <img width="12px" height="16px" *ngIf="this.pageLast" src="assets/img/next.svg">
              <img width="12px" height="16px" *ngIf="!this.pageLast" src="assets/img/nextblur.svg">
            </button>
      
            <button class="call-page1" (click)="lastPage()" id="prev">
              <img width="16px" height="20px" *ngIf="this.pageLast" src="assets/img/lastpage.svg">
              <img width="16px" height="20px" *ngIf="!this.pageLast" src="assets/img/lastpageblur.svg">
            </button>
          </a>

          <a style="position: absolute; right: 5px;">
            <button  type="button" name="next" class="next action-button" (click)="endContract()">{{'end' | translate}}</button>
          </a>
        </div>
    </div>
  </div>
</ng-template>


  <div>{{roleMess | translate}}</div>

