<div class="sample-contract row">
    <!--  information contract-->
    <div class="col-md-3 sample-contract__information" style="background-color: white;">
      <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
        <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label" (click)="t()">THÔNG TIN MẪU HỢP ĐỒNG</div>
        <div style="line-height: 25px">
          <div>
            <span class="title-contract">Loại hợp đồng:</span>
            <span>{{datas?.is_data_contract?.type_name}}</span>
          </div>
          <div>
            <span class="title-contract">Tên mẫu hợp đồng:</span>
            <span>{{datas?.is_data_contract?.name}}</span>
          </div>
          <div>
            <span class="title-contract">Mã mẫu hợp đồng:</span>
            <span>{{datas?.is_data_contract?.code}}</span>
          </div>
          <div>
            <span class="title-contract">File đính kèm:</span>
            <span *ngFor="let d of allFileAttachment;let i = index">
              <span *ngIf="i != 0">, </span>
              <a style="color: #106DB6" rel="stylesheet" [href]="d.path" target="_blank">{{d.filename}}</a>
            </span>
          </div>
          <div>
            <span class="title-contract">Thời gian hiệu lực:</span>
            <span>{{datas?.is_data_contract?.start_time | date: 'dd/MM/yyyy'}} - {{datas?.is_data_contract?.end_time | date: 'dd/MM/yyyy'}}</span>
          </div>
  
        </div>
      </div>
     <hr>
  
      <div class="location-change" [ngStyle]="changeDisplay()">
        <div class="sample-contract__information&#45;&#45;user-sign" style="line-height: 25px">
        </div>
        <div>
          <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">Luồng xử lý hợp đồng</u>
        </div>
      </div>
    </div>
  
    <!--  file content-->
    <!--  width: 74.7%-->
    <div class="col-md-9 sample-contract__file viewer-pdf isDrag"
         style="background-color: #F2F2F2; position: relative;">
      <div id="pdf-viewer-step-3">
        <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
          <div class="resize-drag not-out-drop"
               [id]="d.id"
               style="z-index: -1;"
               #itemElement
               (click)="getSignSelect(d)"
               [ngClass]="changeColorDrag(null, d, true)"
               [ngStyle]="changePosition(d)">
            <div class="name-sig-img-daky">{{(d.name && !d.value) ? d.name : ''}}</div>
            <app-image-sign-contract-template-detail *ngIf="!d.value" [datas]="datas" [sign]="d"></app-image-sign-contract-template-detail>
          </div>
        </div>
      </div>
    </div>
  </div>
  