::ng-deep .mat-form-field {
  width: 100%;

  .mat-form-field-flex {
    padding: 0 .75em 0 .75em !important;
    background: white;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
  }
  .mat-form-field-underline {
    position: absolute;
    width: 0%;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

//upload file
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #106DB6;
  width: 100%;
  border-radius: 20px;
}

//label type contract
.label_type{
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

//label item form
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}

.require_star{
  color: red;
}
