::ng-deep .mat-form-field {
  width: 100%;

  .mat-form-field-flex {
    padding: 0 .75em 0 .75em !important;
    background: white;
    border: 1px solid #ced4da !important;
    border-radius: .25rem;
  }
  .mat-form-field-underline {
    position: absolute;
    width: 0%;
  }
  .mat-form-field-wrapper {
    padding-bottom: 0;
  }
}

//upload file
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #106DB6;
  width: 100%;
  border-radius: 20px;
}

//label type contract
.label_type{
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

//label item form
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}

.require_star{
  color: red;
}

:host ::ng-deep {
  .selected-item {
    max-width: 100% !important;
  }
}

.select-file-contract {
  display: flex;
  //flex-direction: column;
  justify-content: space-between;
  margin-bottom: 22px;

  .file-approve {
    .label {
      font-size: 15px;
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }

    .select-contract {
      position: relative;
      width: 425px;
      input {
        outline: none;
        width: 400px;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #87CAFF;
        padding-left: 10px;
        cursor: pointer;
      }
      img {
        cursor: pointer;
        position: absolute;
        top: 15px;
        right: 35px;
      }
    }
  }

}

button {
  //padding: 15px;
  border: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
}

//style button
.action-button {
  width: 100px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}
