.input_text {
    padding-left: 10px;
    outline: none;
    height: 33px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid #106DB6;
  }

.btn_search{
   align-self: flex-end;
}

.btn_submit{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}
  