<div class="footer-contract" *ngIf="this.datas.is_data_contract.status == 20 && this.datas.is_data_contract.release_state == 'CON_HIEU_LUC' && this.mobile === false">
  <div class="btn_footer">
    <div class="label">
      <button *ngIf="!this.is_show_coordination && !view && this.lang" type="button" name="next" class="next action-button" (click)="processingAuthorization()">{{'authorization' | translate}}</button>
      <button *ngIf="!this.is_show_coordination && !view && this.lang" type="button" name="next" class="next action-button" (click)="forWardContract()">{{'forward' | translate}}</button>

      <button *ngIf="!this.is_show_coordination && !view && !this.lang" type="button" name="next" class="next action-button" (click)="processingAuthorization()">{{'Uỷ quyền' | translate}}</button>
      <button *ngIf="!this.is_show_coordination && !view && !this.lang" type="button" name="next" class="next action-button" (click)="forWardContract()">{{'Chuyển tiếp' | translate}}</button>
    </div>

    <a style="text-align: center; margin-top: 5px;">
      <button class="call-page" (click)="firstPage()">
        <!-- <img width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg"> -->
        <img  width="16px" height="20px" *ngIf="!this.page1" src="assets/img/firstpage.svg">
        <img  width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg">
      </button>
      <button style="margin-right: 5px;" class="call-page1" (click)="previousPage()">
        <img width="12px" height="16px" *ngIf="this.page1" src="assets/img/firstpagebold.svg">
        <img width="12px" height="16px" *ngIf="!this.page1" src="assets/img/previous.svg">
      </button>

      <input [(ngModel)]="pageNum" type="text" (keyup.enter)="onEnter($event)" />&nbsp;/ &nbsp;{{this.pageNumber}}
      <button class="call-page1" (click)="onNextPage()" id="prev">
        <img width="12px" height="16px" *ngIf="this.pageLast" src="assets/img/next.svg">
        <img width="12px" height="16px" *ngIf="!this.pageLast" src="assets/img/nextblur.svg">
      </button>

      <button class="call-page1" (click)="lastPage()" id="prev">
        <img width="16px" height="20px" *ngIf="this.pageLast" src="assets/img/lastpage.svg">
        <img width="16px" height="20px" *ngIf="!this.pageLast" src="assets/img/lastpageblur.svg">
      </button>
    </a>

    <div>
      <button *ngIf="!this.is_show_coordination && ![2,3,4].includes(this.datas.roleContractReceived) && !view" type="button" name="next" class="next action-button" (click)="refuseContract()" style="background-color: #8B8B8B">{{'contract.status.fail' | translate}}</button>
      <button class="next action-button" (click)="autoScroll()">{{'auto.scroll' | translate}}</button>
      <button *ngIf="this.is_show_coordination"  type="button" name="next" class="next action-button" (click)="endContract()">{{'end' | translate}}</button>
      <button *ngIf="((!this.is_show_coordination && !view) || this.datas.roleContractReceived) && this.lang == 'vi'  || !this.lang" (click)="action()" type="button" name="next" class="next action-button">{{this.datas.action_title == 'dieu_phoi' ? 'Điều phối' : 'Xác nhận'}}</button>
      <button *ngIf="((!this.is_show_coordination && !view) || this.datas.roleContractReceived) && this.lang == 'en'" (click)="action()" type="button" name="next" class="next action-button">{{this.datas.action_title == 'dieu_phoi' ? 'Coordinator' : 'Confirm'}}</button>
    </div>
  </div>
</div>

<div *ngIf="this.datas.is_data_contract.status == 20 && this.datas.is_data_contract.release_state == 'CON_HIEU_LUC' && this.mobile === true">
  <div class="btn_footer">
    <div class="label">
      <button *ngIf="!this.is_show_coordination && !view && this.lang" type="button" name="next" class="next action-button" (click)="processingAuthorization()">{{'authorization' | translate}}</button>
      <button *ngIf="!this.is_show_coordination && !view && this.lang" type="button" name="next" class="next action-button" (click)="forWardContract()">{{'forward' | translate}}</button>

      <button *ngIf="!this.is_show_coordination && !view && !this.lang" type="button" name="next" class="next action-button" (click)="processingAuthorization()">{{'Uỷ quyền' | translate}}</button>
      <button *ngIf="!this.is_show_coordination && !view && !this.lang" type="button" name="next" class="next action-button" (click)="forWardContract()">{{'Chuyển tiếp' | translate}}</button>
      
      <button *ngIf="!this.is_show_coordination && ![2,3,4].includes(this.datas.roleContractReceived) && !view" type="button" name="next" class="next action-button" (click)="refuseContract()" [ngStyle]="getStyleButton()">{{'contract.status.fail' | translate}}</button>
      <button *ngIf="!this.is_show_coordination && !view && this.lang == 'vi' || !this.lang" (click)="action()" type="button" name="next" class="next action-button" [ngStyle]="getStyleButton()">{{this.datas.action_title == 'dieu_phoi' ? 'Điều phối' : 'Xác nhận'}}</button>

      <button *ngIf="!this.is_show_coordination && !view && this.lang == 'en'" (click)="action()" type="button" name="next" class="next action-button" [ngStyle]="getStyleButton()">{{this.datas.action_title == 'dieu_phoi' ? 'Coordinator' : 'Confirm'}}</button>

    </div>
  </div>
</div>
