.action-button {
  width: 114px;
  height: 30px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px 5px;
}

.footer-contract {
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 46px;
  //add css 16022022
  float: right;
  width: 75%;
  .content_footer {
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
    width: 24.36%;
    text-align: center;
  }
  .btn_footer {
    display: flex;
    justify-content: space-between;
    //width: 75.64%;
    width: 100%;
    button {
      outline: none;
    }
  }
}
