.action-button {
  width: 100px;
  background: #0041C4;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}

.action-button-previous {
  width: 100px;
  background: #FFFFFF;
  font-weight: bold;
  color: #0041C4;
  border: 1px solid var(--Primary, #0041C4);
  border-radius: 6px;
  cursor: pointer;
  padding: 9px 5px;
  margin: 5px 5px;
}

.find-sign-box-btn {
  width: fit-content;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #EE7200;
  color: #EE7200;
  background-color: #FFFFFF;
  margin: 5px 5px;
  height: 40px;
}

.find-infor-box-btn {
  width: fit-content;
  height: 30px;
  border-radius: 7px;
  border: 1px solid #0041C4;
  color: #0041C4;
  background-color: #FFFFFF;
  margin: 5px 5px;
  height: 40px;
}

.footer-contract {
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 37px;
  //add css 16022022
  float: right;
  width: 75%;
  padding-top: 2vh;
  .content_footer {
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
    width: 24.36%;
    text-align: center;
  }
  .btn_footer {
    display: flex;
    justify-content: space-between;
    //width: 75.64%;
    width: 100%;
    button {
      outline: none;
    }
  }
}

.header {
  width: 100%;
}

.auto-scroll {
  width: 100px;
  height: 30px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(46, 108, 246); 
  color: rgb(255, 255, 255);
}

.call-page {
  padding: 0;
  border: none;
  background: none;
}

.call-page1 {
  padding: 0;
  border: none;
  background: none; 
  margin-left: 5px
}

input {
  box-sizing: border-box; 
  text-align: center; 
  width: 40px;
  height: 22px;
  background: #FFFFFF;
  border: 1px solid #87CAFF;
  border-radius: 5px; 
}

.forward-btn-mobile {
  background: white;
  border: 1px solid #106DB6;
  color: #106DB6;
  width: 114px;
  height: 30px;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px 5px;
}


