<!-- form step 4 -->
<form [formGroup]="confirmForm" id="msform">
  <div class="labelOrg">MẪU HỢP ĐỒNG</div>
  <div class="infor_contact">
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Tên mẫu hợp đồng</div>
          <div class="input-group">
            <input type="text" id="contractName" class="form-control" formControlName="contractName" readonly/>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Mã mẫu hợp đồng</div>
          <div class="input-group">
            <input type="text" id="contractNumber" class="form-control" formControlName="contractNumber" readonly/>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Tên file mẫu hợp đồng</div>
          <div class="input-group">
            <input type="text" id="contractFileName" class="form-control" formControlName="contractFileName" readonly/>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Loại mẫu hợp đồng</div>
          <div class="input-group">
            <input type="text" id="contractType" class="form-control" formControlName="contractType" readonly/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="labelOrg">CÁC BÊN KÝ</div>
  <div class="determine_contact">
    <div class="user_contact">
      <div>CÔNG TY TNHH ABC</div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người xem xét</div>
            <div class="input-group">
              <input type="text" id="userViews" class="form-control" formControlName="userViews" readonly/>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người ký</div>
            <div class="input-group">
              <input type="text" id="userSigns" class="form-control" formControlName="userSigns" readonly/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Văn thư</div>
            <div class="input-group">
              <input type="text" id="userDocs" class="form-control" formControlName="userDocs" readonly/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partner_contact">
      <div>CÔNG TY TNHH ABC</div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người xem xét</div>
            <div class="input-group">
              <input type="text" id="partnerViews" class="form-control" formControlName="partnerViews" readonly/>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người ký</div>
            <div class="input-group">
              <input type="text" id="partnerSigns" class="form-control" formControlName="partnerSigns" readonly/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Văn thư</div>
            <div class="input-group">
              <input type="text" id="partnerDocs" class="form-control" formControlName="partnerDocs" readonly/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="footer-infor-contract">
  <div style="width: 200px;">
    <button (click)="back($event, 'sample-contract')" type="button" name="next" class="next action-button" style="background-color: #8B8B8B">Quay lại</button>
  </div>
  <div class="content_footer"></div>
  <div>
    <button type="button" name="next" class="next draft-button">Lưu nháp</button>
    <button (click)="next()" type="button" name="next" class="next action-button pull-right">Tiếp theo</button>
  </div>
</div>


