  <div *ngIf="sign.sign_unit == 'chu_ky_so' || sign.sign_unit == 'chu_ky_anh'" class="content">
    <div class="stamp-content">
      <img [src]="sign.sign_unit == 'chu_ky_anh' ? 'assets/img/new-icon-chu-ky-so.svg' : 'assets/img/new-icon-chu-ky-so.svg'"
        alt="mobifone.contract">
    </div>
    <div class="sign-info-content">
      <span style="color: #106DB6;" *ngIf="sign.sign_unit == 'chu_ky_anh'; then content else other_content"></span>
      <ng-template #content>Thông tin chữ ký ảnh</ng-template>
      <ng-template #other_content>Thông tin chữ ký số</ng-template>
    </div>
  </div>

<div class="text-sign-not-template-text" *ngIf="(sign.sign_unit == 'text') && !signTemplate">
  <span [ngStyle]="getStyleText(sign)" class="font-style" id="input-text">{{getText(sign)}}</span>
</div>

<div class="text-sign-not-template-text" *ngIf="(sign.sign_unit == 'so_tai_lieu') && !signTemplate">
  <span [ngStyle]="getStyleText(sign)" class="font-style" id="input-text">{{getText(sign)}}</span>
</div>

<div [ngStyle]="getStyleText(sign)" class="text-sign" *ngIf="(sign.sign_unit == 'text' || sign.sign_unit == 'so_tai_lieu') && signTemplate">
  <span *ngIf="getStyleText(sign)" class="font-style" id="input-text">{{getText(sign)}}</span>

  <!-- o text -->
  <input *ngIf="sign.sign_unit == 'text' && sign.is_have_text && !sign.text_type" id="input-text-value" placeholder="Nhập nội dung Text.."
    [(ngModel)]="sign.value" type="text" (click)="reverseInput($event, sign)" (blur)="changeInput($event, sign)" (ngxInputSearch)="doTheSearch($event,'text')" style="white-space: nowrap;">

  <!-- o so -->
  <input *ngIf="sign.sign_unit == 'text' && sign.is_have_text && sign.text_type=='currency'" id="input-text-value" placeholder="Nhập nội dung Số.."
    oninput="value = value.replace(/\D/g, '');"
    [(ngModel)]="sign.value" type="text" (click)="reverseInput($event, sign)" (blur)="changeInput($event, sign)" (ngxInputSearch)="doTheSearch($event,'text')" style="white-space: nowrap;">

  <input *ngIf="getNotSpecifiedYetHandle() && sign.sign_unit == 'so_tai_lieu'" id="input-number-value"
    (focusout)="focusOutFunction()" [(ngModel)]="this.contractNo" placeholder="Nhập số hợp đồng.." type="text"
    (ngxInputSearch)="doTheSearch($event,'contractNo')" style="white-space: nowrap;">
</div>
