.content {
  //height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-sign span {
  width: 125px;
  border: 0px;
  height: 25px;
  outline: none;
  color: #106DB6;
}

// .font-style {
//   font-size: 11px !important;
// }
textarea {
  margin: 0;
  overflow-y: hidden;
  resize: none;
  position: relative;
}

textarea::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  pointer-events: all;
  cursor: nwse-resize;
}

#input-text-value, #input-number-value {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 248, 255);
  border: none;
  outline: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.text-sign-not-template-text {
  position: absolute;
  bottom: -3px;
  left: 0px;
  outline: none;
  color: #106DB6;
}

.text-sign-not-template-contract-code {
  position: absolute;
  top: 6px;
  left: 0px;
  outline: none;
  color: #106DB6;
  width: 150px;
}
