.main-digital-sign-box {
  display: flex;
  width: 100%;
  padding: 4px;
}
.content {
  //height: 102px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  // padding: 4px;
}

.stamp-content {
  flex-basis: 33.33%;
  background-color: #106DB6;
  border-radius: 6px;
  margin-right: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sign-info-content {
  flex-basis: 66.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBF8FF;
  border-radius: 6px;
  color: #106DB6;
  // font-family: Lexend Deca !important;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0px;
}

.text-sign span {
  width: 125px;
  border: 0px;
  height: 25px;
  outline: none;
  color: #106DB6;
}

// .font-style {
//   font-size: 11px !important;
// }
textarea {
  margin: 0;
  overflow-y: hidden;
  resize: none;
  position: relative;
}

textarea::after {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 16px;
  height: 16px;
  background-color: #ddd;
  border: 1px solid #999;
  border-radius: 3px;
  pointer-events: all;
  cursor: nwse-resize;
}

#input-text-value, #input-number-value {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 248, 255);
  border: none;
  outline: none;
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.text-sign-not-template-text {
  position: absolute;
  top: 0px;
  left: 0px;
  outline: none;
  color: #106DB6;
  text-align: left;
}

.text-sign-not-template-contract-code {
  position: absolute;
  top: 6px;
  left: 0px;
  outline: none;
  color: #106DB6;
  width: 150px;
}
