<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.datas.title | translate}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.name' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="nameOrg">
                </div>
                <div *ngIf="submitted && f.nameOrg.errors" class="invalid">
                    <div *ngIf="f.nameOrg.errors.required">Tên tổ chức không được để trống</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.short-name' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="short_name">
                </div>
                <div *ngIf="submitted && f.short_name.errors" class="invalid">
                    <div *ngIf="f.short_name.errors.required">Tên viết tắt không được để trống</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.code' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="code">
                </div>
                <div *ngIf="submitted && f.code.errors" class="invalid">
                    <div *ngIf="f.code.errors.required">Mã tổ chức không được để trống</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.email' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="email" [readonly]="this.data.id != null">
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid">
                    <div *ngIf="f.email.errors.required">Email không được để trống</div>
                    <div *ngIf="f.email.errors.email">Email không đúng định dạng</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.parent' | translate }} <span class="required-title">*</span></div>
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="orgList" 
                        formControlName="parent_id" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="Chọn tổ chức" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        [showClear]="this.data.id != null?false:true"
                        [readonly]="this.data.id != null" 
                        dropdownIcon="pi pi-chevron-down" 
                        ></p-dropdown>
                </div>
                <div *ngIf="submitted && f.parent_id.errors" class="invalid">
                    <div *ngIf="f.parent_id.errors.required">Tổ chức cấp trên không được để trống</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.phone' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="phone" [readonly]="this.data.id != null">
                </div>
                <div *ngIf="submitted && f.phone.errors" class="invalid">
                    <div *ngIf="f.phone.errors.required">Số điện thoại không được để trống</div>
                    <div *ngIf="f.phone.errors.pattern">Số điện thoại sai định dạng</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.fax' | translate }}</div>
                <div class="input-data">
                    <input type="text" formControlName="fax">
                </div>
            </div>
        
            <div class="col-md-6" style="align-self: center;">
                <div class="row">
                    <div class="col-md-5">
                        <input type="radio" name="confirm-radio-consider" [value]="1" formControlName="status" name="status">
                        <span> {{'unit.active' | translate }}</span>
                    </div>
                    <div class="col-md-7">
                        <input type="radio" name='confirm-radio-consider' [value]="0" formControlName="status" name="status">
                        <span> {{'unit.inactive' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.save' | translate}}</button>
        </div>
    </form>
  </div>
  