<div class="container-fluid">
    <div class="header">
      <h3 class="label-header">{{this.datas.title | translate}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.name' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="nameOrg">
                </div>
                <div *ngIf="submitted && f.nameOrg.errors" class="invalid">
                    <div *ngIf="f.nameOrg.errors.required">{{'error.unit.name.required' | translate}}</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.short-name' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="short_name">
                </div>
                <div *ngIf="submitted && f.short_name.errors" class="invalid">
                    <div *ngIf="f.short_name.errors.required">{{'error.unit.short-code.required' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.code' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="code">
                </div>
                <div *ngIf="submitted && f.code.errors" class="invalid">
                    <div *ngIf="f.code.errors.required">{{'error.unit.code.required' | translate}}</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.email' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="email">
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid">
                    <div *ngIf="f.email.errors.required">{{'error.user.email.required' | translate}}</div>
                    <div *ngIf="f.email.errors.email">{{'error.user.email.format' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.parent' | translate }} <span class="required-title">*</span></div>
                <div *ngIf="this.data.id==null">
                    <p-dropdown
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="orgList" 
                        formControlName="parent_id" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="Chọn tổ chức" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        [showClear]="true"
                        dropdownIcon="pi pi-chevron-down" 
                    ></p-dropdown>
                </div>
                <div *ngIf="this.data.id != null" class="input-data hidden-color">
                    <div class="hidden-color">{{parentName}}</div>
                  </div>
                <div *ngIf="this.data.id == null && submitted && f.parent_id.errors" class="invalid">
                    <div *ngIf="f.parent_id.errors.required">{{'error.unit.parent.required' | translate}}</div>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'unit.phone' | translate }} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="phone">
                </div>
                <div *ngIf="submitted && f.phone.errors" class="invalid">
                    <div *ngIf="f.phone.errors.required">{{'error.user.phone.required' | translate}}</div>
                    <div *ngIf="f.phone.errors.pattern">{{'error.user.phone.format' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'unit.fax' | translate }}</div>
                <div class="input-data">
                    <input type="text" formControlName="fax">
                </div>
            </div>
        
            <div class="col-md-6" style="align-self: center;">
                <div class="row">
                    <div class="col-md-5">
                        <input type="radio" name="confirm-radio-consider" [value]="1" formControlName="status" name="status">
                        <span> {{'unit.active' | translate }}</span>
                    </div>
                    <div class="col-md-7">
                        <input type="radio" name='confirm-radio-consider' [value]="0" formControlName="status" name="status">
                        <span> {{'unit.inactive' | translate }}</span>
                    </div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.save' | translate}}</button>
        </div>
    </form>
  </div>
  