.required-title {
    color: red;
}

.input-data {
    border: 1px solid #106DB6;
    border-radius: 5px;
    height: 33px;
    display: flex;
    align-items: center;

    > img {
        padding-left: 14px;
    }

    > input {
        border: none;
        outline: none;
        padding-left: 19px;
        width: 100%;
    }
}  
.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}
.error-detail{
    font-size: inherit;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 0;
  }
  :host ::ng-deep {
    .p-dropdown, .p-dropdown-label, .p-dropdown-panel .p-dropdown-items .p-dropdown-item, .p-element, .p-dropdown-items {
        font-size: 13px !important;
        font-family: font_lexend_deca !important;
    }
    
    .p-dropdown {
        border: 1px solid #106DB6;
        border-radius: 5px;
        height: 33px;
        width: 100%;
        outline: 0;
    }
    .p-inputtext{
        padding: 0.2rem;
    }
    .p-dropdown-panel {
        padding: 0.2rem;
    }
    .p-dropdown-label {
        padding: 5px;
    }
}
  