<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{ this.data.title | translate }}</h3>
  </div>
  <div class="content">

     <!--Hàng 0-->
     <div class="row">
      <div class="col-md-12">
        <div class="label_item">{{ "unit.name" | translate }}</div>
        <div>
          <div [innerHTML]="name" class="input_text"></div>
        </div>
      </div>
    </div>

    <!--Hàng 1-->
    <div class="row">
      <div class="col-md-6">
        <div class="label_item">{{ "unit.id" | translate }}</div>
        <div>
          <div [innerHTML]="id" class="input_text"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label_item">{{ "unit.short-name" | translate }}</div>
        <div>
          <div [innerHTML]="short_name" class="input_text"></div>
        </div>
      </div>
    </div>

    <!--Hàng 2-->
    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label_item">{{ "unit.code" | translate }}</div>
        <div>
          <div [innerHTML]="code" class="input_text"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label_item">{{ "unit.email" | translate }}</div>
        <div>
          <div [innerHTML]="email" class="input_text"></div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label_item">{{ "unit.parent" | translate }}</div>
        <div>
          <div [innerHTML]="parent_id" class="input_text"></div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label_item">{{ "unit.phone" | translate }}</div>
        <div>
          <div [innerHTML]="phone" class="input_text"></div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label_item">{{ "Mã số thuế" | translate }}</div>
        <div>
          <div [innerHTML]="taxCode" class="input_text"></div>
        </div>
      </div>

      <div class="col-md-6" style="align-self: center">
        <input type="radio" checked style="outline: none" />
        <span>
          {{
            (status == 1 ? "unit.active" : "unit.inactive") | translate
          }}</span
        >
      </div>
    </div>

    <div *ngIf="this.site === 'KD'">
      <div class="row" style="padding-top: 2px">
        <div class="header">
          <h3 class="label-header">{{ "package.information" | translate }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-6">
          <div class="label_item">
            {{ "contract.used" | translate }}
            <span class="highlight_result">
              {{ this.numContractUse }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "contract.purchased" | translate }}
            <span class="highlight_result">
              {{ this.numContractBuy }}
            </span>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
          <div class="label_item">
            {{ "ekyc.used" | translate }}
            <span class="highlight_result">
              {{ this.eKYCContractUse }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "ekyc.purchased" | translate }}
            <span class="highlight_result">
              {{ this.eKYCContractBuy }}
            </span>
          </div>
        </div>
      </div>

      <div class="row" style="padding-top: 10px">
        <div class="col-md-6">
          <div class="label_item">
            {{ "sms.used" | translate }}
            <span class="highlight_result">
              {{ this.smsContractUse }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "sms.purchased" | translate }}
            <span class="highlight_result">
              {{ this.smsContractBuy }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "timestamp.used" | translate }}
            <span class="highlight_result">
              {{ this.numTimeStampUse }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "timestamp.purchased" | translate }}
            <span class="highlight_result">
              {{ this.numTimeStampBuy }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "ceca.used" | translate }}
            <span class="highlight_result">
              {{ this.numCecaUse }}
            </span>
          </div>
        </div>

        <div class="col-md-6">
          <div class="label_item">
            {{ "ceca.purchased" | translate }}
            <span class="highlight_result">
              {{ this.numCecaBuy }}
            </span>
          </div>
        </div>

      </div>
    </div>

    <div class="row" style="justify-content: center; padding-top: 10px">
      <button class="cancel-button" (click)="dialog.closeAll()" type="button">
        {{ "btn.close" | translate }}
      </button>
    </div>
  </div>
</div>
