.header{
    text-align: center; 
    font-weight: bold
}
.label-header{
    // color: #106DB6; 
    // font-family: inherit;
    text-transform: uppercase;
    color: #001A4D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.525px;
}
.input_header {
    color: #001A4D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.525px;
}
.label_item {
    color: #2B3D60;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8E9AB0;
    font-size: 13px;
    margin: 0 10px;
}
.input_text{
    background: #EFF2F5;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
    color: #001A4D;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.525px;
  }

.highlight_result {
    color: red;
}