
<meta name='viewport' content='width=device-width' />

<div class="sample-contract row" *ngIf="loaded && valid && this.mobile === false">
  <div class="col-md-3 sample-contract__information" style="background-color: white;">
    <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
      <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label" (click)="t()">THÔNG TIN CHI TIẾT HỢP ĐỒNG</div>
      <div style="line-height: 25px">
        <div>
          <span class="title-contract">Mã hợp đồng:</span>
          <span>{{datas?.is_data_contract?.contract_uid}}</span>
        </div>
        <div>
          <span class="title-contract">{{'menu.contract.type.list' | translate}}:</span>
          <span>{{datas?.is_data_contract?.type_name}}</span>
        </div>
        <div>
          <span class="title-contract">{{'contract.name' | translate}}:</span>
          <span>{{datas.is_data_contract.name}}</span>
        </div>
        <div>
          <span class="title-contract">{{'contract.number' | translate}}:</span>
          <span>{{datas.is_data_contract.contract_no}}</span>
        </div>
        <div>
          <span class="title-contract">{{'file.attach' | translate}}:</span>
          <span *ngFor="let d of allFileAttachment;let i = index">
            <span *ngIf="i != 0">, </span>
            <a style="color: #106DB6" rel="stylesheet" [href]="d.path" target="_blank">{{d.filename}}</a>
          </span>
        </div>
        <div>
          <span class="title-contract">{{'contract.connect' | translate}}:
          </span>
          <span *ngFor="let d of datas?.is_data_contract?.refs;let i = index">
            <span *ngIf="i != 0">, </span>
            <a style="color: #106DB6;" rel="stylesheet" [href]="'/main/form-contract/detail/' + d.ref_id" target="_blank">{{d.ref_name}}</a>
          </span>
        </div>

      </div>
    </div>
    <hr>

    <div class="location-change">
      <div class="sample-contract__information--user-sign" style="line-height: 25px">
        <div style="text-align: center; font-weight: bold" class="label">{{'relate.party' | translate}}</div>

        <div *ngFor="let d of this.datas?.is_data_contract?.participants">
          <div>{{d.name}}</div>
        </div>

      </div>
      <div>
        <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">{{'contract_processing_flow' | translate}}</u>
      </div>
      <hr>

      <div class="flex-column" *ngIf="![2,3].includes(recipient.status)">
        <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 2">
          <p class="d-flex justify-content-center mb-4">XEM XÉT HỢP ĐỒNG</p>
          <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung, các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
          <div class="confirm-radio d-flex justify-content-between mx-4">
            <div class="radio-confirm">
              <input id="radio-confirm-consider" type="radio" name="confirm-radio-consider" [value]="1" [(ngModel)]="confirmConsider">
              <label for="radio-confirm-consider" class="ms-2">Đồng ý</label>
            </div>
            <div class="radio-refuse">
              <input id="radio-refuse-consider" type="radio" name='confirm-radio-consider' [value]="2" [(ngModel)]="confirmConsider">
              <label for="radio-refuse-consider" class="ms-2">Không đồng ý</label>
            </div>
          </div>
        </div>
        <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 3 || this.datas.roleContractReceived == 4">
          <p class="d-flex justify-content-center mb-4 text-uppercase">XÁC NHẬN KÝ HỢP ĐỒNG</p>
          <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung, các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
          <div class="confirm-radio d-flex justify-content-between mx-4">
            <div class="radio-confirm">
              <input id="radio-confirm-secretary" type="radio" name="confirm-radio-secretary" [value]="1" [(ngModel)]='confirmSignature'>
              <label for="radio-confirm-secretary" class="ms-2">Đồng ý</label>
            </div>
            <div class="radio-refuse">
              <input id="radio-refuse-secretary" type="radio" name='confirm-radio-secretary' [value]="2" [(ngModel)]='confirmSignature'>
              <label for="radio-refuse-secretary" class="ms-2">Không đồng ý</label>
            </div>
          </div>
        </div>
      </div>
      
      
    </div>

      <div style="padding-top: 10px;padding-left: 315px">
        <span class="auto-scroll" (click)="autoScroll()">Auto scroll</span>
      </div>
  </div>

  <div id="pdf-full" class="col-md-9 sample-contract__file viewer-pdf isDrag"
       style="background-color: #F2F2F2; position: relative">
    <div id="pdf-viewer-step-3">
      <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
        <div class="resize-drag not-out-drop" *ngIf="![2,3].includes(recipient.status)"
             [id]="d.id"
             style="z-index: -1;"
             #itemElement
             (click)="getSignSelect(d)"
             [ngClass]="changeColorDrag(null, d, true)"
             [ngStyle]="changePosition(d)">
          <app-image-sign-contract  id="image-sign-contract" (checkedChange)="switchesValueChange($event)" *ngIf="![2,3].includes(recipient.status)" [datas]="datas" [view]="[2,3].includes(recipient.status)" [sign]="d"></app-image-sign-contract>
          <div *ngIf="this.flagFocus && d.sign_unit == 'text'" class="name-sig-img-daky">{{(d.name && !d.valueSign) ? d.name : ''}}</div>
          <div *ngIf="d.sign_unit != 'text' && !this.flagFocus" class="name-sig-img-daky">{{(d.name && !d.valueSign) ? d.name : ''}}</div>
        </div>
      </div>
      <div class="skeleton-sign position-absolute opacity-0">
        <app-display-digital-signature [nameCompany]="nameCompany" [cardId]="cardId" [phonePKI]="phonePKI"></app-display-digital-signature>
      </div>
      <div class="skeleton-sign position-absolute opacity-0">
        <app-text-signature-image [textSign]="textSign" [height]="heightText" [width]="widthText"></app-text-signature-image>
      </div>
    </div>
  </div>
</div>

<div *ngIf="this.mobile === true">

  <div class="skeleton-sign position-absolute opacity-0">
    <app-display-digital-signature [nameCompany]="nameCompany" [cardId]="cardId" [phonePKI]="phonePKI"></app-display-digital-signature>
  </div>

      <div style="margin:auto;padding: 10px">
        <pdf-viewer *ngIf="![2,3].includes(recipient.status)" [src]="pdfSrcMobile"
        [render-text]="true"
        style="width: 95%; height: calc(70vh); border: 1px;"
        [fit-to-page]="true"
        [show-borders]="true"
        ></pdf-viewer>
      </div>

      <div style="display: none;" *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
        <app-image-sign-contract id="image-sign-contract-mobile" *ngIf="![2,3].includes(recipient.status)" [datas]="datas" [view]="[2,3].includes(recipient.status)" [sign]="d"></app-image-sign-contract>
      </div>

    <div class="flex-column" *ngIf="![2,3].includes(recipient.status)">
      <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 2">
        <p class="d-flex justify-content-center mb-4">XEM XÉT HỢP ĐỒNG</p>
        <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung, các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
        <div class="confirm-radio d-flex justify-content-between mx-4">
          <div class="radio-confirm">
            <input id="radio-confirm-consider" type="radio" name="confirm-radio-consider" [value]="1" [(ngModel)]="confirmConsider">
            <label for="radio-confirm-consider" class="ms-2">Đồng ý</label>
          </div>
          <div class="radio-refuse">
            <input id="radio-refuse-consider" type="radio" name='confirm-radio-consider' [value]="2" [(ngModel)]="confirmConsider">
            <label for="radio-refuse-consider" class="ms-2">Không đồng ý</label>
          </div>
        </div>
      </div>
      <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 3 || this.datas.roleContractReceived == 4">
        <p class="d-flex justify-content-center mb-4 text-uppercase">XÁC NHẬN KÝ HỢP ĐỒNG</p>
        <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung, các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
        <div class="confirm-radio d-flex justify-content-between mx-4">
          <div class="radio-confirm">
            <input id="radio-confirm-secretary" type="radio" name="confirm-radio-secretary" [value]="1" [(ngModel)]='confirmSignature'>
            <label for="radio-confirm-secretary" class="ms-2">Đồng ý</label>
          </div>
          <div class="radio-refuse">
            <input id="radio-refuse-secretary" type="radio" name='confirm-radio-secretary' [value]="2" [(ngModel)]='confirmSignature'>
            <label for="radio-refuse-secretary" class="ms-2">Không đồng ý</label>
          </div>
        </div>
      </div>
    
</div>
</div>

<app-footer-signature *ngIf="loaded" [datas]="datas" [view]="[2,3].includes(recipient.status)" [recipientId]="recipientId" (submitChanges)="submitEvents($event)"></app-footer-signature>
<!-- <app-confirm-sign-otp (confirmOtpForm)="confirmOtp($event)"></app-confirm-sign-otp> -->
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
  <p style="font-size: 18px; color: white; text-align: center;white-space: pre-line;">{{loadingText}}</p>
</ngx-spinner>
