.sample-contract {
  //height: calc(100vh - 151px);

  &__file {
    //position: relative;
    .sig-img-daky {
      position: absolute;
      top: -20px;
      right: -3px;
      //cursor: pointer;
    }
  }

  // .viewer-pdf {
  //   height: calc(100vh - 114px);
  //   overflow-x: auto;
  //   text-align: center;
  //   background-color: rgba(239, 239, 239, 1);
  //   padding-top: 10px;
  // }

  #pdf-viewer-step-3.view {
    padding-top: 15px;
    overflow-y: auto;
    height: calc(100vh - 122px);
    overflow-x: hidden;
  }


  .viewer-pdf.isDrag {
    height: calc(100vh - 200px);
    overflow-x: auto;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    padding-top: 10px;

    &.view {
      height: calc(100vh - 122px) !important;
      margin-left: 33%;
      padding-top: 10px;

      .show-list-name {
        pointer-events: none;
      }
    }
  }

  &__information {
    &--drag {
      .content-drag {
        //cursor: pointer;
        width: 100%;
        height: 30px;
        background-color: #EBF8FF;
        border-radius: 5px;
        border: 1px solid #106DB6;
        color: #106DB6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center
      }

      // .title-contract {
      //   padding-right: 5px;
      // }

      .show-list-name-class:nth-last-child(4) {
        //float: left;
        margin-right: 11px;
      }

      .show-list-name-class:nth-last-child(2) {
        margin-right: 11px;
      }
    }

    &--user-sign {
      display: flex;
      flex-direction: column;

      .name-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        input {
          border-radius: 5px;
          border: 1px solid #87CAFF;
          height: 40px;
          outline: none;
        }
      }

      .sign-unit-select {
        select {
          color: #333333;
          border: 1px solid #87CAFF;
          outline: none;

          &.form-select:disabled {
            opacity: 0.7;
          }
        }

        select:invalid {
          color: gray;
        }
      }
    }

    .flex-column {
      .location {
        display: flex;
        justify-content: space-around
      }

      .location-drag {
        //display: flex;
        float: left;
        align-items: center;

        div {
          //padding-right: 20px;
          width: 88px;
          //font-size: 13px;
          color: #666666;
          text-align: center;
          float: left;
          padding-right: 15px;
          padding-top: 10px;
        }

        input {
          outline: none;
          width: 88px;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #87CAFF;
        }
      }
    }

    @media screen and (min-height: 634px) and (max-height: 670px) {
      .location-change {
        overflow: auto;
        height: calc(50vh - 113px);
      }
    }

    @media screen and (max-height: 634px) {
      .location-change {
        height: calc(50vh - 170px);
        overflow: auto;
      }
    }
  }

  .label-require {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #F48465;
  }

  .radio-confirm{
    margin-left: -10px;
  }
}

.container-fluid{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 18px;
  min-height: 92vh;
}

.my-custom-cancel-button-class {
  color: red !important; /* Thay đổi màu chữ theo ý bạn, ví dụ: màu đỏ */
}
// test
.ck-da-keo {
  border: 1px solid #106DB6;
  border-radius: 5px;
}

.ck-da-keo-first-handler {
  border: 1px solid #106DB6;
  border-radius: 5px;
  background-color: rgb(235, 248, 255);
}

.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.employer-ck .signature-sample,
.employer-ck .signature-sample-drag {
  border: 1px solid #92bff5;
  background-color: rgba(255, 233, 178, 1);
  color: #fe7744;
  border-radius: 2px;
}

.employer-ck-da-keo {
  border: 1px solid #92bff5;
  color: #fe7744;
  border-radius: 2px;
}

.staff-ck .signature-sample,
.staff-ck .signature-sample-drag {
  border: 1px solid #92bff5;
  background-color: rgba(189, 217, 249, 1);
  color: #2680eb;
  border-radius: 2px;
}

.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.resize-drag {
  //position: absolute; // thuoc tinh absolute de giu nguyen vi tri khi keo sang pdf
  z-index: 9;
  //width: 250px;
  //height: 32px;
  font-size: 12px;
  border-radius: 3px;
  // font-family: sans-serif;
  outline: none;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(27, 51, 91, 1);
  /* This makes things *much* easier */
  box-sizing: border-box;
  //padding: 10px;
  .name-sig-img-daky {
    position: absolute;
    background-color: white;
    top: -15px;
    left: 6px;
    padding: 0 4px;
  }

  .sig-img-daky {
    cursor: pointer;

    > img {
      width: 16px;
    }

    img:nth-last-child(2) {
      width: 8px;
      top: 6px;
      position: absolute;
      right: 3px;
    }
  }
}

.drag-image {
  //position: absolute;
  //right: -22px;
  //top: 5px;
  padding-left: 7px;
}

#element-drag-text,
#element-drag {
  //display: inline-block;
  //width: ;
}

.action-button-previous {
  width: 120px;
  height: 38px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 8px 12px;
  margin: 5px 0px;
}

.text-align-left {
  text-align: left;
}

.box-sign {
  width: 135px;
  height: 85px !important;
}

.auto-scroll {
  width: 100px;
  height: 30px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  background: rgb(46, 108, 246);
  color: rgb(255, 255, 255);
}

.call-page {
  padding: 0;
  border: none;
  background: none;
}

.call-page1 {
  padding: 0;
  border: none;
  background: none;
  margin-left: 5px
}

.input-mobile {
  box-sizing: border-box;
  width: 50px;
  height: 30px;
  background: #FFFFFF;
  border: 1px solid #87CAFF;
  border-radius: 5px;
  margin-left: 5px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px;
  font-family: 'Lexend Deca'
}

.page-number-mobile {
  font-family: 'Lexend Deca';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 22px;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 5px
}

.input-mobile {

  box-sizing: border-box;
  text-align: center;

  background: #FFFFFF;
  border: 1px solid #87CAFF;
  border-radius: 5px;
  font-size: 15px;
}

.main-sign-box {
  display: flex;
  width: 100%;
  height: 100%;
  padding: 4px;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
  max-width: 106px;
}

.rotate{
  left: 1480px;
  position: fixed;
  z-index: 1000;
  cursor: pointer;
}

.input-web {
  box-sizing: border-box;
  text-align: center;
  width: 40px;
  height: 22px;
  background: #FFFFFF;
  border: 1px solid #87CAFF;
  border-radius: 5px;
}

.zoom-in-out{
  width: 100%;
  position: fixed;
  z-index: 1000;
  //left: 340px;
}
@media screen and (max-width:1440px){
  .zoom-in-out{
    width: 100%;
    position: fixed;
    z-index: 1000;
    //left: 250px;
  }
}
@media screen and (max-width:1366px){
  .zoom-in-out{
    width: 100%;
    position: fixed;
    z-index: 1000;
    //left: 255px;
  }
}
@media screen and (max-width:1600px){
  .zoom-in-out{
    width: 100%;
    position: fixed;
    z-index: 1000;
    //left: 280px;
  }
}
@media screen and (max-width:1280px){
  .zoom-in-out{
    width: 100%;
    position: fixed;
    z-index: 1000;
    //left: 230px;
  }
}
@media screen and (max-width:1920px){
  .zoom-in-out{
    width: 100%;
    position: fixed;
    z-index: 1000;
    //left: 330px;
  }
}

.input1 {
  color: #00186D;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
  box-sizing: border-box;
  text-align: center;
  width: 24px;
  height: 24px;
  background: #FFFFFF;
  border: none;
  border-radius: 3px;
}

.no-focus {
  &:focus {
    outline: none; /* Ensure no outline on focus */
    box-shadow: none; /* Remove box-shadow */
  }
}

.page-number {
  color: #00186D;
  font-size: 14px;
  font-weight: 700;
  line-height: 19px;
}

.tru {
  width: 24px; 
  height: 24px;
}

.col-md-9-tru {
  width: calc(75% - 24px); /* 75% is the width of col-md-9 */
}

.col-md-12-tru {
  width: calc(100% - 24px);
}

.no-focus {
  &:focus {
    outline: none; /* Ensure no outline on focus */
    box-shadow: none; /* Remove box-shadow */
  }
}

:host ::ng-deep {
  .p-dropdown, .p-multiselect {
    border: 1px solid #E6EDFA;
    border-radius: 5px;
    height: 24px;
    width: 100%;
    outline: 0;
    color: #00186D !important;
    position: relative;
    display: flex; /* Ensure proper alignment */
    align-items: center; /* Vertically align items */
  }

  .p-dropdown-label {
    display: flex; /* Ensure alignment of label content */
    align-items: center; /* Center the text vertically */
    padding: 0 10px; /* Adjust padding as needed */
    height: 100%; /* Ensure the height is consistent */
  }

  .p-dropdown-label::after, .p-multiselect-label::after {
    content: '';
    background-image: url('../../../../../assets/img/arrow-down.png'); /* Replace with your image URL */
    background-size: 24px 24px;
    background-repeat: no-repeat;
    position: absolute;
    right: 5px; /* Adjust to position the icon correctly */
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
  }

  .p-dropdown .p-dropdown-trigger, .p-multiselect .p-multiselect-trigger {
    display: none; /* Hide the default dropdown icon */
  }
  
  .p-multiselect .p-multiselect-label.p-placeholder, .p-dropdown .p-dropdown-label.p-placeholder {
    color: #AEC7E5 !important;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 21px; /* Adjust line-height for proper vertical alignment */
  }
}

.label {
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
  color: #00186D;
}

.title-contract {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #8E9AB0;
  white-space: nowrap;
}

.contract-name {
  font-weight: 700 !important;
  font-size: 13px !important;
  line-height: 18px !important;
  color: #0041C4 !important;
}

.info-contract {
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  color: #00186D;
}

a.info-contract {
  text-decoration: none;
  display: inline-block;
  max-width: 104px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  box-sizing: border-box;
}

.content-info-contract {
  border: 1px solid #E6EDFA;
  border-radius: 3px;
  display: inline-block;
  max-width: 120px;
  overflow: hidden;
  padding: 4px 8px 0px 8px;
  background-color: #F7FAFD;
}

.content-info-contract:hover {
  border: 1px solid #286CF5 !important;
}

@media (max-width: 1199.98px) {
  .mt-lg-5px {
    margin-top: 5px !important;
  }
}

.process-handle-contract {
  border: 1px solid #E6EDFA;
  padding: 16px 8px 16px 16px;
  border-radius: 8px;
  background-color: #FFFFFF;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #0041C4;
  display: flex; /* Enable Flexbox */
  justify-content: space-between; /* Space items between start and end */
  align-items: center; /* Center items vertically */
}

.process-handle-contract:hover {
  border: 1px solid #286CF5 !important;
}

.process-handle-contract img {
  width: 24px; /* Maintain aspect ratio */
}

@media (min-width: 1200px) {
  .custom-xl-width-col-xl-3 {
    width: 120px;
  }

  .custom-xl-width-col-xl-9 {
    width: calc(100% - 120px);
  }
}