<div class="sample-contract row" *ngIf="loaded && valid">
  <!--  information contract-->
  <div class="col-md-3 sample-contract__information" style="background-color: white;">
    <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
      <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label" (click)="t()">THÔNG TIN CHI TIẾT HỢP ĐỒNG</div>
      <div style="line-height: 25px">
        <div>
          <span class="title-contract">Loại hợp đồng:</span>
          <span>{{datas.is_data_contract.type_id}}</span>
        </div>
        <div>
          <span class="title-contract">Tên hợp đồng:</span>
          <span>{{datas.is_data_contract.name}}</span>
        </div>
        <div>
          <span class="title-contract">Số hợp đồng:</span>
          <span>{{datas.is_data_contract.code}}</span>
        </div>
        <div>
          <span class="title-contract">File đính kèm:</span>
          <span *ngFor="let d of allFileAttachment">
            <a style="color: #106DB6" rel="stylesheet" [href]="d.path" target="_blank">{{d.filename}}</a>
          </span>
        </div>
        <div>
          <span class="title-contract">Hợp đồng liên quan:</span>
          <span *ngFor="let d of allRelateToContract;let i = index">
            <a style="color: #106DB6;" [style.margin-left]="i != 0 ? '8px' : ''" rel="stylesheet" [href]="'/main/form-contract/detail/' + d.ref_id" target="_blank">{{d.ref_name}}</a>
          </span>
        </div>

      </div>
    </div>
    <hr>

    <div class="location-change" [ngStyle]="changeDisplay()">
      <div class="sample-contract__information--user-sign" style="line-height: 25px">
        <div style="text-align: center; font-weight: bold" class="label">CÁC BÊN LIÊN QUAN</div>
        <!--        <div *ngFor="let d of this.isPartySignature">-->
        <!--          <div>{{d.name}}</div>-->
        <!--        </div>-->
        <div *ngFor="let d of this.datas?.is_data_contract?.participants">
          <div>{{d.name}}</div>
        </div>

      </div>
      <div>
        <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">Luồng xử lý hợp đồng</u>
      </div>
      <hr>
      <div class="flex-column" *ngIf="![2,3].includes(recipient.status)">
        <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 2">
          <p class="d-flex justify-content-center mb-4">XEM XÉT HỢP ĐỒNG</p>
          <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung,các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
          <div class="confirm-radio d-flex justify-content-between mx-4">
            <div class="radio-confirm">
              <input id="radio-confirm-consider" type="radio" name="confirm-radio-consider" [value]="1" [(ngModel)]="confirmConsider">
              <label for="radio-confirm-consider" class="ms-2">Đồng ý</label>
            </div>
            <div class="radio-refuse">
              <input id="radio-refuse-consider" type="radio" name='confirm-radio-consider' [value]="2" [(ngModel)]="confirmConsider">
              <label for="radio-refuse-consider" class="ms-2">Không đồng ý</label>
            </div>
          </div>
        </div>
        <div class="label" style="text-align: center; font-weight: bold;" *ngIf="this.datas.roleContractReceived == 3 || this.datas.roleContractReceived == 4">
          <p class="d-flex justify-content-center mb-4 text-uppercase">XÁC NHẬN KÝ HỢP ĐỒNG</p>
          <p class="d-flex mb-2 text-align-left mx-3">Bạn có đồng ý với nội dung,các điều khoản trong hợp đồng và sử dụng phương thức điện tử để thực hiện giao dịch không?</p>
          <div class="confirm-radio d-flex justify-content-between mx-4">
            <div class="radio-confirm">
              <input id="radio-confirm-secretary" type="radio" name="confirm-radio-secretary" [value]="1" [(ngModel)]='confirmSignature'>
              <label for="radio-confirm-secretary" class="ms-2">Đồng ý</label>
            </div>
            <div class="radio-refuse">
              <input id="radio-refuse-secretary" type="radio" name='confirm-radio-secretary' [value]="2" [(ngModel)]='confirmSignature'>
              <label for="radio-refuse-secretary" class="ms-2">Không đồng ý</label>
            </div>
          </div>
          <!--<p class="mb-3 mt-3 text-align-left">Chọn loại ký</p>
          <ngx-select [placeholder]="'Chọn loại ký'" [items]="optionsSign" [(ngModel)]="typeSign" optionValueField="item_id" optionTextField="item_text"></ngx-select>
          <p style="color:#ED1C24;" class="mt-xl-4">Bạn cần nhập vào ô thông tin trên hợp đồng để hoàn thành.</p>-->
        </div>
      </div>
    </div>
  </div>

  <!--  file content-->
  <!--  width: 74.7%-->
  <div class="col-md-9 sample-contract__file viewer-pdf isDrag"
       style="background-color: #F2F2F2; position: relative;">
    <div id="pdf-viewer-step-3">
      <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
        <div class="resize-drag not-out-drop" *ngIf="![2,3].includes(recipient.status)"
             [id]="d.id"
             style="z-index: -1;"
             #itemElement
             (click)="getSignSelect(d)"
             [ngClass]="changeColorDrag(null, d, true)"
             [ngStyle]="changePosition(d)">
          <div class="name-sig-img-daky">{{(d.name && !d.valueSign) ? d.name : ''}}</div>
          <app-image-sign-contract *ngIf="![2,3].includes(recipient.status)" [datas]="datas" [view]="[2,3].includes(recipient.status)" [sign]="d"></app-image-sign-contract>
        </div>
      </div>
      <div class="skeleton-sign position-absolute opacity-0">
        <app-display-digital-signature [nameCompany]="nameCompany"></app-display-digital-signature>
      </div>
      <div class="skeleton-sign position-absolute opacity-0">
        <app-text-signature-image [textSign]="textSign" [height]="heightText" [width]="widthText"></app-text-signature-image>
      </div>
    </div>
  </div>
</div>
<app-footer-signature *ngIf="loaded" [datas]="datas" [view]="[2,3].includes(recipient.status)" [recipientId]="recipientId" (submitChanges)="submitEvents($event)"></app-footer-signature>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
  <p style="font-size: 18px; color: white">{{loadingText}}</p>
</ngx-spinner>
