<div class="container-fluid">
  <div class="row">
    <div class="col-md-6 breadcrumb-container">
      <ul class="breadcrumb">
        <li *ngFor="let d of this.currentFolders">
          <a *ngIf="!checkLastChildFolderBreadcrumber(d, this.currentFolders)" (click)="openFolder(d.id)" style="cursor: pointer; color: rgba(16, 109, 182, 0.7)"
          onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">{{ d.name }}</a>
          <a *ngIf="checkLastChildFolderBreadcrumber(d, this.currentFolders)">{{ d.name }}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-6 btn-container">
      <button class="btn btn-lg btn-block btn_submit" (click)="addFolder()">Thêm thư mục</button>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <p-table [value]="folders" [paginator]="false" id="table" [autoLayout]="true">
      <ng-template pTemplate="header" let-columns>
        <tr>
            <th *ngFor="let col of cols" [style]='col.style' [class]="col.class">
              {{col.header | translate}}
            </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
          <tr (dblclick)="openFolder(list.id)">
              <td><img src = "../../../assets/img/contract.svg" width="20px">
                <a style="color: #0160AE; cursor: pointer; padding-left: 10px;" 
                (click)="openFolder(list.id)">{{list.name}}</a></td>
              <td></td>
              <td style="text-align: center">
                <img src="../../../assets/img/icon_edit.svg" width="20px"  style="cursor: pointer;" (click)="editFolder(list.id)"  (dblclick)="$event.stopPropagation()"/>&nbsp;&nbsp;
                <img src="../../../assets/img/icon_delete.svg" width="16px"  style="cursor: pointer;" (click)="deleteFolder(list.id)"  (dblclick)="$event.stopPropagation()"/>&nbsp;&nbsp;
                <img src="../.././/../assets/img/view-folder.svg" width="20px" style="cursor: pointer" (click)="openDetailFolder(list.id)" (dblclick)="$event.stopPropagation()" >
              </td>
          </tr>
      </ng-template>
      <!-- <ng-template pTemplate="paginatorleft" let-state>
        <span style="color: white !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
      </ng-template>
      <ng-template pTemplate="paginatorright" let-state>
        <span style="color: #0160AE !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
      </ng-template>  -->
    </p-table>
  </div>

  <div *ngIf="folders && folders.length == 0" 
  style="height: 100px;display: table;top: 0;left: 0;width: 100%;text-align: center;margin-top: 20px;">
    <div style="display: table-cell;vertical-align: middle;">
      <img src="../../../assets/img/empty_data.svg"/>
      <div style="color: #94A7C6">{{'no.data' | translate}}</div>
    </div>
  </div>
</div>
