<div class="container-fluid">
  <!-- <div class="col-md-6 breadcrumb-container">
    <ul class="breadcrumb">
      <li *ngFor="let d of this.currentFolders">
        <a *ngIf="!checkLastChildFolderBreadcrumber(d, this.currentFolders)" (click)="openFolder(d.id)" style="cursor: pointer; color: rgba(16, 109, 182, 0.7)"
        onmouseover="this.style.textDecoration='underline';" onmouseout="this.style.textDecoration='none';">{{ d.name }}</a>
        <a *ngIf="checkLastChildFolderBreadcrumber(d, this.currentFolders)">{{ d.name }}</a>
      </li>
    </ul>
  </div> -->
  <div class="col-md-12" style="padding-top: 20px;">
    <div class="input-line search" style="justify-content:left">
        <img src="../../assets/img/icon_search.svg" class="input-img" />
        <input placeholder="{{'folder.search.name.placeholder' | translate}}" type="text" id="filter_name" class="input-text" style="width: 90%!important"
        />
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 btn-container" style="padding-top: 10px">
      <button class="btn btn-lg btn-block btn_submit" (click)="addFolder()">Thêm thư mục</button>
    </div>
  </div>

  <div class="row list_header" *ngIf="this.folders.length > 0;">
    <div class="col-md-4"></div>
    <div class="col-md-3">{{'create-date' | translate}}</div>
    <div class="col-md-3">Cập nhật lần cuối</div>
    <div class="col-md-2">{{'action' | translate}}</div>
  </div>

  <div class="item_folder" *ngFor="let item of folders">
    
    <div class="row">
      <div class="col-md-4">
        <div class="row">
          <div class="col-md-12 item_folder_name" (click)="openFolder(item.name)">
            <img src = "../../../assets/img/contract.svg" height="45px">
            <a>
            {{item.name}}
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3 calendar_create">
        <div><i class="fa fa-calendar fa_icon"></i>
          <span class="item_date">{{getDateTime(item.createdAt) | date: 'dd/MM/yyyy HH:mm'}}</span>
        </div>
      </div>
      <div class="col-md-3 calendar_last_updated">
        <div><i class="fa fa-calendar fa_icon"></i>
          <span class="item_date">{{getDateTime(item.updatedAt) | date: 'dd/MM/yyyy HH:mm'}}</span>
        </div>
      </div>

      <div class="col-md-2 item_icon">
        <div style="display: flex; justify-content: center;">
          <div class="div_icon">
            <img src="../../assets/img/icon_edit.svg" class="img_icon" ngbTooltip="{{'role.contract-template.edit' | translate}}" (click)="editFolder(item.id)" />
          </div>
          <div class="div_icon">
            <img src="../../assets/img/icon_delete.svg" class="img_icon" ngbTooltip="{{'role.contract-template.delete' | translate}}" (click)="deleteFolder(item.id)" />
          </div>
          <div class="div_icon">
            <img src="../../../assets/img/view-folder.svg" class="img_icon" ngbTooltip="{{'role.contract-template.delete' | translate}}" (click)=" openDetailFolder(item.id)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="folders && folders.length == 0" 
  style="height: 100px;display: table;top: 0;left: 0;width: 100%;text-align: center;margin-top: 20px;">
    <div style="display: table-cell;vertical-align: middle;">
      <img src="../../../assets/img/empty_data.svg"/>
      <div style="color: #94A7C6">{{'no.data' | translate}}</div>
    </div>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>