.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
    text-align: center;
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    justify-content: center;
    padding-top: 16px;
    width: 100%;
    button {
      width: 104px;
      height: 38px;
      border-radius: 6px;
      border: none;
      color: #0041C4;
      background-color: #E6EDFA;
      margin: 5px;
    }
    button:nth-last-child(1) {
      // width: 104px;
      // height: 38px;
      // border-radius: 6px;
      background-color: #0041C4;
      color: #FFFFFF;
      margin: 5px;
    }
  }
}

.input-otp {
  display: block;
  margin: auto;
  width: 267px;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.input-otp-mobile {
  display: block;
  margin: auto;
  background: #87CAFF;
  border-radius: 5px;
  border: 4px solid #87CAFF;
  padding: 4px 8px;
  height: 40px;
  outline: none;
  text-align: center;
}

.label-input-otp {

  font-size: 11px;
  line-height: 14px;
  justify-content: center;
  display: flex;
  margin-left: 193px;
  margin-top: 4px;
  text-decoration-line: underline;
  color: #106DB6;
}

.label-input-otp-mobile {

  text-align: center;
  color: #106DB6;
  justify-content: center;
  text-decoration-line: underline;


}

.label-input-otp-sent {
  // display: flex;
  margin-top: 10px;
  float: right;
}
.invalid{
  color: red;
}

.link_sso__title {
  font-weight: 700;
  line-height: 21px;
  letter-spacing: -0.0375em;
  text-align: center;
}

.link_sso__warning {
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.0375em;
  text-align: left;
  color: #677694;
  width: 420px;
  margin: auto;
}

.link_sso__input-title {
  width: 85%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 12px;
  #title {
    font-weight: bold;
  }

  input {
    width: 100%;
    height: 48px;
    padding: 16px;
    border-radius: 8px;
    background-color: #E6EDFA;
    border: 1px solid #E6EDFA;
    outline: none;
    margin-top: 6px;
  }
}

::ng-deep .wrapper .otp-input:not(:last-child){
  margin-right: 16px !important;
}

.btn-disabled {
  opacity: 0.4;
  cursor: not-allowed;
}