<div>
  <div style="text-align: center; font-weight: bold">
    <h3 class="link_sso__title">Liên kết tài khoản SSO</h3>
  </div>
  <div class="content">

    <!-- <div style="text-align: center;">
      <p>Chúng tôi đã gửi mã OTP về số điện thoại <b style="color: #106DB6;">{{this.datasOtp.phone}}</b>.<br>
        Vui lòng nhập mã và tiếp tục thực hiện.</p>
    </div> -->
    <div class="link_sso__warning">
      <span style="font-weight: bold;">Kính gửi Quý khách hàng,</span><br><br>
      Nhằm nâng cao chất lượng dịch vụ, MobiFone tiến hành nâng cấp hệ thống Quản lý tài khoản tập trung (SSO) cho các khách hàng sử dụng hệ sinh thái giải pháp số của MobiFone. <br>
      <br>
      <span style="color: #106DB6; font-weight: bold;">Sau khi hoàn thành liên kết, Quý khách có thể đăng nhập toàn bộ các hệ thống thuộc hệ sinh thái giải pháp của MobiFone bằng một tài khoản duy nhất.</span><br>
      <br>
      Thời gian liên kết từ ngày ... đến ngày ...
    </div>
    <div style="color: #106DB6; font-style: italic; text-decoration: underline; cursor: pointer;" class="link_sso__warning" (click)="openTutorialLink($event)">Xem hướng dẫn chi tiết tại đây</div>
    <div style="font-weight: bold;" class="link_sso__warning">Trân trọng cảm ơn Quý Khách hàng!</div>

    <div class="link_sso__input-title">
      <span id = "title">
        Email <span class="invalid">*</span>
      </span>
      <input disabled class="field-disabled" type="text" [(ngModel)]="ssoEmail">
    </div>

    <div *ngIf="isNextStep" class="link_sso__input-title">
      <span id = "title">
        Nhập OTP <span class="invalid">*</span>
      </span>
      <ng-otp-input class="otp-input-item" (onInputChange)="onOtpChange($event)"  [config]="{length:6}"></ng-otp-input>
      <div style="display: block;">
        <div class="label-input-otp-sent" *ngIf="this.count > 0">Mã OTP hết hạn sau <span style="color: #0041C4; font-weight: bold
        ;">{{counter$ | async }}s.</span></div>
        <div class="label-input-otp-sent" *ngIf="this.count == 0">Mã OTP đã hết hạn. <span style="color: #0041C4; cursor: pointer;" (click)="sendOtpAgain('')" >Gửi lại</span></div>
      </div>
    </div>

    <!-- <div class="label-input-otp-mobile">
      <input class="input-otp-mobile" id="otp" autocomplete="off" formControlName="otp" placeholder="Nhập OTP"
      maxlength="6"
      oninput="this.value = this.value.replace(/[^0-9]/g ,'', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');"
      >
      <div *ngIf="submitted && f.otp.errors" class="invalid">
        <div *ngIf="f.otp.errors.required">{{'Mã OTP không được để trống' | translate}}</div>
      </div>
      <div class="label-input-otp-sent" style="margin-left: 100px;" *ngIf="this.count > 0">Mã OTP hết hạn sau {{counter$ | async }}s</div>
      <div class="label-input-otp-sent" style="margin-left: 150px;" *ngIf="this.count == 0">Mã OTP đã hết hạn</div>
    </div> -->

    <div class="row select-option">
      <!-- <button class="dx-button-form dx-button-close dx-button-90" [ngStyle]="getStyleReset()" (click)="this.count == 0?sendOtpAgain(this.datasOtp.contract_id, this.datasOtp.recipient_id, this.datasOtp.phone):''" type="button">Gửi lại OTP</button>
      <button class="dx-button-form dx-button-close dx-button-90" (click)="onSubmit()" type="button">{{'confirm' | translate}}</button> -->
      <button class="link_sso__cancel-btn" (click)="this.dialogRef.close()" type="button">Hủy</button>
      <button *ngIf="!isNextStep" class="link_sso__otp-btn" [ngClass]="{'btn-disabled': this.count == 0}" (click)="onSubmit()" type="button">{{'Nhận OTP' | translate}}</button>
      <button *ngIf="isNextStep" class="link_sso__otp-btn" [ngClass]="{'btn-disabled': this.count == 0 || this.ssoOTP.length < 6}" (click)="onSubmit()" type="button">{{'Liên kết' | translate}}</button>
    </div>
  </div>
</div>



<div class="skeleton-sign position-absolute opacity-0">
  <app-display-signature-image [userOtp]="userOtp" [phoneOtp]="phoneOtp" [isDateTime]="isDateTime"></app-display-signature-image>
</div>