  .user_contact {
    border-radius: 10px;
    border: 1px solid #0160AE;
    margin-bottom: 10px;
  }

  .partner_contact {
    border-radius: 10px;
    border: 1px solid #0160AE;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .content_determine{
    padding: 10px;
  }
  .label{
    font-weight: 500;
    color: #0160AE;
    background-color: #C7D0E9;
    height: 30px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    padding-left: 10px;
    text-transform: uppercase;
  }
  .input_text{
    background: #EFF2F5;
    padding: 7px;
    border-radius: 5px;
    min-height: 30px;
  }
  .cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}