<div class="container-fluid">
    <h3 style="text-align: center; color: #106DB6;font-family: inherit;text-transform: uppercase;">THÔNG TIN KÝ</h3>
    <div style="max-height: 405px; overflow: auto; overflow-x: hidden;font-size: 14px">
      <div class="user_contact">
          <div class="label">{{'organization.me'  | translate}}</div>
          <div class="content_determine">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.view' | translate}}</div>
                            <div class="input_text">
                                <div *ngFor="let item of this.is_origanzation_reviewer">
                                    <div>{{item.name}} - {{item.email}}</div>
                                </div>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.sign' | translate}}</div>
                            <div class="input_text">
                                <div *ngFor="let item of this.is_origanzation_signature">
                                    <div>{{item.name}} - {{item.email}}</div>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.doc' | translate}}</div>
                            <div class="input_text">
                                <div *ngFor="let item of this.is_origanzation_document">
                                    <div>{{item.name}} - {{item.email}}</div>
                                </div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="partner_contact" *ngFor="let record of this.data_parnter_organization;">
          <div class="label" style="text-transform: uppercase;">{{record.name}}</div>
          <div class="content_determine">
              <div class="row" *ngIf="record.type == 2">
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.lead' | translate}}</div>
                            <div class="input_text">
                                <div>{{getPartnerCoordinationer(record).length}}</div>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.view' | translate}}</div>
                            <div class="input_text">
                                <div>{{getPartnerReviewer(record).length}}</div>
                            </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                            <div class="label_item">{{'user.sign' | translate}}</div>
                            <div class="input_text">
                                <div>{{getPartnerSignature(record).length}}</div>
                            </div>
                      </div>
                  </div>
                  <div class="col-md-6" *ngIf="record.type == 2">
                      <div class="form-group">
                            <div class="label_item">{{'user.doc' | translate}}</div>
                            <div class="input_text">
                                <div>{{getPartnerDocument(record).length}}</div>
                            </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
  </div>
  
  <div class="row" style="justify-content: center;padding-top: 10px;">
    <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
  </div>
  