<div class="container-fluid">
    <h3 style="text-align: center; color: #106DB6;font-family: inherit;text-transform: uppercase;">THÔNG TIN KÝ</h3>
    <div style="max-height: 405px; overflow: auto; overflow-x: hidden;font-size: 14px">
      <div class="user_contact">
          <div class="label">{{'organization.me'  | translate}}</div>
          <div class="content_determine">
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.view' | translate}}</div>
                          <div>
                              <div [innerHTML]="userViews" class="input_text"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.sign' | translate}}</div>
                          <div>
                              <div [innerHTML]="userSigns" class="input_text"></div>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.doc' | translate}}</div>
                          <div>
                              <div [innerHTML]="userDocs" class="input_text"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  
      <div class="partner_contact">
          <div class="label">{{'organization.partner'  | translate}}</div>
          <div class="content_determine">
              <div class="row" *ngIf="isOrg">
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.lead' | translate}}</div>
                          <div>
                              <div [innerHTML]="countPartnerLeads" class="input_text"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.view' | translate}}</div>
                          <div>
                              <div [innerHTML]="countPartnerViews" class="input_text"></div>
                          </div>
                      </div>
                  </div>
              </div>
  
              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group">
                          <div class="label_item">{{'user.sign' | translate}}</div>
                          <div>
                              <div [innerHTML]="countPartnerSigns" class="input_text"></div>
                          </div>
                      </div>
                  </div>
                  <div class="col-md-6" *ngIf="isOrg">
                      <div class="form-group">
                          <div class="label_item">{{'user.doc' | translate}}</div>
                          <div>
                              <div [innerHTML]="countPartnerDocs" class="input_text"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
  
  </div>
  
  <div class="row" style="justify-content: center;padding-top: 10px;">
    <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
  </div>
  