<div class="horizontal-container">
    <div style="margin-right: 10px;">
        <div class="sms-header">
            {{'config.sms' | translate}}
        </div>

        <!-- Cấu hình sms -->
        <div class="border-table-sms" style="text-align: center;">
            <table style="margin: 0 auto; margin-top: 5px;">
                <tr>
                    <th></th>
                    <th>{{'yes' | translate}}</th>
                    <th>{{'no' | translate}}</th>
                </tr>
                <tr>
                    <td class="sms-content">{{'role.contract.cancel' | translate}}</td>
                    <td><input type="radio" name="cancel" [value]="true" [(ngModel)]="cancelContract"></td>
                    <td><input type="radio" name="cancel" [value]="false" [(ngModel)]="cancelContract"></td>
                </tr>
                <tr>
                    <td class="sms-content">{{'refuse.contract' | translate}}</td>
                    <td><input type="radio" name="reject" [value]="true" [(ngModel)]="rejectContract"></td>
                    <td><input type="radio" name="reject" [value]="false" [(ngModel)]="rejectContract"></td>
                </tr>
                <tr>
                    <td class="sms-content">{{'contract.about.expire' | translate}}</td>
                    <td><input type="radio" name="expired" [value]="true" [(ngModel)]="aboutExpiredContract"></td>
                    <td><input type="radio" name="expired" [value]="false" [(ngModel)]="aboutExpiredContract"></td>
                </tr>
                <tr>
                    <td class="sms-content">{{'contract.expired' | translate}}</td>
                    <td><input type="radio" name="outOfDate" [value]="true" [(ngModel)]="outOfDateContarct"></td>
                    <td><input type="radio" name="outOfDate" [value]="false" [(ngModel)]="outOfDateContarct"></td>
                </tr>
                <tr>
                    <td class="sms-content">{{'contract.completed' | translate}}</td>
                    <td><input type="radio" name="completed" [value]="true" [(ngModel)]="completedContract"></td>
                    <td><input type="radio" name="completed" [value]="false" [(ngModel)]="completedContract"></td>
                </tr>
            </table>

            <div style="justify-content: center;padding-top: 20px;">
                <button class="cancel-button" (click)="resetConfig()" type="button">{{'contract.status.canceled' | translate}}</button>
                <button class="save-button" (click)="updateSms()">{{'btn.update' | translate}}</button>
            </div>
        </div>
    </div>

    <div>
        <div class="sms-header">
            {{'config.day.expiration' | translate}}
        </div>

        <!-- Cấu hình ngày sắp hết hạn -->
        <div class="border-table-email" style="text-align: center;">
            <div style="justify-content: center;padding-top: 20px;">
                <input [(ngModel)]="this.soonExpireDay" type="number" class="input-expiration-date"/>
            </div>

            <div style="justify-content: center;padding-top: 20px;">
                <button class="cancel-button" (click)="resetSoonExpireDay()" type="button">{{'contract.status.canceled' | translate}}</button>
                <button class="save-button" (click)="updateSoonExpireDay()">{{'btn.update' | translate}}</button>
            </div>
        </div>
    </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>