td:nth-child(1) {
    padding-right: 50px;
}
  
td:nth-child(2) {
    padding-left: 50px;
    padding-right: 10px;
}

td:nth-child(3) {
    padding-left: 10px;
}
  
th:nth-child(1) {
    padding-right: 50px;
  }
  
th:nth-child(2) {
    padding-left: 50px;
    padding-right: 10px;
}

th:nth-child(3) {
    padding-left: 10px;
}

.sms-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    text-transform: uppercase;

    color: #106DB6;
}

.sms-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.border-table-sms {
    box-sizing: border-box;
    border: 1px solid #87CAFF;
    border-radius: 5px;
    padding-top: 2px;
    width: 361px;
    height: 242px;
}

.border-table-email {
    box-sizing: border-box;
    border: 1px solid #87CAFF;
    border-radius: 5px;
    padding-top: 2px;
    width: 361px;
    height: 120px;
}

.footer-btn{
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 15px;
}

.update-btn{
    color: white;
    background-color: #106DB6 !important; 
}

.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}

input[type="checkbox"] {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #1487E1;
    border-radius: 5px;
    width: 15px;
    height: 15px;
}

.horizontal-container {
    display: flex;
    flex-direction: row;
}

.input-expiration-date {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #67B6F4;
    border-radius: 5px;
    width: 229px;
    height: 33px;
}
  