<div class="horizontal-container">
  <div *ngIf="isRoleConfigSms" style="margin-right: 10px;">
    <div class="sms-header">
      {{'config.sms.email' | translate}}
    </div>

    <!-- Cấu hình sms -->
    <div class="row" style="padding-top: 20px;">
      <form [formGroup]="myForm">
        <p-table [value]="groupArray.controls" id="table" [autoLayout]="true" >
          <ng-template pTemplate="header" let-columns>
            <tr>
              <th *ngFor="let col of cols" [style]='col.style'>
                {{col.header | translate}}
              </th>
            </tr>
          </ng-template>
          <ng-container formArrayName="items">
            <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-i="rowIndex" >
              <!-- <ng-container > -->
              <ng-container [formGroupName]="i">
                <tr>
                  <td class="col-md-3">{{rowData.value.nameConfig}}</td>
                  <td class="col-md-3"><input name="item" type="checkbox" formControlName="smsConfig" /></td>
                  <td class="col-md-3"><input name="item" type="checkbox" formControlName="emailConfig" /></td>
                  <td class="col-md-3">
                    <p-dropdown panelStyleClass="font" appendTo="body" optionLabel="name" optionValue="id"
                      placeholder="{{'all' | translate}}" [options]="listStatus"
                      (onChange)="selectConfigDropDown($event,listConfig)" formControlName="userSendNotification"
                      [autoDisplayFirst]="false"></p-dropdown>
                  </td>
                </tr>
            </ng-container>
            <!-- </ng-container> -->
          </ng-template>
          </ng-container>
        </p-table>
      </form>
    </div>
  </div>

  <!--Lệnh if để ẩn-->
  <div *ngIf="isRoleConfigExpirationDay" style="padding-top: 20px;">
    <div class="sms-header">
      {{'config.day.expiration' | translate}}
    </div>

    <!-- Cấu hình ngày sắp hết hạn -->
    <div class="border-table-email" style="text-align: center;">
      <div style="justify-content: center;padding-top: 20px;">
        <input [(ngModel)]="this.soonExpireDay" type="number" class="input-expiration-date" min="0" oninput="this.value = 
                !!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null" />
      </div>

      <!-- <div style="justify-content: center;padding-top: 20px;">
                <button class="cancel-button" (click)="resetSoonExpireDay()" type="button">{{'contract.status.canceled' | translate}}</button>
                <button class="save-button" (click)="updateSoonExpireDay()">{{'btn.update' | translate}}</button>
            </div> -->
    </div>
  </div>

  <div>
    <div style="justify-content: center;padding-top: 20px;">
      <button class="save-button" (click)="onSubmit()">{{'btn.save' | translate}}</button>
    </div>
  </div>
</div>



<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>