td:nth-child(1) {
    padding-right: 50px;
}
  
td:nth-child(2) {
    padding-left: 50px;
    padding-right: 10px;
}

td:nth-child(3) {
    padding-left: 10px;
}
  
th:nth-child(1) {
    padding-right: 50px;
  }
  
th:nth-child(2) {
    padding-left: 50px;
    padding-right: 10px;
}

th:nth-child(3) {
    padding-left: 10px;
}

#table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  // font-family: font_lexend_deca;
  }
  #table td, #table th {
    border: 0px;
    padding: 12px 8px;
  }
  
  #table tr:nth-child(even){background-color: #f2f2f2;}
  
  #table tr:hover {background-color: #ddd;}
  
  #table th {
    background: #EBF2FB;
    color: #0041C4;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.525px;
    height: 44px;
  }
  
  #table tr:last-child th:first-child {
  border-top-left-radius: 10px;
  }
  #table tr:last-child th:last-child {
  border-top-right-radius: 10px;
  }
  #table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
  }
  #table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
  }

.sms-header {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    display: flex;
    align-items: center;
    font-weight: bold; 
    font-size: 15px;
    // text-transform: uppercase;
    // color: #106DB6;
}

.sms-content {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 15px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;
}

.border-table-sms {
    box-sizing: border-box;
    border: 1px solid #87CAFF;
    border-radius: 5px;
    padding-top: 2px;
    width: 361px;
    height: 242px;
}

// .border-table-email {
//     box-sizing: border-box;
//     border: 1px solid #87CAFF;
//     border-radius: 5px;
//     padding-top: 2px;
//     width: 361px;
//     height: 120px;
// }

.footer-btn{
    display: flex;
    justify-content: center;
    text-align: center; 
    margin: 15px;
}

.update-btn{
    color: white;
    background-color: #106DB6 !important; 
}

.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
    box-sizing: border-box;
    color: white;
    background: var(--Primary, #0041C4);
    font-size: 13px;
    // margin: 0 10px;
}

.disable-button{
  border: 0px;
  border-radius: 5px;
  height: 30px;
  width: 80px;
  box-sizing: border-box;
  color: white;
  background-color: #8E9AB0;
  font-size: 13px;
  cursor: not-allowed;
}

input[type="checkbox"] {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid #1487E1;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    margin-left: 15%;
}

.horizontal-container {
    // display: flex;
    // flex-direction: row;
    background-color: #FFFFFF;
    min-height: 88vh;
    border-radius: 12px;
    padding: 10px;
}

.input-expiration-date {
    box-sizing: border-box;
    background: #F3F6FA;
    border: 1px solid #67B6F4;
    border-radius: 5px;
    width: 100%;
    height: 33px;
    // margin-right: 87%;
    text-align: center;
}

:host ::ng-deep {
  .p-treeselect, .p-dropdown {
      border: 1px solid #106DB6;
      border-radius: 5px;
      height: 33px;
      width: 100%;
      outline: 0;
      color: black !important;
  }
  .p-treeselect-label, .p-dropdown-label {
      padding: 5px 5px 5px 15px;
  }
}
.input-data {
  border: 1px solid #106DB6;
  border-radius: 5px;
  min-height: 33px;
  display: flex;
  align-items: center;
  position: relative;

  > input, div {
      border: none;
      outline: none;
      padding-left: 15px;
      right: 0;
      border-radius: 5px;
  }
  > div{
      padding: 5px 15px;
  }
}
.required-title {
  color: red;
}
.icon-password{
  top: 5px;
  position: absolute;
}

.invalid {
  color: red;
}

.save-btn {
    padding-top: 20px;
    float: right;
}

.email-config{
  border: 1px solid #e6e7ec;
  border-radius: 8px;
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 10px;
}

  