<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{ this.data.title | translate }}</h3>
  </div>
  <form [formGroup]="addForm" class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12">
            <div class="label text-color">
              {{ "Họ tên" | translate }} <span class="required-title">*</span>
            </div>
            <div class="input-data">
              <input type="text" formControlName="name" />
            </div>
            <div *ngIf="submitted && f.name.errors" class="invalid">
              <div *ngIf="f.name.errors.required">
                {{ "error.unit.name.required" | translate }}
              </div>
              <div *ngIf="f.name.errors.pattern">
                {{ "Tên người dùng không được chứa ký tự đặc biệt" | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col-md-12">
            <div class="label text-color">
              {{ "Email" | translate }} <span class="required-title">*</span>
            </div>
            <div
              class="input-data"
              [ngClass]="{
                fff: this.data.id != null
              }"
            >
              <input type="text" formControlName="email" />
            </div>
            <div *ngIf="submitted && f.email.errors" class="invalid">
              <div *ngIf="f.email.errors.required">
                {{ "error.user.email.required" | translate }}
              </div>
              <div *ngIf="f.email.errors.email">
                {{ "error.user.email.format" | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="col-md-12">
            <div class="label text-color">
              {{ "unit.phone" | translate }}
              <span class="required-title">*</span>
            </div>
            <div class="input-data">
              <input type="text" formControlName="phone" />
            </div>
            <div *ngIf="submitted && f.phone.errors" class="invalid">
              <div *ngIf="f.phone.errors.required">
                {{ "error.user.phone.required" | translate }}
              </div>
              <div *ngIf="f.phone.errors.pattern">
                {{ "error.user.phone.format" | translate }}
              </div>
            </div>
          </div>
        </div>

        <div class="row" style="padding-top: 10px">
          <div class="row">
            <div class="col-md-5">
              <input
                type="radio"
                name="confirm-radio-consider"
                [value]="1"
                formControlName="status"
                name="status"
              />
              <span> {{ "unit.active" | translate }}</span>
            </div>
            <div class="col-md-7">
              <input
                type="radio"
                name="confirm-radio-consider"
                [value]="0"
                formControlName="status"
                name="status"
              />
              <span> {{ "unit.inactive" | translate }}</span>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Phân quyền" | translate }} <span class="required-title">*</span>
        </div>
        <div>
          <p-listbox
            [options]="groupedRole"
            [group]="true"
            formControlName="role"
            [metaKeySelection]="false"
            [checkbox]="true"
            [filter]="true"
            [multiple]="true"
            [listStyle]="{ 'max-height': '300px' }"
            [style]="{ width: '100%' }"
          >
            <ng-template let-group pTemplate="group">
              <div class="p-d-flex p-ai-center">
                <span>{{ group.label | translate }}</span>
              </div>
            </ng-template>
            <ng-template let-group pTemplate="item">
              <div class="p-d-flex p-ai-center">
                <span>{{ group.label | translate }}</span>
              </div>
            </ng-template>
          </p-listbox>
        </div>
        <div *ngIf="submitted && f.role.errors" class="invalid">
          <div *ngIf="f.role.errors.required">
            {{ "Phân quyền không được để trống" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="justify-content: center; padding-top: 10px">
      <button class="cancel-button" (click)="dialog.closeAll()" type="button">
        {{ "btn.cancel" | translate }}
      </button>
      <button class="save-button" (click)="checkClick()">
        {{ "btn.save" | translate }}
      </button>
    </div>
  </form>
</div>
