<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{ this.data.title | translate }}</h3>
  </div>
  <form [formGroup]="addForm" class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Mã gói dịch vụ" | translate }}
          <span class="required-title">*</span>
        </div>
        <p-dropdown
          placeholder="Chọn gói dịch vụ"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          [options]="listCodeDichVu"
          (onChange)="onChangeMaGoi($event)"
          formControlName="packCode"
        >
        </p-dropdown>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Tên gói dịch vụ" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="namePack" value="{{ namePack }}" [readonly]="true" />
        </div>
        <div class="invalid"></div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Đơn giá trước VAT (VND)" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="totalBeforeVAT" value="{{totalBeforeVAT}}" readonly />
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Đơn giá sau VAT (VND)" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="totalAfterVAT" value="{{totalAfterVAT}}" readonly />
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">{{ "Thời gian(tháng) *" | translate }}</div>
        <div class="input-data fff">
          <input type="text" formControlName="duration" value="{{duration}}" readonly />
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Số lượng hợp đồng *" | translate }}
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="numberOfContracts" value="{{numberOfContracts}}" readonly />
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Loại gói dịch vụ" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="type" value="{{type}}" readonly />
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Thể thức tính" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data fff">
          <input type="text" formControlName="calculatorMethod" value="{{calculatorMethod}}" readonly />
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Ngày mua gói" | translate }}
          <span class="required-title">*</span>
        </div>
        <p-calendar
          appendTo="body"
          id="created_at"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          #created_at
          formControlName="purchaseDate"
        >
        </p-calendar>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Kiểu thanh toán" | translate }}
          <span class="required-title">*</span>
        </div>
        <p-dropdown 
        placeholder="Chọn kiểu thanh toán"
        [options]="listPaidType"
        optionLabel="name"
        formControlName="paymentType"
        > 
      </p-dropdown>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Trạng thái thanh toán *" | translate }}
        </div>
        <p-dropdown 
        placeholder="Chọn trạng thái"
        optionLabel="name"
        [options]="listStatusType"
        (onChange)="onChangeStatus($event)"
        formControlName="paymentStatus"
        > </p-dropdown>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Ngày thanh toán " | translate }}
          <span *ngIf="this.flagNgayThanhToan === true" class="required-title">*</span>
        </div>
        <p-calendar
          appendTo="body"
          id="created_at"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          #created_at
          formControlName="paymentDate"
        >
        </p-calendar>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Ngày bắt đầu" | translate }}
          <span class="required-title">*</span>
        </div>
        <p-calendar
          appendTo="body"
          id="created_at"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          #created_at
          formControlName="startDate"
        ></p-calendar>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Ngày kết thúc" | translate }}
          <span class="required-title">*</span>
        </div>
        <p-calendar
          appendTo="body"
          id="created_at"
          [showIcon]="true"
          dateFormat="dd/mm/yy"
          #created_at
          formControlName="endDate"
        ></p-calendar>
      </div>
    </div>

    <div class="row" style="justify-content: center; padding-top: 10px">
      <button class="cancel-button" type="button" (click)="cancel()">
        {{ "btn.cancel" | translate }}
      </button>
      <button class="save-button" (click)="onSubmit()">
        {{ "btn.save" | translate }}
      </button>
    </div>
  </form>
</div>
