.required-title {
    color: red;
}

.input-data {
    border: 1px solid #106DB6;
    border-radius: 5px;
    height: 33px;
    display: flex;
    align-items: center;

    > img {
        padding-left: 14px;
    }

    > input {
        border: none;
        outline: none;
        padding: 5px 10px;
        width: 100%;
    }
}  
.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}
.input-img-calendar {
    top: 10px;
    right: 15px;
    position: absolute;
}
::ng-deep .date-picker  input {
    display: block !important;
    width: 100% !important;
    height: calc(2.25rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    outline: 0;
    z-index: 10000 !important;
}