<div *ngIf="isQLND_01 || isQLND_02" class="container-fluid">
    <div class="label-header">{{'user.information.individual' | translate}}</div>
    <form [formGroup]="addForm" class="content">
        <div class="content-body">
            <div class="row">

                <!--Họ tên-->
                <div class="col-md-4">
                    <div class="label text-color">{{'user.name' | translate}} <span class="required-title">*</span></div>
                    <div class="input-data">
                        <input type="text" formControlName="name">
                    </div>
                    <div *ngIf="submitted && f.name.errors" class="invalid">
                        <div *ngIf="f.name.errors.required">{{'error.user.name.required' | translate}}</div>
                        <div *ngIf="f.name.errors.pattern">{{'Họ tên không được chứa ký tự đặc biệt' | translate}}</div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="label text-color">{{'user.email' | translate}} <span class="required-title">*</span></div>
                    <div *ngIf="id == null" class="input-data">
                        <input type="text" formControlName="email">
                    </div>
                    <div *ngIf="id != null" class="input-data">
                        <input type="text" formControlName="email">
                    </div>
                    <div *ngIf="submitted && f.email.errors" class="invalid">
                        <div *ngIf="f.email.errors.required">{{'error.user.email.required' | translate}}</div>
                        <div *ngIf="f.email.errors.email">{{'error.user.email.format' | translate}}</div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="label text-color">{{'user.birthday' | translate}}</div>
                    <div>
                        <p-calendar formControlName="birthday" [maxDate]="maxDate" [showIcon]="true" dateFormat="dd/mm/yy" placeholder="dd/MM/yyyy"></p-calendar>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-4">
                    <div class="label text-color">{{'user.phone' | translate}} <span class="required-title">*</span></div>
                    <div class="input-data">
                        <input type="text" formControlName="phone">
                    </div>
                    <div *ngIf="submitted && f.phone.errors" class="invalid">
                        <div *ngIf="f.phone.errors.required">{{'error.user.phone.required' | translate}}</div>
                        <div *ngIf="f.phone.errors.pattern">{{'error.user.phone.format' | translate}}</div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="label text-color">{{'organization' | translate}} <span class="required-title">*</span></div>
                    <div *ngIf="!id || (id && isEditRole)">
                        <!-- (onChange)="getRoleByOrg(organizationId.value)" -->
                        <p-dropdown panelStyleClass="font" [options]="orgList" formControlName="organizationId" optionLabel="name" optionValue="id" placeholder="Chọn tổ chức" [filter]="true" filterBy="name" [showClear]="true" #organizationId></p-dropdown>
                    </div>
                    <div *ngIf="id && !isEditRole" class="input-data hidden-color">
                        <div class="hidden-color">{{organizationName}}</div>
                    </div>
                    <div *ngIf="submitted && f.organizationId.errors" class="invalid">
                        <div *ngIf="f.organizationId.errors.required">{{'error.unit.name.required' | translate}}</div>
                    </div>
                </div>

                <!--Vai trò-->
                <div class="col-md-4">
                    <div class="label text-color">{{'menu.role.list' | translate}} <span class="required-title">*</span></div>
                    <div *ngIf="isEditRole">
                        <p-dropdown panelStyleClass="font" [options]="roleList" formControlName="role" optionLabel="name" optionValue="id" placeholder="{{'choose.role' | translate}}" [filter]="true" filterBy="name" [showClear]="true" optionDisabled="inactive"></p-dropdown>
                    </div>

                    <div *ngIf="!isEditRole" class="input-data hidden-color">
                        <div class="hidden-color">{{roleName}}</div>
                    </div>
                    <div *ngIf="submitted && f.role.errors" class="invalid">
                        <div *ngIf="f.role.errors.required">{{'error.role.name.required' | translate}}</div>
                    </div>
                </div>

            </div>
            <!-- <div class="row" style="justify-content: center;padding-top: 10px;">
                <div class="col-md-2" style="text-align: center;">
                    <input type="radio" name="confirm-radio-consider" [value]="1" formControlName="status" name="status">
                    <span> {{'unit.active' | translate}}</span>
                </div>
                <div class="col-md-2" style="text-align: center;">
                    <input type="radio" name='confirm-radio-consider' [value]="0" formControlName="status" name="status">
                    <span> {{'unit.inactive' | translate}}</span>
                </div>
            </div> -->
            <div class="row" style="justify-content: flex-start;padding-top: 10px;display: flex;">
              <div style="display: flex;">
                <div style="display: flex;">
                  <span>{{'choose.type.sign' | translate}}:</span>
                  <div style="margin-left: 10px;">
                    <!-- <input name="item" type="checkbox" formControlName="loginType" (change)="onCheckboxChange($event, 'EMAIL')" value="EMAIL" [checked]="selectedTypes.includes('EMAIL')"/> -->
                    <input type="radio" name="confirm-radio-consider" value="EMAIL" formControlName="login_type" name="login_type">
                    <span> {{'typeOfSignEmail' | translate}}</span>
                  </div>
                  <div style="margin-left: 10px;">
                    <!-- <input name="item" type="checkbox" formControlName="loginType" (change)="onCheckboxChange($event, 'SDT')" value="SDT" [checked]="selectedTypes.includes('SDT')"/> -->
                    <input type="radio" name="confirm-radio-consider" value="SDT" formControlName="login_type" name="login_type">
                    <span> {{'typeOfSignPhone' | translate}}</span>
                  </div>
                  <div style="margin-left: 10px;">
                    <!-- <input name="item" type="checkbox" formControlName="loginType" (change)="onCheckboxChange($event, 'SDT')" value="SDT" [checked]="selectedTypes.includes('SDT')"/> -->
                    <input type="radio" name="confirm-radio-consider" value="EMAIL_AND_SDT" formControlName="login_type" name="login_type">
                    <span> {{'type.sign.email.phone' | translate}}</span>
                  </div>
                </div>

                <div style="display: flex; margin-left: 35px;">
                  <span>{{'status.account' | translate}}:</span>
                  <div style="margin-left: 20px;">
                    <input type="radio" name="confirm-radio-consider" [value]="1" formControlName="status" name="status">
                    <span> {{'unit.active' | translate}}</span>
                  </div>
                  <div style="margin-left: 20px;">
                    <input type="radio" name='confirm-radio-consider' [value]="0" formControlName="status" name="status">
                    <span> {{'unit.inactive' | translate}}</span>
                  </div>
                </div>
              </div>
            </div>
        </div>

        <br>
        <div class="label-header">{{'sign.information' | translate}}</div>
        <div class="content-body">
            <div class="row">
                <div class="col-md-3">
                    <div class="label-header">
                        {{'sign.file-image' | translate}}
                    </div>
                    <div class="content-body" style="margin-top:12px">
                        <div [hidden]="imgSignPCSelect">
                            <input id="attachFileSignature" type="file" accept=".jpg, .png, .jpeg" (change)="fileChangedAttach($event,'sign')" style="display: none;" />
                            <div class="select-contract container-img-file" (click)="addFileAttach('sign')">
                                <div class="upload-image-region d-flex flex-column container-img-file">
                                    <img src="assets/img/img-icon.svg" alt="#" width="20px">
                                    <div class="text-choose-file">{{'choose.sign.file.image' | translate}}</div>
                                    <div class="text-support-extension">{{'support.format.PNG.JPG.JPGE' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="image-div">
                            <img *ngIf="imgSignPCSelect" [src]="imgSignPCSelect" alt="" style="display: block;margin: 10px auto;max-height: 30vh;max-width: 100%;">
                            <img class="hidden_img" (click)="addFileAttach('sign')" src="assets/img/img-icon.svg" width="30" height="30" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="label-header">
                        {{'sign.file-image.mark' | translate}}
                    </div>
                    <div class="content-body" style="margin-top: 12px">
                        <div [hidden]="imgSignPCSelectMark">
                            <input id="attachFileMark" type="file" accept=".jpg, .png, .jpeg" (change)="fileChangedAttach($event,'mark')" style="display: none;" />
                            <div class="select-contract container-img-file" (click)="addFileAttach('mark')">
                                <div class="upload-image-region d-flex flex-column container-img-file">
                                    <img src="assets/img/img-icon.svg" alt="#" width="20px">
                                    <div class="text-choose-file">{{'choose.sign.file.image' | translate}}</div>
                                    <div class="text-support-extension">{{'support.format.PNG.JPG.JPGE' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="image-div">
                            <img *ngIf="imgSignPCSelectMark" [src]="imgSignPCSelectMark" alt="" style="display: block;margin: 10px auto;max-height: 30vh;max-width: 100%;">
                            <img class="hidden_img" (click)="addFileAttach('mark')" src="assets/img/img-icon.svg" width="30" height="30" />
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="label-header">
                        <div class="row" style="padding: 0 10px;">
                            <div class="col-md-12">
                                {{'sign.kpi' | translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>{{'user.phone' | translate}}</div>
                                <div class="input-data">
                                    <input type="text" formControlName="phoneKpi">
                                </div>
                                <div *ngIf="submitted && f.phoneKpi.errors" class="invalid">
                                    <div *ngIf="f.phoneKpi.errors.pattern">{{'error.user.phone.format' | translate}}</div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div>{{'user.network' | translate}}</div>
                                <div>
                                    <p-dropdown panelStyleClass="font" [options]="networkList" formControlName="networkKpi" optionLabel="name" optionValue="id" placeholder="{{'choose.network' | translate}}" [filter]="true" filterBy="name" [showClear]="true"></p-dropdown>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                            <div style="padding-top: 10px;">
                              <input type="checkbox" value="is_show_phone_pki" formControlName="is_show_phone_pki"/>
                              <span style="margin-left: 2%; font-size: 15px; color:#00186D; font-weight: 500">{{'confirm.public.phone.pki' | translate}}</span>
                            </div>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="label-header">
                        <div class="row" style="padding: 0 10px;">
                            <div class="col-md-12">
                                {{'sign.hsm' | translate}}
                            </div>
                        </div>
                    </div>
                    <div>
                        <!--Mã số thuế hsm-->
                        <div class="row">
                            <div class="col-md-12">
                                <div>{{'tax_code' | translate}}</div>
                                <div class="input-data">
                                    <input type="text" formControlName="taxCodeHsm">
                                </div>
                                <div *ngIf="submitted && f.taxCodeHsm.errors" class="invalid">
                                    <div *ngIf="f.taxCodeHsm.errors.pattern">{{'Mã số thuế/CMT/CCCD không đúng định dạng' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <!--Tên người dùng hsm-->
                        <div class="row">
                            <div class="col-md-12">
                                <div>{{'user.name.v2' | translate}}</div>
                                <div class="input-data">
                                    <input type="text" formControlName="nameHsm">
                                </div>
                                <div *ngIf="submitted && f.nameHsm.errors" class="invalid">
                                    <div *ngIf="f.nameHsm.errors.pattern">{{'Tên người dùng không được chứa ký tự đặc biệt' | translate}}</div>
                                </div>
                            </div>
                        </div>

                        <!--Mật khẩu cấp 1 hsm-->
                        <div class="row">
                            <div class="col-md-12">
                                <div>{{'password.level1' | translate}}</div>
                                <div class="input-data">
                                    <input class="pw" type="text" formControlName="password1Hsm">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="onCancel()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.save' | translate}}</button>
        </div>
    </form>
</div>
<div *ngIf="!isQLND_01 && !isQLND_02">
    {{'no.role' | translate}}
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>