<!-- form step 4 -->
<div class="labelOrg">HỢP ĐỒNG</div>
  <div class="infor_contact">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="label_item">Tên file hợp đồng</div>
              <div>
                <div [innerHTML]="contractFileName" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="label_item">Ngày hết hạn ký</div>
              <div>
                <div [innerHTML]="dateDeadline" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Lời nhắn</div>
          <div>
            <div [innerHTML]="comment" class="input_text"></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="labelOrg">CÁC BÊN KÝ</div>
  <div class="determine_contact">
    <div class="user_contact">
      <div class="label">CÔNG TY TNHH ABC</div>
      <div class="content_determine">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Người xem xét</div>
              <div>
                <div [innerHTML]="userViews" class="input_text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Người ký</div>
              <div>
                <div [innerHTML]="userSigns" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Văn thư</div>
              <div>
                <div [innerHTML]="userDocs" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partner_contact">
      <div class="label">ĐỐI TÁC</div>
      <div class="content_determine">
        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Người điều phối</div>
              <div>
                <div [innerHTML]="partnerLeads" class="input_text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Người xem xét</div>
              <div>
                <div [innerHTML]="partnerViews" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Người ký</div>
              <div>
                <div [innerHTML]="partnerSigns" class="input_text"></div>
              </div>
            </div>
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5">
            <div class="form-group">
              <div class="label_item">Văn thư</div>
              <div>
                <div [innerHTML]="partnerDocs" class="input_text"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<div class="footer-infor-contract">
  <div style="width: 200px;">
    <button (click)="back($event, 'infor-contract')" type="button" name="next" class="next action-button" style="background-color: #8B8B8B">Quay lại</button>
  </div>
  <div class="content_footer"></div>
  <div>
    <button (click)="next()" type="button" name="next" class="next action-button pull-right">Tiếp theo</button>
  </div>
</div>


