<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.data.title | translate}}</h3>
    </div>
    <div *ngFor="let ref of this.datas; let i = index" style="padding: 10px;display: flex;">
        <div style="background-color: rgb(156, 156, 156); border-radius: 10px;width: 20px;text-align: center;">{{i+1}}</div>
        <a style="color: #106DB6; cursor: pointer;text-decoration: none;" target="_blank" href="/main/form-contract/detail/{{ref.contract_id}}">{{ref.ref_name}}</a>
    </div>
    <div class="row" style="justify-content: center;padding-top: 10px;">
        <button class="cancel-button" (click)="dialog.closeAll()" autofocus type="button">{{'btn.cancel' | translate}}</button>
    </div>
  </div>
  