<div class="sample-contract row">
  <!--  information contract-->
  <div class="col-md-3 sample-contract__information" style="background-color: white;">
    <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
      <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label">{{'contract.detail' | translate}}
      </div>
      <div style="line-height: 25px">
        <div>
          <span class="title-contract">{{'contract.type' | translate}}:</span>
          <span>{{datas.is_data_contract.type_id}}</span>
        </div>
        <div>
          <span class="title-contract">{{'contract.name' | translate}}:</span>
          <span>{{datas.is_data_contract.name}}</span>
        </div>
        <div>
          <span class="title-contract">{{'contract.number' | translate}}:</span>
          <span>{{datas.is_data_contract.code}}</span>
        </div>
        <div>
          <span class="title-contract">{{'file.attach' | translate}}:</span>
<!--          this.datas.i_data_file_contract-->
          <span *ngFor="let d of getFileAttach(), let i = index">
              <a style="color: #106DB6" rel="stylesheet" href="{{d.path}}" target="_blank">
                {{d.filename}}
              </a>
<!--            <span>{{i == (this.datas.i_data_file_contract.length - 1) ? '' : ', '}}</span>-->
            <span>{{i == (getFileAttach().length - 1) ? '' : ', '}}</span>
            </span>
        </div>
        <div>
          <span class="title-contract">Hợp đồng liên quan:</span>
          <span *ngFor="let d of this.datas.is_data_contract.refs, let i = index" style="color: #106DB6">
            <a style="color: #106DB6" rel="stylesheet" href="#" target="_blank">
              {{d.ref_name}}
            </a>
            <span>{{i == (this.datas.is_data_contract.refs.length - 1) ? '' : ', '}}</span>
          </span>
        </div>
        </div>
      </div>
      <hr>

      <div class="location-change" [ngStyle]="changeDisplay()">
        <div class="sample-contract__information--user-sign" style="line-height: 25px">
          <div style="text-align: center; font-weight: bold" class="label">{{'relate.party' | translate}}</div>
          <!--        <div *ngFor="let d of this.isPartySignature">-->
          <!--          <div>{{d.name}}</div>-->
          <!--        </div>-->
          <div *ngFor="let d of this.datas.is_data_contract.participants">
            <span>{{d.name}}</span>
          </div>

        </div>
        <div>
          <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">{{'contract_processing_flow' | translate}}</u>
        </div>
        <hr>
      </div>
    </div>

    <!--  file content-->
    <!--  width: 74.7%-->
    <div (scroll)="scroll($event)" id="pdf-full" class="col-md-9 sample-contract__file viewer-pdf isDrag"
         style="background-color: #F2F2F2; position: relative;">
      <div id="pdf-viewer-step-3">
        <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
          <div class="resize-drag not-out-drop" *ngIf="!view"
               [id]="d.id"
               style="z-index: -1;"
               #itemElement
               (click)="getSignSelect(d)"
               [ngClass]="changeColorDrag(null, true)"
               [ngStyle]="changePosition(d)">
            <div *ngIf="d.name" class="name-sig-img-daky">{{(d.name && !d.value) ? d.name : ''}}</div>
            <app-image-sign-contract *ngIf="!view" [datas]="datas" [view]="true" [sign]="d"></app-image-sign-contract>
          </div>
        </div>
      </div>
    </div>
  </div>

<app-footer-signature 
  [confirmSignature]="3"
  [pageNum]="pageNum" 
  [pageLast]="pageLast" 
  [page1]="page1" 
  [pageNumber]="pageNumber" 
  [thePDF]="thePDF" 
  [idElement]="idElement" 
  [coordinateY]="coordinateY" 
  [datas]="datas" 
  [recipientId]="recipientId" 
  (submitChanges)="submitEvents($event)"
  [pageBefore]="pageBefore"
  [status]="status"
></app-footer-signature>

