<!--<link rel="stylesheet" href="sample-contract.component.scss">-->
<div class="sample-contract row">
  <!--  information contract-->
  <div class="col-md-3 sample-contract__information" style="background-color: white;">
    <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
      <div style="padding-bottom: 10px; text-align: center" class="label">THÔNG TIN CHI TIẾT HỢP ĐỒNG</div>
      <div class="label infor-contract" style="line-height: 25px;">
        <div class="type-contract">
          <div style="display: inline-block; padding-right: 5px">Loại hợp đồng:</div>
<!--          <span>{{datas.contractType}}</span>-->
          <div style="display: inline-block" *ngFor="let d of this.datas.type_id; let i = index">
            <span>{{d.item_text}}</span>
            <span>{{i == (this.datas.type_id.length - 1) ? '' : ', '}}</span>
          </div>
        </div>
        <div class="name-contract">
          <div class="title-contract" style="display: inline-block">Tên hợp đồng:</div>
          <div style="display: inline-block">{{datas.name}}</div>
        </div>
        <div class="number-contract">
          <div class="title-contract" style="display: inline-block">Số hợp đồng:</div>
          <div style="display: inline-block">{{datas.code}}</div>
        </div>
        <div class="file-attach-contract">
          <div class="title-contract" style="display: inline-block">File đính kèm:</div>
          <div style="display: inline-block">
            <span class="text-decoration-style">{{this.datas.attachFile.name}}</span>
          </div>
        </div>
        <div class="contract-coordination">
          <div class="title-contract" style="display: inline-block">Hợp đồng liên quan:</div>
          <div style="display: inline-block" *ngFor="let d of this.datas.contractConnect; let i = index">
            <span class="text-decoration-style">{{d.item_text}}</span>
            <span>{{i == (this.datas.contractConnect.length - 1) ? '' : ', '}}</span>
          </div>
        </div>
      </div>
    </div>
    <hr>

    <div class="location-change" [ngStyle]="changeDisplay()">
      <div class="sample-contract__information--user-sign" style="line-height: 25px">
        <div style="text-align: center;" class="label">CÁC BÊN LIÊN QUAN</div>
        <div>{{datas.userForm.name}}</div>
        <div *ngFor="let d of this.datas.partnerForm.partnerArrs">
          <span class="label" style="color: black; font-size: 13px">{{d.name}}</span>
        </div>

      </div>
      <div >
        <u class="label" style="color: #106DB6; padding-right: 3px; cursor: pointer; font-size: 13px" (click)="processHandleContract()">Luồng xử lý hợp
          đồng</u>
      </div>
      <hr>
      <div class="flex-column">
        <div class="label" style="text-align: center">ĐIỀU PHỐI HỢP ĐỒNG</div>
      </div>
    </div>
  </div>

  <!--  file content-->
  <!--  width: 74.7%-->
  <div class="col-md-9 sample-contract__file viewer-pdf isDrag"
       style="background-color: #F2F2F2; position: relative;">
    <div id="pdf-viewer-step-3">
      <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
        <div class="resize-drag not-out-drop"
             [id]="d.id"
             style="z-index: -1"
             #itemElement
             (click)="getSignSelect(d)"
             [ngClass]="changeColorDrag(null,true)"
             [ngStyle]="changePosition(d)">
          <div class="name-sig-img-daky">{{d.name ? d.name : ''}}</div>
          <!--          </div>-->
          <app-sign-contract [datas]="datas" [sign]="d"></app-sign-contract>
        </div>
      </div>
    </div>
  </div>
  <!--<app-footer-signature *ngIf="this.datas.step == 'infor-coordination'" [datas]="datas"></app-footer-signature>-->

