<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.data.title | translate}}</h3>
    </div>
    <div class="content">
        <div class="row">  
            <div class="col-md-12">  
                <div class="label_item">{{'contract-type.name' | translate}}</div>
                <div>
                    <div [innerText]="name" class="input_text"></div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label_item">{{'contract-type.code' | translate}}</div>
                <div>
                    <div [innerText]="code" class="input_text"></div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label_item">{{'contract-type.ceca' | translate}}</div>
                <div>
                    <div [innerText]="ceca_push" class="input_text"></div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.close' | translate}}</button>
        </div>
    </div>
  </div>
  