:host ::ng-deep {
    .p-calendar {
      font-size: 13px !important;
      font-family: 'font_lexend_deca';
      width: 100%;
    }
    .p-datepicker table td {
      padding: 0;
    }
    .p-calendar-w-btn, .p-calendar-w-btn .p-inputtext {
      height: 38px;
    }
    .p-calendar-w-btn .p-inputtext{
      border: 1px solid #106DB6 !important;
      outline: 0 !important;
      box-shadow: none !important;
    }
}

.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}
