<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{this.data.title.toUpperCase()}}</h3>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="label text-color">{{'expiration-date' | translate}}<span class="required-title">*</span></div>
                <div #calendarContainer (click)="onContainerClick($event)">
                    <p-calendar #inputElement [(ngModel)]="expirationSign" [showIcon]="true" [readonlyInput]="true"
                     dateFormat="dd/mm/yy" appendTo="body" aria-placeholder="{{'choose.expire.date'| translate}}"
                     ></p-calendar>
                </div>
            </div>
        </div>

        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" type="button" (click)="dialog.closeAll()">{{'cancel' | translate}}</button>
            <button class="save-button" (click)="save()">{{'btn.save' | translate}}</button>
        </div>
    </div>
  </div>
  