<div class="container-fluid">
    <div class="contract-determine">

        <div class="contract__content--participants">

            <!--ngươi ky-->
            <div class="participants-border">
            <div class="dropdown-header">
                <div class="label">{{'user.sign' | translate}}</div>
                <div style="align-items: center;display: flex;">
                    <img src="assets/img/Vectordropdown.svg">
                </div>
            </div>
                <div class="participants--content">
                    <input [id]="'ordering-sign-'" class="col-md-1 contract-total" style="width: 25px; height: 25px"
                        type="number" [disabled]="1"
                        oninput="this.value = this.value.replace(/[^0-9.]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');">
                    <div class="col-md-10 participants__content--input">
                        <div class="participants--input" style="display: flex">
                            <div class="participants__name">
                                <div class="label_detail text-color">{{'user.name' | translate}}:&nbsp;
                                    <span style="color: red">*</span>
                                </div>
                                <div class="input-data">
                                    <img src="assets/img/icon_name.svg" class="input-img">
                                    <input type="text" placeholder="{{'nhap_ho_va_ten' | translate}}">
                                </div>
                            </div>

                            <div class="participants__name">
                                <div class="label_detail text-color">Email:&nbsp;
                                    <span style="color: red">*</span>
                                </div>
                                <div class="input-data">
                                    <img src="assets/img/login_email.svg" class="input-img">
                                    <input type="text" placeholder="{{'nhap_email' | translate}}">
                                </div>
                            </div>
                        </div>

                        <div class="participants--input">
                            <div class="participants__name">
                                <div class="label_detail text-color">{{'user.sign-type' | translate}}:&nbsp;
                                    <span style="color: red">*</span>
                                </div>
                                <div class="input-data">
                                    <input type="text">
                                </div>
                            </div>
                            <div class="participants__name">
                                <div class="label_detail text-color">{{'user.phone' | translate}}:&nbsp;
                                    <span style="color: red">*</span>-
                                    <div style="color: #ffc107;">({{'receive.contract.process' | translate}})</div>
                                </div>
                                <div class="input-data">
                                    <img class="input-img">
                                    <input type="text" placeholder="{{'nhap_sdt' | translate}}" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-1 delete-element">
                        <img src="assets/img/border_close.svg" alt="close.vn">
                        <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
                    </div>
                </div>
            </div>
            <div class="footer-btn">
                <button >{{"btn.cancel" | translate}}</button>
                <button  class="update-btn">{{"btn.save" | translate}}</button>
            </div>
        </div>

    </div>
</div>