.header{
    text-align: center; 
    font-weight: bold
}
.label-header{
    // color: #106DB6; 
    // font-family: inherit;
    text-transform: uppercase;
    color: #001A4D;
    font-family: 'Roboto';
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: 21px;
    letter-spacing: -0.525px;
}
.label {
    color: #2B3D60;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 20px;
}
.required-title, .invalid {
    color: red;
}

.input-data {
    border: 1px solid #106DB6;
    border-radius: 5px;
    min-height: 33px;
    display: flex;
    align-items: center;
    color: #AEC7E5;
    font-family: 'Roboto';
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: 21px;
    letter-spacing: -0.525px;

    > img {
        padding-left: 14px;
    }

    > input, div {
        border: none;
        outline: none;
        padding-left: 15px;
        width: 100%;
        border-radius: 5px;
    }
    > div{
        padding: 5px 15px;
    }
}  
.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8E9AB0;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #0041C4;
    font-size: 13px;
    margin: 0 10px;
}
:host ::ng-deep {
    .p-listbox {
        border: 1px solid #106DB6;
    }
}
.hidden-color{
    background-color: #EFF2F5;
}