<div class="sample-contract row">
    <!--  information contract-->
    <div class="col-md-3 sample-contract__information" style="background-color: white; z-index: 10">
        <div class="sample-contract__information--drag" id="width-element-info" style="position: relative">
            <div style="padding-bottom: 10px" class="label">{{'components' | translate}} (<span style="color: red">{{'drag-drop' | translate}}</span>)
            </div>
            <!--      <div>-->
            <div *ngFor="let d of this.datasForm.contract_user_sign" class="show-list-name-class"
                style="display: inline-block; margin-bottom: 15px">
                <div *ngIf="!d.sign_config.position" [ngClass]="setClass(d)" (click)="showThumbnail()"
                    [id]=getIdSignChuaKeo(d.id)>
                    <div class="signature-sample-drag" style="position: relative">

                            <div *ngIf="d.sign_unit == 'so_tai_lieu'" [ngStyle]="setWidth(d)" class="content-drag" id="element-drag-text">
                                <p *ngIf="d.sign_unit == 'so_tai_lieu'" style="margin: 0px;">{{'contract.number'|translate}}</p>
                            </div>
    
                            <div *ngIf="d.sign_unit == 'text'" [ngStyle]="setWidth(d)" class="content-drag" id="element-drag-text">
                                <p *ngIf="d.sign_unit == 'text'" style="margin: 0px;">{{'Text'|translate}}</p>
                            </div>

                        <div *ngIf="d.sign_unit == 'chu_ky_so' || d.sign_unit == 'chu_ky_anh'" class="content-drag"
                            id="element-drag" style="height: 102px; flex-direction: column" [ngStyle]="setWidth(d)">
                            <img [src]="d.sign_unit == 'chu_ky_anh' ? 'assets/img/img_drag.svg' : 'assets/img/img_sign_number.svg'"
                                [style.paddingBottom]="d.sign_unit == 'chu_ky_anh' ? '3px' : ''" alt="ck.mobifone">
                            <!-- <span *ngIf="d.sign_unit == 'chu_ky_anh' || d.sign_unit == 'chu_ky_so'">{{d.sign_unit ==
                                'chu_ky_anh' ? 'Chữ ký ảnh hoặc eKYC' : 'Chữ ký số'}}</span> -->

                                <span *ngIf="d.sign_unit == 'chu_ky_anh' ">{{'sign.image.ekyc' |translate}}</span>
                                <span *ngIf="d.sign_unit == 'chu_ky_so' ">{{'sign.digital'|translate}}</span>

                        </div>
                    </div>
                </div>
            </div>
            <!--      </div>-->
        </div>
        <hr>

        <div class="location-change">
            <div class="sample-contract__information--user-sign">
                <label class="label">{{'attribute' | translate}}</label>
                <div class="name-text" *ngIf="isEnableText">
                    <label class="label-require">{{'attribute.name' | translate}}: *</label>
                    <input id="text-input-element" type="text" [ngModel]="this.objSignInfo.text_attribute_name"
                        (ngModelChange)="changePositionSign($event, 'text_attribute_name', 'text')">
                </div>

                <div class="sign-unit-select">
                    <label class="label-require">{{isEnableText || isChangeText ? ('user.import' | translate) : ('user.sign' | translate)}}: *</label>
                    <select class="form-select" id="select-dropdown" aria-label="Default select example"
                        (change)="changePositionSign($event, null, 'name-signature')" [disabled]="isEnableSelect">
                        <option value="" hidden>{{isEnableText || isChangeText ? ('choose.importer' | translate) : ('choose.signer' | translate)}}
                        <option *ngFor="let d of this.list_sign_name, let i = index" [selected]="d.selected"
                            value="{{d.id}}" [disabled]="d.is_disable">{{getName(d)}}</option>
                    </select>
                </div>
                
                  <!--Option chọn font + size chữ-->
                  <div class="row sign-unit-select">
                    <div class="col-md-9">
                        <label class="label-require">Font</label>
                        <select class="form-select" id="select-dropdown" aria-label="Default select example" [ngModel]="this.selectedFont" (ngModelChange)="changeFont($event)">
                            <option value="" hidden>{{'choose.font' | translate}}</option>
                            <option *ngFor="let d of this.list_font, let i = index" [selected]="d.selected" value="{{d}}">{{d}}</option>
                        </select>
                    </div>
                    <div class="col-md-3">
                        <label class="label-require">Size</label>
                        <input class="form-control" [(ngModel)]="size"/>
                    </div>
                </div>
                

            </div>
            <hr>
            <div class="flex-column">
                <label class="label-require">{{'position.coordinate' | translate}}</label>
                <div class="location">
                    <div class="location-drag">
                        <div class="label" style="text-align: center">X:</div>
                        <input type="number" (ngModelChange)="changePositionSign($event, 'x', 'location')"
                            [ngModel]="getTrafX()" [readOnly]="false">
                    </div>
                    <div class="location-drag">
                        <div class="label" style="text-align: center">Y:</div>
                        <input type="number" (ngModelChange)="changePositionSign($event, 'y', 'location')"
                            [ngModel]="getTrafY()" [readOnly]="false">
                    </div>
                </div>
            </div>
            <hr>
            <div class="flex-column">
                <label class="label-require">{{'size' | translate}}</label>
                <div class="location">
                    <div class="location-drag">
                        <div class="label">{{'height' | translate}}</div>
                        <input type="number" (ngModelChange)="changePositionSign($event, 'width', 'size')"
                            [ngModel]="objSignInfo.width" [readOnly]="false">
                    </div>
                    <div class="location-drag">
                        <div class="label">{{'width' | translate}}</div>
                        <input type="number" (ngModelChange)="changePositionSign($event, 'height', 'size')"
                            [ngModel]="objSignInfo.height" [readOnly]="false">
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!--  file content-->
    <div (scroll)="scroll($event)" id="pdf-full" class="col-md-9 sample-contract__file viewer-pdf isDrag" style="background-color: #f3f7f9; position: relative">
        <div id="pdf-viewer-step-3">
            <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag"
                [style.width]="this.canvasWidth">
                <div class="resize-drag not-out-drop" [id]="d.id" style="z-index: -1" #itemElement
                    (click)="getSignSelect(d)" [ngClass]="changeColorDrag(null,true)" [ngStyle]="changePosition(d)">
                    <div *ngIf="d.name" class="name-sig-img-daky">{{d.name ? d.name : ''}}</div>
                    <div class="sig-img-daky" (click)="onCancel($event, d)">
                        <img src="assets/img/clear.svg" alt="">
                        <img src="assets/img/border-clear.svg" alt="">
                    </div>
                    <!-- (onChangeValueText)="getValueText($event, d) [signTemplate]="true"" -->
                    <app-sign-contract [datas]="datasForm" (onChangeValueText)="getValueText($event, d)" [signTemplate]="true" [sign]="d"></app-sign-contract>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="footer-sample-contract">
    <div class="col-md-3">
        <button (click)="back($event, 'determine-contract')" type="button" name="next" class="next action-button"
            style="background-color: #8B8B8B">{{'btn.previous' | translate}}</button>
    </div>
    <div class="col-md-9">
        <div class="center">
            
            <a style="text-align: center">
                <button class="call-page" (click)="firstPage()">
                  <!-- <img width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg"> -->
                  <img  width="16px" height="20px" *ngIf="!this.page1" src="assets/img/firstpage.svg">
                  <img  width="16px" height="20px" *ngIf="this.page1" src="assets/img/previousbold.svg">
                </button>
                <button style="margin-right: 5px;" class="call-page1" (click)="previousPage()">
                  <img width="12px" height="16px" *ngIf="this.page1" src="assets/img/firstpagebold.svg">
                  <img width="12px" height="16px" *ngIf="!this.page1" src="assets/img/previous.svg">
                </button>
          
                <input class="input1" [(ngModel)]="pageNum" type="text" (keyup.enter)="onEnter($event)" />&nbsp;/ &nbsp;{{this.pageNumber}}
                <button class="call-page1" (click)="onNextPage()" id="prev">
                  <img width="12px" height="16px" *ngIf="this.pageLast" src="assets/img/next.svg">
                  <img width="12px" height="16px" *ngIf="!this.pageLast" src="assets/img/nextblur.svg">
                </button>
          
                <button class="call-page1" (click)="lastPage()" id="prev">
                  <img width="16px" height="20px" *ngIf="this.pageLast" src="assets/img/lastpage.svg">
                  <img width="16px" height="20px" *ngIf="!this.pageLast" src="assets/img/lastpageblur.svg">
                </button>
            </a>
            <a style="position: absolute; right: 5px;">
                <button (click)="next('save_draft')" type="button" name="saveDocument" class="next action-button"
                style="background-color: #FCAF17">{{'btn.save-draft' | translate}}</button>
                <button (click)="next('next_step')" type="button" name="next" class="next action-button">{{'btn.next' | translate}}</button>
            </a>
        </div>
    </div>
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>
