<div class="container-fluid" style="padding-top: 10px;">
  
    <div *ngIf="listNotification.length > 0"> 
        <div *ngFor="let item of listNotification| paginate:{itemsPerPage: page, currentPage:p}; let i = index" style="padding: 4px;"
        [style.background-color]="item.status==0 ? '#eaf4ff' : ''" class="item_contract">
          <div class="row">
            <div class="col-md-12 item_contract_name" (click)="openLinkNotification(item.notice_url, item.id)">{{item.notice_name}}</div>
          </div>
          <div class="row" *ngFor="let s of item.notice_content.split('<br/>')">
            <div class="col-md-12 item_contract_infor">
              <img src="../../../assets/img/user_icon.svg" width="12px"/>
              <span> {{s}}</span>
            </div>
          </div>
          <div class="row item_contract_infor">

            <div class="col-md-6 calendar_create">
              <img src="../../../assets/img/calendar_icon.svg" width="15px"/>
              <span class="item_date"> {{item.notice_date | date: 'dd/MM/yyyy HH:mm'}}</span>
            </div>
            
            <div class="col-md-6 item_contract_infor">{{'contract.status' | translate}}:
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_coordinator'">Điều phối</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_reject'">Từ chối</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_review'">Xem xét</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_sign'">Ký</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_publish'">Ban hành</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_finish'">Hoàn thành</span>
              <span class="status_blue" *ngIf="item.message_code=='sign_flow_cancel'">Hủy</span>
            </div>
        
          </div>
        </div>
      </div>
  
    <div *ngIf="listNotification.length == 0" 
    style="height: 100px;display: table;top: 0;left: 0;width: 100%;text-align: center;margin-top: 20px;">
      <div style="display: table-cell;vertical-align: middle;">
        <img src="../../../assets/img/empty_data.svg"/>
        <div style="color: #94A7C6">Không có dữ liệu!</div>
      </div>
    </div>
  
    <div class="contract_footer">
      <div class="footer_title"></div>
      <div class="footer_pagination">
        <pagination-controls *ngIf="listNotification.length > 0;" (pageChange)="p=$event; setPage()" previousLabel="" nextLabel=""></pagination-controls>
      </div>
      <div class="footer_page_number">{{'chart.number' | translate}}: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
    </div>
  
  </div>
  