.color-dialog-sign {
  color: var(--text-primary);
}

.gap {
  gap: 12px !important;
}

.type-image-4 {
  min-height: 240px;
}

.default-image {
  // min-height: 58vh;
}

.content-title-dialog-sign {
  text-align: center;
}

.title-dialog-sign {
  font-size: var(--fs14);
  font-weight: 700;
  line-height: 21px;
}

.text-select {
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.radio-confirm input[type="radio"] {
  width: 20px;
  height: 20px;
  margin: auto 8px auto 0px;
  cursor: pointer;
}

.dialog-signature {
  height: 300px;
  background-color: #F3F6FA;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dialog-signature img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.blankImg {
  text-align: center;
}

.checkbox-confirm {
  margin-top: 20px;
  display: inline-flex;
  align-items: center;
}

.checkbox-confirm .text {
  margin-left: 8px;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
}

.checkbox-hide-processing-thread {
  -webkit-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  -moz-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  min-width: 24px;
  min-height: 24px;
  margin: auto 8px auto 0;
  border-radius: 6px;
  display: block;
  border: 1px solid #A8B5CE; /* Thêm border */
  position: relative;
  cursor: pointer;
  background-color: #fff; /* Màu nền mặc định */
}
.checkbox-hide-processing-thread:checked {
  // background-color: #fff;
  background-color: #0041C4;
}

.checkbox-hide-processing-thread:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px; /* Kích thước ảnh */
  height: 10px; /* Kích thước ảnh */
  background-image: url('../../../../../../assets/img/Vector.png'); /* Replace with your image URL */
  background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ vùng */
  transform: translate(-50%, -50%);
}

.select-option {
  display: flex;
  justify-content: center;
  button {
    width: 120px;
    height: 38px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    padding: 8px 12px;
    font-size: 14px;
    font-weight: 700;
    line-height: 21px;
    white-space: nowrap;    /* Không cho phép xuống dòng */
    overflow: hidden;       /* Ẩn nội dung tràn */
    text-overflow: ellipsis;/* Hiển thị dấu "..." nếu bị tràn */
  }

  .button-cancel {
    border: 1px solid #C6D2EA;
    background-color: #FFFFFF;
    color: #677694;
  }

  .button-clear, .button-confirm-active {
    background-color: #0041C4;
    color: #FFFFFF;
  }

  .button-confirm-disable {
    background-color: #8E9AB0;
    color: #FFFFFF;
  }
}

.signature-container {
  position: relative;
  width: 100%;
  border-radius: 1.2vh;
  overflow: hidden;
}

.signature-pad {
  height: 300px;
  border-radius: 1.2vh;
  background-color: #F3F6FA;
  display: block;
}

:host ::ng-deep .signature-pad canvas {
  border: none !important;
}

.upload-photo {
  width: 120px;
  height: 44px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  text-align: center; /* Canh giữa theo chiều ngang */
  line-height: 44px; /* Đặt bằng chiều cao của ô */
  font-size: 14px;
  font-weight: 700;
  border: 1px solid #0041C4;
  background-color: #FFFFFF;
  color: #0041C4;
  margin: auto;
}

.text-support-extension {
  color: #A8B5CE;
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  margin-top: 10px;
}

.margin-top-20px {
  margin-top: 20px !important;
}

@media (max-width: 576px) {
  .type-image-4 {
    min-height: 210px;
  }
  
  // .default-image {
  //   min-height: 46vh;
  // }

  .title-dialog-sign {
    font-size: 13px;
    font-weight: 700;
    line-height: 21px;
  }

  .text-select {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .margin-top-20px {
    margin-top: 10px !important;
  }

  .radio-confirm input[type="radio"] {
    width: 15px;
    height: 15px;
    margin: auto 4px auto 0px;
  }
  
  .dialog-signature {
    height: 210px;
  }

  .lable-radio {
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
  }

  .checkbox-hide-processing-thread {
    min-width: 20px;
    min-height: 20px;
    margin: auto 4px auto 0;
  }

  .checkbox-confirm {
    margin-top: 10px;
  }

  .checkbox-confirm .text {
    font-size: 12px;
  }

  .select-option {
    button {
      width: 100px;
      height: 30px;
      border-radius: 5px;
      padding: 0px 12px;
      font-size: 13px;
    }
  }

  .signature-pad {
    height: 210px;
  }

  .upload-photo {
    width: 100px;
    height: 36px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    text-align: center; /* Canh giữa theo chiều ngang */
    line-height: 36px; /* Đặt bằng chiều cao của ô */
    font-size: 14px;
    font-weight: 700;
    border: 1px solid #0041C4;
    background-color: #FFFFFF;
    color: #0041C4;
    margin: auto;
  }
  
  .text-support-extension {
    font-size: 11px;
    margin-top: 5px;
  }
}