<div class="container-fluid" style="min-height: 60vh;max-height: 80vh;">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-weight: bold">{{this.datas.title}}</h3>
  </div>
  <div class="content">
    <div class="name-item">
      <div class="confirm-radio d-flex justify-content-between mx-4">
        <div class="radio-confirm">
          <input id="radio-file-account" type="radio" name="choose-radio-signature" [value]="1"
            [(ngModel)]='typeImageSignatureRadio' (change)="t(1)">
          <label for="radio-file-account" class="ms-2">File chữ ký từ tài khoản</label>
        </div>
        <div *ngIf="!this.mobile" class="radio-confirm">
          <input id="radio-file-com" type="radio" name='choose-radio-signature' [value]="2"
            [(ngModel)]='typeImageSignatureRadio' (change)="t(2)">
          <label for="radio-file-com" class="ms-2">Tải file ảnh chữ ký</label>
        </div>
        <div *ngIf="!this.data.mark" class="radio-confirm">
          <input id="radio-img-draw" type="radio" name='choose-radio-signature' [value]="3"
            [(ngModel)]='typeImageSignatureRadio' (change)="t(3)">
          <label for="radio-img-draw" class="ms-2">Ký bằng hình vẽ tay</label>
        </div>
      </div>
    </div>

    <div class="image-sign" style="min-height: 50vh">

      <!--TH dialog chữ ký ảnh-->
      <div *ngIf="typeImageSignatureRadio == 1 && !this.data.mark">
        <label class="align-select">Chữ ký đã tạo trên hệ thống:</label>
        <div class="image-sign-acc-2 mt-4 d-flex justify-content-center align-items-center" style="max-height: 600px;">
          <img *ngIf="imgSignAccountSelect" [src]="imgSignAccountSelect" alt="" style="max-height: 600px;">
          <div *ngIf="!datas.imgSignAcc" style="margin-top: 12rem;">
            Dữ liệu trống!
          </div>
        </div>
      </div>

      <!--TH dialog chữ ký có con dấu-->
      <div *ngIf="typeImageSignatureRadio == 1 && this.data.mark">
        <label class="align-select">Con dấu đã tạo trên hệ thống:</label>
        <div class="image-sign-acc-2 mt-4 d-flex justify-content-center align-items-center" style="max-height: 600px;">
          <img *ngIf="markSignAccountSelect" [src]="markSignAccountSelect" alt="" style="max-height: 600px;">
          <div *ngIf="!datas.markSignAcc" style="margin-top: 12rem;">
            Dữ liệu trống!
          </div>
        </div>
      </div>

      <div *ngIf="typeImageSignatureRadio == 2">
        <div class="form-group">
          <div class="select-file-contract" [hidden]="imgSignPCSelect">
            <div class="file-approve">
              <div class="label_item">File đính kèm:</div>
              <input id="attachFileSignature" type="file" accept=".jpg, .png, .jpge"
                (change)="fileChangedAttach($event)" style="display: none;">
              <div class="select-contract container-img-file" (click)="addFileAttach()">
                <div class="upload-image-region d-flex flex-column container-img-file-1">
                  <img src="assets/img/img-icon.svg" alt="#" width="50px">
                  <div class="text-choose-file">Chọn file ảnh chữ ký từ máy tính của bạn.</div>
                  <div class="text-support-extension">Hỗ trợ định dạng PNG, JPG, JPGE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-sign-acc-2 mt-4" style="max-height: 600px;">
          <img *ngIf="imgSignPCSelect && !this.mobile" (click)="addFileAttach()" [src]="imgSignPCSelect" alt=""
            style="display: block;margin: 0 auto;max-height: 600px;">

          <img *ngIf="imgSignPCSelect && this.mobile" (click)="addFileAttach()" [src]="imgSignPCSelect" alt=""
            style="display: block;margin: 0 auto;max-height: 600px; max-width: 210px">
        </div>
      </div>

      <div *ngIf="typeImageSignatureRadio == 3">
        <signature-pad *ngIf="typeImageSignatureRadio == 3" #signature [options]="signaturePadOptions"
          (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad>
      </div>
    </div>
    <div class="image-result">

    </div>

    <div class="select-option">
      <button *ngIf="typeImageSignatureRadio != 1" class="dx-button-form dx-button-close dx-button-90 mb-4" type="button" (click)="clearImage()">Clear
      </button>
      <button style="margin-left:50px" *ngIf="(typeImageSignatureRadio == 1 && (datas.imgSignAcc || datas.markSignAcc))|| (typeImageSignatureRadio != 1)" class="dx-button-form dx-button-close dx-button-90 mb-4" type="button" (click)="uploadImage()">OK
      </button>
    </div>
  </div>
  
 
</div>