<div class="container-fluid" style="min-height: 60vh">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-weight: bold">{{this.datas.title}}</h3>
  </div>
  <div class="content">
    <div class="name-item">
      <div class="confirm-radio d-flex justify-content-between mx-4">
        <div class="radio-confirm">
          <input id="radio-file-account" type="radio" name="choose-radio-signature" [value]="1" [(ngModel)]='typeImageSignatureRadio' (change)="t(1)">
          <label for="radio-file-account" class="ms-2">File chữ ký từ tài khoản</label>
        </div>
        <div class="radio-confirm">
          <input id="radio-file-com" type="radio" name='choose-radio-signature' [value]="2" [(ngModel)]='typeImageSignatureRadio' (change)="t(2)">
          <label for="radio-file-com" class="ms-2">Tải file ảnh chữ ký</label>
        </div>
        <div class="radio-confirm">
          <input id="radio-img-draw" type="radio" name='choose-radio-signature' [value]="3" [(ngModel)]='typeImageSignatureRadio' (change)="t(3)">
          <label for="radio-img-draw" class="ms-2">Ký bằng hình vẽ tay</label>
        </div>
      </div>
    </div>

    <div class="image-sign" style="min-height: 50vh">

      <div *ngIf="typeImageSignatureRadio == 1">
        <label class="align-select">Chọn chữ ký đã tạo trên hệ thống:</label>
        <div class="select-signature-acc align-select mt-2">
          <ngx-select [items]="optionsFileSignAccount" [placeholder]="'Chọn file ký đã upload'"
                      optionValueField="id" optionTextField="name"
                      (selectionChanges)="chooseImageSignAcc($event)"

          ></ngx-select>
        </div>

        <div class="image-sign-acc mt-4">
          <img *ngIf="imgSignAccountSelect" [src]="imgSignAccountSelect" alt="">
        </div>
      </div>
      <div *ngIf="typeImageSignatureRadio == 2">
        <div class="form-group">
          <div class="select-file-contract" [hidden]="imgSignPCSelect">
            <div class="file-approve">
              <div class="label_item">File đính kèm:</div>
              <input id="attachFileSignature" type="file" accept=".jpg, .png, .jpge"
                     (change)="fileChangedAttach($event)" style="display: none;"/>
              <div class="select-contract container-img-file" (click)="addFileAttach()">
                <div class="upload-image-region d-flex flex-column container-img-file-1">
                  <img src="assets/img/img-icon.svg" alt="#" width="50px">
                  <div class="text-choose-file">Chọn file ảnh chữ ký từ máy tính của bạn.</div>
                  <div class="text-support-extension">Hỗ trợ định dạng PNG, JPG, JPGE</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-sign-acc-2 mt-4">
          <img *ngIf="imgSignPCSelect" (click)="addFileAttach()" [src]="imgSignPCSelect" alt="" style="display: block;margin: 0 auto;width: 40vw;">
        </div>
      </div>
      <div>
        <signature-pad *ngIf="typeImageSignatureRadio == 3" #signature [options]="signaturePadOptions" (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad>

      </div>
    </div>
    <div class="image-result">

    </div>

    <div class="select-option">
      <button
        class="dx-button-form dx-button-close dx-button-90"
        type="button" (click)="uploadImage()">OK
      </button>
    </div>
  </div>
</div>
