<div class="container-fluid color-dialog-sign"[ngClass]="{
  'type-image-4': typeImageSignatureRadio == 4,
  'default-image': typeImageSignatureRadio != 4 }">
  <div class="content-title-dialog-sign">
    <div class="title-dialog-sign">{{this.datas.title}}</div>
  </div>
  <div class="text-select margin-top-20px">{{'text.select' | translate}}</div>

  <div class="content">
    <div class="margin-top-20px d-flex justify-content-between gap">
      <div *ngIf="!this.data.mark" class="radio-confirm flex">
        <input id="radio-img-draw" type="radio" name='choose-radio-signature' [value]="3"
          [(ngModel)]='typeImageSignatureRadio' (change)="t(3)">
        <div class="lable-radio" for="radio-img-draw">Vẽ tay chữ ký</div>
      </div>

      <div class="radio-confirm flex" *ngIf = "this.data.optionNoSelectPhoto">
        <input id="radio-file-account" type="radio" name="choose-radio-signature" [value]="4"
          [(ngModel)]='typeImageSignatureRadio' (change)="t(4)">
        <div class="lable-radio" for="radio-file-account">Không chọn ảnh</div>
      </div>

      <div class="radio-confirm flex">
        <input id="radio-file-com" type="radio" name='choose-radio-signature' [value]="2"
          [(ngModel)]='typeImageSignatureRadio' (change)="t(2)">
        <div class="lable-radio" for="radio-file-com">Tải ảnh lên</div>
      </div>

      <div class="radio-confirm flex">
        <input id="radio-file-account" type="radio" name="choose-radio-signature" [value]="1"
          [(ngModel)]='typeImageSignatureRadio' (change)="t(1)">
        <div class="lable-radio" for="radio-file-account">Ảnh từ tài khoản</div>
      </div>
    </div>

    <div class="image-sign margin-top-20px">
      <!--TH dialog chữ ký ảnh-->
      <div *ngIf="typeImageSignatureRadio == 1 && !this.data.mark">
        <div class="dialog-signature">
          <img *ngIf="imgSignAccountSelect" [src]="imgSignAccountSelect" alt="" style="height: 100%;">
          <div *ngIf="!datas.imgSignAcc">
            <div class="blankImg">{{'notify_have_not_sign_acc' | translate}}</div>
          </div>
        </div>
      </div>

      <!--TH dialog chữ ký có con dấu-->
      <div *ngIf="typeImageSignatureRadio == 1 && this.data.mark">
        <div class="dialog-signature">
          <img *ngIf="markSignAccountSelect" [src]="markSignAccountSelect" alt="" style="height: 100%;">
          <div *ngIf="!datas.markSignAcc">
            <div class="blankImg">{{'notify_have_not_sign_acc' | translate}}</div>
          </div>
        </div>
      </div>
      
      <div *ngIf="typeImageSignatureRadio == 2">
        <div class="dialog-signature" [hidden]="imgSignPCSelect" (click)="addFileAttach()">
          <input id="attachFileSignature" type="file" accept="image/*"
            (change)="fileChangedAttach($event)" style="display: none;">
          <div class="select-contract container-img-file">
            <div class="upload-image-region d-flex flex-column container-img-file-1">
              <div class="upload-photo" type="button">Tải ảnh lên</div>
              <div class="text-support-extension">Hỗ trợ file PNG, JPG, JPGE</div>
            </div>
          </div>
        </div>

        <div class="dialog-signature" *ngIf="imgSignPCSelect" (click)="addFileAttach()">
          <img *ngIf="!this.mobile" [src]="imgSignPCSelect" alt=""
            style="display: block;margin: 0 auto;max-height: 300px;">

          <img *ngIf="this.mobile" [src]="imgSignPCSelect" alt=""
            style="display: block;margin: 0 auto;max-height: 600px; max-width: 210px;">
        </div>
      </div>

      <div class="signature-container" *ngIf="typeImageSignatureRadio == 3">
        <signature-pad class="signature-pad" *ngIf="typeImageSignatureRadio == 3" #signature [options]="signaturePadOptions"
        (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad>
      </div>   
    </div>

    <div class="checkbox-confirm">
      <input class="checkbox-hide-processing-thread hover-item" type="checkbox" [(ngModel)]="confirmConsider"/>
      <div class="text" style="text-align: justify;">{{ 'multi.sign.confirm' | translate }}</div>
    </div>
    
    <div class="select-option margin-top-20px">
      <button class="button-cancel" (click)="dialog.closeAll()" type="button">{{'btn.close' | translate}}</button>
      <button class="button-clear" style="margin-left:20px" *ngIf="(typeImageSignatureRadio != 1 && typeImageSignatureRadio != 4)" type="button" (click)="clearImage()">Clear</button>     
      <button class="button-confirm-active" style="margin-left:20px" *ngIf="confirmConsider && ((typeImageSignatureRadio == 1 && (datas.imgSignAcc || datas.markSignAcc)) || (typeImageSignatureRadio != 1))" type="button" (click)="uploadImage()">{{ 'confirm' | translate }}</button>

      <button class="button-confirm-disable" style="margin-left:20px" *ngIf="!confirmConsider && ((typeImageSignatureRadio == 1 && (datas.imgSignAcc || datas.markSignAcc))|| (typeImageSignatureRadio != 1))" type="button">{{ 'confirm' | translate }}</button>
    </div>
  </div>


</div>
