//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: center;
    margin-top: 29px;
    button {
      width: 91px;
      height: 31px;
      border-radius: 5px;
      border: none;
      color: white;
      // background-color: #8B8B8B;
      background-color: #106DB6;
      cursor: pointer;
    }
    button:nth-last-child(1) {
      background-color: #106DB6;
    }
  }
}
.checkbox-confirm {
  margin-top: 40px;
  display: inline-flex;
  align-items: center; /* Canh giữa các phần tử theo chiều dọc */
}
.checkbox-confirm .text {
  margin-left: 8px; /* Để khoảng cách giữa checkbox và text */
  color: #0041c4; /* Màu văn bản */
  font-size: 14px; /* Kích cỡ font */
  font-family: 'Roboto', 'Helvetica Neue', sans-serif; /* Font family */
}

.checkbox-hide-processing-thread {
  -webkit-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  -moz-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  appearance: none; /* Xóa kiểu mặc định của trình duyệt */
  width: 24px;
  height: 24px;
  margin: auto 8px auto 0;
  border-radius: 6px;
  display: block;
  border: 1px solid #A8B5CE; /* Thêm border */
  position: relative;
  cursor: pointer;
  background-color: #fff; /* Màu nền mặc định */
}
.checkbox-hide-processing-thread:checked {
  // background-color: #fff;
  background-color: #0041C4;
}

.checkbox-hide-processing-thread:checked::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 13px; /* Kích thước ảnh */
  height: 10px; /* Kích thước ảnh */
  background-image: url('../../../../../../assets/img/Vector.png'); /* Replace with your image URL */
  background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ vùng */
  transform: translate(-50%, -50%);
}    
.cancel-button{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: white;
  background-color: #8B8B8B;
  font-size: 13px;
  margin: 0 10px;
}

.image-sign-acc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E9F4FD;
  height: 42vh;
}

.image-sign-acc {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 42vh;
}
.input-checkbox{
  text-align: left;
  width: 16px;
  height: 16px;
  margin: 5px;
}
.select-signature-acc {
  width: 30%;
}

.align-select {
  margin-left: 2%;
}
::ng-deep .multiselect-dropdown {
  .dropdown-btn {
    border: 1px solid #87CAFF !important;
    min-height: 38px;
    height: auto;
  }
}

//upload file
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #106DB6;
  width: 100%;
  border-radius: 20px;
}

//label type contract
.label_type{
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

//label item form
.label_item{
  padding: 12px 0px 3px;
}

.require_star{
  color: red;
}


.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  top: 10px;
  right: 25px;
  position: absolute;
}
.input-text {
  border: 0;
  width: 100%;
  outline:0px;
}

.container-img-file {
  height: 47vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #E9F4FD;
}

.container-img-file-1 {
  justify-content: center;
  align-items: center;
}

.text-choose-file {
  margin-top: 32px;
  font-size: 18px;
  color: #106DB6;
}
.text-blank {
  margin-top: 10px;
  font-size: 18px;
  color: #106DB6;
}
.noImg{
  background-color: #fff;
  min-width: 300px;
  min-height: 100px;
}
.blankImg{
  background-color: #F3F6FA; 
  border-radius: 2%;
  text-align: center;
  padding: 20px;  
  min-width: 700px;
  min-height: 400px;
  margin: 0 auto;
  align-items: center;
  display: flex;
  justify-content: center;
}
.text-support-extension {
  margin-top: 8px;
  color: #ED1C24;
  font-weight: 500;
}
.disabled {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}
.disable {
  background-color: #ccc !important;
  cursor: not-allowed !important;
}
