.add_content {
  border-radius: 10px;
  border: 1px solid #0160AE;
  margin-top: 10px;
}

.add_click {
  margin: 10px;
}

.add_link {
  padding-top: 5px;
  color: #b8bcbf;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.label {
  font-weight: 500;
  line-height: 21px;
  font-size: 14px;
  color: #0041C4;
  background-color: #EBF2FB;
  height: 48px;
  border-radius: 8px 8px 0 0;
  display: flex;
  align-items: center;
  padding-left: 24px;

}

.label_detail {
  font-weight: 500;
  color: #2B3D60;
  background-color: #C7D0E9;
  // height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

.label_item {
  padding: 12px 0px 3px;
  color: #5e5e5e;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_input {
  background: #f9f9f9;
  text-align: center;
  padding: 5px 1px;
  width: 40px;
  font-size: inherit;
}

.input_phone {
  font-size: inherit;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove_icon {
  color: #b8bcbf;
  cursor: pointer;
}

.form-check-input {
  width: 20px;
  margin: 0;
  height: 20px;
}

.form_content {
  border: 1px solid #0160AE;
  padding: 8px;
  border-radius: 10px;
}

.require_star {
  color: red;
}

.partner_content {
  padding-top: 20px;
}

.labelOrg {
  padding: 10px 0px 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.textOrg {
  font-size: inherit;
}

.form-control {
  border: 1px solid #87CAFF;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f9f9f9;
}

hr {
  border: 1px solid #0160AE;
}

.label_type {
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.label_type_radio {
  text-align: center;
  font-weight: 500;
}

//input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//change css dropdown multi
:host ::ng-deep {
  .selected-item {
    max-width: 100% !important;
  }
}

//style button
.action-button {
  width: 100px;
  background: #0041C4;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 12px;
  margin: 10px 5px;
}

.draft-button {
  width: 100px;
  background: #F8AD41;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous {
  width: 100px;
  background: #FFFFFF;
  font-weight: bold;
  color: #0041C4;
  border: 1px solid var(--Primary, #0041C4);
  border-radius: 6px;
  cursor: pointer;
  padding: 9px 12px;
  margin: 10px 5px;
}

.footer-determine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4vh;

  .content_footer {
    color: #0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}

.error-detail {
  font-size: inherit;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 0;
}

.input-line {
  display: flex;
  position: relative;
}

.input-img {
  top: 10px;
  left: 20px;
}

.input-text {
  border: 0;
  width: 90%;
  padding-left: 10px;
  outline: 0;
  font-size: 14px;
}

// defind json data follow backend

.index-input {
  width: 32px; 
  height: 32px
}

.contract-determine {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .contract--content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contract__content--title {
    display: flex;
    color: #106DB6;
    align-items: center;
    margin-bottom: 8px;

    // > div {
    //   width: 158px;
    // }

    > input {
      padding-left: 10px;
      outline: none;
      height: 37px;
      width: 100%;
      border-radius: 7px;
      border: 1px solid #106DB6;
    }
  }

  .contract__content--title-doi-tac {
    margin: 28px 0px;
    height: 54px;
    display: flex;
    color: #106DB6;
    align-items: center;

    .organization-me {
      margin: auto 8px;
      white-space: nowrap;
      color: #A8B5CE;
      font-size: 14px;
      font-weight: 500;
      line-height: 21px;
    }
    // > div {
    //   width: 158px;
    // }
    
    > input.input1 {
      font-size: 14px; /* Kích thước văn bản */
      color: #00186D; /* Màu văn bản */
      font-weight: 700;
      line-height: 21px;
      background-color: #F7FAFD;
      padding-left: 10px;
      outline: none;
      height: 48px;
      width: 100%;
      border-radius: 6px;
      border: 1px solid #E6EDFA;
    }
    > input.input2 {
      padding-left: 10px;
      outline: none;
      height: 37px;
      width: 40%;
      border-radius: 6px;
      border: 1px solid #106DB6;
    }

    .hide-processing-thread {
      margin-left: 10px;
      display: flex;
      height: 48px;
      border: 1px solid #C6D2EA;
      border-radius: 6px;
      align-items: center;

      .text-processing-thread {
        margin: auto 8px;
        font-weight: 700;
        font-size: 12px;
        line-height: 18px;
        color: #00186D;
        white-space: nowrap;
      }

      .checkbox-hide-processing-thread {
        -webkit-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
        -moz-appearance: none; /* Xóa kiểu mặc định của trình duyệt */
        appearance: none; /* Xóa kiểu mặc định của trình duyệt */
        width: 24px;
        height: 24px;
        margin: auto 8px auto 0;
        border-radius: 6px;
        display: block;
        border: 1px solid #A8B5CE; /* Thêm border */
        position: relative;
        cursor: pointer;
        background-color: #fff; /* Màu nền mặc định */
      }
      
      .checkbox-hide-processing-thread:checked {
        background-color: #fff;
      }
      
      .checkbox-hide-processing-thread:checked::after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        width: 10px; /* Kích thước ảnh */
        height: 7px; /* Kích thước ảnh */
        background-image: url('../../../../../assets/img/Vector.png'); /* Replace with your image URL */
        background-size: cover; /* Đảm bảo ảnh bao phủ toàn bộ vùng */
        transform: translate(-50%, -50%);
      }    
    }
  }

  .contract__content--participants {
    border-radius: 10px;
    border: 1px solid #87CAFF;
    background-color: #F9FDFF;
    padding: 19px 10px 13px 10px;

    .participants--content {
      display: flex;
      background-color: #FFFFFF;
      align-items: center;
      justify-content: space-around;
      border-radius: 0 0 11px 11px;

      ::ng-deep .mat-form-field {
        width: 100%;
        background-color: white !important;
        &-flex {
          border: 1px solid #106DB6;
          border-radius: 5px;
          background-color: white !important;
        }
        &-infix {
          border-top: 0;
        }
      }

      .participants__content--input .participants-information {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 14px;

        .participants-signature-type {
          width: 95%;
          text-align: center;
        }
      }

      .participants--input {
        display: flex;
        justify-content: space-around;

        .participants__name {
          // width: 41%;

          .input-data {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;

            > img {
              padding-left: 14px;
            }

            > input {
              border: none;
              outline: none;
              padding-left: 19px;
              width: 100%;
            }
          }
          .header_language {
            // position: absolute;
            right: 0px;
            padding: 5px;
          }


          input {
            outline: none;
            padding-left: 19px;
            width: 100%;
          }
        }
      }

      .participants--input1 {
        display: flex;
        justify-content: space-around;

        .participants__name {
          // width: 41%;

          .input-data {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;

            > img {
              padding-left: 14px;
            }

            > input {
              border: none;
              outline: none;
              padding-left: 19px;
              width: 100%;
            }
          }

          input {
            outline: none;
            padding-left: 19px;
            width: 100%;
          }
        }
      }

      .select-text-input {
        display: flex;
        //margin: 0 29px;
        //margin: 0 44px;



        .participants__name:last-child {
          input {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;
          }
        }

        .participants-otp {
          position: relative;
          top: 40px;

          input {
            top: 13px;
            // position: absolute;
          }
        }

      }

    }

    .participants-border {
      border-radius: 8px;
      border: 1px solid black;

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
  }

  .text-color {
    background-color: #FFFFFF;
    border-radius: 0 0 11px 11px;
  }
}

.contract-total {
  border: 1px solid #0041C4;
  color: #00186D;
  text-align: center;
  border-radius: 6px;
  outline: none;
}

.required-title {
  color: red;
}

.notify {
  width: 100% !important;
  text-align: left;
  color: #ffc107;
  font-size: 12px;
}
.db_icon_english {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../../../assets/img/icon_english.svg');
}
.db_icon_vietnam {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url('../../../../../assets/img/icon_vietnam.svg');
}
.drop_menu{
  border-color: #C2E4FF;
  padding: 0;
  font-size: inherit;
  right: 10px;
  left: unset !important;
}
.language{
  margin-left: 20px;
}
.switch-language{
  padding: 5px;
}
//::ng-deep .mat-form-field-flex {
//  background-color: white;
//}
.dropdown-toggle:empty::after {
  margin-left: 22px;
  margin-bottom: 8px;
  width: 9px;
}
.btn-outline-primary:hover{
  color: grey;
}

.type-partner {
  .btn {
  margin-left: 10px;
  background-color: #1487E1;
  border-radius: 10px;
  color: white;
  height: 33px;
  font-size: 13px;
}}

.none-button {
  width: 82.45px; 
  height: 33px; 
  margin-left:10px;
  display:relative; 
  background-color: #F9FDFF;
}

.type-partner{
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
}

.participants-border {
  margin-top: 8px;
  border-radius: 8px;
  border: 1px solid #C6D2EA !important;
}

.header-user-view {
  display: flex; 
  margin-top: 16px; 
  height: 48px; 
  align-items: center;
}

.text-header-user-view{
  margin: auto 8px;
  font-size: 14px;
  font-weight: 500;
  color: #00186D;
  line-height: 21px;
}

.text-check-box-contract {
  color: #00186D;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}

.label-text {
  color: #2B3D60;
  font-weight: 700;
  font-size: 12px;
  line-height: 21px;
}

.content-input {
  margin-top: 8px;
  width: 100%;
  height: 48px;
  border: 1px solid #E6EDFA !important;
  background-color: #F7FAFD;
  border-radius: 6px;
  padding: 10px;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;

  &::placeholder {
    color: #AEC7E5;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
  }

  &:focus {
    border: 1px solid #E6EDFA !important;
    outline: none;
  }
}

.search-name {
  position: relative;
  display: inline-block;
  width: 100%;
  max-height: 190px;
  overflow-y: auto;

  .search-name-items {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #fff;
    border: none;
    // border-radius: 4px;
    text-align: left;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #F7FAFD;
    }

    &:not(:last-child) {
      border-bottom: none;
    }
  }
}

.delete-element {
  margin: auto 16px auto 8px;
  text-align: right;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #ED1C24;
}

.container-participants-add {
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;

  .participants--add {
    display: flex;
  }
  
  .participants--add-length-0 {
    display: flex;
  }
  
  .add-icon {
    width: 24px;
  }

  .text-color {
    margin: auto;
    margin-left: 8px;
    font-size: 14px;
    font-weight: 500;
    
    color: #0041C4;
    text-decoration: none;
  }
}

.input-nhap-sdt {
  border: none;
  background-color: #F7FAFD;

  &:focus {
    outline: none;
  }

  &:hover {
    background-color: #F7FAFD;
  }
}

.input-nhap-sdt::placeholder {
  color: #AEC7E5; 
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}

.btn::after {
  display: none !important;
}

.dropdown-menu {
  min-width: 8rem
}

.btn-outline-primary {
 border: none;
}

::ng-deep .multiselect-dropdown .dropdown-btn {
  padding: 12px 10px !important;
  border: 1px solid #E6EDFA !important;
  min-height: 48px;
  height: auto;
  background-color: #F7FAFD;
  background-image: url('../../../../../assets/img/arrow-down.png') !important;

  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 24px 24px;
}

::ng-deep .multiselect-dropdown .dropdown-btn::before,
::ng-deep .multiselect-dropdown .dropdown-btn span::before {
  display: none !important;
}

/* Đặt lại các thuộc tính của phần tử cha nếu cần */
::ng-deep .multiselect-dropdown .dropdown-list-wrapper {
  border: none !important;
}

/* Tùy chỉnh phần tử danh sách nếu cần */
::ng-deep .multiselect-dropdown .dropdown-list {
  border: 1px solid #E6EDFA !important;
  background-color: #FFF;
}

.delete-doi-tac-div {
  margin-left: 10px;
  border: 1px solid #C6D2EA !important;
  border-radius: 6px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.text-delete-doi-tac {
  white-space: nowrap;
}

.custom-select-wrapper {
  display: inline-block;

  .custom-select {
    appearance: none; /* Loại bỏ kiểu dáng mặc định */
    -webkit-appearance: none; /* Cho trình duyệt webkit */
    -moz-appearance: none; /* Cho trình duyệt Firefox */
    border: none; /* Xóa bỏ đường viền */
    background: transparent; /* Nền trong suốt */
    padding: 10px 18px 10px 0px; /* Điều chỉnh padding để có khoảng trống cho mũi tên */
    font-size: 12px; /* Kích thước chữ */
    font-weight: 700;
    line-height: 21px; /* Chiều cao dòng */
    cursor: pointer;
    background-image: url('../../../../../assets/img/arrow-down.png'); /* Thêm hình nền cho mũi tên  arrow-down.png*/
    background-repeat: no-repeat;
    background-position: right 0px center; /* Căn chỉnh hình nền mũi tên */
    background-size: 16px; /* Đặt kích thước của mũi tên */

    &:focus {
      outline: none; /* Xóa bỏ viền khi focus */
    }
  }
}
