<div class="container-fluid">
    <div class="col-md-12">
      <div *ngIf="this.searchPackRole === true" class="input-line search">
        <img src="../../assets/img/icon_search.svg" class="input-img" />
        <input type="text" id="filter_name" [value]="filter_name" class="input-text" placeholder="{{'Nhập từ khóa tìm kiếm theo tên gói dịch vụ' | translate}}"
        (keyup)="autoSearch($event)" />
        <img src="../../assets/img/icon_search_group.svg" class="input-img"  (click)="search()"/>
      </div>
    </div>
    <div class="col-md-12 btn_search">
      <button *ngIf="this.addPackRole === true" class="btn btn-lg btn-block btn_submit" (click)="addPack()">{{'btn.add' | translate }}</button>
    </div>  
    <div class="row" style="padding-top: 10px;">
      <p-table [value]="listData" [paginator]="true" [rows]="15" id="table" [autoLayout]="true">
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of cols" [style]='col.style'>
                {{col.header | translate}}
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <tr>
                <td><a style="color: #0160AE; cursor: pointer;" (click)="detailPack(list.id)">{{list.name}}</a></td>
                <td>{{list.code}}</td>
                <td>{{list.time}}</td>
                <td>{{list.numberContract}}</td>
                <td>{{list.price}}</td>
                <td style="text-align: center">
                  <img *ngIf="this.editPackRole === true" src="../../../assets/img/icon_edit.svg" (click)="editPack(list.id)" width="20px" style="cursor: pointer;"/>&nbsp;&nbsp;
                  <img *ngIf="this.deletePackRole === true" src="../../../assets/img/icon_delete.svg" (click)="deletePack(list.id)" width="16px" style="cursor: pointer;"/>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="paginatorleft" let-state>
          <span style="color: white !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
        </ng-template>
        <ng-template pTemplate="paginatorright" let-state>
          <span style="color: #0160AE !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
        </ng-template> 
      </p-table>
    </div>
  </div>
   
    