<div style="text-align:center">

  <div *ngIf="this.title != 1">
    {{this.data.title}}
  </div>

  <div *ngIf="this.title == 1">
    Nhận dạng khuôn mặt
  </div>

  <div *ngIf = "!webcamImage || this.flagSuccess == false">
    <webcam [height]="200" [width]="600" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="videoOptions"
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Chụp ảnh</button>
  </div>
  <div  *ngIf="webcamImage && this.flagSuccess == true">
    <img [height]="200" [width]="200"  [src]="webcamImage.imageAsDataUrl"/>
  </div>
</div>

