<div style="text-align:center">

  <div *ngIf="this.title != 1">
    {{this.data.title}}
  </div>

  <div *ngIf="this.title == 1">
    Nhận dạng khuôn mặt
  </div>

  <div *ngIf = "!webcamImage && !this.flagSuccess">
    <webcam [height]="200" [width]="266" [trigger]="triggerObservable" (imageCapture)="handleImage($event)" *ngIf="showWebcam"
            [allowCameraSwitch]="allowCameraSwitch" [switchCamera]="nextWebcamObservable"
            [videoOptions]="{width:{exact: 266}, height: {exact: 200}}" 
            [imageQuality]="1"
            (cameraSwitched)="cameraWasSwitched($event)"
            (initError)="handleInitError($event)"
    ></webcam>
    <br/>
    <button class="actionBtn" (click)="triggerSnapshot();">Chụp ảnh</button>&nbsp;&nbsp;
    <button class="actionBtn" (click)="this.dialogRef.close()">Huỷ</button>
  </div>
  <div  *ngIf="webcamImage">
    <img [height]="200" [width]="200"  [src]="webcamImage.imageAsDataUrl"/>
  </div>
</div>


