::ng-deep .cdk-overlay-container .cdk-overlay-pane {

    @media screen and (min-width: 768px) {
        max-width: 800px;
    }
    @media screen and (max-width: 767px) {
        max-width: 190vw!important;
    }

}

::ng-deep .mat-dialog-container{
    background-color: #333333!important;
}


::ng-deep .webcam-image{
 .webcam-wrapper {
    margin-top: 25%;
    video{ 
        border-radius: 10px;
    }
}}

::ng-deep .webcam-image-circle{
    .webcam-wrapper {
       margin-top: 15%;
       video{ 
           border-radius: 50%;
       }
       .camera-switch {
        display: none;
       }
   }}


   @media screen and (max-width: 767px) {
    .ekyc-dialog {
        text-align: center;
        width: 190vw;
        height: 100vh;
        max-width: 100vw;
        max-height: 100vh;
        background-color: #333333;
    }
   }

   @media screen and (min-width: 768px) {
    .ekyc-dialog {
        text-align: center;
        width: 600px;
        height: 1200px;
        max-width: 600px;
        max-height: 1200px;
        background-color: #333333;
    }
    
   }


.title-dialog{
    position: absolute;
    top: 3%;
    color: white;
    display: flex;
    align-items: center;
    .back-icon {
        padding-left:5px;
        height: 20px;
    }
    div {
        padding: 5px;
        font-size: 15px;
    }
}


.webcam-image {
    border-radius: 10px;
    margin-top: 25%;
}

.webcam-image-circle {
    margin-top: 15%;
    .img-face {
        border-radius: 50%;
    }
}

.button-camera{
    position: absolute;
    bottom: 5%;
    display: flex;
    justify-content: space-around;
    width: 100%;
    .icon-cancel {
        width: 91px;
    }
    .icon-check {
        width: 91px;
    }
}

.noti {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    span {
        text-align: center;
        color: white;
        width: 60%;
    }

}

@media screen and (min-width: 768px){
    ::ng-deep .cdk-overlay-container .cdk-overlay-pane {
        max-width: 190vw!important;
    }
}