<div class="container-fluid" style="border-bottom: 1px solid #87CAFF; padding: 0">
  <div class="logo-econtract" style="cursor: pointer" (click)="comeBack()" [style.width]="datas.step == 'infor-coordination' ? '24.36%' : '100%'">
    <img src="assets/img/EC_new_logo.png" alt="eContract.mobifone">
  </div>
  <div *ngIf="this.datas.step == 'infor-coordination'" class="title-eContract-sign label" [style.width]="datas.step == 'infor-coordination' ? '75.64%' : ''" style="background-color: #F2F2F2">
    THÔNG TIN HỢP ĐỒNG
  </div>
</div>
