.container-fluid {
  display: flex;
  .logo-econtract {
    //width: 24.36%;
    > img {
      width: 172px;
      height: 62px;
    }
  }

  .title-eContract-sign {
    //width: 75.64%;
    display: flex;
    align-items: center;
    padding-left: 21px;
    color: #106DB6;
  }

}

