.form-input-line {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .form-input-img {
    padding: 10px;
    background: #eff2f5;
    border-radius: 5px 0 0 5px;
  }
  .form-input-text {
    border: 0;
    background: #EFF2F5;
    padding: 10px;
    width: 100%;
    outline:0px;
    border-radius: 0 5px 5px 0;
  }
  .form-icon-password{
    top: 10px;
    right: 20px;
    position: absolute;
  }
  .cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
}
.required-title, .invalid {
    color: red;
}