<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{'change.password' | translate}}</h3>
      <span>{{'weak.pass' | translate}}</span>
    </div>

    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="label text-color">{{'login.password_old' | translate }} <span class="required-title">*</span></div>
                <div class="form-input-line">
                    <img src="../../assets/img/login_password.svg" class="form-input-img">
                    <input
                        [type]="fieldTextTypeOld ? 'text' : 'password'"
                        class="form-input-text"
                        formControlName="passwordOld"
                    />
                    <div class="form-icon-password">
                        <i
                            class="fa"
                            [ngClass]="{
                            'fa-eye-slash': !fieldTextTypeOld,
                            'fa-eye': fieldTextTypeOld
                            }"
                            (click)="toggleFieldTextTypeOld()"
                        ></i>
                    </div>
                </div>
                <div *ngIf="submitted && f.passwordOld.errors" class="invalid">
                    <div *ngIf="f.passwordOld.errors.required">{{"old.password.not.blank" | translate}}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label_item">{{'login.password_new' | translate }} <span class="required-title">*</span></div>
                <div class="form-input-line">
                    <img src="../../assets/img/login_password.svg" class="form-input-img">
                    <input
                        [type]="fieldTextTypeNew ? 'text' : 'password'"
                        class="form-input-text"
                        formControlName="passwordNew"
                    />
                    <div class="form-icon-password">
                        <i
                        class="fa"
                        [ngClass]="{
                            'fa-eye-slash': !fieldTextTypeNew,
                            'fa-eye': fieldTextTypeNew
                        }"
                        (click)="toggleFieldTextTypeNew()"
                        ></i>
                    </div>
                </div>
                <div *ngIf="submitted && f.passwordNew.errors" class="invalid">
                    <div *ngIf="f.passwordNew.errors.required">{{'new.password.not.blank' | translate }}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label_item">{{'login.password_new.confirm' | translate }} <span class="required-title">*</span></div>
                <div class="form-input-line">
                    <img src="../../assets/img/login_password.svg" class="form-input-img">
                    <input
                        [type]="repeatFieldTextTypeNew ? 'text' : 'password'"
                        class="form-input-text"
                        formControlName="confirmPasswordNew"
                    />
                    <div class="form-icon-password">
                        <i
                        class="fa"
                        [ngClass]="{
                            'fa-eye-slash': !repeatFieldTextTypeNew,
                            'fa-eye': repeatFieldTextTypeNew
                        }"
                        (click)="toggleRepeatFieldTextTypeNew()"
                        ></i>
                    </div>
                </div>
                <div *ngIf="submitted && f.confirmPasswordNew.errors" class="invalid">
                    <div *ngIf="f.confirmPasswordNew.errors.required">{{'confirm.new.password.not.blank' | translate }}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <p class="alert alert-danger" role="alert" *ngIf="errorDetail != null" style="text-align: center;">
                    <strong>{{errorDetail | translate}}</strong>
                </p>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button *ngIf="data.weakPass" class="cancel-button" (click)="dialog.closeAll()" type="button">{{'cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{ "btn.save" | translate }}</button>
        </div>
    </form>
</div>
