<!--xử lý gọi các component trong các step theo từng điều kiện-->
<div>
  <app-contract-header #contractHeader [AddComponent]="this" [datas]="datas" [step]="stepLast"></app-contract-header>
  <ng-container>
    <app-determine-signer #determineSigner *ngIf="stepLast == 'determine-contract'" [datas]="datas" [step]="stepLast"
      (stepChangeDetermineSigner)="getStep($event)"></app-determine-signer>
    <app-sample-contract #sampleContract *ngIf="stepLast == 'sample-contract'" [datas]="datas" [step]="stepLast"
      (stepChangeSampleContract)="getStep($event)"></app-sample-contract>
    <app-confirm-info-contract #confirmInforContract *ngIf="stepLast == 'confirm-contract'" [datas]="datas"
      [step]="stepLast" (stepChangeConfirmInforContract)="getStep($event)"></app-confirm-info-contract>
  </ng-container>
</div>