.content .skeleton-sign {
  //height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.skeleton-sign-value {
  position: absolute;
  bottom: 0px;
  left: 0px;
}

.input-edit-text {
  width: 101%;
  border: 1px solid #106DB6;
  padding: 4px;
  margin-left: -1px;
  border-radius: 3px;
}
