<div (click)="doSign()" *ngIf="sign.sign_unit == 'chu_ky_anh' && ((!checkShowEdit && !sign.valueSign) && !otpValueSign)" class="content">
  <div class="stamp-content item-left">
    <img src='assets/img/stamp.svg' alt="mobifone.contract">
    <div class="font-sign">Chữ ký ảnh</div>
  </div>
  <div class="sign-info-content item-right" style="margin-left: 5px;">
    <img src='assets/img/only_info.svg' alt="mobifone.contract">
    <div class="font-sign">Thông tin chữ ký ảnh</div>
  </div>
</div>

<div class="skeleton-sign" (click)="doSign()" *ngIf="sign.sign_unit == 'chu_ky_anh' && (checkShowEdit && !sign.valueSign && !otpValueSign)">
  <img [src]="sign.sign_unit == 'chu_ky_anh' ? 'assets/img/stamp.svg' : 'assets/img/img_sign_number.svg'" alt="mobifone.contract">
</div>

<div *ngIf="sign.sign_unit == 'chu_ky_anh' && (otpValueSign || countOtpBox > 0)" (click)="doSign()">
  <img [src]="otpValueSign" alt="mobifone.contract" style="width: auto" [width]="sign.width ? sign.width : '100px'" [height]="sign.height ? sign.height : '54px'">
</div>

<div (click)="doSign()" *ngIf="sign.sign_unit == 'chu_ky_so' && (sign.type_image_signature == 3|| sign.type_image_signature == null)" class="content">
  <div class="stamp-content item-left">
    <img src='assets/img/stamp.svg' alt="mobifone.contract">
    <div class="font-sign">Con dấu/ Chữ ký</div>
  </div>
  <div class="sign-info-content item-right" style="margin-left: 5px;">
    <img src='assets/img/only_info.svg' alt="mobifone.contract">
    <div class="font-sign">Thông tin chữ ký số</div>
  </div>
</div>

<div (click)="doSign()" *ngIf="sign.sign_unit == 'chu_ky_so' && sign.type_image_signature == 2" style="width: 100%;">
  <div class="stamp-content item-left" style="flex-basis: 100% !important; margin-right: 0px !important">
    <img src='assets/img/stamp.svg' alt="mobifone.contract">
    <div class="font-sign">Con dấu/ Chữ ký</div>
  </div>
</div>

<div (click)="doSign()" *ngIf="sign.sign_unit == 'chu_ky_so' && sign.type_image_signature == 1" style="width: 100%;">
  <div class="sign-info-content item-right" style="flex-basis: 100% !important;">
    <img src='assets/img/only_info.svg' alt="mobifone.contract">
    <div class="font-sign">Thông tin chữ ký số</div>
  </div>
</div>

<!-- ô text -->
<div *ngIf="sign.sign_unit == 'text' && sign.text_type != 'currency'" [ngStyle]="getStyle(sign)">

  <div class="skeleton-sign" (click)="doEditText()" *ngIf="!checkShowEdit && !sign.valueSign">
    <span style="text-align: left;" [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>

  <div class="skeleton-sign-value" (click)="doEditText()" *ngIf="!checkShowEdit && sign.valueSign">
    <span id="input-text" [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>

  <div class="skeleton-sign" *ngIf="checkShowEdit">
    <input type="text" class="input-edit-text" [(ngModel)]="sign.valueSign" (blur)="doneEditTextSign()" #inputEditText>
  </div>
</div>


<!-- Ô tiền -->
<div class="text-sign" *ngIf="sign.sign_unit == 'text' && sign.text_type == 'currency'">

  <div class="skeleton-sign" (click)="doEditText()" *ngIf="!checkShowEdit && !sign.valueSign">
    <span [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>

  <div class="skeleton-sign-value" (click)="doEditText()" *ngIf="!checkShowEdit && sign.valueSign">
    <span id="input-text" [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>
  <div *ngIf="checkShowEdit">
    <input type="text" oninput="this.value = this.value.replace(/\D/g, '');" class="input-edit-text"
           [(ngModel)]="sign.valueSign" (blur)="doneEditTextSign($event)" #inputEditText>
  </div>
</div>

<!--Số tài liệu-->
<div *ngIf="sign.sign_unit == 'so_tai_lieu'" [ngStyle]="getStyle(sign)">
  <div class="skeleton-sign" (click)="doEditContractNo()"
       *ngIf="!contractNoValue && count == 0 && (!sign.valueSign && !sign.value && !contractNoValueSign) && !view">
    <span style="text-align: left;" id="input-text" *ngIf="!sign.valueSign">{{getText(sign)}} 2</span>
  </div>

  <div class="skeleton-sign" *ngIf="view">
    <span style="text-align: left;" id="input-text" *ngIf="!sign.valueSign">{{getText(sign)}} 3</span>
  </div>

  <div class="skeleton-sign-value" (click)="doEditContractNo()"
       *ngIf="!contractNoValue && count == 0 && (this.contractNoValueSign || sign.value || sign.valueSign) && !view">
  <span style="text-align: left;" class="input-text">{{getText(sign)}} 4</span>
  </div>

  <div class="skeleton-sign" *ngIf="contractNoValue || count > 0 && !view">
    <input [ngStyle]="getStyle(sign)" type="text" class="input-edit-text" [(ngModel)]="contractNoValueSign"
           (blur)="doneEditContractNoSign(sign, $event)" #inputEditContractNo>
  </div>
</div>




