<div id="image-sign-contract-component" *ngIf="sign.sign_unit == 'chu_ky_so' || sign.sign_unit == 'chu_ky_anh'" class="content">
  <div class="skeleton-sign" (click)="doSign()" *ngIf="!checkShowEdit && !sign.valueSign">
    <img [src]="sign.sign_unit == 'chu_ky_anh' ? 'assets/img/img_drag.svg' : 'assets/img/img_sign_number.svg'" alt="mobifone.contract">
    <span style="color: #106DB6;" *ngIf="sign.sign_unit == 'chu_ky_anh'; then content else other_content"></span>
    <ng-template #content>{{'sign.image.ekyc' |translate}}</ng-template>
    <ng-template #other_content>{{'sign.digital'|translate}}</ng-template>
  </div>

  <div class="skeleton-sign" (click)="doSign()" *ngIf="checkShowEdit && !sign.valueSign">
    <img [src]="sign.sign_unit == 'chu_ky_anh' ? 'assets/img/img_drag.svg' : 'assets/img/img_sign_number.svg'" alt="mobifone.contract">
  </div>

  <div *ngIf="sign.valueSign" (click)="doSign()">
    <img [src]="sign.valueSign" alt="mobifone.contract" [width]="sign.width ? sign.width : '100px'" [height]="sign.height ? sign.height : '54px'">
  </div>
</div>

<!-- ô text -->
<div class="text-sign" *ngIf="sign.sign_unit == 'text'">
  
  <div class="skeleton-sign" (click)="doEditText()" *ngIf="!checkShowEdit && !sign.valueSign">
    <span [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>

  <div id="text-sign" class="skeleton-sign-value" (click)="doEditText()" *ngIf="!checkShowEdit && sign.valueSign">
    <span id="input-text" [ngbTooltip]="sign.valueSign ? sign.valueSign : ''">{{getText(sign)}}</span>
  </div>
  <div  class="skeleton-sign" *ngIf="checkShowEdit">
    <input type="text" class="input-edit-text" [(ngModel)]="sign.valueSign" (blur)="doneEditTextSign()" #inputEditText>
  </div>
</div>

<!--Số hợp đồng-->
<div class="text-sign" *ngIf="sign.sign_unit == 'so_tai_lieu'">
  <div class="skeleton-sign" (click)="doEditContractNo()" *ngIf="!contractNoValue && count == 0 && (!sign.valueSign && !sign.value && !contractNoValueSign) && !view">
    <span id="input-text" *ngIf="!sign.valueSign">{{getText(sign)}}</span>
  </div>

  <div class="skeleton-sign" *ngIf="view">
    <span id="input-text" *ngIf="!sign.valueSign">{{getText(sign)}}</span>
  </div>

  <div id="text-sign" class="skeleton-sign-value" (click)="doEditContractNo()" *ngIf="!contractNoValue && count == 0 && (this.contractNoValueSign || sign.value || sign.valueSign) && !view">
    <span class="input-text">{{getText(sign)}}</span>
  </div>

  <div class="skeleton-sign" *ngIf="contractNoValue || count > 0 && !view">
    <input (click)="reverseInput($event)" [ngStyle]="getStyle(sign)" type="text" class="input-edit-text" [(ngModel)]="contractNoValueSign" (blur)="doneEditContractNoSign(sign, $event)" #inputEditContractNo>
  </div>
</div> 



