.content .skeleton-sign {
  //height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.skeleton-sign-value {
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.skeleton-sign-value1 {
  display: none;
}

.input-edit-text {
  width: 101%;
  // border: 1px solid #106DB6;
  padding: 4px;
  margin-left: -1px;
  border-radius: 3px;
  border: none;
  color: black;
}
