.content {
  width: 100%;
  height: 100%;
}
.content .skeleton-sign {
  width: 100%;
  height: 100%;
}


.skeleton-sign-value {
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 5px;
}

.skeleton-sign-value1 {
  display: none;
}

.input-edit-text {
  width: 101%;
  border: 1px solid #106DB6;
  // padding: 4px;
  margin-left: -1px;
  border-radius: 3px;
  border: none;
  color: black;
  text-align: left;
}

.input-edit-text:focus {
  outline: none;
  border: none;
}

.stamp-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  background-color: #E6EDFA;
  border-radius: 6px;
  height: 100%;
}
.stamp-content1 {
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  background-color: #f4f6f9;
  border-radius: 6px;
  height: 100%;
}

.sign-info-content {
  flex-basis: 66.66%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #EBF8FF;
  border-radius: 6px;
  color: #106DB6;
  // font-family: Lexend Deca !important;
  font-size: 9px;
  font-weight: 400;
  letter-spacing: 0px;
}
.stamp-type {
  background: #C7E8FA !important;
}
.left-stamp {
  width: 40% ;
  background: #C7E8FA;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  flex: 1 1 auto;
  margin: 2px;
}
.right-stamp {
  width: 60%;display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  flex: 1 1 auto;
  margin: 2px;
  background: #E6EDFA;
}
.text-stamp {
  color: #286CF5;
  font-size: 6px
}

.content {
  //height: 102px;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // flex-direction: column;
  display: flex;
  width: 100%;
  height: 100%;
  // padding: 4px;
}

.stamp-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  background-color: #E6EDFA;
  border-radius: 6px;
  height: 100%;
}
.stamp-content1 {
  align-items: center;
  justify-content: center;
  flex-basis: 33.33%;
  background-color: #f4f6f9;
  border-radius: 6px;
  height: 100%;
}
.content .skeleton-sign {
  width: 100%;
  height: 100%;
}
.d-unset {
  display: unset !important;
}

.item-left, .item-right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.item-left {
  background-color: #C7E8FA !important;
}

.item-right {
  background-color: #E6EDFA !important;
}

.item img {
  max-width: 100%; /* Đặt kích thước ảnh phù hợp */
}

.font-sign {
  font-size: 6px;
  font-weight: 400;
  line-height: 18px;
  color: #286CF5;
}