.content .skeleton-sign {
  //height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

// .text-sign span {
//   width: 125px;
//   border: 0px;
//   height: 25px;
//   outline: none;
//   //color: #106DB6;
//   overflow: hidden;
//   white-space: nowrap;
//   text-overflow: ellipsis;
//   max-width: 100px;
//   display: block;
// }

.input-edit-text {
  width: 101%;
  border: 1px solid #106DB6;
  padding: 4px;
  margin-left: -1px;
  border-radius: 3px;
}
