.btn_submit{
  border: 1px solid rgba(0, 26, 77, 0.10);
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  color: white;
  background: var(--Primary, #0041C4);
  font-size: 13px;
  margin: 0 20px;
  font-style: normal;
  font-weight: 700;
  width: 130px;
}

.btn_search1{
  border-radius: 8px;
  border: 1px solid rgba(0, 26, 77, 0.10);
  height: 35px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFF;
  font-size: 13px;
  margin: 0 0px;
  font-style: normal;
  font-weight: 700;
  width: 130px;
}

.container-fluid{
  background-color: #FFFFFF;
  border-radius: 12px;
}

.input_text {
  border: 0.5px solid #F1F5FE;
  margin: 0px;
  width: 100%;
  height: 42px;
  outline:0px;
  background-color: #F1F5FE;
  padding: 10px 16px 10px 16px;
  opacity: 0px;
  border-radius: 8px;
  font-weight: 400;
}
.btn_search{
  align-self: flex-end;
}

#table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  // font-family: font_lexend_deca;
}
#table td, #table th {
  border: 0px;
  padding: 12px 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  //text-align: center;
  background: #EBF2FB;
  color: #0041C4;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.525px;
  height: 44px;
}

#table tr:last-child th:first-child {
  border-top-left-radius: 10px;
}
#table tr:last-child th:last-child {
  border-top-right-radius: 10px;
}
#table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

:host ::ng-deep {
  .pi-fw {
    color:  #106DB6;
    margin-right: 5px;
  }
  
  .p-paginator{
    background-color: #F3F6FA !important;
  }

  .p-paginator .p-paginator-pages .p-paginator-page{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    height: 26px !important;
    width: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2199e8;
    color: white;
    border: 1px solid #2199e8;
  }

  .p-paginator-bottom .p-ripple{
    padding: 10px;
    border-width: 0 !important;
    height: 26px !important;
    width: 50px !important;
  }

  .p-datatable-table, .ng-star-inserted{
    font-size: 13px;
    // font-family: font_lexend_deca;
  }
  .p-datatable .p-paginator-bottom {
    border-width: 0;
  }
}

.col-lg-5-45 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc((100% - var(--width-button)) / 2) !important
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}

.col-lg-4-9 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc((100% - var(--width-button) * 2) / 2) !important
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}

.col-lg-1-1 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: var(--width-button) !important;
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}

