<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

<div id="all" *ngIf="this.mobile == false && !isSSOlogin" class="all">

  <div [ngStyle]="backgroundLoginWeb()" class="full-height d-flex flex-row">
    <div ngbDropdown class="d-inline-block header_language">
      <div class="social-icons" ngbDropdownToggle>
        <span class="{{ 'language_icon' | translate }}"></span>
        <div class="label">{{ "language" | translate }}</div>
      </div>

      <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu">
        <button ngbDropdownItem class="drop" (click)="switchLang('en')">
          <div style="display: flex; align-items: center">
            <div class="db_user">
              <div class="db_icon_english"></div>
            </div>
            <div>{{ "language_en" | translate }}</div>
          </div>
        </button>
        <button ngbDropdownItem class="drop" (click)="switchLang('vi')">
          <div style="display: flex; align-items: center">
            <div class="db_user">
              <div class="db_icon_vietnam"></div>
            </div>
            <div>{{ "language_vi" | translate }}</div>
          </div>
        </button>
      </div>
    </div>

    <div class="right-panel">
      <div class="login-form">
        <div id="login-form">
          <div class="small-logo d-flex flex-column justify-content-center">
            <div>
              <img
                src="../../assets/img/EClogo.png"
                width="300px"
                style="max-width: 50%;"
              />
            </div>
          </div>
          <br>
          <div>
            <div class="login">{{ "login" | translate }}</div>
          </div>
       
          <div style="margin-top: 5px;">
            <div class="infor-login">{{ "infor.login" | translate }}</div>
          </div>
          
          <br>
          <div class="input-form ng-touched ng-pristine ng-invalid">
            <form class="form-signin" [formGroup]="loginForm">
              <div *ngIf="type == 1" class="form-group note">
                {{ "login.note.user" | translate }}
              </div>
              <div class="form-group" style="padding-bottom: 15px;">
                <div class="input-line">
                  <img src="../../assets/img/user_icon_login.svg" class="input-img" />
                  <input
                    type="text"
                    id="username"
                    placeholder="{{ 'login.username' | translate }}"
                    formControlName="username"
                    class="input-text input-text-login"
                  />
                </div>
              </div>

              <div class="form-group" style="padding-bottom: 15px;">
                <div class="input-line">
                  <img
                    src="../../assets/img/pass_icon_login.svg"
                    class="input-img"
                  />
                  <input
                    [type]="fieldTextType ? 'text' : 'password'"
                    placeholder="{{ 'login.password' | translate }}"
                    formControlName="password"
                    class="input-text input-text-login"
                  />
                  <div class="icon-password">
                    <i
                      class="fa"
                      [ngClass]="{
                        'fa-eye-slash': !fieldTextType,
                        'fa-eye': fieldTextType
                      }"
                      (click)="toggleFieldTextType()"
                      style="color: #F0F0F0"
                    ></i>
                  </div>
                </div>
              </div>

              <div class="form-group" *ngIf="captcha" style="padding-bottom: 15px;">
                <label style="color: #FFFFFF;">Captcha</label>
                <div id="preview" class="preview" #previewCaptcha></div>
                <div class="input-line">
                  <input formControlName="captchaName" class="input-captcha" type="text" placeholder="{{'enter.captcha' | translate}}"/>
                  <button (click)="generateCaptcha()">
                    <i class="fa fa-refresh"></i>
                  </button>
                </div>
              </div>

              <div *ngIf="this.type != 1" class="form-group forgot-password">
                <a href="/forgot-password" 
                  >{{ "login.forgot_password" | translate }}?</a
                >
              </div>

              <div class="form-group" style="padding-bottom: 15px;">
                <p class="alert alert-danger" role="alert" *ngIf="error" style="text-align: center">
                  <strong>{{ errorDetail | translate }}</strong>
                </p>
              </div>

              <div class="form-group sub-login" style="padding-bottom: 15px;">
                <button class="btn btn-lg btn-block" (click)="loginUser()">
                  {{ "login" | translate }}
                </button>
              </div>

              <!-- <div *ngIf="isNB" class="form-group sign-up">
                <b>{{ "signup.not_account" | translate }}?</b>&nbsp;<a
                  href="/signup"
                  >{{ "signup" | translate }}</a
                >
              </div> -->
            </form>
            <div *ngIf="!isNB" class="form-signin" style="padding-bottom: 15px;">
              <div class="form-group">
                <div class="login_methods__title">
                  <div class="login_methods__title1"></div>
                  <span>
                    {{ 'login.method.title' | translate }}
                  </span>
                  <div  class="login_methods__title2"></div>
                </div>
                <div class="login_methods__list">
                  <div class="login-methods__item" (click)="loginSSO()">
                    <span class="login-methods__icon">
                      <img src="../../assets/img/shield-security.svg">
                    </span>
                    SSO
                  </div>
                </div>
              </div>
            </div>
            <!-- SSO -->
          </div>
        </div>
      </div>
    </div>

    <div class="slogan" [ngStyle]="getStyleFooter()">
      <div class="bg-footer-login">
        <div class="footer-text" style="padding-left: 1%;">
          <span class="copyright">
            <img src="../../assets/img/solar_copyright-line-duotone.svg">
            {{'footer_text' | translate}}
          </span>
        </div>
        <div class="footer-image" style="padding-right: 1%;">
          <span class="">
            <img src="../../assets/img/thumb-CeCA.png" style="width: 190px; height: 46px; top: 9px">
          </span>
        </div>
      </div>
    </div>
  </div>
</div>



<div *ngIf="this.mobile == true && !isSSOlogin" class="all">
  <div [ngStyle]="backgroundLoginMobile()" class="full-height">
    <!-- <div class="left-background-mobile"></div> -->
    <div class="right-panel-mobile">
      <div ngbDropdown class="d-inline-block header_language">
        <div class="social-icons" ngbDropdownToggle>
          <span class="{{ 'language_icon' | translate }}"></span>
          <div class="label">{{ "language" | translate }}</div>
        </div>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu">
          <button ngbDropdownItem class="drop" (click)="switchLang('en')">
            <div style="display: flex; align-items: center">
              <div class="db_user">
                <div class="db_icon_english"></div>
              </div>
              <div>{{ "language_en" | translate }}</div>
            </div>
          </button>
          <button ngbDropdownItem class="drop" (click)="switchLang('vi')">
            <div style="display: flex; align-items: center">
              <div class="db_user">
                <div class="db_icon_vietnam"></div>
              </div>
              <div>{{ "language_vi" | translate }}</div>
            </div>
          </button>
        </div>
      </div>
      <div class="login-form-mobile">
        <div class="small-logo d-flex flex-column justify-content-center">
          <div>
            <img
              src="../../assets/img/EClogo.png"
              width="250px"
              style="max-width: 50%; margin-left: 5%;"
            />
          </div>
        </div>
        <br>
        <div class="input-form ng-touched ng-pristine ng-invalid">
          <form class="form-signin_mobile" [formGroup]="loginForm">
            <div>
              <div>
                <div class="login">{{ "login" | translate }}</div>
              </div>
            </div>
            <div *ngIf="type == 1" class="form-group note">
              {{ "login.note.user" | translate }}
            </div>
            <br>
            <div class="form-group" style="padding-bottom: 15px;">
              <div class="input-line">
                <img src="../../assets/img/user_icon_login.svg" class="input-img" />
                <input
                  type="text"
                  id="username"
                  placeholder="{{ 'login.username' | translate }}"
                  formControlName="username"
                  class="input-text"
                />
              </div>
            </div>

            <div class="form-group" style="padding-bottom: 15px;">
              <div class="input-line">
                <img src="../../assets/img/pass_icon_login.svg" class="input-img"/>
                <input
                  [type]="fieldTextType ? 'text' : 'password'"
                  placeholder="{{ 'login.password' | translate }}"
                  formControlName="password"
                  class="input-text"
                />
                <div class="icon-password">
                  <i
                    class="fa"
                    [ngClass]="{
                      'fa-eye-slash': !fieldTextType,
                      'fa-eye': fieldTextType
                    }"
                    (click)="toggleFieldTextType()"
                    style="color: #F0F0F0"
                  ></i>
                </div>
              </div>
            </div>

            <div class="form-group" *ngIf="captcha" style="padding-bottom: 15px;">
              <label style="color: #FFFFFF;">Captcha</label>
              <div id="preview" class="preview" #previewCaptcha></div>
              <div class="input-line">
                <input formControlName="captchaName" class="input-captcha" type="text" placeholder="{{'enter.captcha' | translate}}"/>
                <button (click)="generateCaptcha()">
                  <i class="fa fa-refresh"></i>
                </button>
              </div>
            </div>

            <div class="form-group forgot-password">
              <a href="/forgot-password"
                >{{ "login.forgot_password" | translate }}?
              </a>
            </div>

            <div class="form-group" style="padding-bottom: 15px;">
              <p class="alert alert-danger" role="alert" *ngIf="error" style="text-align: center">
                <strong>{{ errorDetail | translate }}</strong>
              </p>
            </div>

            <div class="form-group sub-login" style="padding-bottom: 15px;">
              <button class="btn btn-lg btn-block" (click)="loginUser()">
                {{ "login" | translate }}
              </button>
            </div>

            <!-- <div *ngIf="isNB" class="form-group sign-up">
              <b>{{ "signup.not_account" | translate }}?</b>&nbsp;<a
                href="/signup"
                >{{ "signup" | translate }}</a
              >
            </div> -->
          </form>
          
          <div *ngIf="!isNB" class="form-signin" style="padding-bottom: 15px;">
            <div class="form-group">
              <div class="login_methods__title">
                <div class="login_methods_mobile__title1"></div>
                <span>
                  {{ 'login.method.title' | translate }}
                </span>
                <div class="login_methods_mobile__title2"></div>
              </div>
              <div class="login_methods__list">
                <div class="login-methods__item" (click)="loginSSO()">
                  <span class="login-methods__icon">
                    <img src="../../assets/img/shield-security.svg">
                  </span>
                  SSO
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- <div>
          <div class="bg-footer-login"></div>
        </div> -->
      </div>
    </div>
  </div>
</div>

<div *ngIf="!isNB && isSSOlogin">
  <h2>Đang tải dữ liệu...</h2>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 18px; color: white">{{'Đang tải dữ liệu' | translate}}...</p>
  </ngx-spinner>
  <html><body><script>parent.postMessage(location.href, location.origin)</script></body></html>
</div>