body {
  height: 100%;
  background: #f7f7f7;
}
.container{
  background: white;
}
.content_header{
  height: 50px;
}
.content_body{
  height: calc(100vh - 214px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.content_footer{
  height: 164px;
}
.header_language {
  float: right;
  padding: 5px;
}
.form-signin {
  width: 60%;
  margin: 0 auto;
}
.bg {
  background-image: url("../../assets/img/digital_sign.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-group{
  margin: 20px;
}
.col-md-6 {
  padding: 0px;
}
.bg-header{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-header-login{
  background-image: url(../../assets/img/logo_eContract_21.svg);
  height: 100px;
  width: 300px;
  background-repeat: no-repeat;
  background-size: cover;
}
.bg-footer-login {
  background-image: url(../../assets/img/foot_login.svg);
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
.btn-block {
  background-color: #106DB6;
  color: white;
  height: 40px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  padding: 10px;
  background: #eff2f5;
  border-radius: 5px 0 0 5px;
}
.input-text {
  border: 0;
  background: #EFF2F5;
  padding: 10px;
  width: 100%;
  outline:0px;
  border-radius: 0 5px 5px 0;
}
.icon-password{
  top: 10px;
  right: 20px;
  position: absolute;
}
.forgot-password{
  text-align: right;
  a{
    text-decoration: none;
    color: #7b7a7a;
    font-weight: 500;;
    cursor: pointer;
  }
}
.sub-login{
  text-align: center;
}
.sign-up{
  text-align: center;
  a{
    text-decoration: none;
    color: #7b7a7a;
    font-weight: 500;
    cursor: pointer;
  }
}

//drop down multi language
.social-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #C2E4FF;
  border-radius: 5px;
}
.social-icons .label{
  color: #106DB6;
  margin-left: 10px;
}
.social-icons:hover {
  background: #f3f8ff;
}
.dropdown-toggle::after {
  display:none;
}
.drop_menu{
  border-color: #C2E4FF;
  padding: 0;
  font-size: inherit;
  right: 10px;
  left: unset !important;
}
.drop{
  padding: 10px;
  color:#106DB6;
}
.db_user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  margin-right: 5px;
}
.db_icon_english {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon_english.svg);
}
.db_icon_vietnam {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon_vietnam.svg);
}
