.form-signin {
  width: 60%;
  margin: 0 auto;
}

.form-signin .btn {
  border-radius : 5rem;
  letter-spacing: .1rem;
}

body, html {
  height: 100%;
  margin: 0;
  padding:0;
  background: #f7f7f7;
}
.bg {
  background-image: url("../../assets/img/digital_sign.svg");
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.form-group{
  margin: 20px;
}
.col-md-6 {
  padding: 0px;
}


.bg-footer-login {
  background-image: url(../../assets/img/foot_login.svg);
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
}

.input-group {
    height: 40px;
}

.input-group-text{
  padding: 12px;
}

.btn-block {
  background-color: #106DB6;
  color: white;
  height: 40px;
  font-size: 14px;
}
