.all{
  background-color: #f9f9f9;
  // background: url("../../assets/img/BGeContract.png");
}
.header_language {
  position: absolute;
  right: 0px;
  padding: 5px;
}
.form-signin {
  max-width: 480px;
  margin: 0 auto;
}

.form-signin_mobile {
  max-width: 480px;
  margin: 0 auto;
  padding-top: 10%;
  padding-left: 5%;
  padding-right: 5%;
}

.login-form{
  padding-right: 40%;
  padding-left: 40%;
  padding-top: 15%;
}

#login-form{
  min-width: 370px;
}

.login-form-mobile{
  padding-top: 60%;
  padding-left: 5%;
  padding-right: 5%;
}

.form-group{
  // margin: 20px;
}
.bg-footer-login {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: space-between;
}

.slogan {
  width: 100%;
  max-height: 250px;
  position: absolute;
  bottom: 0%;
  font-weight: 800;
  font-size: 40px;
  line-height: 48px;
  color: #fff;
}

.copyright{
  font-size: 14px;
  color: #001A4DDB;
  font-weight: 400;
  // font-family: Roboto;
}

.btn-block {
  background-color: #FFFFFF;
  color: #0041C4;
  height: 40px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
  text-transform: uppercase;
}
.note{
  color: #bf6b03;
}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  padding: 10px;
  background: #FFFFFF1F;
  border-radius: 5px 0 0 5px;
}
.input-text {
  border: 0;
  background: #FFFFFF1F;
  color: #F0F0F0;
  padding: 10px;
  width: 100%;
  outline:0px;
  border-radius: 0 5px 5px 0;
}
input::placeholder {
  color: #F0F0F0; /* Màu của placeholder */
}
img {
  fill: #F0F0F0; /* Màu sắc bạn muốn thay đổi */
}
.icon-password{
  top: 10px;
  right: 20px;
  position: absolute;
}
.forgot-password{
  text-align: right;
  a{
    text-decoration: none;
    color: #F0F0F0;
    font-weight: 500;;
    cursor: pointer;
  }
}
.sub-login{
  text-align: center;
}
.sign-up{
  text-align: center;
  a{
    text-decoration: none;
    color: #106DB6;
    font-weight: 500;
    cursor: pointer;
  }
}

//drop down multi language
.social-icons {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #C2E4FF;
  border-radius: 5px;
}
.social-icons .label{
  color: #FFFFFF;
  margin-left: 10px;
}
.social-icons:hover {
  background: #FFFFFF1A;
}
.dropdown-toggle::after {
  display:none;
}
.drop_menu{
  border-color: #C2E4FF;
  padding: 0;
  font-size: inherit;
  right: 10px;
  left: unset !important;
  background-color: #FFFFFF1A;
}
.drop{
  padding: 10px;
  color:#FFFFFF;
}
.db_user{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  margin-right: 5px;
}

.drop:hover{
  background: #FFFFFF1A;
}

.db_icon_english {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon_english.svg);
}
.db_icon_vietnam {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/icon_vietnam.svg);
}

// ::ng-deep.mat-dialog-container {
//   padding: 5px 12px 30px 12px !important;
// }
.full-height {
  // background: #fff;
  // max-width: 1280px;
  position: relative;
  background: url("../../assets/img/BG.svg") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  // background-size: cover;
  width: 100%;
  height: 100%;
  // background-size: contain;
  margin: auto;
}
.full-height {
  min-height: 100vh;
}
.flex-row {
  flex-direction: row!important;
}
.d-flex {
  display: flex!important;
}
.left-background {

}

.left-background-mobile {
  position: relative;
  background: url("../../assets/img/login_webmobile.png") center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%;
  height: 50px;
  display: block;
}

.right-panel {
  width: 100%;
  height: calc(100vh);
  position: relative;
}

.right-panel-mobile {
  width: 100%;
  height: calc(100vh);
  position: relative;
  background-size: cover;
  background: url("../../assets/img/login_webmobile.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}
h
.small-logo {
  height: calc(20vh);
  // text-align: center;
}
.justify-content-center {
  justify-content: center!important;
}
.flex-column {
  flex-direction: column!important;
}
// .input-form {
//   position: relative;
//   max-width: 480px;
//   margin: auto;
// }



.input-captcha {
  border: 0;
  background: #EFF2F5;
  padding: 10px;
  width: 90%;
  outline:0px;
  border-radius: 0 5px 5px 0;
}

.captcha-refresh {
  // width: 40px;
  border: none;
  outline: none;
  background: #888;
  color:#eee;
  cursor: pointer;
}

.preview {
  color: #555;
  width: 100%;
  text-align: center;
  height: 40px;
  line-height: 40px;
  letter-spacing: 8px;
  border: 1px solid #888;
  font-family: monospace;
  margin-bottom: 5px;
}

.sso-btn {
  background-color: white;
  border: 1px #106DB6 solid;
  color: #106DB6;
  font-weight: bold;
}

.login_methods__title1 {
  
  height: 1px;
  // background-color: #C6D2EA;
  display: inline-block;
 
  width: 28%;
  border: 0.5px solid #F0F0F033;
}

.login_methods_mobile__title1{
  height: 1px;
  display: inline-block;
  width: 20%;
  border: 0.5px solid #F0F0F033;
  margin-left: 5%;
}

.login_methods__title2{
  height: 1px;
  display: inline-block;
  width: 28%;
  border: 0.5px solid #F0F0F033;
}

.login_methods_mobile__title2{
  height: 1px;
  display: inline-block;
  width: 20%;
  border: 0.5px solid #F0F0F033;
  margin-right: 5%;
}
.login_methods__title {
  text-align: center;
  // position: relative;
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  span {
    // background-color: #fff;
    padding-left: 10px;
    padding-right: 10px;
    // position: relative;
    // font-size: 13px;
    font-weight: 400;
    text-align: center;
    color: #C6D2EA;
  }
}

.login_methods__list {
  text-align: center;
  padding-top: 15px;
}

.login-methods__item {
  display: inline-block;
  width: 80px;
  color: #F0F0F0;
  

}

.login-methods__item:hover {
  cursor: pointer;
  color: #106DB6;
  .login-methods__icon {
    border-color: #106db657;
    // background-color: rgba(82,82,128,.09); 
    box-shadow: 0 0 6px 0 #106DB6;
  }
}

.login-methods__icon {
  display: block;
  width: 44px;
  height: 44px;
  border: 0.5px solid #1055E11A;
  border-radius: 12px;
  padding: 9px;
  margin: auto;
  box-shadow: 0px 3px 12px 0px #1055E11A;
  opacity: 0px;
  gap: 10px;
  background: #FFFFFF1A;

}
