<div class="container-fluid">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.data.title | translate}}</h3>
  </div>
  <div style="font-weight: bold; font-family: inherit;">
    <h4>File hợp đồng cũ có  <span style="font-weight: bold;">{{this.data.isPagePdfOld}} trang </span>và 
      <span style="font-weight: bold;">{{this.data.countTextSign}} ô text, ô ký </span>cần xử lý </h4>
      
    <h4>File hợp đồng mới có <span style="font-weight: bold;">{{this.data.isPagePdfNew}} trang</span></h4>
      
    <h4 style="color: crimson;">{{'confirm.clear.text.sign' | translate}}</h4>
  </div>
  <div class="row" style="justify-content: center;padding-top: 10px;">
      <button class="cancel-button" (click)="onClose()"  type="button">{{'btn.cancel' | translate}}</button>
      <button class="save-button" (click)="onSubmit()">{{'btn.accept' | translate}}</button>
  </div>
</div>