.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
  }
  .save-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
  }

  .radio-input {
    display: flex;
    align-items: center;
    margin-right: 15px;
    margin-bottom: 10px;
  }