.item_contract {
  border: 0.5px solid rgba(0, 65, 196, 0.10);
  border-radius: 8px;
  padding: 8px;
  line-height: 21px;
  margin-top: 12px;
}

.container-fluid-bg{
  background-color: #FFFFFF;
  width: 100%;
  border-radius: 12px;
  margin-left: 8px;
}
.item_contract:hover{
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  border: 1px solid #C3D7FF;
}

.item_contract_name {
  font-weight: 500;
  font-size: 14px;
  color: #001A4D;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.item_contract_created{
  color: #666666;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.item_contract_infor{
  color: #8E9AB0;
  font-size: 12px;
  line-height: 18px;
}

.item_contract_status{
  color: #8E9AB0;
  font-size: 12px;
}

.status_blue{
  color: #2D6BE7;
  background-color: #EEF5FF;
  padding: 5px 16px 0px 16px;
  width: 110px;
  height: 32px;
  display: inline-block;
  border-radius: 6px;
  font-weight: 700;
}

.header {
  position: fixed;
  top: 0;
  width: calc(100% - 290px);
  background: #fff;
  height: 100px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #106DB6;
  color: white;
  border: 1px solid #106DB6;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.input-group-text{
  padding: 8.5px;
}
.input-group-text i{
  color: #106DB6;
}
.calendar_create{
  text-align: center;
  color: #8E9AB0;
}
.calendar_deadline{
  text-align: center;
  color: #8E9AB0;
}
.item_date{
  padding-left: 3px;
}
.item_icon{
  text-align: center;
  color: #015393;
}
//popup
.popup_content{
  padding: 30px;
}
.popup_title{
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.popup_close{
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
  margin: 0 5px;
}
.btn_submit{
  width: 90px;
  font-size: inherit;
  background: #0041C4;
  color: #FFFFFF;
  border: 1px solid #0041C4;
  margin: 0 5px;
  padding: 2px;
  border-radius: 6px;
}
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}
.search{
  // border: 1px solid #106DB6;
  border-radius: 8px;
  height: 38px;
}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  padding: 5px;
  cursor: pointer;
}
.input-img-calendar {
  top: 10px;
  right: 15px;
  position: absolute;
}
.input-text {
  border: 0.5px solid #F1F5FE;
  margin: 0px;
  width: 100%;
  height: 42px;
  outline:0px;
  background-color: #F1F5FE;
  padding: 10px 16px 10px 16px;
  opacity: 0px;
  border-radius: 8px;
  font-weight: 400;
}

:host ::ng-deep {
  .ngx-pagination {
    padding: 0;
  }
  .ngx-pagination .current {
    background: #0041C4;
  }
  .ngx-pagination a, .ngx-pagination button {
    text-decoration: none;
    background: #F3F6FA;
    color: #A8B5CE;
  }
  .ngx-pagination a:hover, .ngx-pagination button:hover {
    background-color: #F3F6FA;
  }
  .ngx-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ngx-pagination li {
    border-radius: 5.8px;
    margin: 0 4px;
    // width: 50px;
    // background-color: #0041C4;
    // width: 24px;
    // height: 24px;
    // text-align: center;
    // vertical-align: middle;
  }
  .ngx-pagination li span {
    display: block;
  }
  .ngx-pagination button {
    background-color: #0041C4;
  }
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    content: url('../../../assets/img/Vector_left.svg');
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    font-family: 'Material Icons';
    content: url('../../../assets/img/Vector_right.svg');
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav-link.active {
    color: #0d6efd;
    font-weight: 500;
    background-color: #c5ebff;
  }
  .nav-link {
    color: #6c6c6d;
  }
}

.fa_icon{
  font-size: 17px;
  cursor: pointer;
}
.contract_footer{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.footer_contract_per_page{
  position:absolute;
  display: flex;
  flex-wrap: nowrap;
  color: #A5AAB6;
  select{
    border: 1px solid #0160AE;
    border-radius: 5px;
  }
}
.contract_footer, .contract_footer_responsive {
  padding-top: 10px;
  padding-left: 20px;
  display: flex;
  justify-content: space-between;
}
.footer_title{
  width: 120px;
}
.footer_pagination, .contract_footer_pagination_responsive{
  display: flex;
  text-align: center;
}
.footer_page_number .footer_page_number_chart_number {
  color: #A5AAB6;
}
.col-md-100-1{
  width: 100%;
}
.col-md-100-3{
  width: 33.3%;
}
.col-md-100-5{
  width: 20%;
}

::ng-deep .date-picker  input {
  display: block !important;
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  outline: 0;
}

.div_icon{
  padding: 0 10px;
}
.img_icon{
  width: 18px;
  cursor: pointer;
}
// .img_icon:hover{
//   width: 30px;
// }
.calendar_create, .calendar_deadline, .item_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn_search{
  height: 42px;
  align-self: flex-end;
}

.btn_submit{
  border: 0px;
  border-radius: 6px;
  height: 33px;
  box-sizing: border-box;
  background: #0041C4;
  color: #FFFFFF;
  border: 1px solid #0041C4;
  font-size: 13px;
  margin: 0 24px;
}

.enterPage {
  display: flex;
  margin-left: 10px
}

.enterPage input {
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #0160AE;
}

.text-enterPage::placeholder {
  font-size: 10px;
}

input::placeholder{
  color: #8E9AB0;
}

.enterPage p {
  margin-top: 2px;
}
.btn_consider{
  border: 1px solid #0041C4;
  border-radius: 6px;
  box-sizing: border-box;
  color: #0041C4;
  background-color: #FFFFFF;
  font-size: 13px;
  // margin: 0 10px;
  font-weight: 700;
}

.btn_consider_cancel{
  border: 1px solid #0041C4;
  border-radius: 6px;
  box-sizing: border-box;
  color: #0041C4;
  background-color: #FFFFFF;
  font-size: 13px;
  margin: 0 24px;
  font-weight: 700;
  height: 40px;
}

.btn_cancel_sign_many{
  border: 1px solid var(--Neutral-05, #C6D2EA);
  background: var(--White, #FFF);
  border-radius: 8px;
  color: var(--Neutral-03, #677694);
  font-weight: 700;
  font-size: 13px;
}

// .btn_sign{
//   border: 0px;
//   border-radius: 6px;
//   box-sizing: border-box;
//   color: #FFFFFF;
//   background-color: #0041C4;
//   font-size: 13px;
//   // margin: 0 10px;
//   font-weight: 700;
//   height: 40px;
// }


.btn_advanced{
  border: 0px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFFFFF;
  font-size: 13px;
  // margin: 0 10px;
  font-weight: 700;
  box-shadow: 0px 3px 12px 0px #1055E11A;
  border: 1px solid #001A4D1A
}

.btn-multi{
  border: 0px;
  border-radius: 6px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #0041C4;
  font-size: 13px;
  // margin: 0 10px;
  font-weight: 700;
  box-shadow: 0px 3px 12px 0px #1055E11A;
  border: 1px solid #001A4D1A
}

.three_dot{
  cursor: pointer;
}

.three_dot_text{
  margin: 10px;
}


.cancel-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.bg-header {
  height: 42px;
  background-color: #EBF2FB;
  display: flex;
  align-items: center;
  justify-content: center;
}

.flex-container {
  display: flex !important;
  align-items: center;
}

.table-contract {
  margin-bottom: 16px;
}

css .draft-status {
  color: #DDBC0A;
  background: #DDBC0A1A;
}
.processing-status {
  color: #2D6BE7;
  background: #EEF5FF;
}
.expire-status {
  color: #F6AA51;
  background: #F6AA511A;
}
.overdue-status {
  color: #525963;
  background: #5259631A;
}
.fail-status {
  color: #F05046;
  background: #F050461A;
}
.cancel-status {
  color: #EA328B;
  background: #EA328B1A;
}
.complete-status {
  color: #24BD33;
  background: #24BD331A;
}
.liquidated-status {
  color: #23D2EA;
  background: #23D2EA1A;
}

.col-lg-8-7 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button) * 3) !important;
  }
}

.col-lg-10-9 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button)) !important;
  }
}

.col-lg-9-8 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button) * 2) !important;
  }
}

.col-lg-1-1 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: var(--width-button) !important;
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}
.contract_footer_responsive {
  justify-content: space-between;
  .contract_footer_per_page_responsive {
    color: #A5AAB6;
    display: flex;
    flex-direction: row;
    select{
      height: 20px;
      border: 1px solid #A5AAB6;
      border-radius: 5px;
    }
  }
  pagination-controls {
    margin-top: 12px;
  }
  .footer_pagination {
    @media (min-width: 794px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

@media (max-width: 898px) {
  .contract_footer_pagination_responsive {
    margin-top: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contract_footer_responsive .footer_pagination {
    display: none;
  }
  .contract_footer_responsive .footer_pagination {
    display: none;
  }
}

@media (min-width: 898px) {
  .contract_footer_pagination_responsive {
    display: none;
  }
  .contract_footer_responsive .footer_pagination {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 577px) {
  .contract_footer_responsive {
    flex-direction: column;
    align-items: center;
  }
  .contract_footer_per_page_responsive,
  .contract_footer_responsive .enterPage,
  .contract_footer_responsive .footer_page_number {
    margin-bottom: 12px;
  }

  .contract_footer_pagination_responsive {
    margin: 0;
  }
  .contract_footer_per_page_responsive {
    align-items: center;
  }
}

@media (min-width: 1300px) {
  .contract_footer {
    display: flex;
  }
  .contract_footer_responsive {
    display: none;
  }
}

@media (max-width: 1300px) {
  .contract_footer {
    display: none;
  }
  .contract_footer_responsive {
    display: flex;
  }
}

@media (min-width: 1014px) and (max-width: 1300px) {
  .contract_footer_responsive {
    padding-top: 10px;
  }
}