.infor_contact {
  border: 1px solid #0160AE;
  padding: 10px;
  border-radius: 10px;
}

.determine_contact {
  border: 1px solid #0160AE;
  padding: 10px;
  border-radius: 10px;
}

.user_contact {
  border-radius: 10px;
  border: 1px solid #0160AE;
  margin-bottom: 10px;
}

.partner_contact {
  border-radius: 10px;
  border: 1px solid #0160AE;
  margin-bottom: 10px;
  margin-top: 10px;
}

.label_item {
  padding: 10px 0px 5px;
  color: #5e5e5e;
}

.labelOrg {
  padding: 10px 0px 5px;
  font-weight: 500;
}

.content_footer {
  text-align: center;
  margin: 10px;
  color: #0160AE;
  font-size: 13px;
  font-weight: 500;
}

.footer-infor-contract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content_footer{
    //text-align: center;
    //margin: 10px;
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}
//style button
.action-button {
  width: 100px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.draft-button {
  width: 100px;
  background: #FCAF17;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.input_text{
  background: #EFF2F5;
  padding: 10px;
  border-radius: 5px;
  min-height: 40px;
}

.label{
  font-weight: 500;
  color: #0160AE;
  background-color: #C7D0E9;
  height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.content_determine{
  padding: 10px;
}
