<!-- form step 4 -->
<form [formGroup]="confirmForm" id="msform">
  <div class="labelOrg">HỢP ĐỒNG</div>
  <div class="infor_contact">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="label_item">Tên file hợp đồng</div>
              <div class="input-group">
                <input type="text" id="contractFile" class="form-control" formControlName="contractFile" readonly/>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <div class="label_item">Ngày hết hạn ký</div>
              <div class="input-group">
                <input type="text" id="dateDeadline" class="form-control" formControlName="dateDeadline" readonly/>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-5">
        <div class="form-group">
          <div class="label_item">Lời nhắn</div>
          <div class="input-group">
            <input type="text" id="comment" class="form-control" formControlName="comment" readonly/>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="labelOrg">CÁC BÊN KÝ</div>
  <div class="determine_contact">
    <div class="user_contact">
      <div>CÔNG TY TNHH ABC</div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người xem xét</div>
            <div class="input-group">
              <input type="text" id="userViews" class="form-control" formControlName="userViews" readonly/>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người ký</div>
            <div class="input-group">
              <input type="text" id="userSigns" class="form-control" formControlName="userSigns" readonly/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Văn thư</div>
            <div class="input-group">
              <input type="text" id="userDocs" class="form-control" formControlName="userDocs" readonly/>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="partner_contact">
      <div>CÔNG TY TNHH ABC</div>
      <hr>
      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người xem xét</div>
            <div class="input-group">
              <input type="text" id="partnerViews" class="form-control" formControlName="partnerViews" readonly/>
            </div>
          </div>
        </div>
        <div class="col-md-2"></div>
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Người ký</div>
            <div class="input-group">
              <input type="text" id="partnerSigns" class="form-control" formControlName="partnerSigns" readonly/>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-5">
          <div class="form-group">
            <div class="label_item">Văn thư</div>
            <div class="input-group">
              <input type="text" id="partnerDocs" class="form-control" formControlName="partnerDocs" readonly/>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
<div class="content_footer">@Copyright 2021 - MobiFone</div>

