#table {
  border-collapse: collapse;
  width: 100%;
  font-size: 13px;
  font-family: font_lexend_deca;
}
#table td, #table th {
  //border: 1px solid #ddd;
  padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
  //text-align: center;
  background-color: #E2ECF6;
  color: #106DB6;
}

#table tr:last-child th:first-child {
  border-top-left-radius: 10px;
}
#table tr:last-child th:last-child {
  border-top-right-radius: 10px;
}
#table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

:host ::ng-deep {
  .pi-fw {
    color:  #106DB6;
    font-size: 10px;
    font-weight: 600;
  }
  .p-treetable-toggler {
    width: 1rem !important;
    height: 1rem !important;
  }
  .p-paginator .p-paginator-pages .p-paginator-page{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    height: 26px !important;
    width: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2199e8;
    color: white;
    border: 1px solid #2199e8;
  }

  .p-paginator-bottom .p-ripple{
    padding: 10px;
    border-width: 0 !important;
    height: 26px !important;
    width: 50px !important;
  }

  .p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
    font-size: 13px;
    font-family: font_lexend_deca;
  }
  .p-treetable .p-paginator-bottom {
    border-width: 0;
  }
}
.footer_page_number{
  color: #0160AE;
  padding: 8px 16px;
  text-align: right;
} 

.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}

.input-img {
  padding: 10px;
  cursor: pointer;
}

.search{
  border: 1px solid #106DB6;
  border-radius: 15px;
  height: 38px;
}

.input-text {
  border: 0;
  padding: 10px;
  width: 100%;
  outline:0px;
}

.btn_search{
  align-self: flex-end;
  padding-top: 10px;
}

.btn_submit{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
}