.folder-name {
    display: flex;
    width: 100%;
    justify-content: center;

    .input-data {
        display: flex;
        justify-content: center;
        border: 1px solid #106DB6;
        border-radius: 5px;
        align-items: center;
        width: 100%;
        input{
            width: 90%;
            border: none;
            // border-bottom: 1px solid grey;
            outline: none;
            font-size: 20px;
            padding: 12px 0 12px 0;
        }
    }

}