.container-fluid {
  padding-right: 0;
  overflow: hidden;
  height: 100%;
}

.content {
  //height: 102px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text-sign span {
  width: 125px;
  border: 0px;
  height: 25px;
  outline: none;
  color: #106DB6;
}
