<!--xử lý gọi các component trong các step theo từng điều kiện-->
<div *ngIf="((action=='add' || action=='add-contract-connect') && isQLHD_01) || (action=='edit' && isQLHD_02) || (action=='copy' && isQLHD_08)" class="container-fluid">
<!--  <p (click)="t()">ducanh</p>-->
<!--  <app-contract-header #contractHeader [AddComponent]="this" [datas]="datas" [step]="step" (stepChange)="getStep()"></app-contract-header>-->
  <app-contract-header #contractHeader [AddComponent]="this" [datas]="datas" [step]="step"></app-contract-header>
  <ng-container>
    <app-infor-contract #infoContract *ngIf="step == 'infor-contract'" [datas]="datas" [step]="step" (stepChangeInfoContract)="getStep($event)"></app-infor-contract>
    <app-determine-signer #determineSigner *ngIf="step == 'determine-contract'" [datas]="datas" [saveDraftStep]="datas.save_draft.determine_signer" [step]="step" (stepChangeDetermineSigner)="getStep($event)"></app-determine-signer>
    <app-sample-contract #sampleContract *ngIf="step == 'sample-contract'" [datas]="datas" [step]="step" [saveDraftStep]="datas.save_draft.sample_contract" (stepChangeSampleContract)="getStep($event)"></app-sample-contract>
    <app-confirm-infor-contract #confirmInforContract *ngIf="step == 'confirm-contract'" [datas]="datas" [step]="step" (stepChangeConfirmInforContract)="getStep($event)"></app-confirm-infor-contract>
  </ng-container>
</div>
<div *ngIf="!((action=='add' || action=='add-contract-connect') && isQLHD_01) && !(action=='edit' && isQLHD_02) && !(action=='copy' && isQLHD_08)">
  {{'no.role' | translate}}
</div>
