<div class="container-fluid">
    <div class="contract-determine">
        <div class="contract--content">
            <div class="contract__content--title-doi-tac">
                <div style="width: 100px">
                    {{ "organization.partner.name" | translate | uppercase }}&nbsp;
                    <span style="color: red">*</span>
                </div>
                <input class="input1" type="text" />
            </div>

            <div class="contract__content--title-mst">
                <div style="width: 100px">
                    {{ "tax.code" | translate | uppercase }}&nbsp;
                    <span style="color: red">*</span>
                </div>
                <input class="input1" type="text" />
            </div>
        </div>
    </div>
</div>