<div class="container-fluid">
    <div class="contract-determine">
        <div class="contract--content">
            <div class="contract__content--title-doi-tac">
                <div style="width: 100px">
                    {{ "organization.partner.name" | translate | uppercase }}&nbsp;
                    <span style="color: red">*</span>
                </div>
                <input class="input1" type="text" />
            </div>

            <div class="contract__content--title-mst">
                <div style="width: 100px">
                    {{ "tax.code" | translate | uppercase }}&nbsp;
                    <span style="color: red">*</span>
                </div>
                <input class="input1" type="text" />
            </div>

            <div class="contract__content--participants">
                <div class="participants-border">
                    <div class="label">{{'user.view' | translate}}</div>
                    <div class="participants--content">
                        <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
                            <div class="participants--input" style="display: flex">
                                <div class="participants__name">
                                    <div class="label_detail text-color">{{'user.name' | translate}}&nbsp;<span
                                        class="required-title">*</span></div>
                                    <div class="input-data">
                                      <img src="assets/img/icon_name.svg" class="input-img">
                                      <input type="text" placeholder="{{'nhap_ho_va_ten' | translate}}">
                                    </div>
                                </div>

                                <div class="participants__name">
                                    <div class="label_detail text-color">Email&nbsp;
                                      <span class="required-title">*</span>
                                    </div>
                                    <div class="input-data">
                                      <img src="assets/img/login_email.svg" class="input-img">
                                      <input type="text" placeholder="{{'nhap_email' | translate}}">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>