<div class="page-wrapper" [ngClass]="{'toggled' : getSideBarState()}">

  <main class="page-content" [ngStyle]="getStyleWithSideBar()" style="padding-bottom: 25px;">
    <div class="sidebar-header sidebar-header-custom">
      <a style="cursor: pointer;">
        <img src="assets/img/logoEcontract2.svg" (click)="backToDashboard()" alt="Logo" class="img-responsive" width="150px" height="45px" style="position: absolute; top: 6px; left: 27px;" />
      </a>
    </div>
    <app-sidebar *ngIf="getShowHideSideBar() && this.mobile === false" (evenSelectSidebar)="getName($event)"></app-sidebar>
    <header [ngStyle]="getStyleSideBar()">

      <div class="search-wrapper">
        <div style="padding-right: 8px;">
          <h3 class="search-wrapper-label" style="color: #002060; font-size: 14px;">{{title | translate}}</h3>
        </div>
        <div *ngIf="checkSubTitle()" style="display: flex; align-items: center; gap: 8px;">
          <img src="../../assets/img/caret-down.svg" class="img_icon_caret-down" />
        </div>
        <div style="padding-left: 8px;">
          <h3 class="search-wrapper-label" style="color: #0041C4;font-size: 14px;">{{subTitle | translate}}</h3>
        </div>
      </div>
      <div class="warning-container">
        <div class="warning-scroll">
          <div *ngIf = 'messageNotification' class="RightToLeft" #scrollingText>
            {{messageNotification}}
          </div>
        </div>
      </div>
      <div *ngIf="getShowHideSideBar()" style="display: flex;align-items: center;">
        <div ngbDropdown class="d-inline-block header_language">
          <div class="social-language" ngbDropdownToggle>
            <!-- <span class="{{ 'language_icon' | translate }}"></span> -->
            <div class="label-language">{{ "language" | translate }}</div>
            <div style="margin-left: 8px;">
              <img style="width: 20px; height: 20px;" src="../../assets/img/arrow-down.svg"/>
            </div>
          </div>
  
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu_language">
            <button ngbDropdownItem class="drop_language" (click)="switchLang('vi')">
              <div style="display: flex; align-items: center">
                <!-- <div class="db_user">
                  <div class="db_icon_vietnam"></div>
                </div> -->
                <div>VI</div>
              </div>
            </button>
            <button ngbDropdownItem class="drop_language" (click)="switchLang('en')">
              <div style="display: flex; align-items: center">
                <!-- <div class="db_user">
                  <div class="db_icon_english"></div>
                </div> -->
                <div>EN</div>
              </div>
            </button>
          </div>
        </div>
        
        <div *ngIf="!this.mobile" ngbDropdown class="d-inline-block" (click)="viewLink()">
          <div class="social-icons" ngbDropdownToggle>
            <div><img src="../../assets/img/document_bashboard.svg" style="width: 20px;"></div>
              <div class="label" style="color: #00186D; font-weight: 500;">{{'document' | translate }}</div>
          </div>

          <!-- <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu">

          </div> -->
        </div>
        
        <div *ngIf="!this.mobile" ngbDropdown class="d-inline-block">
          <div class="social-icons" ngbDropdownToggle (click)="loadDataNotification()">
            <i *ngIf="numberNotification == 0" class="icon-pi p-mr-4 p-text-secondary"><img src="../../assets/img/bell-filled.svg"></i>
            <i *ngIf="numberNotification > 0" class="icon-pi p-mr-4 p-text-secondary" style="font: caption;" pBadge value="{{numberNotification}}"><img src="../../assets/img/bell-filled.svg"></i>
            <!-- <div class="label">{{'notification' | translate }}</div> -->
          </div>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu" style="width: 500px;overflow: hidden auto;max-height: 315px;">
            <div style="display: flex; justify-content: space-between;">
              <div class="title_notification">{{'no.list' | translate}}</div>
              <div style="cursor: pointer;" class="title_notification"  (click)="readAll()">
                <img src="../../assets/img/check all.png" class="img_icon" />
                {{'read.all.noti' | translate}} </div>
            </div>

            <div class="drop_notification" *ngFor="let item of listNotification; let i = index" (click)="openLinkNotification(item.notice_url, item.id)" [style.background-color]="item.status==0 ? '#eaf4ff' : ''">
              <!-- <a href="{{item.notice_url}}" style="text-decoration: none"> -->
              <div class="row">
                  <div *ngIf="this.lang == 'vi'" class="col-md-12 item_contract_name">{{item.notice_name}}</div>
                  <div *ngIf="this.lang == 'en'" class="col-md-12 item_contract_name">{{item.notice_name.replace("Ký HĐ","Sign contract").replace("Quá hạn","Overdue").replace("Hoàn thành","Completed")}}</div>
              </div>
              <div class="row" *ngFor="let s of item.notice_content.split('<br/>')">
                <div *ngIf="!s.includes('\nBên B: #PARTICIPANT_2#')" class="col-md-12 item_contract_infor">
                  <img src="../../../assets/img/user_icon.svg" width="12px" />
                  <span *ngIf="this.lang == 'vi' || !this.lang"> {{s.replace("Bên B: #PARTICIPANT_2#","")}}</span>
                  <span *ngIf="this.lang == 'en'"> {{s.replace("Bên B: #PARTICIPANT_2#","").replace("Bên","Side")}}</span>
                </div>
              </div>
              <div class="row item_contract_infor">
                <div class="col-md-6 calendar_create">
                    <img src="../../../assets/img/calendar_icon.svg" width="15px" />
                    <span class="item_date"> {{item.created_at | date: 'dd/MM/yyyy HH:mm'}}</span>
                </div>

                <div class="col-md-6 item_contract_infor">{{'contract.status' | translate}}:
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_coordinator' || item.message_code=='sign_flow_coordinator_config'">{{'contract.lead' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_reject' || item.message_code=='sign_flow_reject_config'">{{'contract.status.fail' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_review' || item.message_code=='sign_flow_review_config'">{{'contract.view' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_sign' || item.message_code=='sign_flow_sign_config'">{{'contract.sign' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_publish' || item.message_code=='sign_flow_publish_config'">{{'contract.document' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_finish' || item.message_code=='sign_flow_finish_config'">{{'contract.status.complete' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='sign_flow_cancel' || item.message_code=='sign_flow_cancel_config'">{{'contract.status.cancel' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_exprire' || item.message_code=='contract_exprire_config'">{{'contract.status.overdue' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_about_exprire' || item.message_code=='contract_about_exprire_config'">{{'contract.status.expire' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_about_exprire_createdby' || item.message_code=='contract_about_exprire_createdby_config'">{{'contract.status.expire' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_exprire_createdby' || item.message_code=='contract_exprire_createdby_config'">{{'contract.status.overdue' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_exprire_time' || item.message_code=='contract_exprire_time_config'">{{'expire.status' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_share_notice' || item.message_code=='contract_share_notice_config'">{{'contract.share.notice' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_transfer' || item.message_code=='contract_transfer_config'">{{'contract.transfer.config' | translate}}</span>
                  <span class="status_blue" *ngIf="item.message_code=='contract_share_template' || item.message_code=='contract_share_template_config'">{{'contract.share.template.config' | translate}}</span>
    
                </div>
              </div>
              <!-- </a> -->
            </div>
            <div class="view_all" (click)="viewAllNotification()">
                {{'view.all' | translate}}
            </div>
          </div>
        </div>
        <div ngbDropdown class="d-inline-block">
          <div class="social-icons" ngbDropdownToggle>
            <span class="user_login"></span>
            <div style="display: flex; flex-direction: column;">
              <div class="label" style="color: #001A4D;">{{nameCurrentUser}}</div>
              <div class="label" style="color: #A8B5CE;">{{phoneCurrentUser}}</div>
            </div>
            <div style="margin-left: 16px;">
              <img style="width: 20px; height: 20px;" src="../../assets/img/arrow-down.svg"/>
            </div>
          </div>

          <div ngbDropdownMenu aria-labelledby="dropdownBasic1" class="drop_menu" style="cursor: pointer">
            <a ngbDropdownItem class="drop" (click)="infoUserDetail()" [routerLink]="['/main/user-infor']">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div><img src="../../assets/img/profile-circle.svg" style="width: 20px;"></div>
                </div>
                <div>{{'user.information' | translate }}</div>
              </div>
            </a>

            <button *ngIf="!checkMailMbf()" ngbDropdownItem class="drop" (click)="resetPassword()">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div><img src="../../assets/img/refresh-right-square.svg" style="width: 20px;"></div>
                </div>
                <div>{{'login.reset_password_new' | translate }}
                  <a href="https://auth-sso.mobifone.vn/vn/profile-information" ></a
                >
                </div>
              </div>
            </button>

            <!-- <button *ngIf="!checkMailMbf()" ngbDropdownItem class="drop">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div class="db_password"></div>
                </div>
                <div>
                  <a href="https://auth-sso.mobifone.vn/vn/profile-information" 
                  >{{'login.reset_password_new' | translate }}</a>
                </div>
              </div>
            </button> -->
            
            <!-- <button ngbDropdownItem class="drop" (click)="viewLink()">
              <a style="color: inherit; text-decoration: none;" href="https://drive.google.com/drive/folders/1NHaCYOMCMsLvrw1uPbX2ezsC-Uo9huW3">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div><img src="../../assets/img/document-text.svg" style="width: 20px;"></div>
                </div>
                <div>{{'document.user.use' | translate }}</div></div>
              </a>
            </button> -->

            <button ngbDropdownItem class="drop">
              <a href="/assets/upload/mobi_token_sign_setup.zip" style="color: inherit; text-decoration: none;">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div><img src="../../assets/img/more-2.svg" style="width: 20px;"></div>
                </div>
                <div>{{'document.plugin.pki' | translate }}</div></div>
              </a>
            </button>
            
            <button ngbDropdownItem class="drop_red" routerLink="/login" (click)="logout()">
              <div style="display: flex; align-items: center;">
                <div class="db_user">
                  <div><img src="../../assets/img/logout.svg" style="width: 20px;"></div>
                </div>
                <div style="color: #E05050;">{{'logout' | translate }}</div>
              </div>
            </button>
          </div>
        </div>
        

      </div>
    </header>

    <div class="container-fluid" [ngStyle]="getStyle()">
      <div class="row">
        <div class="form-group col-md-12">
            <router-outlet></router-outlet>
        </div>
      </div>
    </div>

    <!-- <div class="content_footer">
        <div>@Copyright 2023 - MobiFone | v1.17.0</div>
    </div> -->
  </main>
</div>
