.page-wrapper {
  height: 100vh;

  .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;

    @media screen and (min-width: 768px) {
      padding-left: 280px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none;

      &.show {

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {

    .page-content {
      padding-left: 0;
    }
  }

  .attribution{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}

header {
  position: fixed;
  left: 260px;
  top: 0;
  z-index: 100;
  width: calc(100% - 260px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #368ee0;
  transition: left 500ms;
}
.search-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/user_login.png);
  border-radius: 50%;
}

.dropdown-toggle::after {
  display:none;
}

.fa-institution:before, .fa-bank:before, .fa-university:before {
  font-size: 16px;
}
