.page-wrapper {
  height: 100vh;

  .page-content {
    display: inline-block;
    width: 100%;
    padding-top: 20px;
    transition: padding-left .3s ease;

    @media screen and (min-width: 768px) {
      padding-left: 220px;
    }

    .overlay {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 998;
      background: #000;
      opacity: .5;
      display: none;

      &.show {

        @media screen and (max-width: 768px) {
          display: block;
        }
      }
    }
  }

  .sidebar {
    left: 0px;
  }

  &.toggled {

    .page-content {
      padding-left: 0;
    }
  }

  .attribution{
    position: fixed;
    bottom: 0;
    right: 0;
    padding: 5px;
    margin: 5px;
    letter-spacing: 1px;
  }
}

header {
  position: fixed;
  left: 220px;
  top: 0;
  z-index: 100;
  width: calc(100% - 220px);
  background: #fff;
  height: 60px;
  padding: 0rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #e6e7ec;
  transition: left 500ms;
}
.search-wrapper {
  display: flex;
  align-items: center;
  margin: 0;
}

.social-icons {
  display: flex;
  align-items: center;
}

.social-icons span,
.social-icons div {
  margin-left: 1.2rem;
}

.social-icons div {
  height: 38px;
  width: 38px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../assets/img/user_login.png);
  border-radius: 50%;
  cursor: pointer;
}

.dropdown-toggle::after {
  display:none;
}

h3{
  margin: 0;
  font-weight: 500;
}

//dropdown menu
.drop_menu{
  margin-top: 10.5px;
  border-color: #368ee0;
}
.drop{
  padding: 10px;
  color:#106DB6
}
.drop_red{
  padding: 10px;
  color: #ED1C24
}
.drop_icon{
  width: 20px
}

//content
.content{
  margin-top: 60px;
}
.content_footer{
  text-align: center;
  margin: 10px;
  color:#0160AE;
  font-size: 13px;
  font-weight: 500;
}

//popup
.popup_content{
  padding: 30px;
}
.popup_title{
  margin: 0;
  font-weight: 500;
}
.popup_close{
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
}
.btn_submit{
  width: 100px;
  font-size: inherit;
  background: #106DB6;
  color: white;
  border: 1px solid #87CAFF;
}
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}
.item_text{
  padding: 10px;
}

.fa_icon{
  font-size: 18px;
  color: #106DB6;
}
.label_infor{
  font-weight: 500;
  padding-left: 15px;
}


