.btn_submit, .btn_submit a {
  border: 0px;
  border-radius: 8px;
  width: 130px;
  height: 42px;
  box-sizing: border-box;
  color: white;
  background-color: #0041C4;
  font-size: 13px;
  margin: 0 10px;
  font-style: normal;
  font-weight: 700;
  text-decoration: none;
}

.btn_submit_search {
  border: 1px solid rgba(0, 26, 77, 0.10);
  border-radius: 8px;
  width: 130px;
  height: 42px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFFFFF;
  font-size: 13px;
  margin: 0 8px;
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  line-height: normal;
  font-weight: 600;
}

.selectedNodeOrganizationCombobox {
  background-color: red;
}

.container-fluid{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 16px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: white;
  border: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #0041C4;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 55%;
}

.input_text {
  width: 420px;
  // padding-left: 16px;
  outline: none;
  width: 130px;
  height: 42px;
  width: 100%;
  border-radius: 8px;
  // border: 1px solid #106DB6;
  border: none;
  padding-left: 0;
  margin: 0;
  background: #F1F5FE;
  line-height: normal;
  vertical-align: middle;
}
.btn_search{
  align-self: flex-end;
}

#table {
border-collapse: collapse;
width: 100%;
font-size: 13px;
// font-family: font_lexend_deca;
}
#table td, #table th {
border: 0px;
padding: 8px;
}

#table tr:nth-child(even){background-color: #F8FAFF;}

#table tr:hover, #table td:hover {background-color: #F8FAFF;}

#table th {
//text-align: center;
// background-color: #E2ECF6;
// color: #106DB6;
  background: #EBF2FB;
  color: #8E9AB0;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.525px;
}

.table_col_not_bold {
  color: #001A4D;
  font-family: 'Roboto';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.45px;
}

#table tr:last-child th:first-child {
  border-top-left-radius: 10px;
}
#table tr:last-child th:last-child {
  border-top-right-radius: 10px;
}
#table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

:host ::ng-deep {
  .pi-fw {
    color:  #106DB6;
    margin-right: 5px;
    font-size: 10px;
  }

  .p-paginator .p-paginator-pages .p-paginator-page{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    height: 26px !important;
    width: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2199e8;
    color: white;
    border: 1px solid #2199e8;
  }

  .p-paginator-bottom .p-ripple{
    padding: 10px;
    border-width: 0 !important;
    height: 26px !important;
    width: 50px !important;
  }
  
  .p-paginator{
    background-color: #F3F6FA !important;
  }

  .p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
    font-size: 13px;
    font-family: font_lexend_deca;
  }
  .p-datatable .p-paginator-bottom {
    border-width: 0;
  }
}
:host ::ng-deep {
  .p-treeselect, .p-dropdown {
      background-color: #F1F5FE;
      border: none;
      border-radius: 8px;
      height: 42px;
      width: 100%;
      outline: 0;
      color: black !important;
      align-items: center;
  }
  .p-treeselect-label, .p-dropdown-label {
      padding: 5px 5px 5px 15px;
  }
}

@media (min-width: 1400px) {
  .col-xxl-5 {
      flex: 0 0 auto;
      width: 40%;
  }
  
  .col-xxl-2{
    flex: 0 0 auto;
    width: 20%;
  }
  
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 10%;
  }
}

@media screen and (min-width: 1224px) and (max-width:1280px){
  .custom-file-upload {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1280px) and (max-width:1440px){
  .custom-file-upload {
    margin-left: 23%;
  }
}
@media screen and (min-width: 1440px) and (max-width:1600px){
  .custom-file-upload {
    margin-left: 37%;
  }
}
@media screen and (min-width: 1600px) and (max-width:1824px){
  .custom-file-upload {
    margin-left: 45%;
  }
}
@media screen and (min-width: 1824px){
  .custom-file-upload {
    margin-left: 50%;
  }
}

