<div *ngIf="isQLND_01 || isQLND_02 || isQLND_03 || isQLND_04" class="container-fluid">
  <div class="row">
    <div class="cancel-padding">
      <div class="row mg-button-tools">
        <div class="col-lg-4-35 btn-padding-right" *ngIf="isQLND_03">
          <div>
              <p-treeSelect
                [(ngModel)]="selectedNodeOrganization"
                [options]="listOrgCombobox"
                placeholder="{{'all' | translate}}"
                [filter]="true" filterBy="name"
                [droppable]="true"
                (onNodeSelect)="changeOrg()"
                class="selectedNodeOrganizationCombobox"
                placeholder="{{'unit.name' | translate}}"
                >
              </p-treeSelect>
          </div>
        </div>
    
        <div class="col-lg-4-35 btn-padding-right btn-padding-left" *ngIf="isQLND_03">
          <div>
            <input placeholder="{{'unit.email.name' | translate}}" type="text" [(ngModel)]="nameOrEmail" class="input_text"/>
          </div>
        </div>
    
        <!-- <div class="col-md-3" *ngIf="isQLND_03">
          <div>{{'user.name' | translate}}</div>
          <div class="input-line">
            <input type="text" [(ngModel)]="name" class="input_text"/>
          </div>
        </div> -->
    
        <div *ngIf="isQLND_03" class="col-lg-1-1 col-md-4 btn-padding-right btn-padding-left">
          <button class="btn-block btn_advanced" (click)="searchUser()">{{'btn.search' | translate }}</button>
        </div>
        
        <div *ngIf="isQLND_01" class="col-lg-1-1 col-md-4 btn-padding-left">
          <button class="btn-block btn_cancel"(click)="addUser()">
            <a class="btn-add" *ngIf="isQLND_01" [routerLink]="['/main/form-user/add']">
              {{'btn.add' | translate }}
            </a>
          </button>
        </div>
        
        <div *ngIf="isQLND_01" class="col-lg-1-1 col-md-4 btn-padding-left btn-padding-right">
          <input id="file-input" type="file" accept=".xls,.xlsx" (change)="fileChanged($event)" />
          <label class="btn_consider" for="file-input" style="display: flex;">
            <i class="fa fa-cloud-upload" style="margin: auto 0 auto auto"></i>
            <span class="btn-text" style="margin: auto auto auto 2px">Import file</span>
          </label>
        </div>
      </div>

      <a style="margin: 8px auto;display: flex; justify-content: flex-end;">
        {{'not.have.sample.file' | translate}} <a href="/assets/upload/import_nguoi_dung.xlsx" style="color: #0041C4; cursor: pointer;" (click)="downFileExample()">{{'download.sample.file' | translate}}</a>
      </a>
    </div>

    <div style="min-height: 73vh;">
    <div class="row">
      <p-table [value]="list" [paginator]="false" [rows]="15" id="table" [autoLayout]="true" [(first)]="first" class="pd-0">
        <ng-template pTemplate="header" let-columns>
          <tr>
              <th *ngFor="let col of cols" [style]='col.style' class="border-header-table">
                {{col.header | translate}}
              </th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-list>
            <tr>
                <td><a (click)="isQLND_04?detailUser(list.id):null" [routerLink]="['/main/user-detail/', list.id]"
                    style="
                    cursor: pointer;
                    text-decoration: none;
                    color: #001A4D;
                    cursor: pointer;
                    font-family: 'Roboto';
                    font-size: 14px; font-style:normal;
                    font-weight: 700;
                    line-height: 21px;
                    letter-spacing: -0.525px;
                    "
                  >{{list.name}}</a></td>
                <td class="table_col_not_bold">{{list.email}}</td>
                <td class="table_col_not_bold">{{list.phone}}</td>
                <td class="table_col_not_bold">{{list.organization.name}}</td>

                <td class="table_col_not_bold" *ngIf="list.status == 1">{{'unit.active' | translate}}</td>
                <td class="table_col_not_bold" *ngIf="list.status != 1">{{'unit.inactive' | translate}}</td>

                <td class="table_col_not_bold">{{list.role?.name}}</td>
                <td class="table_col_not_bold" style="text-align: center">
                  <img *ngIf="isQLND_02 || list.email == this.myEmail" src="../../../assets/img/icon_edit.svg" width="20px" (click)="editUser(list.id)" style="cursor: pointer;"/>
                </td>
            </tr>
        </ng-template>
        <!-- <ng-template pTemplate="paginatorleft" let-state>
          <span style="color: white !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
        </ng-template> -->
        <ng-template pTemplate="paginatorright" let-state>
          <span style="color: #0160AE !important;">{{'chart.number' | translate}}: {{state.totalRecords > 0 ? state.first+1 : state.first}} - {{(state.first+state.rows)> state.totalRecords ? state.totalRecords : state.first+state.rows}} / {{state.totalRecords}}</span>
        </ng-template>
      </p-table>
    </div>
    </div>
  </div>
</div>

<div style="display: grid;margin-top: 10px;grid-template-columns: repeat(3, 1fr)">
  <div></div>
  <p-paginator (onPageChange)="onPageChange($event)" [rows]="row" [totalRecords]="totalRecords"></p-paginator>
  <div style="color: #0160AE !important;margin: auto 0 auto auto;">{{'chart.number' | translate}}: {{totalRecords === 0 ? 0 : page * row + 1}} - {{totalRecords > 0 ? toRecord() : 0}} / {{totalRecords > 0 ? totalRecords : 0}}</div>
</div>

<div *ngIf="!isQLND_01 && !isQLND_02 && !isQLND_03 && !isQLND_04">
  {{'no.role' | translate}}
</div>

<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>

