.btn_submit{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
  margin: 0 10px;
}

input[type="file"] {
  display: none;
}
.custom-file-upload {
  color: white;
  border: 0px;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #106DB6;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  margin-left: 55%;
}

.input_text {
  padding-left: 10px;
  outline: none;
  height: 33px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #106DB6;
}
.btn_search{
  align-self: flex-end;
}

#table {
border-collapse: collapse;
width: 100%;
font-size: 13px;
font-family: font_lexend_deca;
}
#table td, #table th {
//border: 1px solid #ddd;
padding: 8px;
}

#table tr:nth-child(even){background-color: #f2f2f2;}

#table tr:hover {background-color: #ddd;}

#table th {
//text-align: center;
background-color: #E2ECF6;
color: #106DB6;
}

#table tr:last-child th:first-child {
  border-top-left-radius: 10px;
}
#table tr:last-child th:last-child {
  border-top-right-radius: 10px;
}
#table tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}
#table tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

:host ::ng-deep {
  .pi-fw {
    color:  #106DB6;
    margin-right: 5px;
    font-size: 10px;
  }

  .p-paginator .p-paginator-pages .p-paginator-page{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    height: 26px !important;
    width: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2199e8;
    color: white;
    border: 1px solid #2199e8;
  }

  .p-paginator-bottom .p-ripple{
    padding: 10px;
    border-width: 0 !important;
    height: 26px !important;
    width: 50px !important;
  }

  .p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
    font-size: 13px;
    font-family: font_lexend_deca;
  }
  .p-datatable .p-paginator-bottom {
    border-width: 0;
  }
}
:host ::ng-deep {
  .p-treeselect, .p-dropdown {
      border: 1px solid #106DB6;
      border-radius: 5px;
      height: 33px;
      width: 100%;
      outline: 0;
      color: black !important;
  }
  .p-treeselect-label, .p-dropdown-label {
      padding: 5px 5px 5px 15px;
  }
}

@media screen and (min-width: 1224px) and (max-width:1280px){
  .custom-file-upload {
    margin-left: 20%;
  }
}
@media screen and (min-width: 1280px) and (max-width:1440px){
  .custom-file-upload {
    margin-left: 23%;
  }
}
@media screen and (min-width: 1440px) and (max-width:1600px){
  .custom-file-upload {
    margin-left: 37%;
  }
}
@media screen and (min-width: 1600px) and (max-width:1824px){
  .custom-file-upload {
    margin-left: 45%;
  }
}
@media screen and (min-width: 1824px){
  .custom-file-upload {
    margin-left: 50%;
  }
}

