<div class="container">
  <div class="row">
    <div class="col-md-3">
      <div>Họ tên</div>
      <div class="input-line">
          <input type="text" [(ngModel)]="name" class="input_text"/>
      </div>
    </div>
    <div class="col-md-3">
      <div>Email</div>
      <div class="input-line">
          <input type="text" [(ngModel)]="email" class="input_text"/>
      </div>
    </div>
    <div class="col-md-3">
      <div>Số điện thoại</div>
      <div class="input-line">
          <input type="text" [(ngModel)]="phone" class="input_text"/>
      </div>
    </div>
    <div class="col-md-3 btn_search">
      <button class="btn btn-lg btn-block btn_submit">{{'btn.search' | translate }}</button>
      <button class="btn btn-lg btn-block btn_submit" (click)="addUnit()">{{'btn.add' | translate }}</button>
    </div>
  </div>
  <div class="row" style="padding-top: 20px;">
    <p-treeTable [value]="files | paginate:{itemsPerPage: page, currentPage:p}" id="table">
      <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of cols">
        {{col.header}}
        </th>
      </tr>
      </ng-template>
      <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
          <td *ngFor="let col of cols; let i = index">
            {{rowData[col.field]}}
          </td>
        </tr>
      </ng-template>
    </p-treeTable>

    <div class="contract_footer">
      <div class="footer_title"></div>
      <div class="footer_pagination">
        <pagination-controls *ngIf="pageTotal > 0;" (pageChange)="p=$event; setPage()" previousLabel="" nextLabel=""></pagination-controls>
      </div>
      <div class="footer_page_number">{{'chart.number' | translate}}: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
    </div>
  </div>
</div>

