//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
    }
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    //display: flex;
    text-align: center;
    //justify-content: space-evenly;
    margin-top: 30px;
    button {
      width: 91px;
      height: 31px;
      border-radius: 6px;
      border: none;
      color: white;
      background-color: #8B8B8B;
      cursor: pointer;
    }
    button:nth-last-child(1) {
      background-color: #0041C4;
    }
  }
}

// .cancel-button{
//   width: 91px;
//   height: 31px;
//   border-radius: 6px;
//   border: 1px solid var(--Neutral-05, #C6D2EA);
//   background: var(--White, #FFF);
//   color: #677694;
//   cursor: pointer;
// }
.title-popup {
  font-size: var(--fs14);
  font-weight: 700;
  color: var(--text-primary);
}
.title-content {
  font-size: var(--fs13);
  font-weight: 500;
  color: var(--text-primary);
}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
  background: #F7F9FE;
  border-radius: 8px;
}
.input-line1 {
  display: flex;
  //justify-content: space-between;
  position: relative;
  background: #F7F9FE;
  border-radius: 8px;
}
.input-img {
  padding: 10px;
  background: #FFFFFF1F;
  border-radius: 5px 0 0 5px;
}
.input-text {
  border: 0;
  background: #FFFFFF1F;
  font-size: var(--fs14);
  color: var(--text-primary);
  padding: 10px;
  width: 100%;
  outline:0px;
  border-radius: 0 5px 5px 0;
}
input::placeholder {
  color: #8E9AB0; /* Màu của placeholder */
}
//img {
//  fill: #F0F0F0; /* Màu sắc bạn muốn thay đổi */
//}
.icon-eye{
  top: 10px;
  right: 20px;
  position: absolute;
}
p-dropdown{
  width: -webkit-fill-available !important;
}
::ng-deep.p-component {
  border: none;
  background: #F7F9FE;
}
::ng-deep.p-dropdown-filter, .p-dropdown-label, .p-dropdown-panel, .p-multiselect-label, .p-multiselect-token-label {
  color: red !important;
}
.p-dropdown-label {
  color: red; /* Đổi màu chữ thành màu đỏ */
}
.invalid {
  border: 1px solid red;
}
.invalid-text {
  color:  red;
}
.option-custom {
  font-size: var(--fs14);
  color: #00186D;
  margin-bottom: 0px;
  margin-top: 2px;
}
