//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
    }
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 60px;
    button {
      width: 91px;
      height: 31px;
      border-radius: 6px;
      border: none;
      color: white;
      background-color: #8B8B8B;
      cursor: pointer;
    }
    button:nth-last-child(1) {
      background-color: #0041C4;
    }
  }
}

// .cancel-button{
//   width: 91px;
//   height: 31px;
//   border-radius: 6px;
//   border: 1px solid var(--Neutral-05, #C6D2EA);
//   background: var(--White, #FFF);
//   color: #677694;
//   cursor: pointer;
// }
