.btn_submit{
  border: 0px;
  border-radius: 8px;
  width: 130px;
  height: 42px;
  box-sizing: border-box;
  color: white;
  background-color: #0041C4;
  font-size: 13px;
  margin: 0 20px;
  font-style: normal;
  font-weight: 600;
}

.container-fluid{
  background-color: #FFFFFF;
  border-radius: 12px;
  // padding-top: 16px;
}

.input_text {
  padding-left: 10px;
  outline: none;
  width: 130px;
  height: 42px;
  width: 100%;
  border-radius: 5px;
  // border: 1px solid #106DB6;
  border: none;
  background: #F1F5FE;
}
.btn_search{
  align-self: flex-end;
}

.btn_submit_search {
  border: 1px solid rgba(0, 26, 77, 0.10);
  border-radius: 8px;
  width: 130px;
  height: 42px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFFFFF;
  font-size: 13px;
  margin: 0 0px;
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  font-style: normal;
  font-weight: 600;
}

.btn_submit_add {
  height: 33px;
  color: #FFF;
  background-color: #0041C4;
}

#table {
border-collapse: collapse;
width: 100%;
font-size: 13px;
// font-family: font_lexend_deca;
}
#table td, #table th {
  border: 0px;
  padding: 12px 8px;
}

#table tr:nth-child(even){background-color: #F8FAFF;}

#table tr:hover {background-color: #F8FAFF;}

#table th {
  background: #EBF2FB;
  color: #0041C4;
  font-family: 'Roboto';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  letter-spacing: -0.525px;
  height: 44px;
}

.table_col_not_bold {
  color: #001A4D;
  font-family: 'Roboto';
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: -0.45px;
}

#table tr:last-child th:first-child {
border-top-left-radius: 10px;
}
#table tr:last-child th:last-child {
border-top-right-radius: 10px;
}
#table tr:last-child td:first-child {
border-bottom-left-radius: 10px;
}
#table tr:last-child td:last-child {
border-bottom-right-radius: 10px;
}

:host ::ng-deep {
.pi-fw {
  color:  #106DB6;
  margin-right: 5px;
}

.p-paginator .p-paginator-pages .p-paginator-page{
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 4px;
  height: 26px !important;
  width: 50px;
  border-radius: 5px;
  background-color: #e6e6e6;
}

.p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background-color: #2199e8;
  color: white;
  border: 1px solid #2199e8;
}

.p-paginator{
  background-color: #F3F6FA !important;
}

.p-paginator-bottom .p-ripple{
  padding: 10px;
  border-width: 0 !important;
  height: 26px !important;
  width: 50px !important;
}

.p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
  font-size: 13px;
  font-family: font_lexend_deca;
}
.p-datatable .p-paginator-bottom {
  border-width: 0;
}
}

.col-lg-4-9 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc((100% - var(--width-button) * 2) / 2) !important
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}

.col-lg-5-45 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc((100% - var(--width-button)) / 2) !important
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}

.col-lg-1-1 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: var(--width-button) !important;
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}
