<div>
  <div class="row">
    <div class="col-md-6">
      <div class="bg-login"></div>
    </div>
    <div class="col-md-6">
       <div>
        <div>

          <form class="form-signin" [formGroup]="forgotPasswordForm">
            <div style="margin: 30px; color:#106DB6; font-size: 30px;">Quên mật khẩu</div>
            <div style="margin: 30px; color:red;">Nhập địa chỉ email bạn đã sử dụng đăng ký trên MobiFone eContract</div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                  <span class="input-group-text">
                    <i class="fa fa-envelope" aria-hidden="true" style="color: #106DB6;"></i>
                  </span>
                </div>
                <input type="text" id="email" formControlName="email" class="form-control" placeholder="Nhập email"/>
              </div>
            </div>

            <div class="form-group" style="text-align: center;">
              <button (click)="sendForgetPassword()" class="btn btn-lg btn-block" style="background-color: #106DB6; color: white;">Gửi yêu cầu</button>
            </div>
          </form>
          <div class="bg-footer-login"></div>
        </div>

      </div>
    </div>
  </div>
</div>
