.header{
  text-align: center; 
  font-weight: bold
}
.label-header{
  color: #106DB6; 
  font-family: inherit; 
  text-transform: uppercase;
}
.required-title {
  color: red;
}

.input-data {
  border: 1px solid #106DB6;
  border-radius: 5px;
  height: 33px;
  display: flex;
  align-items: center;

  > img {
      padding-left: 14px;
  }

  > input {
      border: none;
      outline: none;
      border-radius: 5px;
      padding: 5px 10px;
      width: 100%;
  }
}  
.cancel-button{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: white;
  background-color: #8B8B8B;
  font-size: 13px;
  margin: 0 10px;
}
.save-button{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: white;
  background-color: #0041C4;
  font-size: 13px;
  margin: 0 10px;
}
.invalid{
  color: red;
}

input.pw {
  -webkit-text-security: disc;
}

.input-line {
  border: 1px solid #106DB6;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  position: relative;

  > input, div {
    border: none;
    outline: none;
    border-radius: 5px;
    padding-left: 15px;
  }
  > div{
    padding: 5px 15px;
  }
}

.input-text {
  border: 0;
  width: 100%;
  outline:0px;
  border-radius: 0 5px 5px 0;
}

::ng-deep {
  .p-dropdown.p-component {
    border: 1px solid #106DB6;
    border-radius: 5px;
    height: 33px;
    display: flex;
    align-items: center;
  }
}