<div class="container-fluid">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-weight: bold">{{this.datas.title}}</h3>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="content">
    <div class="name-item">
      <div class="label_item">Mã số thuế: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <input autocomplete="off" type="text" formControlName="tax_code" class="input-text" placeholder="Nhập tên người dùng" autofocus>
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">Tên người dùng: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <input autocomplete="off" type="text" formControlName="name" class="input-text" placeholder="Nhập tên người dùng" autofocus>
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">Mật khẩu cấp 1: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <input autocomplete="off" type="password" formControlName="password1" class="input-text" placeholder="Nhập mật khẩu">
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">Mật khẩu cấp 2: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <input autocomplete="off" type="password" formControlName="password2" class="input-text" placeholder="Nhập mật khẩu">
      </div>
    </div>

    <div class="select-option">
      <button
        class="dx-button-form dx-button-close dx-button-90"
        (click)="dialog.closeAll()"
        type="button">Thoát
      </button>
      <button
        class="dx-button-form dx-button-submit dx-button-90"
        type="default">Xác nhận
      </button>
    </div>
  </form>
</div>
