.required-title {
    color: red;
}

.input-data {
    border: 1px solid #106DB6;
    border-radius: 5px;
    height: 33px;
    display: flex;
    align-items: center;

    > input {
        border: none;
        outline: none;
        padding-left: 15px;
        width: 100%;
    }
}  
.cancel-button{
  width: 100px;
  background: #FFFFFF;
  font-weight: bold;
  color: #0041C4;
  border: 1px solid var(--Primary, #0041C4);
  border-radius: 6px;
  cursor: pointer;
  margin: 0 10px;
}
.save-button{
    border: 0px;
    border-radius: 6px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #0041C4;
    font-size: 13px;
    margin: 0 10px;
}
.error-detail{
    font-size: inherit;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 0;
}
:host ::ng-deep {
    .pi-fw {
        color:  #106DB6;
        margin-right: 5px;
        font-size: 10px;
      }
    .p-treeselect, .p-dropdown {
        border: 1px solid #106DB6;
        border-radius: 5px;
        height: 33px;
        width: 100%;
        outline: 0;
        color: black !important;
    }
    .p-treeselect-label, .p-dropdown-label {
        padding: 5px 5px 5px 15px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder, .p-dropdown .p-dropdown-label.p-placeholder {
        color: #6c757d !important;
    }
}
.invalid{
    color: red;
}
  
:host ::ng-deep {
    .p-calendar {
      font-size: 13px !important;
      font-family: 'font_lexend_deca';
      width: 100%;
    }
    .p-datepicker table td {
      padding: 0;
    }
    .p-calendar-w-btn, .p-calendar-w-btn .p-inputtext {
      height: 33px;
    }
    .p-calendar-w-btn .p-inputtext{
      border: 1px solid #106DB6 !important;
      outline: 0 !important;
      box-shadow: none !important;
    }
}