<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{this.data.title}}</h3>
    </div>
    <div class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">{{'menu.contract.type.list' | translate}}</div>
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="contractTypeList" 
                        [(ngModel)]="filter_type" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="{{'choose.contract.type' | translate}}" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        ></p-dropdown>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'contract.number' | translate}}</div>
                <div class="input-data">
                    <input type="text" [(ngModel)]="filter_contract_no">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'createdate.start' | translate}}</div>
                <div>
                    <p-calendar [(ngModel)]="filter_from_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'createdate.end' | translate}}</div>
                <div>
                    <p-calendar [(ngModel)]="filter_to_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;" *ngIf="isOrg=='on' && this.isQLHD_03">
            <div class="col-md-12">
                <div class="label text-color">{{'menu.organization.list' | translate}}</div>
                <div>
                <p-treeSelect panelStyleClass="font"
                appendTo="body" [(ngModel)]="selectedNodeOrganization" ngDefaultControl [options]="listOrgCombobox" placeholder="{{'all' | translate}}" [filter]="true" filterBy="name"  [droppable]="true" (onNodeSelect)="changeOrg()"></p-treeSelect>
                </div>
            </div>
        </div>
        
        <div class="row" style="padding-top: 10px;" *ngIf="isOrg == 'off' && (this.data.status == 'processing' || this.data.status == 'expire' || this.data.status == 'overdue')">
          <div class="col-md-6">
            <div class="label text-color">{{'person.processing.contract' | translate}}</div>
            <div class="input-data">
                <input type="text" [(ngModel)]="handler_name">
            </div>
          </div>
        </div>
        
        <div class="row" style="padding-top: 10px;"  *ngIf="isOrg=='on'">
          <div class="col-md-6">
            <div class="label text-color">{{'person.processing.contract' | translate}}</div>
            <div class="input-data">
                <input type="text" [(ngModel)]="handler_name">
            </div>
          </div>
          
          <div class="col-md-6">
            <div class="label text-color">{{'name.email.create.contract' | translate}}</div>
            <div class="input-data">
                <input type="text" [(ngModel)]="name_or_email_customer">
            </div>
          </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.search' | translate}}</button>
        </div>
    </div>
  </div>
  