<div class="container-fluid">
  <mdb-tabs [fill]="true">
    <mdb-tab title="Mẫu hợp đồng tạo"></mdb-tab>
    <mdb-tab title="Mẫu hợp đồng được chia sẻ"></mdb-tab>
  </mdb-tabs>

  <div class="row">
    <div class="col-md-5">
      <div>Tên mẫu hợp đồng</div>
      <input type="text" id="contractTemplateName" class="form-control input-search"/>
    </div>
    <div class="col-md-5">
      <div>Loại mẫu hợp đồng</div>
      <input type="text" id="contractTemplateType" class="form-control input-search"/>
    </div>
    <div class="col-md-2 btn_add">
      <button type="button" class="btn btn-outline-dark btn_submit">Thêm mới</button>
    </div>
  </div>

  <div class="row list_header">
    <div class="col-md-5"></div>
    <div class="col-md-2">Ngày tạo</div>
    <div class="col-md-2">Mã mẫu</div>
    <div class="col-md-3">Thao tác</div>
  </div>

  <div class="item_contract" *ngFor="let item of contractsTemplate  | paginate:{itemsPerPage: page, currentPage:p}">
    <div class="row">
      <div class="col-md-12 item_contract_name">{{item.contractName}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 item_contract_infor">Bên A: {{item.userName}}</div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 item_contract_infor">Bên B: {{item.partnerName}}</div>
        </div>
      </div>
      <div class="col-md-2 calendar_create">
        <i class="fa fa-calendar fa_icon"></i><span class="item_date">{{item.createDate}}</span>
      </div>

      <div class="col-md-2 contract_code">
        <span class="item_date">{{item.contractCode}}</span>
      </div>

      <div class="col-md-3 item_icon">
        <div class="row">
          <div class="col-md-100-5">
            <i class="fa fa_icon" [ngClass]="{
              'fa-unlock-alt': item.status == 'Đang phát hành',
              'fa-unlock': item.status == 'Ngừng phát hành'
            }" [ngbTooltip]="item.status == 'Đang phát hành' ? 'Ngừng phát hành' : 'Mở phát hành'"
            (click)="sendStatus(item.status); open(modalNotifi)"
            ></i>
          </div>
          <div class="col-md-100-5">
            <i class="fa fa-file-o fa_icon" ngbTooltip="Tạo hợp đồng đơn lẻ"></i>
          </div>
          <div class="col-md-100-5">
            <i class="fa fa-files-o fa_icon" ngbTooltip="Tạo hợp đồng theo lô"></i>
          </div>
          <div class="col-md-100-5">
            <i class="fa fa-share-square-o fa_icon" ngbTooltip="Chia sẻ"></i>
          </div>
          <div class="col-md-100-5">
            <i class="fa fa-trash-o fa_icon icon_red" ngbTooltip="Xóa"
            (click)="deleteItem(item.id); open(modalNotifi)"></i>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contract_footer">
    <div class="footer_title"></div>
    <div class="footer_pagination">
      <pagination-controls (pageChange)="p=$event; setPage()" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="footer_page_number">Số lượng: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
  </div>

</div>


<!-- Popup notification signup -->
<ng-template #modalNotifi let-modal >
  <div class="popup_content">
    <div class="row">
      <div class="col-md-10">
        <h4 class="popup_title">THÔNG BÁO</h4>
      </div>
      <div class="col-md-2 popup_close">
        <span (click)="modal.dismiss('Cross click')">×</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <p class="alert" role="alert"  [ngClass]="{'alert-danger' : status==0, 'alert-primary' : status==1}" style="text-align: center;    width: 100%;">
              {{notification}}
            </p>
            </div>
          </div>
          <div class="form-group" style="text-align: center; padding-top: 30px;width: 100px;margin: 10px auto;">
            <button (click)="modal.dismiss('Cross click');" class="btn btn-lg btn-block" style="background-color: #106DB6; color: white;">Đồng ý</button>
          </div>
      </div>
    </div>
  </div>
</ng-template>
