<div class="container-fluid">
  <mdb-tabs [fill]="true">
    <mdb-tab title="{{'contract-template.create' | translate}}"></mdb-tab>
    <mdb-tab title="{{'contract-template.share' | translate}}"></mdb-tab>
  </mdb-tabs>

  <div class="row">
    <div class="col-md-3">
      <div>{{'contract-template.name' | translate}}</div>
      <div class="input-line">
        <input type="text" [(ngModel)]="name" class="input_text"/>
      </div>
    </div>
    <div class="col-md-3">
      <div>{{'contract-template.type' | translate}}</div>
      <div class="input-line">
        <input type="text" [(ngModel)]="type" class="input_text"/>
      </div>
    </div>
    <div class="col-md-6 btn_search">
      <button class="btn btn-lg btn-block btn_submit">{{'btn.search' | translate }}</button>
      <button class="btn btn-lg btn-block btn_submit">{{'btn.add' | translate }}</button>
    </div>
  </div>

  <div class="row list_header">
    <div class="col-md-5"></div>
    <div class="col-md-2">{{'create-date' | translate}}</div>
    <div class="col-md-2">{{'contract-template.code' | translate}}</div>
    <div class="col-md-3">{{'action' | translate}}</div>
  </div>

  <div class="item_contract" *ngFor="let item of contractsTemplate  | paginate:{itemsPerPage: page, currentPage:p}">
    <div class="row">
      <div class="col-md-12 item_contract_name">{{item.contractName}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 item_contract_infor">Bên A: {{item.userName}}</div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 item_contract_infor">Bên B: {{item.partnerName}}</div>
        </div>
      </div>
      <div class="col-md-2 calendar_create">
        <i class="fa fa-calendar fa_icon"></i><span class="item_date">{{item.createDate}}</span>
      </div>

      <div class="col-md-2 contract_code">
        <span class="item_date">{{item.contractCode}}</span>
      </div>

      <div class="col-md-3 item_icon">
        <div style="display: flex; justify-content: center;">
          <div class="div_icon">
            <img *ngIf="item.status == 'Đang phát hành'" src="../../assets/img/icon_stop_release.svg" class="img_icon" ngbTooltip="Ngừng phát hành" (click)="stopContractTemplate(item.id)"/>
            <img *ngIf="item.status == 'Ngừng phát hành'" src="../../assets/img/icon_open_release.svg" class="img_icon" ngbTooltip="Mở phát hành" (click)="releaseContractTemplate(item.id)"/>
          </div>

          <div class="div_icon">
            <img src="../../assets/img/icon_file.svg" class="img_icon" ngbTooltip="Tạo hợp đồng đơn lẻ" (click)="shareContractTemplate(item.id)"/>
          </div>
          <div class="div_icon">
            <img src="../../assets/img/icon_add_connect.svg" class="img_icon" ngbTooltip="Tạo hợp đồng theo lô" (click)="shareContractTemplate(item.id)"/>
          </div>
          <div class="div_icon">
            <img src="../../assets/img/icon_share.svg" class="img_icon" ngbTooltip="Chia sẻ" (click)="shareContractTemplate(item.id)"/>
          </div>
          <div class="div_icon">
            <img src="../../assets/img/icon_delete.svg" class="img_icon" ngbTooltip="Xóa hợp đồng" (click)="deleteContractTemplate(item.id);" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="contract_footer">
    <div class="footer_title"></div>
    <div class="footer_pagination">
      <pagination-controls (pageChange)="p=$event; setPage()" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="footer_page_number">{{'chart.number' | translate}}: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
  </div>

</div>