<div *ngIf="loaded">
<div *ngIf="isQLMHD_01 || isQLMHD_02 || isQLMHD_03 || isQLMHD_04 || isQLMHD_05 || isQLMHD_06 || isQLMHD_07 || isQLMHD_08 || isQLHD_14 || isQLHD_15" class="container-fluid">
  <p-selectButton [options]="stateOptions" [(ngModel)]="isShare" optionLabel="label" optionValue="value" (click)="searchContract()">
    <ng-template #options let-item>
      <span style="margin: auto;width: 50%;">{{item.label | translate}}</span>
    </ng-template>
  </p-selectButton>

  <div class="row" style="padding-top: 10px;">
    <div class="col-md-3" *ngIf="isQLMHD_06">
      <div>{{'contract-template.name' | translate}}</div>
      <div class="input-line">
        <input type="text" [(ngModel)]="name" class="input_text"/>
      </div>
    </div>
    <div class="col-md-3" *ngIf="isQLMHD_06">
      <div>{{'contract.type' | translate}}</div>
      <div>
        <p-dropdown 
          panelStyleClass="font"
          [options]="contractTypeList" 
          [(ngModel)]="type" 
          optionLabel="name" 
          optionValue="id" 
          [filter]="true" 
          filterBy="name" 
          [showClear]="type?true:false"
          placeholder="{{'all' | translate}}"
          ></p-dropdown>
      </div>
    </div>
    <div class="col-md-6 btn_search">
      <button *ngIf="isQLMHD_06" class="btn btn-lg btn-block btn_submit" (click)="searchContract()">{{'btn.search' | translate }}</button>
      <button *ngIf="isQLMHD_01" class="btn btn-lg btn-block btn_submit" (click)="add()">{{'btn.add' | translate }}</button>
    </div>
  </div>

  <div class="row list_header" *ngIf="pageTotal > 0;">
    <div class="col-md-5"></div>
    <div class="col-md-2">{{'create-date' | translate}}</div>
    <div class="col-md-2">{{'contract-template.code' | translate}}</div>
    <div class="col-md-3">{{'action' | translate}}</div>
  </div>

  <div class="item_contract" *ngFor="let item of contractsTemplate  | paginate:{itemsPerPage: page, currentPage:p, totalItems: pageTotal}">
    
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 item_contract_name">
            <a  class="item_contract_name" style="text-decoration: none;" 
            (click)="isQLMHD_08?openDetail(item.id):null" 
            [routerLink]="['/main/contract-template/form/detail/', item.id]"
            [queryParams]="{'page': this.p}">
            {{item.name}}
            </a>
          </div>
        </div>
        <div class="row" *ngFor="let itemPar of sortParticipant(item.participants); let index = index">
          <div class="col-md-12 item_contract_infor">{{'side' | translate}} {{getNameOrganization(itemPar, index)}}</div>
        </div>
      </div>
      <div class="col-md-2 calendar_create">
        <div><i class="fa fa-calendar fa_icon"></i><span class="item_date">{{item.created_at | date: 'dd/MM/yyyy HH:mm'}}</span></div>
      </div>

      <div class="col-md-2 contract_code">
        <span class="item_date">{{item.code}}</span>
      </div>

      <div class="col-md-3 item_icon">
        <div style="display: flex; justify-content: center;">
          <div class="div_icon" *ngIf="isShare=='off' && isQLMHD_09">
            <img src="../../assets/img/icon_copy.svg" class="img_icon" ngbTooltip="{{'role.contract-template.copy' | translate}}" (click)="cloneContractTemplateCall(item.id)" />
          </div>
          <div class="div_icon" *ngIf="isShare=='off' && isQLMHD_02">
            <img src="../../assets/img/icon_edit.svg" class="img_icon" ngbTooltip="{{'role.contract-template.edit' | translate}}" (click)="openEdit(item.id)" />
          </div>
          <div class="div_icon" *ngIf="isShare=='off' && item.releaseState=='CON_HIEU_LUC' && (isQLMHD_03 || isQLMHD_04)">
            <img *ngIf="item.status == 10 && isQLMHD_03" src="../../assets/img/icon_stop_release.svg" class="img_icon" ngbTooltip="{{'stop.releasing' | translate}}" (click)="stopContractTemplate(item.id)"/>
            <img *ngIf="item.status == 32 && isQLMHD_04" src="../../assets/img/icon_open_release.svg" class="img_icon" ngbTooltip="Mở phát hành" (click)="releaseContractTemplate(item.id)"/>
          </div>

          <div class="div_icon" *ngIf="item.status == 10 && item.releaseState=='CON_HIEU_LUC' && isQLHD_14">
            <img src="../../assets/img/icon_file.svg" class="img_icon" ngbTooltip="{{'role.contract-template.create-contract' | translate}}" (click)="addContractForm(item.id)"/>
          </div>
          <div class="div_icon" *ngIf="item.status == 10 && item.releaseState=='CON_HIEU_LUC' && isQLHD_15">
            <img src="../../assets/img/icon_add_connect.svg" class="img_icon" ngbTooltip="{{'role.contract-template.create-batch' | translate}}" (click)="addContractBatch(item.id)"/>
          </div>
          <div class="div_icon" *ngIf="isShare=='off' && item.status == 10 && item.releaseState=='CON_HIEU_LUC' && isQLMHD_05">
            <img src="../../assets/img/icon_share.svg" class="img_icon" ngbTooltip="{{'btn.share' | translate}}" (click)="shareContractTemplate(item.id)"/>
          </div>
          <div class="div_icon" *ngIf="isShare=='off' && isQLMHD_07">
            <img src="../../assets/img/icon_delete.svg" class="img_icon" ngbTooltip="{{'role.contract-template.delete' | translate}}" (click)="deleteContractTemplate(item.id)" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="pageTotal == 0" 
  style="height: 100px;display: table;top: 0;left: 0;width: 100%;text-align: center;margin-top: 20px;">
    <div style="display: table-cell;vertical-align: middle;"> 
      <img src="../../../assets/img/empty_data.svg"/>
      <div style="color: #94A7C6">{{'no.data' | translate}}</div>
    </div>
  </div>

  <div class="contract_footer">
    <div class="footer_title"></div>
    <div class="footer_pagination">
      <pagination-controls *ngIf="pageTotal > 0;" (pageChange)="p=$event; getContractTemplateList()" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="footer_page_number">{{'chart.number' | translate}}: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
  </div>

</div>
</div>