.item_contract {
  border: 0.5px solid rgba(0, 65, 196, 0.10);
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
  line-height: 21px;
  margin-top: 8px;
}

.container-fluid{
  background-color: #FFFFFF;
  border-radius: 12px;
  padding-top: 15px;
}

.item_contract:hover{
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  border: 1px solid #C3D7FF;
}

.item_contract_name {
  font-weight: 500;
  font-size: 16px;
  color: #001A4D;
  cursor: pointer;
  white-space: pre-wrap;
}

.item_contract_infor{
  color: #8E9AB0;
}

.status_blue{
  color: #027e21;
}

.list_header{
  color:#8E9AB0;
  text-align: center;
  padding: 12px 12px 0;
  font-weight: 500;
}

.input-group-text{
  padding: 8.5px;
}
.input-group-text i{
  color: #106DB6;
}
.input-search{
  height: 35px;
  font-size: inherit;
}
.calendar_create{
  text-align: center;
  color:#8E9AB0
}

.contract_code{
  color: #2D6BE7;
}
.item_date{
  padding-left: 3px;
}
.item_icon{
  text-align: center;
  color: #015393;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
  margin: 0 10px;
}
.btn_add{
  text-align: right;
  align-self: flex-end;
}
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}

:host ::ng-deep {
  .ngx-pagination {
    padding: 0;
  }
  .ngx-pagination a, .ngx-pagination button {
    text-decoration: none;
    background: #f3f3f3;
  }
  .ngx-pagination li {
    width: 50px;
    border-radius: 5px;
  }
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_left';
    vertical-align: middle;
    display: inline;
    margin: 0;
  }
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_right';
    vertical-align: middle;
    display: inline;
    margin: 0;
  }

  .p-selectbutton .p-button {
    outline: 0 !important;
    box-shadow: none !important;
    height: 33px;
    width: 50%;
    font-weight: 500;
    background-color: #F6F6F6;
    color: var(--Text-Secondary, #8E9AB0);
    border: 0px;
  }
  .p-selectbutton .p-button.p-highlight {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #001A4D;
    font-weight: 600;
  }

  .p-dropdown {
    border: 1px solid #106DB6;
    border-radius: 5px;
    height: 33px;
    width: 100%;
    outline: 0;
    color: black !important;
  }
  .p-dropdown-label {
      padding: 5px 5px 5px 15px;
  }
}

.fa_icon{
  font-size: 17px;
  cursor: pointer;
}
.icon_red{
  color: red;
}

.contract_footer{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_contract_per_page{
  position:absolute;
  display: flex;
  flex-wrap: nowrap;
  color: #0160AE;
  select{
    border: 1px solid #0160AE;
    border-radius: 5px;
  }
}
.footer_title{
  width: 120px;
}
.footer_pagination{
  display: flex;
  text-align: center;
}
.footer_page_number{
  color: #0160AE
}

::ng-deep .multiselect-dropdown {
  .selected-item {
    max-width: 95% !important;
    min-height: 38px;
    height: auto;
  }
}
.div_icon{
  padding: 0 10px;
}
.img_icon{
  width: 18px;
  cursor: pointer;
}
.img_icon:hover{
  width: 30px;
}
.input_text {
  padding-left: 10px;
  outline: none;
  height: 33px;
  width: 100%;
  border-radius: 5px;
  border: 1px solid #106DB6;
}
.btn_add{
  border: 0px;
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  color: white;
  background-color: #0041C4;
  font-size: 13px;
  margin: 0 24px;
  font-style: normal;
  font-weight: 700;
}

.btn_search1{
  border: 1px solid rgba(0, 26, 77, 0.10);
  border-radius: 8px;
  height: 35px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFFFFF;
  font-size: 13px;
  // margin: 0 10px;
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  font-style: normal;
  font-weight: 700;
}

.btn_search{
  align-self: flex-end;
}

.calendar_create, .contract_code, .item_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.col-cell-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: block;
  margin: auto;
}

.enterPage {
  display: flex;
  margin-left: 10px
}

.enterPage input {
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
  width: 50px; 
  border-radius: 5px;
  border: 1px solid #0160AE;
}

.text-enterPage::placeholder {
  font-size: 10px;
}

.enterPage p {
  margin-top: 2px
}

@media (min-width: 1400px) {
  .col-xxl-9 {
    flex: 0 0 auto;
    width: 80%;
  }
  
  .col-xxl-3 {
    flex: 0 0 auto;
    width: 40%;
}
  
  .col-xxl-1 {
    flex: 0 0 auto;
    width: 6.3333333333%;
  }
  
}