<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{this.data.title}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">Loại hợp đồng</div>
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="contractTypeList" 
                        formControlName="filter_type" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="Chọn loại hợp đồng" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        ></p-dropdown>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">Số hợp đồng</div>
                <div class="input-data">
                    <input type="text" formControlName="filter_contract_no">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">Từ ngày (ngày tạo)</div>
                <div>
                    <p-calendar formControlName="filter_from_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">Đến ngày (ngày tạo)</div>
                <div>
                    <p-calendar formControlName="filter_to_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div> 
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">Hủy</button>
            <button class="save-button" (click)="onSubmit()">Lưu lại</button>
        </div>
    </form>
  </div>
  