<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{this.data.title}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">{{'menu.contract.type.list' | translate}}</div>
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="contractTypeList" 
                        formControlName="filter_type" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="{{'choose.contract.type' | translate}}" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        ></p-dropdown>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'contract.number' | translate}}</div>
                <div class="input-data">
                    <input type="text" formControlName="filter_contract_no">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">{{'createdate.start' | translate}}</div>
                <div>
                    <p-calendar formControlName="filter_from_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">{{'createdate.end' | translate}}</div>
                <div>
                    <p-calendar formControlName="filter_to_date" [showIcon]="true" dateFormat="dd/mm/yy" appendTo="body"></p-calendar>
                </div> 
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6" *ngIf="this.data.status != 'wait-processing' && this.data.status != 'share' && this.data.status != 'wait-processing-dashboard'">
                <div class="label text-color">{{'contract.status.v2' | translate}}</div>
                <!--Chờ xử lý-->
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        formControlName="contractStatus"
                        appendTo="body"
                        [options]="(this.router.url.includes('processed')) ? contractStatusProcessedList: contractStatusProcessingList" 
                        optionLabel="name"
                        optionValue="id" 
                        placeholder="{{'contract.status.v2' | translate}}" 
                        [showClear]="true"  
                    ></p-dropdown>
                </div>
            </div>
            
            <div class="col-md-6">
              <div class="label text-color">{{'name.email.create.contract' | translate}}</div>
              <div class="input-data">
                  <input type="text" formControlName="name_or_email_customer">
              </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.search' | translate}}</button>
        </div>
    </form>
  </div>
  