<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;">{{this.data.title}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-6">
                <div class="label text-color">Mã gói</div>
                <div class="input-data">
                    <input type="text" formControlName="filter_code">
                </div>
            </div>

            <div class="col-md-6">
                <div class="label text-color">Thời gian</div>
                <div class="input-data">
                    <input type="text" formControlName="filter_time">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">Đơn giá trước VAT</div>
                <div class="input-data">
                    <input type="text" formControlName="totalBeforeVAT">
                </div>
            </div>
        
            <div class="col-md-6">
                <div class="label text-color">Đơn giá sau VAT</div>
                <div class="input-data">
                    <input type="text" formControlName="totalAfterVAT">
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-6">
                <div class="label text-color">Trạng thái</div>
                <div>
                    <p-dropdown 
                        panelStyleClass="font"
                        appendTo="body"
                        [options]="statusList" 
                        formControlName="filter_status" 
                        optionLabel="name" 
                        optionValue="id" 
                        placeholder="Chọn trạng thái" 
                        [filter]="true" 
                        filterBy="name" 
                        [showClear]="true"  
                        ></p-dropdown>
                </div>
            </div>

            <div class="col-md-6">
                <div class="label text-color">Số hợp đồng</div>
                <div class="input-data">
                    <input type="text" formControlName="filter_number_contract">
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">Hủy</button>
            <button class="save-button" (click)="onSubmit()">Tìm kiếm</button>
        </div>
    </form>
  </div>
  