.container-fluid-bg{
  background-color: #FFFFFF !important;
  border-radius: 12px;
}

.item_contract {
  // border: 1px solid #106DB6;
  border-radius: 8px;
  padding: 8px;
  margin-top: 5px;
  line-height: 24px;
}

.item_contract:hover{
  // background-color: rgb(255, 254, 254);
  box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
}

.item_contract_name {
  font-weight: 500;
  font-size: 16px;
  color: #001A4D;
  cursor: pointer;
  white-space: pre-wrap;
}


.item_contract_infor{
  color: #8E9AB0;
}

.item_contract_created{
  color: #666666;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_blue{
  color: #2D6BE7;
  background-color: #D8E6FA;
  padding: 5px 16px 0px 16px;
  width: 110px;
  height: 35px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
}

.list_header{
  color:#898989;
  text-align: center;
  padding: 12px 12px 0;
  font-weight: 500;
  // padding-top: 20px;
  background-color: #EBF2FB;
  width: 100%;
  margin-left: 0;
  height: 44px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #106DB6;
  color: white;
  border: 1px solid #106DB6;
}

.pagination a:hover:not(.active) {background-color: #ddd;}

.input-checkbox{
  text-align: left;
  width: 20px;
  height: 20px;
  margin: 5px;
}

.input-group-text{
  padding: 8.5px;
}
.input-group-text i{
  color: #106DB6;
}
.calendar_create{
  text-align: center;
  color: #8E9AB0;
}
.calendar_deadline{
  text-align: center;
  color: #8E9AB0;
}
.item_date{
  padding-left: 3px;
}
.item_icon{
  text-align: center;
  color: #015393;
}
//popup
.popup_content{
  padding: 30px;
}
.popup_title{
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.popup_close{
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
  margin: 0 5px;
}

.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}
.search{
  height: 38px;
  
}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  padding: 5px;
  cursor: pointer;
}
.input-img-calendar {
  top: 10px;
  right: 15px;
  position: absolute;
}
.input-text {
  border: 0.5px solid #F1F5FE;
  margin: 0px;
  width: 100%;
  height: 38px;
  outline:0px;
  background-color: #F1F5FE;
  padding: 10px 16px 10px 16px;
  opacity: 0px;
  border-radius: 8px;
  font-weight: 400;
}

:host ::ng-deep {
  .ngx-pagination {
    padding: 0;
  }
  .ngx-pagination a, .ngx-pagination button {
    text-decoration: none;
    background: #f3f3f3;
  }
  .ngx-pagination li {
    width: 50px;
    border-radius: 5px;
  }
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_left';
    vertical-align: middle;
    display: inline;
    margin: 0;
  }
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    font-family: 'Material Icons';
    content: 'keyboard_arrow_right';
    vertical-align: middle;
    display: inline;
    margin: 0;
  }

  .nav-link.active {
    color: #0d6efd;
    font-weight: 500;
    background-color: #c5ebff;
  }
  .nav-link {
    color: #6c6c6d;
  }

  .p-selectbutton .p-button {
    outline: 0 !important;
    box-shadow: none !important;
    height: 33px;
    width: 50%;
    font-weight: 500;
    background-color: #F6F6F6;
    color: var(--Text-Secondary, #8E9AB0);
    border: 0px;
  }

  .p-selectbutton .p-button.p-highlight {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #001A4D;
    font-weight: 600;
  }
}

// .long-text-ellipsis {
//   overflow: hidden;
//   white-space: nowrap;
//   // width: inherit;
//   text-overflow: ellipsis;
//   // max-width: 113px;
// }

.three_dot{
  cursor: pointer;
}

.three_dot_text{
  margin: 10px;
}

.fa_icon{
  font-size: 17px;
  cursor: pointer;
  color: #8E9AB0;
}
.contract_footer{
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_contract_per_page{
  position:absolute;
  display: flex;
  flex-wrap: nowrap;
  color: #A5AAB6;
  select{
    border: 1px solid #A5AAB6;
    border-radius: 5px;
  }
}

.footer_title{
  width: 120px;
}
.footer_pagination{
  display: flex;
  text-align: center;
}
.footer_page_number{
  color: #A5AAB6
}
.col-md-100-1{
  width: 100%;
}
.col-md-100-3{
  width: 33.3%;
}
.col-md-100-5{
  width: 20%;
}

::ng-deep .date-picker  input {
  display: block !important;
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  outline: 0;
}

.btn-block {
  background-color: #106DB6;
  color: white;
  height: 39px;
  font-size: 14px;
  width: 100%;
  border-radius: 5px;
}

.btn-size{
  width: fit-content;
}

.div_icon{
  padding: 0 10px;
}
.img_icon{
  width: 18px;
  cursor: pointer;
}
.img_icon:hover{
  width: 30px;
}
.calendar_create, .calendar_deadline, .item_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn_search{
  padding-top: 10px;
  align-self: flex-end;
}

.btn-size{
  width: fit-content;
}


.btn_submit{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
  // margin: 0 10px;
}

.btn_advanced{
  border: 0px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #001A4D;
  background-color: #FFFFFF;
  font-size: 13px;
  // margin: 0 10px;
  font-weight: 700;
  box-shadow: 0px 3px 12px 0px #1055E11A;
  border: 1px solid #001A4D1A;
  // width: 140px;
}

.btn_cancel{
  border: 0px;
  border-radius: 8px;
  box-sizing: border-box;
  color: #FFFFFF;
  background-color: #0041C4;
  font-size: 13px;
  // margin: 0 10px;
  font-weight: 700;
  // width: 140px;
}

#table td {
  white-space: pre-wrap;
}

.enterPage {
  display: flex;
  margin-left: 10px
}

.enterPage input {
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
  width: 50px; 
  border-radius: 5px;
  border: 1px solid #0160AE;
}

.text-enterPage::placeholder {
  font-size: 10px;
}

.enterPage p {
  margin-top: 2px;
}
@media (min-width: 1400px) {
  .col-xxl-9 {
      flex: 0 0 auto;
      width: 80%;
  }
  
  .col-xxl-8 {
    flex: 0 0 auto;
    width: 70%;
}
  
  .col-xxl-1-5 {
    flex: 0 0 auto;
    width: 10%;
  }
}