<div class="container-fluid">
  <div class="form-group">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text">
          <i class="fa fa-search" aria-hidden="true" style="color: #106DB6;"></i>
        </span>
      </div>
      <input
        type="text"
        id="search"
        class="form-control"
        placeholder="Nhập từ khóa tìm kiếm theo tên hợp đồng"
        style="height: 35px; font-size: inherit;"
      />
      <div class="input-group-append">
        <span class="input-group-text">
          <i class="fa fa-filter"
            style="color: #106DB6;"
          ></i>
        </span>
      </div>
    </div>
  </div>

  <div class="row" style="color:#898989; text-align: center;padding: 12px 12px 0; font-weight: 500;">
    <div class="col-md-6"></div>
    <div class="col-md-2">Ngày tạo</div>
    <div class="col-md-2">Ngày hết hạn ký</div>
    <div class="col-md-2">Thao tác</div>
  </div>

  <div class="item_contract">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="font-weight: 500;">Hợp đồng nguyên tắc mua bán vật liệu xây dựng</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Bên A: Công ty A</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Bên B: Nhà phân phối B, Nhà phân phối C</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Trạng thái: <span style="color: #027e21">Đang thực hiện</span></div>
        </div>
      </div>
      <div class="col-md-2"  style="text-align: center; color:#106DB6">
        <i class="fa fa-calendar"></i><span style="padding-left: 3px;">20/10/2021</span>
      </div>

      <div class="col-md-2"  style="text-align: center; color:red">
        <i class="fa fa-calendar"></i><span style="padding-left: 3px">20/10/2021</span>
      </div>

      <div class="col-md-2">
        <div class="row" style="text-align: center; color: #015393;">
          <div class="col-md-3">
            <div><i class="fa fa-clone" (click)="open(mymodal)"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-pencil-square"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-minus-square"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-calendar-o"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-calendar-plus-o"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-download"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-history"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="item_contract">
    <div class="row">
      <div class="col-md-6">
        <div class="row">
          <div class="col-md-12" style="font-weight: 500;">Hợp đồng nguyên tắc mua bán vật liệu xây dựng</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Bên A: Công ty A</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Bên B: Nhà phân phối B, Nhà phân phối C</div>
        </div>
        <div class="row">
          <div class="col-md-12" style="color: #666666;">Trạng thái: <span style="color: #027e21">Đang thực hiện</span></div>
        </div>
      </div>
      <div class="col-md-2"  style="text-align: center; color:#106DB6">
        <i class="fa fa-calendar"></i><span style="padding-left: 3px;">20/10/2021</span>
      </div>

      <div class="col-md-2"  style="text-align: center; color:red">
        <i class="fa fa-calendar"></i><span style="padding-left: 3px">20/10/2021</span>
      </div>

      <div class="col-md-2">
        <div class="row" style="text-align: center; color: #015393;">
          <div class="col-md-3">
            <div><i class="fa fa-clone" (click)="open(mymodal)"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-pencil-square"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-minus-square"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-calendar-o"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-calendar-plus-o"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-download"></i></div>
          </div>
          <div class="col-md-3">
            <div><i class="fa fa-history"></i></div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div style="text-align: center; padding-top: 20px;">
  <div class="pagination">
    <a href="#">&laquo;</a>
    <a href="#">1</a>
    <a href="#" class="active">2</a>
    <a href="#">3</a>
    <a href="#">4</a>
    <a href="#">5</a>
    <a href="#">6</a>
    <a href="#">&raquo;</a>
  </div>
  </div>
</div>

<div style="position:fixed; _position:absolute; bottom:30px; right:5%">
  <img src="../../../assets/img/add_item.svg" />
</div>

<ng-template #mymodal let-modal >
  <div style="padding: 30px;">
  <div class="modal-header">
    <h5>LỊCH SỬ HỢP ĐỒNG</h5>
    <button type="button" class="close" (click)="modal.dismiss('Cross click')" style="border: none;background: none;">
      <span style="font-size: 25px;">×</span>
    </button>
  </div>
  <div class="modal-body">
    <div style="color: #8B8B8B; padding-top: 5px;">Tên hợp đồng</div>
    <div style="color: #000000; padding-top: 5px;">Hợp đồng nguyên tắc mua bán vật liệu xây dựng</div>
    <div class="container">
      <div class="row">
        <div class="col-4" style="color: #8B8B8B; padding-top: 10px;">Người tạo</div>
        <div class="col-4" style="color: #8B8B8B; padding-top: 10px;">Người tạo</div>
        <div class="col-4" style="color: #8B8B8B; padding-top: 10px;">Người tạo</div>
      </div>
      <div class="row">
        <div class="col-4" style="color: #000000; padding-top: 5px;">Nguyễn Văn A</div>
        <div class="col-4" style="color: #000000; padding-top: 5px;">20/10/2021</div>
        <div class="col-4" style="color: #47A920; padding-top: 5px;">Đang xử lý</div>
      </div>
    </div>
  </div>
  <div style="border-top: 1px solid #dee2e6; margin-top: 10px;"></div>
  <div class="container">
    <div class="row">
      <div class="col-12" style="color: #8B8B8B; padding-top: 10px;">Danh sách ký</div>
    </div>
    <div class="row">
      <div class="col-4" style="color: #000000; padding-top: 5px;">Nguyễn Văn A</div>
      <div class="col-4" style="color: #000000; padding-top: 5px;">abc@gmail.com.vn</div>
      <div class="col-4" style="color: #106DB6; padding-top: 5px;">Đã xem xét</div>
    </div>
    <div class="row">
      <div class="col-4" style="color: #000000; padding-top: 5px;">Nguyễn Văn A</div>
      <div class="col-4" style="color: #000000; padding-top: 5px;">abc@gmail.com.vn</div>
      <div class="col-4" style="color: #106DB6; padding-top: 5px;">Đã xem xét</div>
    </div>
    <div class="row">
      <div class="col-4" style="color: #000000; padding-top: 5px;">Nguyễn Văn A</div>
      <div class="col-4" style="color: #000000; padding-top: 5px;">abc@gmail.com.vn</div>
      <div class="col-4" style="color: #106DB6; padding-top: 5px;">Đã xem xét</div>
    </div>
  </div>
  <div style="float: right; padding-top: 20px;">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')"
    style="padding: 5px; width: 100px; background: #106DB6; color: white; border: 1px solid #87CAFF;">Ok</button>
  </div>
</div>
</ng-template>
