.item_contract {
  border: 1px solid #1487E1;
  border-radius: 10px;
  padding: 8px;
  margin-top: 10px;
  line-height: 24px;
}

.item_contract:hover{
  background-color: rgb(250, 248, 248);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.item_contract_name {
  font-weight: 500;
}

.item_contract_infor{
  color: #666666;
}

.status_blue{
  color: #027e21;
}

.list_header{
  color:#898989;
  text-align: center;
  padding: 12px 12px 0;
  font-weight: 500;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #106DB6;
  color: white;
  border: 1px solid #106DB6;
}

.pagination a:hover:not(.active) {background-color: #ddd;}


.input-group-text{
  padding: 8.5px;
}
.input-group-text i{
  color: #106DB6;
}
.input-search{
  height: 35px;
  font-size: inherit;
}
.calendar_create{
  text-align: center;
  color:#106DB6
}
.calendar_deadline{
  text-align: center;
  color:red
}
.item_date{
  padding-left: 3px;
}
.item_icon{
  text-align: center;
  color: #015393;
}
//popup
.popup_content{
  padding: 30px;
}
.popup_title{
  margin: 0;
  font-weight: 500;
}
.popup_close{
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
}
.btn_submit{
  width: 90px;
  font-size: inherit;
  background: #106DB6;
  color: white;
  border: 1px solid #87CAFF;
}
.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}

:host ::ng-deep {
  .ngx-pagination {
    padding: 0;
  }
}
