<div class="container-fluid" style="padding-top: 10px;">

  <!-- <mdb-tabs [fill]="true" >
    <mdb-tab title="{{'contract.me' | translate}}" value='mine' [ngClass]="{ 'active':type==='mine'}" *ngIf="action=='create'"></mdb-tab>
    <mdb-tab title="{{'contract.organization' | translate}}" value='my-org' [ngClass]="{ 'active':type==='my-org'}" *ngIf="action=='create'"></mdb-tab>
    <mdb-tab title="{{'contract.wait-for-me' | translate}}" value='wait-for-me' [ngClass]="{ 'active':type==='wait-for-me'}" *ngIf="action=='receive'"></mdb-tab>
    <mdb-tab title="{{'contract.share-for-me' | translate}}" value='share-for-me' [ngClass]="{ 'active':type==='share-for-me'}" *ngIf="action=='receive'"></mdb-tab>
  </mdb-tabs> -->

  <div class="col-md-12">
    <div class="input-line search">
      <img src="../../assets/img/icon_search.svg" class="input-img" />
      <input type="text" id="search" class="input-text" placeholder="{{'contract.search.name.placeholder' | translate}}"
      (keyup)="autoSearch($event)" />
      <img src="../../assets/img/icon_search_group.svg" class="input-img"  (click)="searchContract()"/>
    </div>
  </div>

  <div class="row list_header" *ngIf="contracts.length > 0;">

    <div class="col-md-5"></div>
    <div class="col-md-2">{{'create-date' | translate}}</div>
    <div class="col-md-2">{{'expiration-date' | translate}}</div>
    <div class="col-md-3">{{'action' | translate}}</div>
  </div>

  <div class="item_contract" *ngFor="let item of contracts | paginate:{itemsPerPage: page, currentPage:p}">
    <div class="row">
      <div class="col-md-12 item_contract_name" (click)="openDetail(item.id)">{{item.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 item_contract_infor">{{'contract.side.a' | translate}}: {{item.sideA}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 item_contract_infor">{{'contract.side.b' | translate}}: {{item.sideB}}</div>
    </div>
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-md-12 item_contract_infor">{{'contract.status' | translate}}:
            <span class="status_blue">{{item.status | pipe | translate}}</span>
          </div>
        </div>
      </div>
      <div class="col-md-2 calendar_create">
        <i class="fa fa-calendar fa_icon"></i><span class="item_date">{{item.created_at | date: 'dd/MM/yyyy HH:mm'}}</span>
      </div>

      <div class="col-md-2 calendar_deadline">
        <i class="fa fa-calendar fa_icon"></i><span class="item_date">{{item.sign_time | date: 'dd/MM/yyyy'}}</span>
      </div>

      <div class="col-md-3 item_icon">
        <div style="display: flex; justify-content: center;">
          <div class="div_icon" *ngIf="status == 'draft' || status == 'processing' || status == 'expire' || status == 'cancel' || status == 'fail' || status == 'overdue' || status == 'complete'">
            <img src="../../assets/img/icon_copy.svg" class="img_icon" ngbTooltip="{{'contract.copy' | translate}}" (click)="openCopy(item, item.id)" />
          </div>
          <div class="div_icon" *ngIf="status == 'draft'">
            <img src="../../assets/img/icon_edit.svg" class="img_icon" ngbTooltip="{{'contract.edit' | translate}}" (click)="openEdit(item.id)" />
          </div>
          <div class="div_icon" *ngIf="status == 'draft'">
            <img src="../../assets/img/icon_delete.svg" class="img_icon" ngbTooltip="{{'contract.delete' | translate}}" (click)="deleteContract(item.id)" />
          </div>
          <div class="div_icon" *ngIf="status == 'processing' || status == 'expire' || status == 'complete'">
            <img src="../../assets/img/icon_view_connect.svg" class="img_icon" ngbTooltip="{{'contract.connect.view' | translate}}" (click)="contractConnect(item.id)"/>
          </div>
          <div class="div_icon" *ngIf="status == 'processing' || status == 'expire' || status == 'complete'">
            <img src="../../assets/img/icon_add_connect.svg" class="img_icon" ngbTooltip="{{'contract.connect.add' | translate}}" (click)="addContractConnect(item.id)"/>
          </div>
          <div class="div_icon" *ngIf="status == 'processing' || status == 'expire' || status == 'complete'">
            <img src="../../assets/img/icon_stop.svg" class="img_icon" ngbTooltip="{{'contract.cancel' | translate}}" (click)="cancelContract(item.id);"/>
          </div>
          <div class="div_icon" *ngIf="status == 'complete'">
            <img src="../../assets/img/icon_download.svg" class="img_icon" ngbTooltip="{{'contract.download' | translate}}" (click)="downloadContract(item.id);" />
          </div>
          <div class="div_icon" *ngIf="status == 'complete'">
            <img src="../../assets/img/icon_share.svg" class="img_icon" ngbTooltip="{{'contract.share' | translate}}" (click)="shareContract(item.id);"/>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="row" *ngIf="status == 'cancel' || status == 'fail'">
      <div class="col-md-12 item_contract_infor">Lý do: {{item.reason_reject}}</div>
    </div> -->
  </div>

  <div style="margin-top: 20px;
  padding: 10px;
  background-color: #eaeef3;
  border-radius: 5px;" *ngIf="contracts.length == 0;">Danh sách trống!</div>

  <div class="contract_footer">
    <div class="footer_title"></div>
    <div class="footer_pagination">
      <pagination-controls *ngIf="contracts.length > 0;" (pageChange)="p=$event; setPage()" previousLabel="" nextLabel=""></pagination-controls>
    </div>
    <div class="footer_page_number">{{'chart.number' | translate}}: {{pageStart}} - {{pageEnd}} / {{pageTotal}}</div>
  </div>

</div>

<!-- Popup notification signup -->
<ng-template #modalNotifi let-modal >
  <div class="popup_content">
    <div class="row">
      <div class="col-md-10">
        <h4 class="popup_title">THÔNG BÁO</h4>
      </div>
      <div class="col-md-2 popup_close">
        <span (click)="modal.dismiss('Cross click')">×</span>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-md-12">
          <div class="form-group">
            <div class="input-group">
              <p class="alert" role="alert"  [ngClass]="{'alert-danger' : statusPopup==0, 'alert-primary' : statusPopup==1}" style="text-align: center;    width: 100%;">
              {{notificationPopup}}
            </p>
            </div>
          </div>
          <div class="form-group" style="text-align: center; padding-top: 30px;width: 100px;margin: 10px auto;">
            <button (click)="modal.dismiss('Cross click');" class="btn btn-lg btn-block" style="background-color: #106DB6; color: white;">Đồng ý</button>
          </div>
      </div>
    </div>
  </div>
</ng-template>
<ngx-spinner
  bdColor="rgba(51,51,51,0.8)"
  size="medium"
  color="#fff"
  type="ball-spin-clockwise"
>
  <p style="font-size: 18px; color: white">Đang xử lý...</p>
</ngx-spinner>
