.container-fluid-bg{
  background-color: #FFFFFF !important;
  border-radius: 12px;
}

.item_contract {
  border: 0.5px solid rgba(0, 65, 196, 0.10);
  border-radius: 8px;
  padding: 8px;
  line-height: 21px;
  margin-top: 12px;
}

// .item_contract:hover{
  // background-color: rgb(255, 254, 254);
  // box-shadow: 0px 3px 12px 0px rgba(16, 85, 225, 0.10);
  // border: 1px solid #C3D7FF;
// }

.item_contract_name {
  font-weight: 700;
  font-size: 14px;
  color: #00186D;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 400px;
  white-space: pre-wrap;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}


.item_contract_infor{
  color: #8E9AB0;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  // @media (max-width: 1260px) {
  //   font-size: 10px;
  // }
}

.item_contract_status{
  color: #8E9AB0;
  font-size: 12px;
}

.item_contract_created{
  color: #666666;
  font-size: 13px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status_blue{
  color: #2D6BE7;
  background-color: #EEF5FF;
  padding: 5px 16px 0px 16px;
  width: 110px;
  height: 32px;
  display: inline-block;
  border-radius: 4px;
  font-weight: 700;
}




.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.pagination a.active {
  background-color: #106DB6;
  color: white;
  border: 1px solid #106DB6;
}

// .pagination a:hover:not(.active) {background-color: #ddd;}

.input-checkbox{
  text-align: left;
  width: 16px;
  height: 16px;
  margin: 5px;
}

.input-group-text{
  padding: 8.5px;
}
.input-group-text i{
  color: #106DB6;
}
.calendar_create{
  text-align: center;
  color: #8E9AB0;
}
.calendar_deadline{
  text-align: center;
  color: #8E9AB0;
}
.item_date{
  padding-left: 3px;
}
.item_icon{
  text-align: center;
  color: #015393;
}
//popup
.popup_content{
  padding: 30px;
}
.popup_title{
  margin: 0;
  font-weight: 500;
  text-transform: uppercase;
}
.popup_close{
  font-size: 25px;
  text-align: right;
  cursor: pointer;
}
.btn_close {
  width: 90px;
  font-size: inherit;
  background: #6c6c6d;
  color: white;
  border: 1px solid #808183;
  margin: 0 5px;
}

.label_item{
  padding: 10px 0px 5px;
  color: #5e5e5e;
}
.search{
  height: 38px;

}
.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  padding: 0.3rem;
  // padding: 5px;
  cursor: pointer;
}
.input-img-calendar {
  top: 10px;
  right: 15px;
  position: absolute;
}
.input-text {
  border: 0.5px solid #F1F5FE;
  margin: 0px;
  width: 100%;
  height: 42px;
  outline:0px;
  background-color: #F1F5FE;
  padding: 10px 16px 10px 16px;
  opacity: 0px;
  border-radius: 8px;
  font-weight: 400;
}

:host ::ng-deep {
  .ngx-pagination {
    padding: 0;
    font-family: 'Roboto';
  }
  .ngx-pagination .current {
    background: #0041C4;
  }
  .ngx-pagination a, .ngx-pagination button {
    text-decoration: none;
    background: #F3F6FA;
    color: #A8B5CE;
  }
  .ngx-pagination a:hover, .ngx-pagination button:hover {
    background-color: #F3F6FA;
  }
  .ngx-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .ngx-pagination li {
    border-radius: 5.8px;
    margin: 0 4px;
    // width: 50px;
    // background-color: #0041C4;
    // width: 24px;
    // height: 24px;
    // text-align: center;
    // vertical-align: middle;
  }
  .ngx-pagination li span {
    display: block;
  }
  .ngx-pagination button {
    background-color: #0041C4;
  }
  .ngx-pagination .pagination-previous a::before,
  .ngx-pagination .pagination-previous.disabled::before {
    font-family: 'Material Icons';
    content: url('../../../assets/img/Vector_left.svg');
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
  }
  .ngx-pagination .pagination-next a::after,
  .ngx-pagination .pagination-next.disabled::after {
    font-family: 'Material Icons';
    content: url('../../../assets/img/Vector_right.svg');
    vertical-align: middle;
    display: flex;
    align-items: center;
    margin: 0;
  }

  .nav-link.active {
    color: #0d6efd;
    font-weight: 500;
    background-color: #c5ebff;
  }
  .nav-link {
    color: #6c6c6d;
  }

  .p-selectbutton .p-button {
    outline: 0 !important;
    box-shadow: none !important;
    height: 42px;
    width: 50%;
    font-weight: 500;
    background-color: #F6F6F6;
    color: #A8B5CE;
    // color: var(--Text-Secondary, #8E9AB0);
    border: 0px;
  }

  .p-selectbutton .p-button.p-highlight {
    background: #FFFFFF;
    border-color: #FFFFFF;
    color: #00186D;
    font-weight: 600;
  }
}

// .long-text-ellipsis {
//   overflow: hidden;
//   white-space: nowrap;
//   // width: inherit;
//   text-overflow: ellipsis;
//   // max-width: 113px;
// }

.three_dot{
  cursor: pointer;
}

.three_dot_text{
  margin: 10px;
}

.fa_icon{
  font-size: 17px;
  cursor: pointer;
  color: #8E9AB0;
}
.contract_footer {
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}
.footer_contract_per_page{
  position:absolute;
  display: flex;
  flex-wrap: nowrap;
  color: #A5AAB6;
  select{
    border: 1px solid #A5AAB6;
    border-radius: 5px;
  }
}

.footer_title{
  width: 120px;
}
.footer_pagination, .contract_footer_pagination_responsive {
  display: flex;
  text-align: center;
}
.footer_page_number{
  color: #A5AAB6
}
.col-md-100-1{
  width: 100%;
}
.col-md-100-3{
  width: 33.3%;
}
.col-md-100-5{
  width: 20%;
}

::ng-deep .date-picker  input {
  display: block !important;
  width: 100% !important;
  height: calc(2.25rem + 2px) !important;
  padding: .375rem .75rem !important;
  font-size: 1rem !important;
  line-height: 1.5 !important;
  color: #495057 !important;
  background-color: #fff !important;
  background-clip: padding-box !important;
  border: 1px solid #ced4da !important;
  border-radius: .25rem !important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
  outline: 0;
}



.btn-size{
  width: fit-content;
}

.div_icon{
  padding: 0 10px;
}
.img_icon{
  width: 20px;
  cursor: pointer;
}
// .img_icon:hover{
  // width: 30px;
// }
.calendar_create, .calendar_deadline, .item_icon{
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.btn_search{
  height: 42px;
  // padding-top: 10px;
  align-self: flex-end;
}

.btn-size{
  width: fit-content;
}


.btn_submit{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
  // margin: 0 10px;
}

#table td {
  white-space: pre-wrap;
}

.enterPage {
  display: flex;
  margin-left: 10px
}

.enterPage input {
  text-align:center;
  margin-left: 5px;
  margin-right: 5px;
  height: 25px;
  width: 50px;
  border-radius: 5px;
  border: 1px solid #0160AE;
}

.text-enterPage::placeholder {
  font-size: 10px;
}
input::placeholder{
  color: #8E9AB0;
}

.enterPage p {
  margin-top: 2px;
}

.button-classify {
  margin: auto;
  width: 50%;
}

.cancel-padding {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.col-md-6 {
  @media (min-width: 768px) and (max-width: 991px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (max-width: 767px) {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 16px;
  }
}

.contract_footer_responsive {
  justify-content: space-between;
  .contract_footer_per_page_responsive {
    color: #A5AAB6;
    display: flex;
    flex-direction: row;
    select{
      height: 20px;
      border: 1px solid #A5AAB6;
      border-radius: 5px;
    }
  }
  pagination-controls {
    margin-top: 12px;
  }
  .footer_pagination {
    @media (min-width: 794px) {
      display: flex;
      flex-direction: column-reverse;
      align-items: center;
    }
  }
}

@media (max-width: 1014px) {
  .contract_footer_pagination_responsive {
    margin-top: 12px;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .contract_footer_responsive .footer_pagination {
    display: none;
  }
  .contract_footer_responsive {
    margin-top: 12px;
  }
}

@media (min-width: 1014px) {
  .contract_footer_pagination_responsive {
    display: none;
  }
  .contract_footer_responsive .footer_pagination {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 692px) {
  .contract_footer_responsive {
    flex-direction: column;
    align-items: center;
  }
  .contract_footer_per_page_responsive,
  .contract_footer_responsive .enterPage,
  .contract_footer_responsive .footer_page_number {
    margin-bottom: 12px;
  }

  .contract_footer_pagination_responsive {
    margin: 0;
  }
  .contract_footer_per_page_responsive {
    align-items: center;
  }
}

@media (min-width: 1300px) {
  .contract_footer {
    display: flex;
  }
  .contract_footer_responsive {
    display: none;
  }
}

@media (max-width: 1300px) {
  .contract_footer {
    display: none;
  }
  .contract_footer_responsive {
    display: flex;
  }
}

@media (min-width: 1014px) and (max-width: 1300px) {
  .contract_footer_responsive {
    padding-top: 10px;
  }
}

@media (min-width: 992px) {
  .btn-padding-right {
    padding-right: 0.5rem !important;
  }
  
  .btn-padding-left {
    padding-left: 0.5rem !important;
  }
}

.col-sm-0-5 {
  flex: 0 0 4.16667%; /* (1/24) * 100 = 4.16667% */
  max-width: 4.16667%;
}

// @media (min-width: 576px) {
//   .col-sm-0-5 {
//     flex: 0 0 4.16667%;
//     max-width: 4.16667%;
//   }
// }

.flex-container {
  display: flex !important;
  align-items: center;
}

.table-contract {
  min-height: 60vh;
  margin-bottom: 16px;
}

.col-lg-8-7 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button) * 3) !important;
  }
}

.col-lg-10-9 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button)) !important;
  }
}

.col-lg-9-8 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: calc(100% - var(--width-button) * 2) !important;
  }
}

.col-lg-1-1 {
  @media (min-width: 992px) {
    flex: 0 0 auto !important;
    width: var(--width-button) !important;
  }

  @media (max-width: 991px) {
    margin-top: 16px !important;
  }
}