.add_content {
  border-radius: 10px;
  border: 1px solid #0160AE;
  margin-top: 10px;
}

.add_click {
  margin: 10px;
}

.add_link {
  padding-top: 5px;
  color: #b8bcbf;
  font-weight: 400;
  font-size: 14px;
  text-decoration: none;
  cursor: pointer;
}

.label {
  font-weight: 500;
  color: #0160AE;
  background-color: #C7D0E9;
  height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
}

.label_detail {
  font-weight: 500;
  color: #0160AE;
  background-color: #C7D0E9;
  height: 40px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
}

.label_item {
  padding: 12px 0px 3px;
  color: #5e5e5e;
}

.order {
  display: flex;
  justify-content: center;
  align-items: center;
}

.order_input {
  background: #f9f9f9;
  text-align: center;
  padding: 5px 1px;
  width: 40px;
  font-size: inherit;
}

.input_phone {
  font-size: inherit;
}

.remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.remove_icon {
  color: #b8bcbf;
  cursor: pointer;
}

.form-check-input {
  width: 20px;
  margin: 0;
  height: 20px;
}

.form_content {
  border: 1px solid #0160AE;
  padding: 8px;
  border-radius: 10px;
}

.require_star {
  color: red;
}

.partner_content {
  padding-top: 20px;
}

.labelOrg {
  padding: 10px 0px 5px;
  font-weight: 500;
  text-transform: uppercase;
}

.textOrg {
  font-size: inherit;
}

.form-control {
  border: 1px solid #87CAFF;
}

.form-control:disabled, .form-control[readonly] {
  background-color: #f9f9f9;
}

hr {
  border: 1px solid #0160AE;
}

.label_type {
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

.label_type_email {
  text-align: center;
  font-weight: 500;
  padding-top: 10px;
}

.label_type_phone {
  text-align: center;
  font-weight: 500;
  margin-left: 100px;
  padding-top: 10px;
}

//input type number
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

//change css dropdown multi
:host ::ng-deep {
  .selected-item {
    max-width: 100% !important;
  }
}

//style button
.action-button {
  width: 100px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.draft-button {
  width: 100px;
  background: #FCAF17;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.footer-determine {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content_footer {
    color: #0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}

.error-detail {
  font-size: inherit;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 0;
}

.input-line {
  display: flex;
  position: relative;
}

.input-img {
  top: 10px;
  left: 20px;
}

.input-text {
  border: 0;
  width: 90%;
  padding-left: 10px;
  outline: 0;
  font-size: 14px;
}

// defind json data follow backend

.contract-determine {
  display: flex;
  align-items: center;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  .contract--content {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .contract__content--title {
    display: flex;
    color: #106DB6;
    align-items: center;
    margin-bottom: 8px;

    > div {
      width: 158px;
    }

    > input {
      padding-left: 10px;
      outline: none;
      height: 37px;
      width: 100%;
      border-radius: 7px;
      border: 1px solid #106DB6;
    }
  }

  .contract__content--title-doi-tac {
    display: flex;
    color: #106DB6;
    align-items: center;
    margin-bottom: 8px;

    > div {
      width: 158px;
    }

    > input.input1 {
      padding-left: 10px;
      outline: none;
      height: 37px;
      width: 100%;
      border-radius: 7px;
      border: 1px solid #106DB6;
    }
    > input.input2 {
      padding-left: 10px;
      outline: none;
      height: 37px;
      width: 40%;
      border-radius: 7px;
      border: 1px solid #106DB6;
    }
  }

  .contract__content--participants {
    border-radius: 10px;
    border: 1px solid #87CAFF;
    background-color: #F9FDFF;
    padding: 19px 10px 13px 10px;

    .participants--content {
      display: flex;
      background-color: #FFFFFF;
      align-items: center;
      justify-content: space-around;
      border-radius: 0 0 11px 11px;

      ::ng-deep .mat-form-field {
        width: 100%;
        background-color: white !important;
        &-flex {
          border: 1px solid #106DB6;
          border-radius: 5px;
          background-color: white !important;
        }
        &-infix {
          border-top: 0;
        }
      }

      .participants__content--input .participants-information {
        display: flex;
        text-align: center;
        justify-content: center;
        margin-bottom: 14px;

        .participants-signature-type {
          width: 95%;
          text-align: center;
        }
      }

      .participants--input {
        display: flex;
        justify-content: space-around;

        .participants__name {
          width: 40%;

          .input-data {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;

            > img {
              padding-left: 14px;
            }

            > input {
              border: none;
              outline: none;
              padding-left: 19px;
              width: 100%;
            }
          }

          input {
            outline: none;
            padding-left: 19px;
            width: 100%;
          }

          .search-name {
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: white;
            border: 1px solid #ddd;
            width: 25%;
            border-radius: 5px;
            padding: 5px;
            max-height: 190px;
            overflow: auto;
            cursor: pointer;
            z-index: 1;

            .search-name-items {
              border: none;
              background-color: white;
              text-align: left;

              &:hover {
                background-color: #e9eceff7;
              }
            }

            //span:hover {
            //  background-color: #dddddd94;
            //}
          }

        }
      }

      .participants--input--radio {
        display: flex;
        justify-content: flex-start;
      }

      .participants--input1 {
        display: flex;
        justify-content: space-around;

        .participants__name {
          width: 40%;

          .input-data {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;

            > img {
              padding-left: 14px;
            }

            > input {
              border: none;
              outline: none;
              padding-left: 19px;
              width: 100%;
            }
          }

          input {
            outline: none;
            padding-left: 19px;
            width: 100%;
          }

          .search-name {
            display: flex;
            position: absolute;
            flex-direction: column;
            background-color: white;
            border: 1px solid #ddd;
            width: 25%;
            border-radius: 5px;
            padding: 5px;
            max-height: 190px;
            overflow: auto;
            cursor: pointer;
            z-index: 1;

            .search-name-items {
              border: none;
              background-color: white;
              text-align: left;

              &:hover {
                background-color: #e9eceff7;
              }
            }

            //span:hover {
            //  background-color: #dddddd94;
            //}
          }

        }
      }

      .delete-element {
        position: relative;
        cursor: pointer;

        .close-btn {
          position: absolute;
          top: 8px;
          left: 4.4px;
        }
      }

      .select-text-input {
        display: flex;
        //margin: 0 29px;
        //margin: 0 44px;

        div:first-child, div:last-child {
          //width: 42%;
        }

        .participants__name:last-child {
          input {
            border: 1px solid #106DB6;
            border-radius: 5px;
            height: 38px;
            display: flex;
            align-items: center;
          }
        }

        .participants-otp {
          position: relative;
          top: 40px;

          input {
            top: 13px;
            position: absolute;
          }
        }

      }

    }

    .participants-border {
      border-radius: 11px 11px 11px 11px;
      border: 1px solid #ddd;

      .participants--add {
        display: inline-block;
        color: #106DB6;
        cursor: pointer;
      }

      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }

    ::ng-deep .multiselect-dropdown .dropdown-btn {
      border: 1px solid #106DB6 !important;
      min-height: 38px;
      height: auto;
    }

  }

  .text-color {
    background-color: #FFFFFF;
    border-radius: 0 0 11px 11px;
  }
}

.contract-total {
  border: 1px solid #106DB6;
  color: #106DB6;
  text-align: center;
  border-radius: 5px;
  outline: none;
}

.required-title {
  color: red;
}

.notify {
  width: 100% !important;
  text-align: left;
  color: #ffc107;
  font-size: 12px;
}

//::ng-deep .mat-form-field-flex {
//  background-color: white;
//}
