<!--begin template-->
<div class="container-fluid">
  <div class="contract-determine">
    <div class="col-md-1">
      <input class="contract-total" style="width: 25px; height: 25px" type="number" [(ngModel)]="data_organization.ordering">
    </div>
    <div class="col-md-11 contract--content">
      <div class="contract__content--title">
        <div>TỔ CHỨC CỦA TÔI -</div>
        <input type="text" [(ngModel)]="data_organization.name" disabled>
      </div>
      <div class="contract__content--participants">
        <div class="participants-border">
          <div class="label">Người xem xét</div>
          <!--          <div class="participants&#45;&#45;content" *ngFor="let d of is_origanzation_reviewer; let index = index">-->
          <div class="participants--content" *ngFor="let d of getOriganzationReviewer(); let index = index">
            <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number" [(ngModel)]="d.ordering">
            <div class="col-md-10 participants--input" style="display: flex">
              <div class="participants__name">
                <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                <div class="input-data">
                  <img src="assets/img/icon_name.svg" class="input-img">
                  <input type="text" placeholder="Nhập họ và tên" [(ngModel)]="d.name" autofocus>
                </div>
              </div>
              <div class="participants__name">
                <div class="label text-color">Email: <span class="required-title">*</span></div>
                <div class="input-data">
                  <img src="assets/img/login_email.svg" class="input-img">
                  <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                </div>
              </div>
            </div>
            <div class="col-md-1 delete-element" (click)="deleteOriganzationReviewer(index)">
              <img src="assets/img/border_close.svg" alt="close.vn">
              <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
            </div>
          </div>
          <div class="participants--add">
            <u class="label text-color" (click)="addOriganzationReviewer()">Thêm người xem xét</u>
          </div>
        </div>
        <div class="participants-border">
          <div class="label">Người ký</div>
          <!--          <div class="participants&#45;&#45;content" *ngFor="let d of this.is_origanzation_signature; let index = index">-->
          <div class="participants--content" *ngFor="let d of getOriganzationSignature(); let index = index">
            <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number" [(ngModel)]="d.ordering">
            <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
              <div class="participants--input" style="display: flex">
                <div class="participants__name">
                  <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/icon_name.svg" class="input-img">
                    <input #abcd [id]="'signature-origanzation-' + d.ordering" type="text" placeholder="Nhập họ và tên"
                           [(ngModel)]="d.name">
                  </div>
                </div>
                <div class="participants__name">
                  <div class="label text-color">Email: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/login_email.svg" class="input-img">
                    <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                  </div>
                </div>
              </div>

              <div class="participants--input select-text-input" style="display: flex">
                <div class="participants__name">
                  <div class="label text-color">Loại ký: <span class="required-title">*</span></div>
                  <ng-multiselect-dropdown [(ngModel)]="d.sign_type" placeholder="{{'choose' | translate }}"
                                           [settings]="dropdownSignTypeSettings" [data]="signTypeList"
                                           (change)="getDataSignature($event)">
                    <ng-template #optionsTemplate let-item let-option="option"
                                 let-id="id" let-isSelected="isSelected">
                      <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                        <label style="color: #333; font-weight: normal;"
                               [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                          {{getContractConnectItems[id].name}}
                        </label>
                      </div>
                    </ng-template>
                  </ng-multiselect-dropdown>
                  <div class="required-title notify">Lưu ý: bạn chỉ được phép chọn 1 kiểu ký số!</div>
                </div>
                <div class="participants-otp">
                  <input type="checkbox" [value]="1" [(ngModel)]="d.is_otp">
                  <span class="label text-color">OTP</span>
                </div>
                <div class="participants__name">
                  <div class="label text-color">Số điện thoại: <span *ngIf="d.is_otp" class="required-title">*</span></div>
                  <input type="number" placeholder="Nhập số điện thoại" [(ngModel)]="d.phone">
                </div>
              </div>
            </div>
            <div *ngIf="getOriganzationSignature().length > 1" class="col-md-1 delete-element" (click)="deleteOriganzationSignature(index)">
              <img src="assets/img/border_close.svg" alt="close.vn">
              <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
            </div>
            <div *ngIf="getOriganzationSignature().length == 1" class="col-md-1 delete-element"></div>
          </div>
          <div class="participants--add">
            <u class="label text-color" style="color: #106DB6" (click)="addOriganzationSignature()">Thêm người ký</u>
          </div>
        </div>
        <div class="participants-border">
          <div class="label">Văn thư</div>
          <div class="participants--content" *ngFor="let d of getOriganzationDocument(); let index = index">
            <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                   [(ngModel)]="d.ordering">
            <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
              <div class="participants--input" style="display: flex">
                <div class="participants__name">
                  <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/icon_name.svg" class="input-img">
                    <input type="text" placeholder="Nhập họ và tên" [(ngModel)]="d.name">
                  </div>
                </div>
                <div class="participants__name">
                  <div class="label text-color">Email: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/login_email.svg" class="input-img">
                    <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                  </div>
                </div>
              </div>

              <div class="participants-information">
                <div class="participants-signature-type">
                  <div class="label text-color">Loại ký: <span class="required-title">*</span></div>
                  <ng-multiselect-dropdown [(ngModel)]="d.sign_type" placeholder="{{'choose' | translate }}"
                                           [settings]="dropdownSignTypeSettings" [data]="signTypeList">
                    <ng-template #optionsTemplate let-item let-option="option"
                                 let-id="id" let-isSelected="isSelected">
                      <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                        <label style="color: #333; font-weight: normal;"
                               [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                          {{getContractConnectItems[id].name}}
                        </label>
                      </div>
                    </ng-template>
                  </ng-multiselect-dropdown>
                  <div class="required-title notify">Lưu ý: bạn chỉ được phép chọn 1 kiểu ký số!</div>
                </div>
              </div>
            </div>
            <div class="col-md-1 delete-element" (click)="deleteOriganzationDocument(index)">
              <img src="assets/img/border_close.svg" alt="close.vn">
              <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
            </div>
          </div>
          <div class="participants--add">
            <u class="label text-color" style="color: #106DB6" (click)="addOriganzationDocument()">Thêm văn thư</u>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--  Đối tác-->

  <div class="contract-determine" *ngFor="let item of dataParnterOrganization(); let id = index"
       style="display: flex">
    <div class="col-md-1">
      <input class="contract-total" style="width: 25px; height: 25px" type="number" [(ngModel)]="item.ordering">
    </div>
    <div class="col-md-11 contract--content">
      <div class="contract__content--title">
        <div style="width: 72px">Đối Tác -</div>
        <input type="text" [(ngModel)]="item.name" [disabled]="item.type == 3">
      </div>
      <div *ngIf="this.dataParnterOrganization().length > 1" style="display: flex; justify-content: flex-end">
        <u class="label text-color" (click)="deletePartner(id)" style="background-color: #FFFFFF; cursor: pointer">Xóa đối tác</u>
      </div>
      <div class="contract__content--participants">
        <div class="row">
          <div class="radio col-md-6 label_type">
            <label><input type="radio" name="type" [value]="2" [(ngModel)]="item.type"
                          (change)="changeType($event, item, id)">
              <span> {{'organization' | translate}}</span></label>
          </div>
          <div class="radio col-md-6 label_type">
            <label><input type="radio" name="type" [value]="3" [(ngModel)]="item.type"
                          (change)="changeType($event, item, id)">
              <span> {{'personal' | translate}}</span></label>
          </div>
        </div>
        <div *ngIf="item.type == 2">
          <div class="participants-border">
            <div class="label">Người điều phối</div>
            <div class="participants--content" *ngFor="let d of getPartnerCoordination(item); let index = index">
              <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                     [(ngModel)]="d.ordering">
              <div class="col-md-10 participants--input" style="display: flex; margin-bottom: 14px">
                <div class="participants__name">
                  <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/icon_name.svg" class="input-img">
                    <input type="text" placeholder="Nhập họ và tên" [(ngModel)]="d.name">
                  </div>
                </div>
                <div class="participants__name">
                  <div class="label text-color">Email: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/login_email.svg" class="input-img">
                    <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                  </div>
                </div>
              </div>
              <div class="col-md-1 delete-element" (click)="deletePartnerCoordination(index, item, id)">
                <img src="assets/img/border_close.svg" alt="close.vn">
                <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
              </div>
            </div>
            <div class="participants--add">
              <u class="label text-color" (click)="addPartnerCoordination(item, id)">Thêm người điều phối</u>
            </div>
          </div>

          <div class="participants-border">
            <div class="label">Người xem xét</div>
            <div class="participants--content" *ngFor="let d of getPartnerReviewer(item); let index = index">
              <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                     [(ngModel)]="d.ordering">
              <div class="col-md-10 participants--input">
                <div class="participants__name">
                  <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/icon_name.svg" class="input-img">
                    <input type="text" placeholder="Nhập họ và tên" [(ngModel)]="d.name">
                  </div>
                </div>
                <div class="participants__name">
                  <div class="label text-color">Email: <span class="required-title">*</span></div>
                  <div class="input-data">
                    <img src="assets/img/login_email.svg" class="input-img">
                    <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                  </div>
                </div>
              </div>
              <div class="col-md-1 delete-element" (click)="deletePartnerReviewer(index, item, id)">
                <img src="assets/img/border_close.svg" alt="close.vn">
                <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
              </div>
            </div>
            <div class="participants--add">
              <u class="label text-color" (click)="addPartnerReviewer(item, id)">Thêm người xem xét</u>
            </div>
          </div>

          <div class="participants-border">
            <div class="label">Người ký</div>
            <div class="participants--content" *ngFor="let d of getPartnerSignature(item); let index = index">
              <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                     [(ngModel)]="d.ordering">
              <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
                <div class="participants--input" style="display: flex">
                  <div class="participants__name">
                    <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                    <div class="input-data">
                      <img src="assets/img/icon_name.svg" class="input-img">
                      <input [id]="'signature-partner-' + d.ordering" type="text" placeholder="Nhập họ và tên"
                             [(ngModel)]="d.name">
                    </div>
                  </div>
                  <div class="participants__name">
                    <div class="label text-color">Email: <span class="required-title">*</span></div>
                    <div class="input-data">
                      <img src="assets/img/login_email.svg" class="input-img">
                      <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                    </div>
                  </div>
                </div>
                <div class="participants--input select-text-input" style="display: flex">
                  <div class="participants__name">
                    <div class="label text-color">Loại ký: <span class="required-title">*</span></div>

                    <ng-multiselect-dropdown [(ngModel)]="d.sign_type" placeholder="{{'choose' | translate }}"
                                             [settings]="dropdownSignTypeSettings" [data]="signTypeList">
                      <ng-template #optionsTemplate let-item let-option="option"
                                   let-id="id" let-isSelected="isSelected">
                        <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                          <label style="color: #333; font-weight: normal;"
                                 [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                            {{getContractConnectItems[id].name}}
                          </label>
                        </div>
                      </ng-template>
                    </ng-multiselect-dropdown>
                    <div class="required-title notify">Lưu ý: bạn chỉ được phép chọn 1 kiểu ký số!</div>
                  </div>
                  <div class="participants-otp">
                    <input type="checkbox" [value]="1" [(ngModel)]="d.is_otp">
                    <span class="label text-color">OTP</span>
                  </div>
                  <div class="participants__name">
                    <div class="label text-color">Số điện thoại: <span *ngIf="d.is_otp" class="required-title">*</span></div>
                    <input type="number" placeholder="Nhập số điện thoại" [(ngModel)]="d.phone">
                  </div>
                </div>
              </div>
              <div *ngIf="getPartnerSignature(item).length > 1" class="col-md-1 delete-element" (click)="deletePartnerSignature(index, item)">
                <img src="assets/img/border_close.svg" alt="close.vn">
                <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
              </div>
              <div *ngIf="getPartnerSignature(item).length == 1" class="col-md-1 delete-element"></div>
            </div>
            <div class="participants--add">
              <u class="label text-color" style="color: #106DB6" (click)="addPartnerSignature(item, id)">Thêm người
                ký</u>
            </div>
          </div>

          <div class="participants-border">
            <div class="label">Văn thư</div>
            <div class="participants--content" *ngFor="let d of getPartnerDocument(item); let index = index">
              <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                     [(ngModel)]="d.ordering">
              <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
                <div class="participants--input" style="display: flex">
                  <div class="participants__name">
                    <div class="label text-color">Họ tên: <span class="required-title"> *</span></div>
                    <div class="input-data">
                      <img src="assets/img/icon_name.svg" class="input-img">
                      <input type="text" placeholder="Nhập họ và tên" [(ngModel)]="d.name">
                    </div>
                  </div>
                  <div class="participants__name">
                    <div class="label text-color">Email: <span class="required-title">*</span></div>
                    <div class="input-data">
                      <img src="assets/img/login_email.svg" class="input-img">
                      <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                    </div>
                  </div>
                </div>

                <div class="participants-information">
                  <div class="participants-signature-type">
                    <div class="label text-color">Loại ký: <span class="required-title">*</span></div>
                    <ng-multiselect-dropdown [(ngModel)]="d.sign_type" placeholder="{{'choose' | translate }}" [settings]="dropdownSignTypeSettings" [data]="signTypeList">
                      <ng-template #optionsTemplate let-item let-option="option"
                                   let-id="id" let-isSelected="isSelected">
                        <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                          <label style="color: #333; font-weight: normal;"
                                 [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                            {{getContractConnectItems[id].name}}
                          </label>
                        </div>
                      </ng-template>
                    </ng-multiselect-dropdown>
                    <div class="required-title notify">Lưu ý: bạn chỉ được phép chọn 1 kiểu ký số!</div>
                  </div>
                </div>
              </div>
              <div class="col-md-1 delete-element" (click)="deletePartnerDocument(index, item)">
                <img src="assets/img/border_close.svg" alt="close.vn">
                <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
              </div>
            </div>
            <div class="participants--add">
              <u class="label text-color" style="color: #106DB6" (click)="addPartnerDocument(item, id)">Thêm người ký</u>
            </div>
          </div>
        </div>

        <div *ngIf="item.type == 3">
          <div class="contract__content--participants">
            <div class="participants-border">
              <div class="label">Người ký</div>
              <div class="participants--content" *ngFor="let d of getPartnerSignature(item); let index = index">
                <input class="col-md-1 contract-total" style="width: 25px; height: 25px" type="number"
                       [(ngModel)]="d.ordering">
                <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">
                  <div class="participants--input" style="display: flex">
                    <div class="participants__name">
                      <div class="label text-color">Họ tên: <span class="required-title">*</span></div>
                      <div class="input-data">
                        <img src="assets/img/icon_name.svg" class="input-img">
                        <input [id]="'signature-partner-' + d.ordering" type="text" placeholder="Nhập họ và tên"
                               [(ngModel)]="d.name">
                      </div>
                    </div>
                    <div class="participants__name">
                      <div class="label text-color">Email: <span class="required-title">*</span></div>
                      <div class="input-data">
                        <img src="assets/img/login_email.svg" class="input-img">
                        <input type="text" placeholder="Nhập Email" [(ngModel)]="d.email">
                      </div>
                    </div>
                  </div>
                  <div class="participants--input select-text-input" style="display: flex">
                    <div class="participants__name">
                      <div class="label text-color">Loại ký: <span class="required-title">*</span></div>

                      <ng-multiselect-dropdown [(ngModel)]="d.sign_type" placeholder="{{'choose' | translate }}"
                                               [settings]="dropdownSignTypeSettings" [data]="signTypeList" (onSelect)="onItemSelect($event, d.sign_type)">
                        <ng-template #optionsTemplate let-item let-option="option"
                                     let-id="id" let-isSelected="isSelected">
                          <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                            <label style="color: #333; font-weight: normal;"
                                   [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                              {{getContractConnectItems[id].name}}
                            </label>
                          </div>
                        </ng-template>
                      </ng-multiselect-dropdown>
                      <div class="required-title notify">Lưu ý: bạn chỉ được phép chọn 1 kiểu ký số!</div>
                    </div>
                    <div class="participants-otp">
                      <input type="checkbox" [value]="1" [(ngModel)]="d.is_otp">
                      <span class="label text-color">OTP</span>
                    </div>
                    <div class="participants__name">
                      <div class="label text-color">Số điện thoại: <span *ngIf="d.is_otp" class="required-title">*</span></div>
                      <input type="number" placeholder="Nhập số điện thoại" [(ngModel)]="d.phone">
                    </div>
                  </div>
                </div>
                <div *ngIf="getPartnerSignature(item).length > 1" class="col-md-1 delete-element" (click)="deletePartnerSignature(index, item)">
                  <img src="assets/img/border_close.svg" alt="close.vn">
                  <img class="close-btn" src="assets/img/x_close.svg" alt="close.vn">
                </div>
                <div *ngIf="getPartnerSignature(item).length == 1" class="col-md-1 delete-element"></div>
              </div>
              <div *ngIf="getPartnerSignature(item).length > 1" class="participants--add">
                <u class="label text-color" style="color: #106DB6" (click)="addPartnerSignature(item, id)">Thêm người ký</u>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div style="display: flex">
  <div class="col-md-1"></div>
  <div class="col-md-10" style="display: inline-block; cursor: pointer">
    <u class="label text-color" (click)="addPartner()" style="background-color: #FFFFFF">Thêm đối tác</u>
  </div>
</div>

<div class="footer-determine" style="display: flex; justify-content: space-between">
  <div style="width: 200px;">
    <button (click)="back($event, 'infor-contract')" type="button" name="next" class="next action-button"
            style="background-color: #8B8B8B">Quay lại
    </button>
  </div>
  <div class="content_footer">@Copyright 2021 - MobiFone</div>
  <div>
    <button type="button" name="next" class="next draft-button">{{'btn.save-draff' | translate }}</button>
    <button (click)="next()" type="button" name="next"
            class="next action-button pull-right">{{'btn.next' | translate }}</button>
  </div>
</div>
