<div class="sample-contract row">
  <!--  file content-->
  <div class="sample-contract__file viewer-pdf isDrag" style="background-color: #f3f7f9; position: relative">
      <div id="pdf-viewer-step-3">
          <div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
            <div class="resize-drag not-out-drop" [id]="d.id" #itemElement [ngClass]="changeColorDrag(null, d)" [ngStyle]="changePosition(d)">
              <div *ngIf="(d.sign_unit != 'text' && d.sign_unit != 'so_tai_lieu')" class="name-sig-img-daky text-ellipsis">{{(d.name && !d.value) ? d.name : ''}}</div>
              <app-preview-sign-contract-template  [datas]="datas" [sign]="d"></app-preview-sign-contract-template>
          </div>
          </div>
      </div>
  </div>
</div>

<div class="footer-contract">
  <div class="btn_footer">
    <div class="label">
    </div>
    <div class="label">
      <button (click)="cancel()" type="button" name="next" class="next action-button">{{'confirm' | translate}}</button>
    </div>
  </div>
</div>
