.sample-contract {
  height: calc(100vh - 287px);
  // height: calc(100vh - 200px);

  &__file {
    //position: relative;
    .sig-img-daky{
      position: absolute;
      top: -11px;
      right: -8px;
      //cursor: pointer;
    }

  }

  .viewer-pdf {
    height: calc(100vh - 287px);
    overflow-x: auto;
    background-color: rgba(239, 239, 239, 1);
    padding-top: 10px;
  }
}


.ck-da-keo{
  border: 1px solid #106DB6;
  border-radius: 5px;
}

.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.employer-ck .signature-sample, .employer-ck .signature-sample-drag{
  border: 1px solid #92bff5;
  background-color: rgba(255, 233, 178, 1);
  color: #fe7744;
  border-radius: 2px;
}
.employer-ck-da-keo{
  border: 1px solid #92bff5;
  color: #fe7744;
  border-radius: 2px;
}

.staff-ck .signature-sample, .staff-ck .signature-sample-drag{
  border: 1px solid #92bff5;
  background-color: rgba(189, 217, 249, 1);
  color: #2680eb;
  border-radius: 2px;
}
.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.resize-drag {
  //position: absolute; // thuoc tinh absolute de giu nguyen vi tri khi keo sang pdf
  z-index: 9;
  //width: 250px;
  //height: 32px;
  font-size: 12px;
  border-radius: 3px;
  // font-family: sans-serif;
  outline: none;
  touch-action: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(27, 51, 91, 1);

  /* This makes things *much* easier */
  box-sizing: border-box;
  //padding: 10px;

  .name-sig-img-daky {
    position: absolute;
    background-color: white;
    top: -15px;
    left: 6px;
    padding: 0 4px;
  }

  .sig-img-daky {
    cursor: pointer;
    > img {
      width: 16px;
    }
    img:nth-last-child(2) {
      width: 8px;
      top: 6px;
      position: absolute;
      right: 3px;
    }
  }
}

.drag-image{
  //position: absolute;
  //right: -22px;
  //top: 5px;
  padding-left: 7px;
}



.action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}


.input_text{
  background: #EFF2F5;
  padding: 10px;
  border-radius: 5px;
  min-height: 40px;
}
.label_item {
  padding: 8px 0px 2px;
  color: #5e5e5e;
}

//style button
.action-button {
  width: 100px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}

.action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}
.footer-sample-contract {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content_footer {
      color: #0160AE;
      font-size: 13px;
      font-weight: 500;
  }
}

.resize-drag {
//position: absolute; // thuoc tinh absolute de giu nguyen vi tri khi keo sang pdf
z-index: 9;
//width: 250px;
//height: 32px;
font-size: 12px;
border-radius: 3px;
// font-family: sans-serif;
outline: none;
touch-action: none;
display: flex;
align-items: center;
justify-content: center;
color: rgba(27, 51, 91, 1);
/* This makes things *much* easier */
box-sizing: border-box;
//padding: 10px;
.name-sig-img-daky {
    position: absolute;
    background-color: yellow;
    border-radius: 5px;
    top: -15px;
    left: 6px;
    padding: 0 4px;
    border: 1px solid #ddd;
}
.sig-img-daky {
    cursor: pointer;
    >img {
        width: 16px;
    }
    img:nth-last-child(2) {
        width: 8px;
        top: 6px;
        position: absolute;
        right: 3px;
    }
}
}
.employer-ck .signature-sample,
.employer-ck .signature-sample-drag {
  border: 1px solid #92bff5;
  background-color: rgba(255, 233, 178, 1);
  color: #fe7744;
  border-radius: 2px;
}

.employer-ck-da-keo {
  border: 1px solid #92bff5;
  color: #fe7744;
  border-radius: 2px;
}
.ck-da-keo {
  border: 1px dashed #6B6B6B;
  border-radius: 5px;
}

.footer-contract {
  padding-top: 10px;
  border-top: 1px solid #ddd;
  display: flex;
  align-items: center;
  height: 46px;
  //add css 16022022
  float: right;
  width: 75%;
  .content_footer {
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
    width: 24.36%;
    text-align: center;
  }
  .btn_footer {
    display: flex;
    justify-content: space-between;
    //width: 75.64%;
    width: 100%;
    button {
      outline: none;
    }
  }
}

.action-button {
  // width: 114px;
  // height: 30px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 7px;
  cursor: pointer;
  margin: 5px 5px;
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
}
