<div class="contract-determine">
<div class="contract__content--participants">
<div class="participants-border">
    <div class="label">{{'update.person-process' | translate}}</div>
    <!-- <div class="participants--content"  *ngFor="let d of getOriganzationSignature(); let index = index">
        <div class="label">{{'update.person-process' | translate}}</div>
    </div> -->
    <div class="participants--content" >

      <!-- <input [id]="'ordering-sign-'" class="col-md-1 contract-total"
        (focusout)="onChangeValue($event,'ordering-sign-')" style="width: 25px; height: 25px"
        type="number"
        oninput="this.value = this.value.replace(/[^0-9.]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');"
        [disabled]="getOriganzationSignature().length == 1"> -->
        
      <div class="col-md-10 participants__content--input" style="display: flex; flex-direction: column">

        <!--Chọn {{'typeOfSignEmail' | translate}} hoặc {{'user.phone' | translate}}-->
        <div class="participants--input" style="display: flex">
          <div class="participants__name">
            <div class="label_detail text-color" *ngIf="changeTypeSign">
              <div>
                <input type="radio"  (change)="changeTypeSign(0)" name="checkPhoneMailOrgSigner_" [value]="email"  [(ngModel)]="login_by"/>
              </div>&nbsp;
              <div>
                {{'typeOfSignEmail' | translate}}
              </div>
            </div>
          </div>
          <div class="participants__name">
            <div class="label_detail text-color">
              <div>
                <input type="radio" (change)="changeTypeSign(1)" name="checkPhoneMailOrgSigner_" [value]="phone" [(ngModel)]="login_by"/>
              </div>&nbsp;
              <div>
                {{'typeOfSignPhone' | translate}}
              </div>
            </div>
          </div>
        </div>

        <div class="participants--input" style="display: flex">
          <div class="participants__name">
            <div class="label_detail text-color">{{'user.name' | translate}}&nbsp;<span class="required-title">*</span></div>
            <!--Trường nhập họ và tên cho người ký tổ chức của tôi-->
            <div class="input-data">
              <img src="assets/img/icon_name.svg" class="input-img">

              <!--Trường hợp typeOfSignEmail-->
              <input type="text" placeholder="{{'nhap_ho_va_ten' | translate}}"  [(ngModel)]="name">

                <!--Trường hợp typeOfSignPhone-->
              <!-- <input  type="text" placeholder="{{'nhap_ho_va_ten' | translate}}"/> -->
              
            </div>

            <!-- <div class="search-name">
              <button class="search-name-items" *ngFor="let t of this.arrSearchNameSignature"
               >{{t.name}} ({{t.email}})
              </button>
            </div> -->
          </div>

          <div class="participants__name">
            <div class="label_detail text-color">{{'user.sign-type' | translate}}&nbsp;<span class="required-title">*</span>
            </div>

            <!--Tổ chức của tôi chọn loại ký-->
            <ng-multiselect-dropdown 
              
              placeholder="{{'choose' | translate }}"
              [settings]="dropdownSignTypeSettings" 
              [data]="isListSignNotPerson" 
              (onSelect)="onItemSelect($event, data_organization.name)"
              (onDeSelect)="deSelectOrg($event)"
              
            >
              <ng-template #optionsTemplate let-item let-option="option" let-id="id" let-isSelected="isSelected">
                <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                  <label style="color: #333; font-weight: normal;"
                    [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getContractConnectItems[id].isDisabled? 'lightgrey': ''}">
                    {{getContractConnectItems[id].name}}
                  </label>
                </div>
              </ng-template>
            </ng-multiselect-dropdown>
          </div>
        </div>

        <!-- KD -->
        <div *ngIf="this.site == 'KD'" class="participants--input" style="display: flex" >
          <div  class="participants__name" style="width: 90%" *ngIf="isCheckRadio">
            <div class="label_detail text-color">Email&nbsp;<span class="required-title">*</span></div>
            <div class="input-data">
              <img src="assets/img/login_email.svg" class="input-img">
              <input type="text" placeholder="{{'nhap_email' | translate}}" [(ngModel)]="email">
            </div>
          </div>

          <div class="participants__name" style="width: 90%" *ngIf="!isCheckRadio">
            <div class="label_detail text-color">{{'user.phone' | translate}}&nbsp;<span class="required-title">*</span></div>
            <div class="input-data">
              <img class="input-img">
              <input type="text" placeholder="{{'nhap_sdt' | translate}}" [(ngModel)]="phone">
            </div>
          </div>
        </div>

        <!--NB email-->
        <!-- <div *ngIf="this.site == 'NB'" class="participants--input" style="display: flex">
          <div class="participants__name">
            <div class="label_detail text-color">Email&nbsp;<span class="required-title">*</span></div>
            < class="input-data">
              <img src="assets/img/login_email.svg" class="input-img">
              <input type="text" placeholder="{{'nhap_email' | translate}}">
            </div>
          </div>

          <div class="participants__name">
            <div class="label_detail text-color">{{'user.phone' | translate}}&nbsp;<div style="color: #ffc107;">({{'receive.contract.process' | translate}})</div></div>
            <div class="input-data">
              <img src="assets/img/login_email.svg" class="input-img">
              <input type="text" placeholder="{{'nhap_sdt' | translate}}">
            </div>
          </div>
        </div> -->

        <!--trường hiển thị khi người ký tổ chức của tôi chọn loại ký là usbtoken-->
        <!-- <div class="participants--input" style="display: flex" >
          <div class="participants__name" style="width: 90%">
            <div class="label_detail text-color">{{'tax_code.cardId' | translate}}&nbsp;<span class="required-title">*</span><div style="color: #ffc107;">({{'info.token' | translate}})</div></div>
            <div class="input-data">
              <input type="text" placeholder="{{'enter.tax_code.cardId' | translate}}"  oninput="this.value = this.value.replace(/[\s]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');">
            </div>
          </div>
        </div> -->

        <!--trường hiển thị khi người ký tổ chức của tôi chọn loại ký là hsm-->
        <!-- <div class="participants--input" style="display: flex" >
          <div class="participants__name" style="width: 90%">
            <div class="label_detail text-color">{{'tax_code' | translate}}&nbsp;<span class="required-title">*</span></div>
            <div class="input-data">
              <input type="text" placeholder="{{'enter.tax.code' | translate}}"  oninput="this.value = this.value.replace(/[\s]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');">
            </div>
          </div>
        </div> -->
    </div>
    <div class="footer-btn" style="text-align: center; margin-top: 20px;">
        <button (click)="handleCancel()">{{"btn.update" | translate}}</button>
        <button (click)="handleCancel()">{{"exit" | translate}}</button>
    </div>

  </div>
</div>
</div>
