.img_icon:hover{
    cursor: pointer;
}

.button{
    background-color: #1487E1;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 3px 10px;
}
img{
    width: 40px;
    cursor: pointer;
    padding: 0 10px;

}