
  .cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
  }
  .label-header{
    text-transform: uppercase;
    color: #106DB6;
  }
  .content-body{
    border: 1px solid #106DB6;
    border-radius: 7px;
  }
  .btn-footer{
    text-align: center;
    padding: 10px;
  }
  .row{
    padding: 10px;
  }
  hr{
    margin-top: 2px;
    border: 1px solid #87CAFF;
  }
  .container-img-file {
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E9F4FD;
    margin: 10px;
    border-radius: 10px;
  }
  
  .container-img-file:hover {
    background: #b4ddff;
    cursor: pointer;
  }
  
  .container-img-file-1 {
    justify-content: center;
    align-items: center;
  }
  
  .text-choose-file {
    margin-top: 32px;
    color: #106DB6;
  }
  
  .text-support-extension {
    margin-top: 8px;
    color: #ED1C24;
    font-weight: 500;
  }
  :host ::ng-deep {
    .p-calendar {
      font-size: 13px !important;
      font-family: 'font_lexend_deca';
      width: 100%;
    }
    .p-datepicker table td {
      padding: 0;
    }
    .p-calendar-w-btn, .p-calendar-w-btn .p-inputtext {
      height: 33px;
    }
    .p-calendar-w-btn .p-inputtext{
      border: 1px solid #106DB6 !important;
      outline: 0 !important;
      box-shadow: none !important;
    }
  }
  
  .image-div {
    position: relative;
    margin:5px;
  }
  .image-div:hover .hidden_img {
    display: block;
  }
  .hidden_img:hover {
    cursor: pointer;
  }
  .image-div .hidden_img {
    position:absolute;
    top:0;
    left:0;
    display:none;
  }
  .input_text{
    background: #EFF2F5;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
  }
  
    