<nav id="sidebar" class="sidebar" [ngClass]="{'sidebar-bg' : hasBackgroundImage()}">
  <div class="sidebar-content">
    <perfect-scrollbar>
      <div class="sidebar-header">
        <a (click)="openDashboard()">
          <img src="assets/img/logo_eContract_db.svg" alt="Logo" class="img-responsive" width="150px" height="auto" />
        </a>
      </div>

      <div class="sidebar-menu">
        <ul>
          <li *ngFor="let menu of menus" [ngClass]="{'active': menu.active, 'sidebar-dropdown':menu.type === 'dropdown', 'sidebar-dropdown-active':menu.type === 'dropdown' && menu.activeDrop , 'header-menu':menu.type === 'header'}">
            <span *ngIf="menu.type === 'header'">{{menu.title | translate}}</span>
            <!-- Menu parent, click dropdown -->
            <a *ngIf="menu.href === '#'" (click)='toggle(menu)'>
              <img src="{{menu.icon}}" />
              <span style="margin-left: 8px;">{{menu.title | translate}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <!-- Menu click link -->
            <a *ngIf="menu.href !== '#' && menu.type != 'button'" (click)='clickLink(menu)' [routerLink]="menu.href" >
              <img src="{{menu.icon}}" />
              <span style="margin-left: 8px;">{{menu.title | translate}}</span>
              <span *ngIf="menu.badge" class="badge badge-pill" [ngClass]="menu.badge.class">{{menu.badge.text}}</span>
            </a>
            <span *ngIf="menu.type === 'button'" (click)="clickLink(menu)" class="sub_title_add">
              <a style="color: white" [routerLink]="menu.href">
              <button class="btn_add_contract">{{menu.title | translate}}
                <img src="../../assets/img/add-square.svg"/>
                <!-- <span class="icon_add">
                  
                </span> -->
              </button>
            </a>
            </span>
            <!-- Sub menu -->
            <div *ngIf="menu.type === 'dropdown'" class="sidebar-submenu" [@slide]="getState(menu)">
              <ul>
                <li *ngFor="let submenu of menu.submenus" [ngClass]="{'active':submenu.active}">

                  <a (click)="clickLinkSub(menu, submenu, 'contract-signature')" [routerLink]="submenu.href">
                    <span class="sub_title">{{submenu.title | translate}}</span>
                    <span *ngIf="submenu.badge" class="badge badge-pill" [ngClass]="submenu.badge.class">{{submenu.badge.text}}</span>
                  </a>
                </li>
              </ul>
            </div>
          </li>
        </ul>
      </div>
      <!-- <div style="padding: 16px;">
        <img src="../../../assets/img/logo-mobifone.svg"/>
      </div> -->
    </perfect-scrollbar>
    

  </div>
</nav>
