:host ::ng-deep {
    .p-dropdown, .p-multiselect {
        border: 1px solid #106DB6;
        border-radius: 5px;
        height: 38px;
        width: 100%;
        outline: 0;
        color: black !important;
    }
    .p-dropdown-label, .p-multiselect-label {
        padding: 7px 7px 5px 10px;
    }
    .p-multiselect .p-multiselect-label.p-placeholder, .p-dropdown .p-dropdown-label.p-placeholder {
      color: #6c757d !important;
    }
  }
  
  .content {
      .name-item {
        .require_star {
          color: red;
        }
        .form-control > input {
          border: none;
          outline: none;
        }
      }
    
      .name-item:not(:last-child) {
        margin-bottom: 10px;
      }
    
      .select-option {
        display: flex;
        justify-content: space-evenly;
        margin-top: 60px;
        button {
          width: 105px;
          height: 34px;
          border-radius: 5px;
          border: none;
          color: white;
          background-color: #8B8B8B;
          cursor: pointer;
        }
        button:nth-last-child(1) {
          background-color: #106DB6;
        }
      }
    }
    