<div class="horizontal-container">
  <div *ngIf="isRoleWebHook && this.checkRole === null">
  <form [formGroup]="addForm">
    <div formArrayName="apiListFormArray">
      <div *ngFor="let form of apiListFormArray.controls; let i = index" >
        <div class="row system-config" [formGroupName]="i">
          <div class="col-lg-4-9 btn-padding-right btn-padding-left">
            <div class="dropdown-container">
              <p-dropdown 
                panelStyleClass="font"
                [options]="apiList" 
                formControlName="api" 
                optionLabel="label" 
                (onChange)="onApiChange($event, i)"
                placeholder="{{'choose.api' | translate}}" 
                ></p-dropdown>
            </div>
            <!-- <div *ngIf="submitted && f.api.errors">
              <small class="text-danger" *ngIf="f.api.errors['required']">{{'api.is.required' | translate}}</small>
            </div> -->
            <div *ngIf="isFieldInvalid(i, 'api')">
              <small class="text-danger">{{'api.is.required' | translate}}</small>
            </div>
          </div>
          
          <div class="row">
            <div class="system-config1">
              <div class="flex-container">
                <div class="flex-item method-container">
                  <select id="method" class="method">
                    <option value="POST">POST</option>
                  </select>
                </div>
          
                <div class="flex-item url-container">
                  <input class="input-url btn-padding-right btn-padding-left" type="text" placeholder="Nhập URL" formControlName="url" />
                </div>
          
                <div class="flex-item check-button-container">
                  <button class="check" (click)="checkStatusApiWebHook(i)">Kiểm tra</button>
                </div>
              </div>
              <!-- </div> -->
            </div>
            <div *ngIf="submitted && f.url.errors">
              <!-- <small class="text-danger" *ngIf="f.url.errors['required']">URL không được phép bỏ trống</small> -->
              <div *ngIf="isFieldInvalid(i, 'url')">
                <small class="text-danger">URL không được bỏ trống.</small>
              </div>
            </div>
          </div>
          
          <div class="row">
            <div class="col-xxl-6">
              <div class="row">
                <div style="display: flex;">
                  <span>API Key</span>
                  <span class="require_star">*</span>
                </div>
                <textarea id="apiKey" rows="6" placeholder="{{'example.apikey' | translate}}" (input)="validateApiKey($event)"  maxlength="36" formControlName="apikey"></textarea>
                <div *ngIf="isFieldInvalid(i, 'apikey')">
                  <div *ngIf="submitted && f.apikey.errors">
                    <small class="text-danger" *ngIf="f.apikey.errors['required']">API Key không được phép bỏ trống.</small>
                    <small class="text-danger" *ngIf="f.apikey.errors['pattern']">API Key phải theo định dạng: xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx.</small>
                    <small class="text-danger" *ngIf="f.apikey.errors['length']">API Key phải đúng 36 ký tự.</small>
                    <small class="text-danger" *ngIf="f.apikey.errors['whitespace']">API Key không được chứa khoảng trắng.</small>
                  </div>
                  <div *ngIf="f.apikey.value === '' && (f.apikey.touched || f.apikey.dirty)">
                    <small class="text-danger">API Key không được phép bỏ trống</small>
                  </div>
                </div>
              </div>
            </div>
            
            <div class="col-xxl-6">
              <div class="row">
                <div style="display: flex;">
                  <span>Body</span>
                  <span style="font-style: italic; color: orange;">({{'webhook.body.sample' | translate}})</span>
                </div>
                <textarea id="body" rows="6" formControlName="body" readonly></textarea>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="checkstatus">
              <span>Trạng thái kiểm tra:</span>
              <!-- <span [ngClass]="{'text-success': checkStatus === 'Thành công', 'text-danger': checkStatus === 'Thất bại'}">
                {{ checkStatus }}
              </span> -->
              <span [ngClass]="{
                'text-success': form.get('checkStatus')?.value === 'Thành công',
                'text-danger': form.get('checkStatus')?.value === 'Thất bại'
              }">
                {{form.value.checkStatus}}
            </span>
            </div>
          </div>
        </div>
        
        <div class="row" style="display: flex; justify-content: flex-end; align-items: center;">
          <div class="deleteConfig">
            <span (click)="deleteConfig(i)"><u>Xóa cấu hình</u></span>
          </div>
        </div>
      </div>
    </div>


  </form>

  <div class="row" style="display: flex; justify-content: space-between; align-items: center;">
    <div class="group_button">
      <div class="button-add-save">
        <button class="add-save" type="submit" (click)="onSubmit()">Lưu lại</button>
        <button *ngIf="apiListFormArray.length < this.apiList.length" class="add-save" type="button" (click)="addNewForm()">Thêm mới</button>
        <button *ngIf="apiListFormArray.length >= this.apiList.length" class="disable-add-save" type="button" (click)="addNewForm()" disabled>Thêm mới</button>
      </div>
    </div>
  </div>

</div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>