<div class="signature-container" id="export-signature-image-html"
     style="width: 140px;min-height: 40px; font-size: 9px">
  <div class="signature-content"
       style="margin-left: 6px; color: #0872C9;line-height: 10px; background:url('assets/img/tick_signature.svg') no-repeat center; background-size: 40px 30px">
    <div style="z-index: 2; text-align: left;">Loại ký: Ký ảnh và OTP</div>
    <div style="z-index: 2; text-align: left;">Người ký: {{userOtp}} đã xác thực qua SĐT {{phoneOtp}}</div>
    <div style="z-index: 2; text-align: left;">Ngày ký: {{isDateTime}}</div>
  </div>
</div>


<!-- <div class="signature-container" id="export-signature-image-html"
     style="min-height: 80px; display: flex; font-size: 9px; background-color: white;">
  <img style="width: 30px" src="assets/img/tick_signature.svg" alt="duongdt.vn">
  <div class="signature-content"
       style="color: #4FC123; background:url('assets/img/chu_e_opacity.png') no-repeat center; background-size: 40px 40px">
    <span style="text-align: left; white-space: nowrap;text-overflow: ellipsis;overflow: visible;display: inherit">Loại ký: Ký ảnh và otp</span>
    <span style="text-align: left; white-space: nowrap;text-overflow: ellipsis;overflow: visible;display: inherit">Người ký: {{userOtp}} đã xác thực qua SĐT {{phoneOtp}}</span>
    <span style="text-align: left;white-space: nowrap;text-overflow: ellipsis;overflow: visible;display: inherit">Ngày ký: {{isDateTime}}</span>
  </div>
</div> -->
