<div class="signature-container" id="export-signature-image-html"
     style="width: 140px;min-height: 40px; font-size: 9px">
  <div class="signature-content"
       style="margin-left: 6px; color: #6cc449;line-height: 10px; background:url('assets/img/tick_signature.svg') no-repeat center; background-size: 40px 30px">
    <div style="z-index: 2; text-align: left;">Loại ký: {{'sign.image.otp' | translate}}</div>
    <div style="z-index: 2; text-align: left;">{{'user.sign' | translate}}: Phạm Thị Diệu Phương đã xác thực qua SĐT 0909166952</div>
    <div style="z-index: 2; text-align: left;">Ngày ký: 24/07/2023 11:33:17</div>
  </div>
</div>