<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{ this.datas.title | translate }}</h3>
  </div>
  <form [formGroup]="addForm" class="content">
    <div class="row">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Mã gói" | translate }} <span class="required-title">*</span>
        </div>
        <div class="input-data">
          <input
            type="text"
            formControlName="code"
            oninput="this.value = this.value.replace(/[\s]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');"
          />
        </div>
        <div *ngIf="submitted && f.code.errors" class="invalid">
          <div *ngIf="f.code.errors.required">
            {{ "Mã gói không được để trống" | translate }}
          </div>
          <div *ngIf="f.code.errors.pattern">
            {{ "Mã gói không được chứa ký tự đặc biệt" | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Tên gói" | translate }} <span class="required-title">*</span>
        </div>
        <div class="input-data">
          <input type="text" formControlName="name" />
        </div>
        <div *ngIf="submitted && f.name.errors" class="invalid">
          <div *ngIf="f.name.errors.required">
            {{ "Tên gói không được để trống" | translate }}
          </div>
          <div *ngIf="f.name.errors.pattern">
            {{ "Tên gói không được chứa ký tự đặc biệt" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Đơn giá trước VAT (VND)" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data">
          <input (blur)="formatCurrencyBefore($event)" [(ngModel)]="totalBeforeVAT" type="text" formControlName="totalBeforeVAT" />
        </div>
        <div *ngIf="submitted && f.totalBeforeVAT.errors" class="invalid">
          <div *ngIf="f.totalBeforeVAT.errors.required">
            {{ "Đơn giá không được để trống" | translate }}
          </div>
          <!-- dungpt -->
          <!-- input cua don gia phai la so moi hop le -->
          <div *ngIf="f.totalBeforeVAT.errors.pattern">
            {{ "Đơn giá phải là số" | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Đơn giá sau VAT (VND)" | translate }}
          <span class="required-title">*</span>
        </div>
        <div class="input-data">
          <input (blur)="formatCurrencyAfter($event)" type="text" formControlName="totalAfterVAT" [(ngModel)]="totalAfterVAT" formControlName="totalAfterVAT" />
        </div>
        <div *ngIf="submitted && f.totalAfterVAT.errors" class="invalid">
          <div *ngIf="f.totalAfterVAT.errors.required">
            {{ "Đơn giá không được để trống" | translate }}
          </div>
          <!-- dungpt -->
          <!-- input cua don gia phai la so moi hop le -->
          <div *ngIf="f.totalAfterVAT.errors.pattern">
            {{ "Đơn giá phải là số" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">{{ "Loại gói" | translate }}</div>
        <p-dropdown
          panelStyleClass="font"
          [options]="loaiGoi"
          optionLabel="name"
          optionValue="id"
          placeholder="Chọn loại gói"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          formControlName="type"
        ></p-dropdown>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Thể thức tính" | translate }}
          <span class="required-title">*</span>
        </div>

        <p-dropdown
          panelStyleClass="font"
          [options]="theThucTinh"
          optionLabel="name"
          optionValue="id"
          placeholder="Chọn thể thức tính"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          (onChange)="onChangeTheThucTinh($event)"
          formControlName="calc"
        ></p-dropdown>
        <div *ngIf="submitted && f.calc.errors" class="invalid">
          <div *ngIf="f.calc.errors.required">
            {{ "Thể thức tính không được để trống" | translate }}
          </div>
          <div *ngIf="f.calc.errors.pattern">
            {{ "Thể thức tính không được chứa ký tự đặc biệt" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">
          {{ "Thời gian (tháng)" | translate }}
          <span class="required-title">*</span>
        </div>
        <div
          class="input-data"
          [ngClass]="{
            fff:
              this.flagComboBoxTheThucTinh == 2 ||
              this.flagComboBoxTheThucTinh == 3
          }"
        >
          <!-- dungpt -->
          <!-- tao ngModel va  name cho input thoi gian -->
          <input
            type="text"
            [(ngModel)]="timeName"
            name="timeName"
            formControlName="time"
          />
        </div>
        <div *ngIf="submitted && f.time.errors" class="invalid">
          <div *ngIf="f.time.errors.required">
            {{ "Thời gian không được để trống" | translate }}
          </div>
          <!-- dungpt -->
          <!-- input cua thoi gian phai la so moi hop le -->
          <div *ngIf="f.time.errors.pattern">
            {{ "Thời gian phải là số" | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="label text-color">
          {{ "Số lượng hợp đồng" | translate }}
          <span class="required-title">*</span>
        </div>
        <div
          class="input-data"
          [ngClass]="{
            fff:
              this.flagComboBoxTheThucTinh == 1 ||
              this.flagComboBoxTheThucTinh == 3
          }"
        >
          <input
            type="text"
            [(ngModel)]="numberContractName"
            name="numberContractName"
            formControlName="number_contract"
          />
        </div>
        <div *ngIf="submitted && f.number_contract.errors" class="invalid">
          <div *ngIf="f.number_contract.errors.required">
            {{ "Số lượng hợp đồng không được để trống" | translate }}
          </div>
          <!-- dungpt -->
          <!-- input cua so luong hop dong phai la so moi hop le -->
          <div *ngIf="f.number_contract.errors.pattern">
            {{ "Số lượng hợp đồng phải là số" | translate }}
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="padding-top: 10px">
      <div class="col-md-6">
        <div class="label text-color">{{ "Mô tả" | translate }}</div>
        <div class="input-data">
          <textarea style="height: 80px" formControlName="describe" ></textarea>
        </div>
        <div *ngIf="submitted && f.describe.errors" class="invalid">
          <div *ngIf="f.describe.errors.pattern">
            {{ "Mô tả không được chứa ký tự đặc biệt" | translate }}
          </div>
        </div>
      </div>

      <div class="col-md-6" style="align-self: center">
        <div class="row">
          <div class="col-md-5">
            <input
              type="radio"
              name="confirm-radio-consider"
              [value]="1"
              formControlName="status"
              name="status"
            />
            <span> {{ "unit.active" | translate }}</span>
          </div>
          <div class="col-md-7">
            <input
              type="radio"
              name="confirm-radio-consider"
              [value]="0"
              formControlName="status"
              name="status"
            />
            <span> {{ "unit.inactive" | translate }}</span>
          </div>
        </div>
      </div>
    </div>

    <div class="row" style="justify-content: center; padding-top: 10px">
      <button class="cancel-button" (click)="dialog.closeAll()" type="button">
        {{ "btn.cancel" | translate }}
      </button>
      <button class="save-button" (click)="onSubmit()">
        {{ "btn.save" | translate }}
      </button>
    </div>
  </form>
</div>
