.header{
    text-align: center; 
    font-weight: bold
}
.label-header{
    color: #106DB6; 
    font-family: inherit;
    text-transform: uppercase;
}
.cancel-button{
    border: 0px;
    border-radius: 5px;
    height: 33px;
    width: 100px;
    box-sizing: border-box;
    color: white;
    background-color: #8B8B8B;
    font-size: 13px;
    margin: 0 10px;
}
.input_text{
    background: #EFF2F5;
    padding: 10px;
    border-radius: 5px;
    min-height: 40px;
  }
  :host ::ng-deep {
    .p-listbox, .p-listbox .p-listbox-list .p-listbox-item-group {
        border: none;
        background: #EFF2F5; 
    }
    .p-listbox .p-listbox-list{
       pointer-events: none;
    }
    .p-listbox .p-listbox-header{
        display: none;
    }
}
