.determine_contact {
  border: 1px solid #E6EDFA;
  border-radius: 6px;
}

.user_contact {
  border-radius: 10px;
  // border: 1px solid #0160AE;
  margin-bottom: 10px;
}

.partner_contact {
  border-radius: 10px;
  // border: 1px solid #0160AE;
  margin-bottom: 10px;
  margin-top: 10px;
}

.label_item {
  font-size: 12px;
  font-weight: 700;
  line-height: 20px;
  color: #2B3D60;
}

.labelOrg {
  font-weight: 700;
  font-size: 14px;
  line-height: 18px;
  color: #00186D;
}

.content_footer {
  text-align: center;
  margin: 10px;
  color: #0160AE;
  font-size: 13px;
  font-weight: 500;
}

.footer-infor-contract {
  display: flex;
  justify-content: space-between;
  align-items: center;
  .content_footer{
    //text-align: center;
    //margin: 10px;
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}
//style button
.action-button {
  width: 100px;
  background: #0041C4;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 12px;
  margin: 10px 5px;
}

.draft-button {
  width: 100px;
  background: #F8AD41;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.action-button-previous {
  width: 100px;
  background: #FFFFFF;
  font-weight: bold;
  color: #0041C4;
  border: 1px solid var(--Primary, #0041C4);
  border-radius: 6px;
  cursor: pointer;
  padding: 9px 12px;
  margin: 10px 5px;
}

.input_text{
  background: #EFF2F5;
  padding: 10px;
  border-radius: 5px;
  min-height: 40px;
}

.label{
  font-weight: 500;
  color: #0041C4;
  background-color: #EBF2FB;
  height: 48px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  padding-left: 16px;
}
.content_determine{
  padding: 10px;
}

.boder-info {
  border: 1px solid #C7D0E9;
  border-radius: 12px;
  width: 100%;
}

.content-input {
  height: 48px;
  border-radius: 6px;
  border: 1px solid #E6EDFA;
  background-color: #F7FAFD;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #00186D;
}

.ordering {
  margin: auto 0px;
  padding: 0px 16px;
}

.content-index {
  border: 1px solid #0041C4;
  border-radius: 6px;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.name-info {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #00186D;
}

.item-name {
  color: #00186D;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  margin: auto 0px auto 16px;
}

.hover-item:hover {
  border: 1px solid #286CF5 !important; /* Thay đổi màu viền khi hover */
}

.color-email-or-phone {
  color: #A8B5CE !important;
}

.cc-input{
  width: 100%;
  height: 48px;
  border-radius: 6px;
  border: 1px solid #E6EDFA;
  background-color: #F7FAFD;
  padding: 10px;
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  color: #00186D;
}


:host ::ng-deep {
  .p-dropdown, .p-multiselect {
      border: 1px solid #106DB6;
      border-radius: 5px;
      // height: 33px;
      width: 100%;
      outline: 0;
      color: black !important;
  }
  // .p-dropdown-label, .p-multiselect-label {
  //     padding: 5px 5px 5px 15px;
  // }
  .p-chips{
    width: 100%;
  }
  .p-chips .p-chips-multiple-container{
    width: 100%;
    border: 1px solid #106DB6;
    outline: none !important;
    outline-offset: 0;
    box-shadow: none !important;
    padding: 2px 0.25rem;
  }
  .p-chips-token{
    margin: 2px 0;
  }

  .p-selectbutton .p-button {
    outline: 0 !important;
    box-shadow: none !important;
    height: 33px;
    width: 50%;
  }
  .p-selectbutton .p-button.p-highlight {
    background: #c5ebff;
    border-color: #c5ebff;
    color: #106DB6;
  }
  .p-paginator .p-paginator-pages .p-paginator-page{
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 4px;
    height: 26px !important;
    width: 50px;
    border-radius: 5px;
    background-color: #e6e6e6;
  }

  .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #2199e8;
    color: white;
    border: 1px solid #2199e8;
  }

  .p-paginator-bottom .p-ripple{
    padding: 10px;
    border-width: 0 !important;
    height: 26px !important;
    width: 50px !important;
  }
  .p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
    font-size: 13px;
    font-family: font_lexend_deca;
  }
  .p-datatable .p-paginator-bottom {
    border-width: 0;
  }
}

.cc-input-wrapper {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  border: 1px solid var(--Neutral-06, #E6EDFA);
  // padding: 5px;
  border-radius: 8px;
  background-color: #F7FAFD;
}

.email-tags {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
}

.email-tag {
  margin-left: 5px;
  background-color: #337ab7;
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 14px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: #FFFFFF;
}

.email-tag .remove-btn {
  margin-left: 5px;
  background: none;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
}

.cc-input {
  border: none;
  flex: 1;
  padding: 5px;
}

.cc-input:focus {
  outline: none;
}

.error-message {
  color: red;
  font-size: 12px;
  margin-top: 5px;
}

.input_text::placeholder {
  color: #AEC7E5;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
}
