.search{
    border: 1px solid #106DB6;
    border-radius: 15px;
    height: 38px;
  }

  .input-line {
    display: flex;
    position: relative;
  }

  .input-text {
    border: 0;
    padding: 10px;
    width: 93%;
    outline:0px;
  }

  .input-img {
    padding: 10px;
    cursor: pointer;
  }

  .btn-container {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .btn_submit{
    border: 0px;
    border-radius: 5px;
    height: 37px;
    box-sizing: border-box;
    color: white;
    background-color: #106DB6;
    font-size: 13px;
    margin: 0 10px;
  }

  .list_header{
    color:#898989;
    text-align: center;
    padding: 12px 12px 0;
    font-weight: 500;
  }

  .item_contract {
    border: 1px solid #106DB6;
    border-radius: 10px;
    padding: 8px;
    margin-top: 5px;
    line-height: 24px;
  }
  
  .item_contract:hover{
    background-color: rgb(255, 254, 254);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }
  
  .item_contract_name {
    font-weight: 500;
    font-size: 16px;
    color: #106DB6;
    cursor: pointer;
  }
  
  
  .item_contract_infor{
    color: #666666;
  }
  
  .item_contract_created{
    color: #666666;
    font-size: 13px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer_title{
    width: 120px;
  }
  .footer_pagination{
    text-align: center;
  }
  .footer_page_number{
    color: #0160AE
  }
  .contract_footer{
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
  }

  :host ::ng-deep {
    .ngx-pagination {
      padding: 0;
    }
    .ngx-pagination a, .ngx-pagination button {
      text-decoration: none;
      background: #f3f3f3;
    }
    .ngx-pagination li {
      width: 50px;
      border-radius: 5px;
    }
    .ngx-pagination .pagination-previous a::before,
    .ngx-pagination .pagination-previous.disabled::before {
      font-family: 'Material Icons';
      content: 'keyboard_arrow_left';
      vertical-align: middle;
      display: inline;
      margin: 0;
    }
    .ngx-pagination .pagination-next a::after,
    .ngx-pagination .pagination-next.disabled::after {
      font-family: 'Material Icons';
      content: 'keyboard_arrow_right';
      vertical-align: middle;
      display: inline;
      margin: 0;
    }
  
    .nav-link.active {
      color: #0d6efd;
      font-weight: 500;
      background-color: #c5ebff;
    }
    .nav-link {
      color: #6c6c6d;
    }
  
    .p-selectbutton .p-button {
      outline: 0 !important;
      box-shadow: none !important;
      height: 33px;
      width: 50%;
    }
  
    .p-selectbutton .p-button.p-highlight {
      background: #c5ebff;
      border-color: #c5ebff;
      color: #106DB6;
    }
  }

  .calendar_create{
    text-align: center;
    color:#106DB6
  }
  .calendar_deadline{
    text-align: center;
    color:red
  }

  .calendar_create, .calendar_deadline, .item_icon{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .div_icon{
    padding: 0 10px;
  }
  .img_icon{
    width: 18px;
    cursor: pointer;
  }
  .img_icon:hover{
    width: 30px;
  }