.sample-contract {
  // height: calc(100vh - 246px);
  height: calc(100vh - 287px);

  &__file {
    //position: relative;
    .sig-img-daky {
      position: absolute;
      top: -20px;
      right: -3px;
      //cursor: pointer;
    }
  }

  .viewer-pdf {
    // height: calc(100vh - 246px);
    height: calc(100vh - 287px);
    overflow-x: auto;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    padding-top: 10px;
  }

  #pdf-viewer-step-3.view {
    padding-top: 15px;
    overflow-y: auto;
    height: calc(100vh - 122px);
    overflow-x: hidden;
  }

  .viewer-pdf.isDrag {
    // height: calc(100vh - 246px);
    height: calc(100vh - 287px);
    overflow-x: auto;
    text-align: center;
    background-color: rgba(239, 239, 239, 1);
    //margin-left: 26%;
    padding-top: 10px;

    &.view {
      height: calc(100vh - 122px) !important;
      margin-left: 33%;
      padding-top: 10px;

      .show-list-name {
        pointer-events: none;
      }
    }
  }

  &__information {
    &--drag {
       #element-drag{
        height: 100px;
      }
      .content-drag {
        //cursor: pointer;
        width: 100%;
        height: 30px;
        background-color: #EBF8FF;
        border-radius: 5px;
        border: 1px solid #106DB6;
        color: #106DB6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .content-drag1 {
        //cursor: pointer;
        width: 100%;
        height: 30px;
        background-color: #EBF8FF;
        border-radius: 5px;
        border: 1px solid #106DB6;
        color: #106DB6;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
      }
      .show-list-name-class{
        display: inline-block; 
        margin-bottom: 15px;
      }

      .show-list-name-class:nth-last-child(4) {
        //float: left;
        margin-right: 11px;
      }

      .show-list-name-class:nth-last-child(2) {
        margin-right: 11px;
      }
    }

    &--user-sign {
      display: flex;
      flex-direction: column;

      label {
        padding-bottom: 13px;
      }

      .name-text {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;

        label {
          padding-bottom: 5px;
        }

        input {
          border-radius: 5px;
          border: 1px solid #87CAFF;
          height: 40px;
          outline: none;
        }
      }

      .sign-unit-select {
        label {
          padding-bottom: 5px;
        }

        select {
          color: #333333;
          border: 1px solid #87CAFF;
          outline: none;

          &.form-select:disabled {
            opacity: 0.7;
          }
        }

        select:invalid {
          color: gray;
        }
      }
    }

    .flex-column {
      .location {
        display: flex;
        justify-content: space-around;
      }

      .location-drag {
        //display: flex;
        float: left;
        align-items: center;

        div {
          //padding-right: 20px;
          //width: 88px;
          width: 56px;
          //font-size: 13px;
          color: #666666;
          text-align: center;
          float: left;
          padding-right: 15px;
          padding-top: 10px;
        }

        input {
          outline: none;
          width: 88px;
          height: 40px;
          border-radius: 5px;
          border: 1px solid #87CAFF;
        }
      }
    }

    @media screen and (max-height: 781px) {
      .location-change {
        height: 210px;
        overflow: auto;
      }
    }
  }

  .label {
    font-size: 15px;
    color: #106DB6;
    font-style: normal;
    font-weight: normal;
  }

  .label-require {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    color: #F48465;
  }
}

// test
.ck-da-keo {
  border: 1px solid #106DB6;
  border-radius: 5px;
}

.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.employer-ck .signature-sample,
.employer-ck .signature-sample-drag {
  border: 1px solid #92bff5;
  background-color: rgba(255, 233, 178, 1);
  color: #fe7744;
  border-radius: 2px;
}

.employer-ck-da-keo {
  border: 1px solid #92bff5;
  color: #fe7744;
  border-radius: 2px;
}

.staff-ck .signature-sample,
.staff-ck .signature-sample-drag {
  border: 1px solid #92bff5;
  background-color: rgba(189, 217, 249, 1);
  color: #2680eb;
  border-radius: 2px;
}

.staff-ck-da-keo {
  border: 1px solid #92bff5;
  color: #2680eb;
  border-radius: 2px;
}

.resize-drag {
  //position: absolute; // thuoc tinh absolute de giu nguyen vi tri khi keo sang pdf
  z-index: 9;
  //width: 250px;
  //height: 32px;
  font-size: 12px;
  border-radius: 3px;
  // font-family: sans-serif;
  outline: none;
  touch-action: none;
  display: flex;
  // align-items: center;
  // justify-content: center;
  color: rgba(27, 51, 91, 1);
  /* This makes things *much* easier */
  box-sizing: border-box;
  //padding: 10px;
  .name-sig-img-daky {
    position: absolute;
    background-color: yellow;
    border-radius: 5px;
    top: -15px;
    left: 6px;
    padding: 0 4px;
    border: 1px solid #ddd;
  }

  .sig-img-daky {
    cursor: pointer;

    > img {
      width: 16px;
    }

    img:nth-last-child(2) {
      width: 8px;
      top: 6px;
      position: absolute;
      right: 3px;
    }
  }
}

.none-drag {
  opacity: 0.6;
}

.drag-image {
  //position: absolute;
  //right: -22px;
  //top: 5px;
  padding-left: 7px;
}

// #element-drag-text,
// #element-drag {
//   //display: inline-block;
//   //width: ;
// }

//style button
.action-button {
  width: 100px;
  background: #106DB6;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}

.action-button-previous {
  width: 100px;
  background: #C5C5F1;
  font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 5px 5px;
}

.footer-sample-contract {
  border-top: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .content_footer {
    color: #0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}

.input1 {
  box-sizing: border-box; 
  text-align: center; 
  width: 40px;
  height: 22px;
  background: #FFFFFF;
  border: 1px solid #87CAFF;
  border-radius: 5px; 
}

.handle {
  position: absolute;
  background-color: orange;
}
.top-left {
  width: 10px;
  height: 5px;
  top: 0;
}
.left-top {
  width: 5px;
  height: 10px;
  top: 0;
  background-color: red;
}
.top-right {
  width: 10px;
  height: 5px;
  top: 0;
  right: 0;
}
.right-top {
  width: 5px;
  height: 10px;
  top: 0;
  right: 0;
  background-color: red;
}

.bottom-left {
  width: 10px;
  height: 5px;
  bottom: 0;
}
.left-bottom {
  width: 5px;
  height: 10px;
  bottom: 0;
  background-color: red;
}
.bottom-right {
  width: 10px;
  height: 5px;
  bottom: 0;
  right: 0;
}
.right-bottom {
  width: 5px;
  height: 10px;
  bottom: 0;
  right: 0;
  background-color: red;
}

@media screen and (min-width:1224px) and (max-width:1280px){
    .sample-contract{
        height: calc(100vh - 260px);
        .label{
          font-size: 14px;
        }
        .viewer-pdf.isDrag{
          background-color: #f3f7f9; 
          position: relative;
        }
        &__information{
            &--drag {
                .content-drag {
                    //cursor: pointer;
                    width: 100%;
                    height: 30px;
                    background-color: #EBF8FF;
                    border-radius: 5px;
                    border: 1px solid #106DB6;
                    color: #106DB6;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
                .content-drag span{
                    width: 50px;
                    margin-left: 5px;
                }
                .content-drag1 {
                    width: 100%;
                    height: 30px;
                    background-color: #EBF8FF;
                    border-radius: 5px;
                    border: 1px solid #106DB6;
                    color: #106DB6;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: row;
                }
                .content-drag1 span{
                    width: 50px;            
                }
            }
            .flex-column{
                .location {
                    display: flex;
                    justify-content: space-around;
                }
                .location-drag{
                    float: left;
                    align-items: center;

                    div {
                        width: 48px;
                        color: #666666;
                        text-align: center;
                        float: left;
                        padding-right: 15px;
                        padding-top: 0px;
                    }

                    input {
                        width: 55px;
                        height: 35px;
                    }
                }
            }
        }
    }
}

@media screen and (min-width:1280px) and (max-width:1440px){
  .sample-contract{
      height: calc(100vh - 260px);
      .label{
        font-size: 14px;
      }
      .viewer-pdf.isDrag{
        background-color: #f3f7f9; 
        position: relative;
      }
      &__information{
          &--drag {
              .content-drag {
                  //cursor: pointer;
                  width: 100%;
                  height: 30px;
                  background-color: #EBF8FF;
                  border-radius: 5px;
                  border: 1px solid #106DB6;
                  color: #106DB6;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: row;
              }
              .content-drag span{
                  width: 50px;
                  margin-left: 5px;
              }
              .content-drag1 {
                  width: 100%;
                  height: 30px;
                  background-color: #EBF8FF;
                  border-radius: 5px;
                  border: 1px solid #106DB6;
                  color: #106DB6;
                  text-align: center;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  flex-direction: row;
              }
              .content-drag1 span{
                  width: 50px;            
              }
          }
          .flex-column{
              .location {
                  display: flex;
                  justify-content: space-around;
              }
              .location-drag{
                  float: left;
                  align-items: center;

                  div {
                      width: 48px;
                      color: #666666;
                      text-align: center;
                      float: left;
                      padding-right: 15px;
                      padding-top: 0px;
                  }

                  input {
                      width: 55px;
                      height: 35px;
                  }
              }
          }
      }
  }
}

@media screen and (min-width:1440px) and (max-width:1600px) {
  .sample-contract{
    height: calc(100vh - 260px);
    &__information{
      &--drag{
        .content-drag {
          //cursor: pointer;
          width: 100%;
          height: 30px;
          background-color: #EBF8FF;
          border-radius: 5px;
          border: 1px solid #106DB6;
          color: #106DB6;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
        .content-drag span{
          width: 50px;
          margin-left: 5px;
        }
        .content-drag1 {
          width: 100%;
          height: 30px;
          background-color: #EBF8FF;
          border-radius: 5px;
          border: 1px solid #106DB6;
          color: #106DB6;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
        .content-drag1 span{
          width: 50px;            
        }
      }
      .flex-column{
        .location {
          display: flex;
          justify-content: space-around;
        }
        .location-drag{
          float: left;
          align-items: center;

          div {
            width: 40px;
            color: #666666;
            text-align: center;
            float: left;
            padding-right: 15px;
            padding-top: 10px;
          }
    
          input {
            width: 80px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (min-width:1600px) and (max-width:1824px) {
  .sample-contract{
    height: calc(100vh - 260px);
    &__information{
      &--drag{
        .content-drag {
          //cursor: pointer;
          width: 100%;
          height: 30px;
          background-color: #EBF8FF;
          border-radius: 5px;
          border: 1px solid #106DB6;
          color: #106DB6;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
        .content-drag span{
          width: 50px;
          margin-left: 5px;
        }
        .content-drag1 {
          //cursor: pointer;
          width: 100%;
          height: 30px;
          background-color: #EBF8FF;
          border-radius: 5px;
          border: 1px solid #106DB6;
          color: #106DB6;
          text-align: center;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: row;
        }
        .content-drag1 span{
          width: 50px;            
        }
      }
      .flex-column{
        .location {
          display: flex;
          justify-content: space-around;
        }
        .location-drag{
          float: left;
          align-items: center;

          div {
            width: 55px;
            color: #666666;
            text-align: center;
            float: left;
            padding-right: 15px;
            padding-top: 10px;
          }
    
          input {
            width: 80px;
            height: 40px;
          }
        }
      }
    }
  }
}

@media screen and (min-height:630px) and (max-height:780px) {
  .sample-contract{
    height: calc(100vh - 260px);
    &__information{
      &--drag{
        #element-drag{
          height: 80px;
        }
        .show-list-name-class{
          #element-drag{
            margin-bottom: 1px;
          }
        }
      }
      &--user-sign {
        label {
          padding-bottom: 1px;
        }
      }
      .location-change {
        height: 150px;
        overflow: auto;
      }
    }
  }
}

.center {
  text-align: center;
}

.call-page {
  padding: 0;
  border: none;
  background: none;
}

.call-page1 {
  padding: 0;
  border: none;
  background: none; 
  margin-left: 5px
}

.text-ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: inherit;
  max-width: 106px;
}

.sign-box-left {
  width: 116.25px;
  height: 52.5px;
  border-radius: 6px;
  background: #EBF8FF;
  margin: 4px 50px 4px -6px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: #106DB6;
  font-size: 9px;
  font-weight: 600;
}

.sign-box-right {
  width: 52.5px;
  height: 52.5px;
  background: linear-gradient(0deg, rgba(16, 109, 182, 0.9), rgba(16, 109, 182, 0.9)),
    linear-gradient(0deg, #EBF8FF, #EBF8FF);
  border: 1px solid #EBF8FF;
  border-radius: 8px;
  margin: 4px 4px 4px 123px;
  overflow: visible;
  position: absolute;
}

.sign-box-icon {
  width: 14.5px;
  height: 14.5px;
  z-index: 1;
  // background: #ffffff;
  vertical-align: middle;
  margin-top: 18px;
}

.swap-stamp-btn {
  position: absolute;
  top: -21px;
  right: 15px;
}

.sign-swap-icon {
  width: 19px;
  cursor: pointer;
}

.long-text-select {
  width: 200px; /* Adjust the width as needed */
}

.long-text-select option {
  white-space: normal; /* Allow text to wrap */
  overflow: hidden; /* Hide overflow if wrapping occurs */
}



// test select option
.custom-dropdown {
  position: relative;
  display: inline-block;
}

.selected-option {
  padding: 10px;
  border: 1px solid #ccc;
  background-color: white;
  cursor: pointer;
}

.options-list {
  display: none;
  position: absolute;
  list-style: none;
  margin: 0;
  padding: 0;
  border: 1px solid #ccc;
  background-color: white;
  max-height: 200px; /* Set a max height for the options list */
  overflow-y: auto;
}

.options-list li {
  padding: 5px;
  white-space: nowrap;
}

.options-list li:hover {
  background-color: #f0f0f0;
}