<div style="background-color: #f9f9f9;">
  <div class="full-height d-flex flex-row">
    <div class="left-background">

    </div>
    <div class="right-panel">
      <div class="input-form ng-touched ng-pristine ng-invalid" style="display: table;top: 0;left: 0;width: 100%;text-align: center;">
        <div style="display: table-cell;vertical-align: middle;">
        <form [formGroup]="addForm">
          <div style="margin: 0 30px;color:#106DB6; font-size: 30px;">{{'signup' | translate}}</div>
          <div class="form-group">
            <div class="row">
              <div class="col-md-6">
                <div class="label text-color">{{'Tên tổ chức' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'organization' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="label text-color">{{'Quy mô' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'scale' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
            </div>

            <div class="row" style="padding-top: 10px;">
              <div class="col-md-6">
                <div class="label text-color">{{'Địa chỉ' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'address' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="label text-color">{{'Mã số thuế' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'tax_code' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
            </div>

            <div class="row" style="padding-top: 10px;">
              <div class="col-md-6">
                <div class="label text-color">{{'Người đại diện' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'representative' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
              <div class="col-md-6">
                <div class="label text-color">{{'Chức vụ' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'position' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
            </div>

            <div class="row" style="padding-top: 10px;">
              <div class="col-md-6">
                <div class="label text-color">{{'Email' | translate }} <span class="required-title">*</span></div>
                  <div class="input-line">
                    <input type="text" id="username" placeholder="{{'user.email' | translate}}"
                      formControlName="username" class="input-text"/>
                  </div>
              </div>
              <div class="col-md-6">
                <div class="label text-color">{{'Số điện thoại' | translate }} <span class="required-title">*</span></div>
                <div class="input-line">
                  <input type="text" id="username" placeholder="{{'user.phone' | translate}}"
                    formControlName="username" class="input-text"/>
                </div>
              </div>
            </div>

            <div class="form-group">
              <p class="alert alert-danger" role="alert" *ngIf="error" style="text-align: center; font-size: 15px;">
                <strong>{{errorDetail}}</strong>
              </p>
            </div>

            <div class="form-group sub-login" style="width: 60%;margin: 0 auto;">
              <button class="btn btn-lg btn-block" (click)="sendSignup()">{{'btn.sendRequest' | translate}}</button>
            </div>
            </div>
        </form>
      </div>
      </div>
      <div class="slogan">
        <div class="bg-footer-login"></div>
      </div>
    </div>
  </div>
</div>