.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  top: 10px;
  right: 20px;
  position: absolute;
}
.input-text {
  border: 1px solid #87CAFF;
  padding: 7px;
  width: 100%;
  height: 38px;
  outline:0px;
  border-radius: 5px;
}
.btn-block {
  background-color: #106DB6;
  color: white;
  height: 38px;
  font-size: 14px;
  width: 100px;
  border-radius: 5px;
}
