.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  top: 6px;
  right: 20px;
  position: absolute;
}
.input-text {
  border: 1px solid #87CAFF;
  padding: 7px;
  width: 100%;
  height: 38px;
  outline:0px;
  border-radius: 5px;
}
.btn_search{
  align-self: flex-end;
}
.btn-block {
  background-color: #106DB6;
  color: white;
  height: 33px;
  font-size: inherit;
  width: 100px;
  border-radius: 5px;
}
::ng-deep .date-picker {
  width: 100%;
  outline:0px;
  .datepicker-container{
    width: 100%;
    input {
      display: block !important;
      width: 100% !important;
      height: 33px !important;
      padding: .375rem .75rem !important;
      font-size: inherit !important;
      line-height: 1.5 !important;
      color: #495057 !important;
      background-color: #fff !important;
      background-clip: padding-box !important;
      border: 1px solid #87CAFF !important;
      border-radius: .25rem !important;
      transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
      outline:0px !important;
    }
  }
}
