<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <h3>{{'dashboard.contract.received' | translate}}</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <div class="header_card header_card_1" (click)="openLink('/main/c/receive/wait-processing-dashboard')">
        <a [routerLink] = "['/main/c/receive/wait-processing-dashboard']" style="color: white; text-decoration: none;">
        <div class="row">
          <div class="col-md-7 text_header_card">
              <div>{{'contract.status.wait-processing' | translate}}</div>
              <div class="number_header_card">{{numberWaitProcess}}</div>
          </div>
          <div class="col-md-5 img_header_card">
            <img src="../../../assets/img/db_header_1.svg" width="60px"/>
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_card header_card_2"  (click)="openLink('/main/c/receive/wait-processing-prepare-expires-dashboard')">
        <a [routerLink]="['/main/c/receive/wait-processing-prepare-expires-dashboard']" style="color: white; text-decoration: none;">
        <div class="row">
          <div class="col-md-7 text_header_card">
              <div>{{'contract.status.expire' | translate}}</div>
              <div class="number_header_card">{{numberExpire}}</div>
          </div>
          <div class="col-md-5 img_header_card">
            <img src="../../../assets/img/db_header_2.svg" width="60px" />
          </div>
        </div>
      </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_card header_card_3" (click)="openLink('/main/c/receive/processed-waiting-dashboard')">
        <a [routerLink]="['/main/c/receive/processed-waiting-dashboard']" style="color: white; text-decoration: none;">
        <div class="row">
          <div class="col-md-7 text_header_card">
              <div>{{'contract.status.wait-response' | translate}}</div>
              <div class="number_header_card">{{numberWaitComplete}}</div>
          </div>
          <div class="col-md-5 img_header_card">
            <img src="../../../assets/img/db_header_1.svg" width="60px" />
          </div>
        </div>
        </a>
      </div>
    </div>
    <div class="col-md-3">
      <div class="header_card header_card_4" (click)="openLink('/main/c/receive/processed-complete-dashboard')">
        <a [routerLink]="['/main/c/receive/processed-complete-dashboard']" style="color: white; text-decoration: none;">
        <div class="row">
          <div class="col-md-7 text_header_card">
              <div>{{'contract.status.complete' | translate}}</div>
              <div class="number_header_card">{{numberComplete}}</div>
          </div>
          <div class="col-md-5 img_header_card">
            <img src="../../../assets/img/db_header_3.svg" width="60px" />
          </div>
        </div>
        </a>
      </div>
    </div>
  </div>

  <div class="row" style="padding: 20px 0;">

    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h3>{{'dashboard.contract.created' | translate}}</h3>
        </div>
      </div>
      <div class="body" id="chart-column">
        <div class="row" style="margin: 0 1%;">

          <div class="col-md-6" style="text-align: center;">

            <p-selectButton [options]="stateOptions" [(ngModel)]="isOrg" optionLabel="label" optionValue="value" (click)="search()">
              <ng-template  #options let-item>
                <span style="vertical-align:middle">{{item.label | translate}}</span>
             </ng-template>
            </p-selectButton>

          </div>

          <div class="col-md-6">
            <p-calendar selectionMode="range" [readonlyInput]="true" [(ngModel)]="date" [showIcon]="true" dateFormat="dd/mm/yy" (onSelect)="searchCountCreate()"></p-calendar>
          </div>
          
          <div style="padding-top: 10px;" *ngIf="isOrg=='on' && this.isQLHD_03">
              <p-treeSelect [(ngModel)]="selectedNodeOrganization" [options]="list" placeholder="{{'all' | translate}}" [filter]="true" filterBy="name"  [droppable]="true" (onNodeSelect)="search()"></p-treeSelect>
          </div>
        </div>
        
        <div class="row">
          <div class="col-md-12">
            <div *ngIf="totalCreate == 0"
              style="height:500px;display: table;top: 0;left: 0;width: 100%;text-align: center;">
              <div style="display: table-cell;vertical-align: middle;">
                <img src="../../../assets/img/empty_data.svg"/>
                <div style="color: #94A7C6;">{{'no.data' | translate}}</div>
              </div>
            </div>
            <div *ngIf="totalCreate > 0  && (this.isOrg == 'off' || (this.isOrg == 'on' && (this.isQLHD_03 || this.isQLHD_04)))" >
              <div [chart]="chartCreated"></div>
              <div style="text-align: center;">{{'chart.contract.created' | translate}}</div>
            </div>

            <div *ngIf="totalCreate > 0  && (this.isOrg == 'on' && !this.isQLHD_03 && !this.isQLHD_04)">
              {{'list.org.not.permission' | translate}}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row">
        <div class="col-md-12">
          <h3>{{'dashboard.notification' | translate}}</h3>
        </div>
      </div>
      <div class="body" style="min-height: 424.8px"  id="noti" [ngStyle]="getNumberContractBoxHeight()" >
        <div *ngIf="listNotification.length == 0"
        style="height: 364.8px;display: table;top: 0;left: 0;width: 100%;text-align: center;">
        <div style="display: table-cell;vertical-align: middle;">
          <img src="../../../assets/img/empty_data.svg"/>
          <div style="color: #94A7C6">{{'no.data' | translate}}</div>
        </div>
      </div>
        <div *ngIf="listNotification.length > 0" >
          <div *ngFor="let item of listNotification; let i = index" [style.border-bottom]="i != listNotification.length-1 ? '1px solid #C7D0E9' : ''" style="padding: 4px;">
            <a href="{{item.notice_url}}" style="text-decoration: none;">
            <div class="row">
              <div *ngIf="this.lang == 'vi'" class="col-md-12 item_contract_name" (click)="openLinkNotification(item.notice_url, item.id)">{{item.notice_name}}</div>
              <div *ngIf="this.lang == 'en'" class="col-md-12 item_contract_name" (click)="openLinkNotification(item.notice_url, item.id)">{{item.notice_name.replace("Ký HĐ","Sign contract").replace("Quá hạn","Overdue").replace("Hoàn thành","Completed")}}</div>
            </div>

              <div class="row" *ngFor="let s of item.notice_content.split('<br/>')">
                <div *ngIf="!s.includes('\nBên B: #PARTICIPANT_2#')" class="col-md-12 item_contract_infor">
                  <img src="../../../assets/img/user_icon.svg" width="12px"/>
                    <span *ngIf="this.lang == 'vi' || !this.lang"> {{s.replace("Bên B: #PARTICIPANT_2#","")}}</span>
                    <span *ngIf="this.lang == 'en'"> {{s.replace("Bên B: #PARTICIPANT_2#","").replace("Bên","Side")}}</span>
                </div>
              </div>

         
            <div class="row item_contract_infor">

              <div class="col-md-6 calendar_create">
                <img src="../../../assets/img/calendar_icon.svg" width="15px"/>
                <span class="item_date"> {{item.created_at | date: 'dd/MM/yyyy HH:mm'}}</span>
              </div>

              <div class="col-md-6 item_contract_infor">{{'contract.status' | translate}}:
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_coordinator'">{{'contract.lead' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_reject'">{{'contract.status.fail' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_review'">{{'contract.view' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_sign'">{{'contract.sign' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_publish'">{{'contract.document' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_finish'">{{'contract.status.complete' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='sign_flow_cancel'">{{'contract.status.cancel' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='contract_exprire'">{{'contract.status.overdue' | translate}}</span>
                <span class="status_blue" *ngIf="item.message_code=='contract_about_exprire'">{{'contract.status.expire' | translate}}</span>
              </div>

            </div>
            </a>
          </div>
        </div>

      </div>
      <div class="row" id="num-contract">
        <div class="col-md-12" style="padding-top: 10px">
          <h3>{{'num.contract'| translate}}</h3>
        </div>
      </div >
      <div class="body" 
      id="num-contract-body" style="display: flex; flex-wrap: wrap; align-items: center">
        <div class="first-col" style="width: 100%">
          <div style="padding-left: 4px; margin: 0">
            <span id="col-num-1" style="display: inline-block; width: fit-content">{{'num.contract.buy' | translate}}:&nbsp;</span>
            <span style=" width: fit-content; margin: 0; color: red">{{numContractBuy}} </span>
          </div>
          <div style="padding-left: 4px; margin: 0">
            <span id="col-num-2" style="display: inline-block; width: fit-content">{{'num.contract.use' | translate}}:&nbsp;</span>
            <span style=" width: fit-content; margin: 0; color: red">{{numContractUse}} </span>
          </div>
        </div>
        <div class="second-col">
        </div>
      </div>
    </div>
  </div>
  
</div>
