.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  top: 6px;
  right: 20px;
  position: absolute;
}
.input-text {
  border: 1px solid #87CAFF;
  padding: 7px;
  width: 100%;
  height: 38px;
  outline:0px;
  border-radius: 5px;
}
.btn_search{
  align-self: flex-end;
}
.btn-block {
  background-color: #106DB6;
  color: white;
  height: 33px;
  font-size: inherit;
  width: 100px;
  border-radius: 5px;
}
:host ::ng-deep {
  .p-calendar {
    font-size: 13px !important;
    font-family: 'font_lexend_deca';
    width: 100%;
  }
  .p-datepicker table td {
    padding: 0;
  }
  .p-calendar-w-btn, .p-calendar-w-btn .p-inputtext {
    height: 33px;
  }
  .p-calendar-w-btn .p-inputtext{
    border: 1px solid #106DB6 !important;
    outline: 0 !important;
    box-shadow: none !important;
  }
}
