<div class="sample-contract row" *ngIf="loaded && valid">
  <!--  information contract-->
  <div class="col-md-3 sample-contract__information" style="background-color: white;">
    <div class="sample-contract__information--drag" id="width-element-info" style="margin-top: 15px">
      <div style="padding-bottom: 10px; text-align: center; font-weight: bold" class="label" (click)="t()">THÔNG TIN CHI TIẾT HỢP ĐỒNG</div>
      <div style="line-height: 25px">
        <div>
          <span class="title-contract">Loại hợp đồng:</span>
          <span>{{datas.is_data_contract.type_id}}</span>
        </div>
        <div>
          <span class="title-contract">Tên hợp đồng:</span>
          <span>{{datas.is_data_contract.name}}</span>
        </div>
        <div>
          <span class="title-contract">Số hợp đồng:</span>
          <span>{{datas.is_data_contract.code}}</span>
        </div>
        <div>
          <span class="title-contract">File đính kèm:</span>
          <span *ngFor="let d of allFileAttachment">
            <a style="color: #106DB6" rel="stylesheet" [href]="d.path" target="_blank">{{d.filename}}</a>
          </span>
        </div>
        <div>
          <span class="title-contract">Hợp đồng liên quan:
          </span>
          <span *ngFor="let d of datas?.is_data_contract?.refs;let i = index">
            <a style="color: #106DB6;" [style.margin-left]="i != 0 ? '8px' : ''" rel="stylesheet" [href]="'/main/form-contract/detail/' + d.ref_id" target="_blank">{{d.ref_name}}</a>
          </span>
        </div>

      </div>
    </div>
   <hr>

    <div class="location-change" [ngStyle]="changeDisplay()">
      <div class="sample-contract__information&#45;&#45;user-sign" style="line-height: 25px">
        <div style="text-align: center; font-weight: bold" class="label">CÁC BÊN LIÊN QUAN</div>
        <div *ngFor="let d of this.datas?.is_data_contract?.participants">
          <p>{{d.name}}</p>
        </div>

      </div>
      <div>
        <u style="color: #106DB6; padding-right: 3px; cursor: pointer" (click)="processHandleContract()">Luồng xử lý hợp đồng</u>
      </div>
    </div>
  </div>

  <!--  file content-->
  <!--  width: 74.7%-->
  <div class="col-md-9 sample-contract__file viewer-pdf isDrag"
       style="background-color: #F2F2F2; position: relative;">
    <div id="pdf-viewer-step-3">
      <!--<div *ngFor="let d of this.convertToSignConfig()" class="show-list-name-drag" [style.width]="this.canvasWidth">
        <div class="resize-drag not-out-drop"
             [id]="d.id"
             style="z-index: -1;"
             #itemElement
             (click)="getSignSelect(d)"
             [ngClass]="changeColorDrag(null, d, true)"
             [ngStyle]="changePosition(d)">
          <div class="name-sig-img-daky">{{(d.name && !d.value) ? d.name : ''}}</div>
          <app-image-sign-contract-detail *ngIf="!d.value" [datas]="datas" [sign]="d"></app-image-sign-contract-detail>
        </div>
      </div>-->
    </div>
  </div>
</div>
<div class="footer-contract">
  <div class="content_footer">@Copyright 2021 - MobiFone</div>
  <div class="btn_footer">
    <div class="label">
    </div>
    <div class="label">
      <button type="button" name="next" class="next action-button" *ngIf="view && loaded" (click)="downloadContract(idContract)">{{checkStatusUser(recipient.status, recipient.role)}}</button>
    </div>
  </div>
</div>
