<!-- form step 1 -->
<div>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="label_item">{{'contract-template.name' | translate}} <span class="require_star">*</span></div>
          <div>
            <p-dropdown panelStyleClass="font" [options]="typeListForm" [(ngModel)]="idContractTemplate" 
              optionLabel="name" optionValue="id" placeholder="{{'choose.template.contract' | translate}}" [filter]="true" filterBy="name"
              (onChange)="OnChangeForm($event)">
            </p-dropdown>
          </div>
        </div>
        <div class="form-group">
          <div class="invalid" *ngIf="errorContractName">
            {{errorContractName | translate}}
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div class="label_item">{{'file.document' | translate}} <span class="require_star">*</span></div>
          <input id="file-input" type="file" accept=".xls,.xlsx"
                (change)="fileChanged($event)" style="display: none;"/>
          <div class="file-contract" (click)="addFile()">
            <img src="assets/img/icon_file_excel.svg" alt="mobifone.contract">
            <div style="padding-top: 7px;"><span style="color: #798693;" *ngIf="!this.datasBatch.file_name">{{'choose.document.file.excel' | translate }}</span>{{this.datasBatch.file_name}}</div>
            <div style="padding-top: 7px;" *ngIf="errorDetail && errorDetail.length > 0">
              <span style="color: red;">Dữ liệu không hợp lệ. Tổng số {{errorDetail.length}} lỗi</span>
            </div>
            <div style="max-height: 135px; overflow-y: auto;">
              <div style="padding-top: 7px;" *ngFor="let item of errorDetail; let i = index">
                <span style="color: red;">{{item}}</span>
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <div class="invalid" *ngIf="errorContractFile">
            {{errorContractFile | translate}}
          </div>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <div style="padding-top: 10px;">
            {{'not.have.sample.file' | translate}} <a style="color: #106DB6; cursor: pointer;" (click)="downFileExample()">{{'download.sample.file' | translate}}</a>
          </div>  
        </div>
      </div>
    </div>
  </div>
  
  <div class="footer-infor-contract">
    <div></div>
    <div></div>
    <div>
      <button (click)="next()" type="button" name="next" class="next action-button pull-right">{{'btn.next' | translate }}</button>
    </div>
  </div>
  <ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
    <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>
  
  
  