<div class="container-fluid">
  <div class="header">
    <h3 style="text-align: center;" class="label-header">{{this.data.title | translate}}</h3>
    <span style="text-align: center; color: #8E9AB0;">Vui lòng kiểm tra kết nối trước khi thực hiện lưu cấu hình</span>
  </div>

  <div class="row">
    <form [formGroup]="checkBrandnameForm" class="content">
      <div>
        <div class="label text-color">Số điện thoại
          <span class="required-title">*</span>
        </div>
        <div class="input-data">
          <input type="text" formControlName="phone" [disabled]="false" placeholder="Nhập số điện thoại">
        </div>
        <div *ngIf="submitted && f.smsUser?.errors?.required" class="invalid">
          <div *ngIf="f.smsUser?.errors?.required">{{'error.unit.username.required' | translate}}</div>
          <!-- <div *ngIf="f.smsUser?.errors?.maxlength">{{'error.valid.username' | translate}}</div> -->
        </div>
      </div>
      
      <div style="padding-top: 20px;">
        <div class="label text-color">Nội dung SMS
          <span class="required-title">*</span>
        </div>
        <textarea formControlName="message" [disabled]="true" style="width: 100%; height: 120px;"></textarea>
      </div>
    </form>
  </div>
  <div style="text-align: center; padding-top: 10px;">
    <button class="check-button" (click)="onCheck()" type="button">{{'check.button' | translate}}</button>
  </div>
</div>