//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 29px;
    button {
      width: 100px;
      height: 31px;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: #8B8B8B;
      cursor: pointer;
    }
    button:nth-last-child(1) {
      background-color: #106DB6;
    }
  }
}
