//@font-face {
//  font-family:font_lexend_deca;
//  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format('ttf');
//  font-weight:normal;
//  font-style:normal;
//}

.content {
  .name-item {
    .require_star {
      color: red;
    }
    .form-control > input {
      border: none;
      outline: none;
      margin-left: 20px;
    }
  }

  .name-item:not(:last-child) {
    margin-bottom: 10px;
  }

  .select-option {
    display: flex;
    justify-content: space-evenly;
    margin-top: 29px;
    button {
      width: 100px;
      height: 31px;
      border-radius: 5px;
      border: none;
      color: white;
      background-color: #8B8B8B;
      cursor: pointer;
    }
    button:nth-last-child(1) {
      background-color: #106DB6;
    }
  }
}
.input-data {
  border: 1px solid #106DB6;
  border-radius: 5px;
  height: 38px;
  display: flex;
  align-items: center;

  > img {
    padding-left: 14px;
  }

  > input {
    border: none;
    outline: none;
    padding-left: 19px;
    width: 100%;
  }
}
.db_icon_english {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../../../assets/img/icon_english.svg);
}
.db_icon_vietnam {
  height: 20px;
  width: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url(../../../../../../assets/img/icon_vietnam.svg);
}
.drop_menu{
  border-color: #C2E4FF;
  padding: 0;
  font-size: inherit;
  right: 10px;
  left: unset !important;
}
.language{
  margin-left: 20px;
}
.switch-language{
  padding: 5px;
}
//::ng-deep .mat-form-field-flex {
//  background-color: white;
//}
.dropdown-toggle:empty::after {
  margin-left: 24px;
  margin-bottom: 2px;
  width: 9px;
}
.btn-outline-primary:hover{
  color: grey;
}
