<div class="container-fluid">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6; font-weight: bold">{{this.datas.title}}</h3>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="content">
    <div class="name-item">
      <div class="label_item">Họ tên: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <img src="assets/img/icon_name.svg" class="input-img">
        <input autocomplete="off" type="text" formControlName="name" class="input-text" placeholder="Nhập họ và tên" autofocus>
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">Email: <span class="require_star">*</span></div>
      <div class="form-control input-line">
        <img src="assets/img/login_email.svg" class="input-img">
        <input autocomplete="off" type="text" formControlName="email" class="input-text" placeholder="Nhập Email">
      </div>
    </div>

    <div class="select-option">
      <button
        class="dx-button-form dx-button-close dx-button-90"
        (click)="dialog.closeAll()"
        type="button">Hủy
      </button>
      <button
        class="dx-button-form dx-button-submit dx-button-90"
        type="default">{{this.datas.is_content == 'forward_contract' ? 'Chuyển tiếp' : 'Ủy quyền'}}
      </button>
    </div>
  </form>
</div>
