<div class="container-fluid">
  <div style="text-align: center; font-weight: bold">
    <h3 style="color: #106DB6;font-family: inherit;" (click)="t()">{{this.datas.title}}</h3>
  </div>
  <form (ngSubmit)="onSubmit()" [formGroup]="myForm" class="content">
    <div class="name-item">
      <div class="label_item">{{'user.name' | translate}} <span class="require_star">*</span></div>
      <div class="input-data">
        <img src="assets/img/icon_name.svg" class="input-img">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="name" class="input-text" autofocus>
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">Email <span class="require_star">*</span></div>
      <div class="input-data">
        <img src="assets/img/login_email.svg" class="input-img">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="email" class="input-text">
      </div>
    </div>

    <div class="name-item">
      <div class="label_item">{{'user.phone' | translate}} <span *ngIf="isReqPhone" class="require_star">*</span></div>
      <div class="input-data">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="phone" class="input-text">
      </div>
    </div>

    <div class="name-item" *ngIf="isReqCardId">
      <div class="label_item">CMT/CCCD <span class="require_star">*</span></div>
      <div class="input-data">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="card_id" class="input-text">
      </div>
    </div>

    <div class="name-item" *ngIf="isReqCardIdToken">
      <div class="label_item">Mã số thuế/CMT/CCCD <span class="require_star">*</span><div style="color: #ffc107;">({{'Thông tin trong USB token' | translate}})</div></div>
      <div class="input-data">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="card_id" class="input-text">
      </div>
    </div>

    <div class="name-item" *ngIf="isReqCardIdHsm">
      <div class="label_item">Mã số thuế <span class="require_star">*</span></div>
      <div class="input-data">
        <input style="width: 88%" autocomplete="off" type="text" formControlName="card_id" class="input-text">
      </div>
    </div>

    <div class="select-option">
      <button
        class="dx-button-form dx-button-close dx-button-90"
        (click)="dialog.closeAll()"
        type="button">{{'cancel' | translate}}
      </button>
      <button
        class="dx-button-form dx-button-submit dx-button-90"
        type="default">{{this.datas.is_content == 'forward_contract' ? 'Chuyển tiếp' : 'Ủy quyền'}}
      </button>
    </div>
  </form>
</div>
