.required-title {
  color: red;
}
.content{
  padding-top: 10px;
}

.input-data {
  border: 1px solid #106DB6;
  border-radius: 5px;
  height: 33px;
  display: flex;
  align-items: center;

  > input {
      border: none;
      outline: none;
      padding-left: 15px;
      width: 100%;
  }
}  
.cancel-button{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: white;
  background-color: #8B8B8B;
  font-size: 13px;
  margin: 0 10px;
}
.save-button{
  border: 0px;
  border-radius: 5px;
  height: 33px;
  width: 100px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
  margin: 0 10px;
}
.error-detail{
  font-size: inherit;
  padding: 6px;
  margin-top: 5px;
  margin-bottom: 0;
}
:host ::ng-deep {
  .p-dropdown, .p-multiselect {
      border: 1px solid #106DB6;
      border-radius: 5px;
      height: 33px;
      width: 100%;
      outline: 0;
      color: black !important;
  }
  .p-dropdown-label, .p-multiselect-label {
      padding: 5px 5px 5px 15px;
  }
  .p-chips{
    width: 100%;
  }
  .p-chips .p-chips-multiple-container{
    width: 100%;
    border: 1px solid #106DB6;
    outline: none !important;
    outline-offset: 0;
    box-shadow: none !important;
    padding: 2px 0.25rem;
  }
  .p-chips-token{
    margin: 2px 0;
  }
}
.invalid{
  color: red;
}
