<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.datas.title | translate}}</h3>
    </div>
    <form [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="label text-color">Email <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="email">
                </div>
                <div *ngIf="submitted && f.email.errors" class="invalid">
                    <div *ngIf="f.email.errors.required">Email không được để trống</div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button" (click)="onSubmit()">{{'btn.save' | translate}}</button>
        </div>
    </form>
  </div>
  