<div class="container-fluid" style="min-height: 60vh;max-height: 80vh;">
  <div style="text-align: center; font-weight: bold">
    <h3 class="title-popup">{{this.datas.title}}</h3>
  </div>
  <div class="mb-2"><span class="title-content">{{'hsm.title' | translate}}</span></div>
  <div class="content">
    <div class="name-item">
      <div style="justify-content: space-evenly;" class="confirm-radio d-flex mx-4">
        <div class="radio-confirm">
          <label [ngClass]="typeImageSignatureRadio == '1' ? 'text-primary' : 'text-inactive'" class="checkbox" for="radio-file-account">
            <input id="radio-file-account" type="radio" name="choose-radio-signature" [value]="1" [(ngModel)]='typeImageSignatureRadio' (change)="t(1)">
            <span class="checkmark"></span>
            Ảnh từ tài khoản
          </label>
        </div>
        <div class="radio-confirm">
          <label [ngClass]="typeImageSignatureRadio == '2' ? 'text-primary' : 'text-inactive'" class="checkbox" for="radio-file-com">
            <input id="radio-file-com" type="radio" name='choose-radio-signature' [value]="2"  [(ngModel)]='typeImageSignatureRadio' (change)="t(2)">
            <span class="checkmark"></span>
            Tải ảnh lên
          </label>
        </div>
        <div *ngIf="!this.data.mark" class="radio-confirm">
          <label [ngClass]="typeImageSignatureRadio == '3' ? 'text-primary' : 'text-inactive'" class="checkbox" for="radio-img-draw">
            <input id="radio-img-draw" type="radio" name='choose-radio-signature' [value]="3"
                   [(ngModel)]='typeImageSignatureRadio' (change)="t(3)">
            <span class="checkmark"></span>
            Ký bằng hình vẽ tay
          </label>
        </div>
      </div>
    </div>

    <div class="image-sign" style="background: #F3F6FA; border-radius: 12px">
      <!--TH dialog chữ ký ảnh-->
      <div *ngIf="typeImageSignatureRadio == 1 && !this.data.mark">
        <label class="align-select">Chữ ký đã tạo trên hệ thống:</label>
        <div class="image-sign-acc-2 mt-4 d-flex justify-content-center align-items-center" style="max-height: 450px;">
          <img *ngIf="imgSignAccountSelect" [src]="imgSignAccountSelect" alt="" style="max-height: 450px;">
          <div *ngIf="!datas.imgSignAcc" style="margin-top: 12rem; color: #A8B5CE">
            Chưa có ảnh từ tài khoản
          </div>
        </div>
      </div>

      <!--TH dialog chữ ký có con dấu-->
      <div *ngIf="typeImageSignatureRadio == 1 && this.data.mark" style="height: 450px">
        <!--        <label class="align-select">Con dấu đã tạo trên hệ thống:</label>-->
        <div class="image-sign-acc-2 mt-4 d-flex justify-content-center align-items-center" style="max-height: 450px;">
          <img *ngIf="markSignAccountSelect" [src]="markSignAccountSelect" alt="" style="max-height: 450px;">
          <div *ngIf="!datas.markSignAcc"  style="margin-top: 12rem; color: #A8B5CE">
            Chưa có ảnh từ tài khoản
          </div>
        </div>
      </div>

      <div *ngIf="typeImageSignatureRadio == 2">
        <div class="form-group">
          <div class="select-file-contract" [hidden]="imgSignPCSelect">
            <div class="file-approve">
              <input id="attachFileSignature" type="file" accept="image/*"
                     (change)="fileChangedAttach($event)" style="display: none;">
              <div class="select-contract container-img-file" (click)="addFileAttach()">
                <div class="upload-image-region d-flex flex-column container-img-file-1">
                  <div style="color: #00186D; font-weight: 700; display: flex" class="text-choose-file">Kéo thả hoặc tải ảnh lên &nbsp;<p style="color: #286CF5"> Tại đây</p></div>
                  <div class="text-support-extension">Hỗ trợ file PNG, JPG. JPEG</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="image-sign-acc-2 mt-4" style="max-height: 600px;">
          <img *ngIf="imgSignPCSelect && !this.mobile" (click)="addFileAttach()" [src]="imgSignPCSelect" alt=""
               style="display: block;margin: 0 auto;max-height: 600px;object-fit: cover; background-size: cover;background-position: center;width: 100%;height: 100%;">

          <img *ngIf="imgSignPCSelect && this.mobile" (click)="addFileAttach()" [src]="imgSignPCSelect" alt=""
               style="display: block;margin: 0 auto;max-height: 600px; max-width: 210px ;background-size: cover;object-fit: cover;background-position: center;width: 100%;height: 100%;">
        </div>
      </div>

      <div *ngIf="typeImageSignatureRadio == 3">
        <signature-pad *ngIf="typeImageSignatureRadio == 3" #signature [options]="signaturePadOptions"
                       (drawStart)="drawStart($event)" (drawEnd)="drawComplete($event)"></signature-pad>
      </div>

      <div *ngIf="typeImageSignatureRadio == 4 ">
        <div class="image-sign-acc-2 mt-4 d-flex justify-content-center align-items-center" style="max-height: 600px;height: 450px">
          <img src="../../../../assets/img/default_img.svg" alt="" style="max-height: 600px">
        </div>
      </div>
    </div>
    <div class="row" style="justify-content: center;padding-top: 25px;padding-bottom: 10px;">
      <button *ngIf="typeImageSignatureRadio != 1" class="cancel-button" (click)="dialog.closeAll();clearImage()"
              type="button">{{'btn.close' | translate}}</button>
      <button
        *ngIf="(typeImageSignatureRadio == 1 && (datas.imgSignAcc || datas.markSignAcc))|| (typeImageSignatureRadio != 1)"
        class="save-button" (click)="uploadImage()">{{'confirm' | translate}}</button>
    </div>
  </div>
</div>
