<!--xử lý gọi các component trong các step theo từng điều kiện-->
<div class="container-fluid">
<!--  <p (click)="t()">ducanh</p>-->
<!--  <app-contract-header #contractHeader [AddComponent]="this" [datas]="datas" [step]="step" (stepChange)="getStep()"></app-contract-header>-->
  <app-contract-copy-header #contractHeader [AddComponent]="this" [datas]="datas" [step]="step"></app-contract-copy-header>
  <ng-container>
    <app-infor-copy-contract #infoContract *ngIf="step == 'infor-contract'" [datas]="datas" [step]="step" (stepChangeInfoContract)="getStep($event)"></app-infor-copy-contract>
    <app-determine-copy-signer #determineSigner *ngIf="step == 'determine-contract'" [datas]="datas" [saveDraftStep]="datas.save_draft.determine_signer" [step]="step" (stepChangeDetermineSigner)="getStep($event)"></app-determine-copy-signer>
    <app-sample-copy-contract #sampleContract *ngIf="step == 'sample-contract'" [datas]="datas" [step]="step" (stepChangeSampleContract)="getStep($event)"></app-sample-copy-contract>
    <app-confirm-infor-copy-contract #confirmInforContract *ngIf="step == 'confirm-contract'" [datas]="datas" [step]="step" (stepChangeConfirmInforContract)="getStep($event)"></app-confirm-infor-copy-contract>
  </ng-container>
</div>
