<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.data.title | translate}}</h3>
    </div>
    <div style="font-weight: bold">
        <h3 style="font-family: inherit;">Bạn có chắc chắn muốn ngừng phát hành mẫu hợp đồng này không?</h3>
    </div>
    <div class="row" style="justify-content: center;padding-top: 10px;">
        <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.close' | translate}}</button>
        <button class="save-button" (click)="onSubmit()">{{'btn.accept' | translate}}</button>
    </div>
</div>
   