/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import '~material-icons/iconfont/material-icons.css';

@import url('../src/assets/scss/_layout.scss');

@font-face {
  font-family: Roboto;
  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format("opentype");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: Vesper libre;
  src: url('assets/scss/font/VesperLibre-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: Zen Kurenaido;
  src: url('assets/scss/font/ZenKurenaido-Regular.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: Roboto Slab;
  src: url('assets/scss/font/RobotoSlab-VariableFont_wght.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: Dancing Script;
  src: url('assets/scss/font/DancingScript-VariableFont_wght.ttf');
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: 'Inconsolata';
  src: url('assets/scss/font/Inconsolata-VariableFont_wdth\,wght.ttf');
  font-weight:normal;
  font-style:normal;
}

.font, .p-inputtext, .p-component, .p-chips-input-token input{
  font-size: 13px !important;
  font-family: Roboto !important;
}
.p-dropdown-filter, .p-dropdown-label, .p-dropdown-panel,
.p-multiselect-label, .p-multiselect-token-label {
  color: black !important;
}
.p-dropdown-filter, .p-multiselect-filter-container .p-inputtext {
  padding: 5px !important;
}
.p-datepicker table td {
  padding: 0 !important;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.pki-dialog .p-dropdown.p-component {
  width: 100%;
}
.pki-dialog .p-dropdown-label.p-inputtext.p-placeholder {
  padding-left: 0.8rem;
}

.custom-dialog-container .mat-dialog-container {
   padding:12px;
   margin: 0 auto;

   //fix popup ký cts
  //  @media only screen and (max-width: 390px) {
  //   padding: 12px;
  //   margin: 0 auto;
  // }
}

.long-text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  // width: inherit;
  text-overflow: ellipsis;
  max-width: 113px;
}

.long-text-ellipsis-con-dau {
  overflow: hidden;
  white-space: nowrap;
  // width: inherit;
  text-overflow: ellipsis;
  max-width: 85px;
}

.my-custom-title-class {
  color: #3085d6 !important;
}
.p-datatable-table, .p-datatable-table .ng-star-inserted, .p-paginator-pages .ng-star-inserted{
  font-size: 13px;
  font-family: 'Roboto' !important;
}

::ng-deep #toast-container > div {
  max-width: 490px !important;
}



