/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

html, body { height: 100%; }
body { margin: 0; font-family: font_lexend_deca , Roboto, "Helvetica Neue", sans-serif !important; font-size: 13px !important;}

@font-face {
  font-family: font_lexend_deca;
  src:url('assets/scss/font/LexendDeca-VariableFont_wght.ttf') format("opentype");
  font-weight:normal;
  font-style:normal;
}
.font, .p-inputtext, .p-component, .p-chips-input-token input{
  font-size: 13px !important;
  font-family: font_lexend_deca !important;
}
.p-dropdown-filter, .p-dropdown-label, .p-dropdown-panel,
.p-multiselect-label, .p-multiselect-token-label {
  color: black !important;
}
.p-dropdown-filter, .p-multiselect-filter-container .p-inputtext {
  padding: 5px !important;
}
.p-datepicker table td {
  padding: 0 !important;
}
/* For desktop: */
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
}
.pki-dialog .p-dropdown.p-component {
  width: 100%;
}
.pki-dialog .p-dropdown-label.p-inputtext.p-placeholder {
  padding-left: 0.8rem;
}
