::ng-deep .multiselect-dropdown {
  .dropdown-btn {
    border: 1px solid #106DB6 !important;
    min-height: 38px;
    height: auto;
  }
}
.input_text {
  color: #00186D;
  background-color: #F7FAFD;
  padding-left: 10px;
  outline: none;
  height: 48px;
  width: 100%;
  border-radius: 6px;
  border: 1px solid #E6EDFA;

  &:hover {
    border: 1px solid #286CF5;
  }
}

//upload file
input[type="file"] {
  display: none;
}
.custom-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  color: #106DB6;
  width: 100%;
  border-radius: 20px;
}

//label type contract
.label_type{
  text-align: center;
  font-weight: 500;
  padding: 10px;
}

//label item form
.form-group {
  .input_text::placeholder {
    color: #AEC7E5;
    font-size: 12px;
    font-weight: 500;
    line-height: 21px;
  }
}

.label_item{
  padding: 12px 0px 3px;
  font-weight: 700;
  font-size: 12px;
  color: #2B3D60;
}

.require_star{
  color: red;
}

:host ::ng-deep {
  .selected-item {
    max-width: 100% !important;
  }
}

.select-file-contract {
  display: flex;
  justify-content: space-between;
  width : 100%;
  .file-approve {
    width : 100%;
    .select-contract {
      position: relative;
      width: 100%;
      border-radius: 5px;
      input {
        background-color: #F7FAFD;
        outline: none;
        width: 100%;
        height: 48px;
        border-radius: 5px;
        border: 1px solid #E6EDFA;
        padding-left: 10px;
        cursor: pointer;
      }
      .div_file_attach {
        background-color: #F7FAFD;
        outline: none;
        width: 100%;
        min-height: 48px;
        border-radius: 5px;
        border: 1px solid #E6EDFA;
        padding: 12px 10px;
        //cursor: pointer;
        max-height: 113px;
        overflow-y: auto;

        &:hover {
          border: 1px solid #286CF5;
        }
      }

      .div_file_attach div {
        color: #00186D;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
      }
      >img {
        width: 24px;
        height: 24px;
        cursor: pointer;
        position: absolute;
        top: 12px;
        right: 10px;

        &.shifted {
          right: 26px;
        }

        &:hover{
          cursor: pointer;
        }
      }
    }
  }
}

.file-contract{
  background-color: #F7FAFD;
  height: 140px;
  border: 1px solid #E6EDFA;
  cursor: pointer;
  padding: 24px;
  text-align: center;
  border-radius: 5px;

  img {
    height: 36px;
    width: 36px;
  }

  &:hover {
    border: 1px solid #286CF5;
  }
}

.form-control{
  border: 1px solid #106DB6;
}

button {
  //padding: 15px;
  border: 0px;
  border-radius: 12px;
  margin-bottom: 10px;
  width: 120px;
  height: 40px;
  box-sizing: border-box;
  color: white;
  background-color: #106DB6;
  font-size: 13px;
}

//style button
.action-button {
  width: 100px;
  background: #0041C4;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.draft-button {
  width: 100px;
  background: #F8AD41;
  //font-weight: bold;
  color: white;
  border: 0 none;
  border-radius: 6px;
  cursor: pointer;
  padding: 10px 5px;
  margin: 10px 5px;
}

.footer-infor-contract {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // padding-top: 14.5vh;
  .content_footer{
    //text-align: center;
    //margin: 10px;
    color:#0160AE;
    font-size: 13px;
    font-weight: 500;
  }
}

:host ::ng-deep {
  .p-calendar {
    font-size: 13px !important;
    font-family: 'font_lexend_deca';
    width: 100%;
  }
  .p-datepicker table td {
    padding: 0;
  }
  .p-calendar-w-btn, .p-calendar-w-btn .p-inputtext {
    height: 48px;
  }

  .p-calendar-w-btn .p-inputtext {
    color: #00186D;
    font-size: 14px !important;
    font-weight: 500;
    line-height: 21px;
    background-color: #F7FAFD;
    border: 1px solid #E6EDFA !important;
    outline: 0 !important;
    box-shadow: none !important;
    transition: border 0.3s;

    &:hover {
      border: 1px solid #286CF5 !important;
    }
  }
  
  // .p-calendar-w-btn .p-datepicker-trigger {
  //   display: none;
  // }
}

.error-detail{
  font-size: inherit;
  padding: 7px;
  margin-top: 5px;
  margin-bottom: 0;
}


.input-line {
  display: flex;
  justify-content: space-between;
  position: relative;
}
.input-img {
  top: 10px;
  right: 25px;
  position: absolute;
}
.input-text {
  border: 0;
  width: 100%;
  outline:0px;
}

:host ::ng-deep {
  .p-dropdown, .p-multiselect {
    background-color: #F7FAFD;
    border: 1px solid #E6EDFA;
    border-radius: 5px;
    height: 48px;
    width: 100%;
    outline: 0;
    color: #00186D !important;
    position: relative;
  }
  .p-dropdown-label {
    padding: 12px 10px 5px 7px;
    position: relative;
  }

  .p-multiselect-label {
    padding: 12px 10px 5px 7px;
  }

  .p-dropdown-label::after, .p-multiselect-label::after {
    content: '';
    background-image: url('../../../../../../assets/img/arrow-down.png'); /* Replace with your image URL */
    background-size: 24px 24px;
    background-repeat: no-repeat;
    position: absolute;
    right: 10px; /* Adjust to position the icon correctly */
    top: 50%;
    transform: translateY(-50%);
    width: 24px;
    height: 24px;
    color: #00186D !important;
  }
  
  .p-dropdown .p-dropdown-trigger, .p-multiselect .p-multiselect-trigger {
    display: none; /* Hide the default dropdown icon */
  }
  
  .p-multiselect .p-multiselect-label.p-placeholder, .p-dropdown .p-dropdown-label.p-placeholder {
    color: #AEC7E5 !important;
    font-size: 12px !important;
    font-weight: 500;
    line-height: 21px;
  }
}

.invalid{
  color: red;
  font-size: 12px;
  font-weight: 500;
  line-height: 21px;
}

.drag-contract {
  color: #00186D; 
  font-size: 14px; 
  font-weight: 700;
  line-height: 21px;
}

.note-drag-contract {
  color: #A8B5CE; 
  font-size: 12px; 
  font-weight: 400;
  line-height: 18px;
}

.input-group {
  color: #00186D;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;

}

.input-group .input_text {
  font-weight: 500;
}

::ng-deep .p-multiselect-panel .p-multiselect-items .p-multiselect-item,
::ng-deep .p-dropdown-panel .p-dropdown-items .p-dropdown-item,
::ng-deep .p-multiselect-token-label,
::ng-deep .p-multiselect-label,
::ng-deep .p-dropdown-label,
::ng-deep .p-dropdown-filter {
  color: #00186D !important;
  font-size: 14px !important;
  font-weight: 500;
  line-height: 21px;
}

:host ::ng-deep {
  .p-disabled, .p-component:disabled {
    opacity: 1 !important;
  }
}