<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{'folder.delete' | translate}}</h3>
  </div>
  <div style="display: flex; justify-content: center;">
      <div>Bạn có chắc chắn muốn xóa 
        <span *ngIf="countFolders > 0" style="font-weight: bold;">
          {{countFolders}} thư mục 
        </span>
        <span *ngIf="countFolders > 0 && countContracts > 0"> và</span> 
        <span *ngIf="countContracts > 0" style="font-weight: bold;">
          {{countContracts}} tài liệu
        </span> không?</div>
  </div>
  <div class="row" style="display: flex; justify-content: center;padding-top: 10px;">
      <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
      <button class="save-button" (click)="onSubmit()">{{'btn.delete' | translate}}</button>
  </div>
</div>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-spin-clockwise">
  <p style="font-size: 18px; color: white">{{'sys.processing' | translate}}...</p>
</ngx-spinner>
 