<div class="container-fluid">
    <div class="header">
      <h3 class="label-header">{{this.datas.title | translate}}</h3>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="label text-color">{{'contract-type.code' | translate}} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="code" oninput="this.value = this.value.replace(/[\s]/g, '', /[^\d*[.]?\d*$]/g).replace(/(\..*?)\..*/g, '$1');" autofocus>
                </div>
                <div *ngIf="submitted && f.code.errors" class="invalid">
                    <div *ngIf="f.code.errors.required">{{'error.contract-type.code.required' | translate}}</div>
                    <div *ngIf="f.code.errors.pattern">{{'Mã loại hợp đồng không được chứa ký tự đặc biệt' | translate}}</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label text-color">{{'contract-type.name' | translate}} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="name">
                </div>
                <div *ngIf="submitted && f.name.errors" class="invalid">
                    <div *ngIf="f.name.errors.required">{{'error.contract-type.name.required' | translate}}</div>
                    <div *ngIf="f.name.errors.pattern">{{'Tên loại hợp đồng không được chứa ký tự đặc biệt' | translate}}</div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button">{{'btn.save' | translate}}</button>
        </div>
    </form>
  </div>
  