<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit; text-transform: uppercase;">{{this.datas.title | translate}}</h3>
    </div>
    <form (ngSubmit)="onSubmit()" [formGroup]="addForm" class="content">
        <div class="row">
            <div class="col-md-12">
                <div class="label text-color">{{'contract-type.code' | translate}} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="code" autofocus>
                </div>
                <div *ngIf="submitted && f.code.errors" class="invalid">
                    <div *ngIf="f.code.errors.required">Mã loại hợp đồng không được để trống</div>
                </div>
            </div>
        </div>

        <div class="row" style="padding-top: 10px;">
            <div class="col-md-12">
                <div class="label text-color">{{'contract-type.name' | translate}} <span class="required-title">*</span></div>
                <div class="input-data">
                    <input type="text" formControlName="name">
                </div>
                <div *ngIf="submitted && f.name.errors" class="invalid">
                    <div *ngIf="f.name.errors.required">Tên loại hợp đồng không được để trống</div>
                </div>
            </div>
        </div>
    
        <div class="row" style="justify-content: center;padding-top: 10px;">
            <button class="cancel-button" (click)="dialog.closeAll()" type="button">{{'btn.cancel' | translate}}</button>
            <button class="save-button">{{'btn.save' | translate}}</button>
        </div>
    </form>
  </div>
  