<div class="container-fluid">
    <div style="text-align: center; font-weight: bold">
      <h3 style="color: #106DB6; font-family: inherit;text-transform: uppercase;">{{this.data.title | translate}}</h3>
    </div>

    <div style="text-align: center;" innerHTML = "{{this.data.message | translate}}"></div>
    
    <div class="row" style="justify-content: center;padding-top: 10px;">
        <button class="save-button" (click)="dialog.closeAll()">{{'btn.accept' | translate}}</button>
    </div>
  </div>
  