<div class="container-fluid">
  <div class="header" *ngIf="!this.mobile">
    <h3 class="label-header">{{this.datas.title | translate}}</h3>
  </div>

  <div class="header" *ngIf="this.mobile">
    <h3 class="label-header">{{'sign_cert_title' | translate}}</h3>
  </div>

  <div class="row" style="padding-top: 20px;" *ngIf="!this.mobile">
    <p-table id="table" [value]="list">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols" [style]='col.style'>
            {{col.header | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
        <tr *ngIf="list.status=='1'">
          <td class="popup_cert">
            <input type="radio" name="confirm-radio-consider" [value]="list" [(ngModel)]="selectedCert" name="status"
              style="margin-left: 20px;">
          </td>
          <td class="popup_cert">{{list.keystoreSerialNumber}}</td>
          <td class="popup_cert">{{getValueByKey(list.certInformation, "CN")}}</td>
          <td class="popup_cert">{{getValue(list.certInformation, "UID")}}</td>
          <td class="popup_cert">{{list.keystoreDateEnd | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="row" style="padding-top: 20px;height: 375px; overflow: scroll;" *ngIf="this.mobile">
    <div style="width: 90%; height: auto; border: 1px solid #106DB6; margin: auto;padding: 0px !important;">
      <div class="header" style="display: flex;height: 35px; color: #106DB6; background-color: #d0e4fc;">
        <div style="width: 20%; margin-top:2%;">Chọn</div>
        <div style="margin-top:2%;">Thông tin</div>
      </div>

      <div class="item" style="border-top: 1px solid #106DB6; display: flex" *ngFor="let lists of list">
        <div class="radioChoose">
          <input style="margin-left: 40%; margin: auto;" type="radio" name="confirm-radio-consider" [value]="lists" [(ngModel)]="selectedCert" name="status">
        </div>
        <div style="width: 75%; padding: 10px">
          <div style="color: #106DB6">Ký hiệu: <span style="word-wrap: break-word; color: #333333;">{{lists.keystoreSerialNumber}}</span></div>

          <div style="color: #106DB6">MST/CCCD: <span style="color: #333333;">{{getValue(lists.certInformation, "UID")}}</span></div>

          <div style="color: #106DB6">Chủ thể: <span style="word-wrap: break-word;color: #333333;">{{getValueByKey(lists.certInformation, "CN")}}</span></div>

          <div style="color: #106DB6">Ngày hết hạn: <span style="color: #333333;">{{lists.keystoreDateEnd | date:'dd/MM/yyyy HH:mm'}}</span></div>

        </div>
      </div>
    </div>
  </div>
  <div class="footer-btn" style="padding-top: 20px;">
    <button (click)="handleCancel()">{{"btn.cancel" | translate}}</button>
    <button (click)="signCert()" class="update-btn">{{"contract.sign" | translate}}</button>
  </div>
</div>
