<div class="container-fluid">
  <div class="header">
    <h3 class="label-header">{{this.datas.title | translate}}</h3>
  </div>
  <div class="row" style="padding-top: 20px;">
    <p-table id="table" [value]="list">
      <ng-template pTemplate="header" let-columns>
        <tr>
          <th *ngFor="let col of cols" [style]='col.style'>
            {{col.header | translate}}
          </th>
        </tr>
      </ng-template>
      <ng-template pTemplate="body" let-list>
        <tr *ngIf="list.status=='1'">
          <td>
            <input type="radio" name="confirm-radio-consider" [value]="list.id" [(ngModel)]="id" name="status" style="margin-left: 20px;">
          </td>
          <td>{{list.keystoreSerialNumber}}</td>
          <td>{{list.keystoreDateEnd | date:'dd/MM/yyyy HH:mm'}}</td>
        </tr>
      </ng-template>
    </p-table>
  </div>
  <div class="footer-btn" style="padding-top: 20px;">
    <button (click)="handleCancel()">{{"btn.cancel" | translate}}</button>
    <button (click)="signCert()" class="update-btn">{{"contract.sign" | translate}}</button>
  </div>
</div>
