<div class="container-fluid">
  <div class="header-img">
    <img src="assets/img/Group 5473_1.svg" alt="eContract.vn">
    <i class="fa fa-times" (click)="dialog.closeAll()"></i>
  </div>
  <div class="content">
    <h3>THÔNG BÁO</h3>
    <div class="content-text">
      <span>{{'have_version_app_mobile' | translate}}</span><br>
      <span>{{'please_openApp_or_download' | translate}}</span>
    </div>
    <div class="footer">
      <button class="footer-btn" (click)="nextApp()">
        <img src="assets/img/Group 5478.svg" alt="eContract">{{'open_app' | translate}}
      </button>
      <button class="footer-btn" (click)="downloadApp()"><img src="assets/img/download_app.svg" alt="eContract">{{'download_app' | translate}}</button>
    </div>
    <div (click)="dialog.closeAll()" style="color: #106DB6; padding-top: 15px; text-decoration: underline; font-weight: 600;">{{'continue.using.web' | translate}}</div>
  </div>
</div>
