.container-fluid {
  padding: 0;
  .header-img {
    display: flex;
    align-items: center;
    justify-content: space-between;
    img {
      width: 125px;
    }
  }
  .content {
    text-align: center;
    h3 {
      color: #106DB6;
      font-weight: 500;
      margin: 13px 0 0 0;
      padding: 2px;
    }
    &-text {
      font-size: 12px;
    }

    .footer {
      padding-top: 15px;
      text-align: center;
      .footer-btn {
        outline: none;
        border: none;
        padding: 5px 15px;
        background-color: #1487E1;
        color: white;
        border-radius: 5px;
        img {
          padding: 0 3px 3px 0;
        }
        &:first-child {
          margin-right: 34px;
        }
      }
    }
  }
}
