.all{
    background-color: #f9f9f9;
  }
  .header_language {
    position: absolute;
    right: 0px;
    padding: 5px;
  }
  .form-signin {
    max-width: 480px;
    margin: 0 auto;
  }
  .form-group{
    margin: 20px;
  }
  .bg-footer-login {
    background-image: url(../../../assets/img/foot_login.svg);
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .btn-block {
    background-color: #106DB6;
    color: white;
    height: 40px;
    font-size: 14px;
    width: 100%;
    border-radius: 5px;
  }
  .note{
    color: #bf6b03;
  }
  .input-line {
    display: flex;
    justify-content: space-between;
    position: relative;
  }
  .input-img {
    padding: 10px;
    background: #eff2f5;
    border-radius: 5px 0 0 5px;
  }
  .input-text {
    border: 0;
    background: #EFF2F5;
    padding: 10px;
    width: 100%;
    outline:0px;
    border-radius: 0 5px 5px 0;
  }
  .icon-password{
    top: 10px;
    right: 20px;
    position: absolute;
  }
  .forgot-password{
    text-align: right;
    a{
      text-decoration: none;
      color: #106DB6;
      font-weight: 500;;
      cursor: pointer;
    }
  }
  .sub-login{
    text-align: center;
  }
  .sign-up{
    text-align: center;
    a{
      text-decoration: none;
      color: #106DB6;
      font-weight: 500;
      cursor: pointer;
    }
  }
  
  //drop down multi language
  .social-icons {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #C2E4FF;
    border-radius: 5px;
  }
  .social-icons .label{
    color: #106DB6;
    margin-left: 10px;
  }
  .social-icons:hover {
    background: #f3f8ff;
  }
  .dropdown-toggle::after {
    display:none;
  }
  .drop_menu{
    border-color: #C2E4FF;
    padding: 0;
    font-size: inherit;
    right: 10px;
    left: unset !important;
  }
  .drop{
    padding: 10px;
    color:#106DB6;
  }
  .db_user{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 35px;
    margin-right: 5px;
  }
  .db_icon_english {
    height: 20px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/icon_english.svg);
  }
  .db_icon_vietnam {
    height: 20px;
    width: 30px;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(../../../assets/img/icon_vietnam.svg);
  }
  
  // ::ng-deep.mat-dialog-container {
  //   padding: 5px 12px 30px 12px !important;
  // }
  .full-height {
    background: #fff;
    // max-width: 1280px;
    margin: auto;
  }
  .full-height {
    min-height: 100vh;
  }
  .flex-row {
    flex-direction: row!important;
  }
  .d-flex {
    display: flex!important;
  }
  .left-background {
    position: relative;
    background: url("../../../assets/img/digital_sign.svg") center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 50%;
    height: calc(100vh);
    display: block;
  }
  .right-panel {
    width: 50%;
    height: calc(100vh);
    position: relative;
  }
  
  .small-logo {
    height: calc(25vh);
    text-align: center;
  }
  .justify-content-center {
    justify-content: center!important;
  }
  .flex-column {
    flex-direction: column!important;
  }
  .input-form {
    position: relative;
    max-width: 480px;
    margin: auto;
  }
  .slogan {
    width: 100%;
    height: 25%;
    max-height: 250px;
    position: absolute;
    bottom: 0%;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
    color: #fff;
  }