.footer-btn button {
    width: 120px;
    height: 40px;
    background-color: #8b8b8b;
    border-radius: 5px;
    outline: none;
    color: white;
    border: 1px solid #8B8B8B;
}

span{
    color: firebrick;
}