.content {
    //height: 102px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  
  .text-sign span {
    width: 125px;
    border: 0px;
    height: 25px;
    outline: none;
    color: #106DB6;
  }
  
  
  #input-text-value, #input-number-value {
    width: 100%;
    background-color: rgb(235, 248, 255);
    border: none;
    outline: none;
  }
  