<!-- form step 2 -->
<div>
  <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
    <div class="row">
      <div class="col-md-1 order">
        <input type="number" formControlName="order" class="form-control order_input">
      </div>
      <div class="col-md-11 form_content">
        <p>
          <label class="labelOrg">TỔ CHỨC CỦA TÔI</label>
          <input class="form-control textOrg" type="text" id="name" name="name" formControlName="name" readonly>
        </p>

        <!-- User view -->
        <div class="add_content"  formArrayName="userViews">
          <div class="label">Người xem xét</div>
          <div *ngFor="let userView of userViews().controls; let i=index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-1 order">
                <input type="number" formControlName="order" class="form-control order_input" [disabled]="true">
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-6">
                    <div class="label_item">Họ tên <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/icon_name.svg" class="input-img">
                      <input type="text" formControlName="name" class="input-text" [disabled]="true">
                    </div>
<!--                    <div *ngIf="!userView.get('name')?.valid && (userView.get('name')?.dirty ||userView.get('name')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userView.get('name')?.errors?.required">-->
<!--                        Họ tên không được để trống-->
<!--                      </p>-->
<!--                    </div>-->
                  </div>
                  <div class="col-md-6">
                    <div class="label_item">Email <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/login_email.svg" class="input-img">
                      <input type="text" formControlName="email" class="input-text" [disabled]="true">
                    </div>
<!--                    <div *ngIf="!userView.get('email')?.valid && (userView.get('email')?.dirty ||userView.get('email')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userView.get('email')?.errors?.required">-->
<!--                        Email không được để trống-->
<!--                      </p>-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userView.get('email')?.errors?.email">-->
<!--                        Email sai định dạng-->
<!--                      </p>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
<!--              <div class="col-md-1 remove">-->
<!--                <i (click)="removeUserView(i)" class="fa fa-times-circle remove_icon"></i>-->
<!--              </div>-->
            </div>
          </div>
<!--          <div class="add_click"><a class="add_link" (click)="addUserView()"><i class="fa fa-plus-circle"></i> Thêm người xem xét</a></div>-->
        </div>

        <!-- User sign -->
        <div class="add_content" >
          <div class="label">Người ký</div>
          <div formArrayName="userSigns" *ngFor="let alias of userSigns().controls; let i = index;">
            <div class="row" [formGroupName]="i">
              <div class="col-md-1 order">
                <input type="number" formControlName="order" class="form-control order_input" [disabled]="true">
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-6">
                    <div class="label_item">Họ tên <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/icon_name.svg" class="input-img">
                      <input type="text" formControlName="name" class="input-text" [disabled]="true">
                    </div>

<!--                    <div *ngIf="!alias.get('name')?.valid && (alias.get('name')?.dirty ||alias.get('name')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('name')?.errors?.required">-->
<!--                        Họ tên không được để trống-->
<!--                      </p>-->
<!--                    </div>-->

                  </div>
                  <div class="col-md-6">
                    <div class="label_item">Email <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/login_email.svg" class="input-img">
                      <input type="text" formControlName="email" class="input-text" [disabled]="true">
                    </div>

<!--                    <div *ngIf="!alias.get('email')?.valid && (alias.get('email')?.dirty ||alias.get('email')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('email')?.errors?.required">-->
<!--                        Email không được để trống-->
<!--                      </p>-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('email')?.errors?.email">-->
<!--                        Email sai định dạng-->
<!--                      </p>-->
<!--                    </div>-->

                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="label_item">Loại ký<span class="require_star">*</span></div>
                    <div  class="col">
                      <ng-multiselect-dropdown
                        formControlName="signType"
                        [placeholder]="'-- Chọn --'"
                        [settings]="dropdownSignTypeSettings"
                        [disabled]="true"
                        [data]="signTypeList">
                        <ng-template
                          #optionsTemplate
                          let-item
                          let-option="option"
                          let-id="id"
                          let-isSelected="isSelected">
                          <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                            <label
                              style="color: #333; font-weight: normal;"
                              [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getSignTypeItems[id].isDisabled? 'lightgrey': ''}"
                            >{{getSignTypeItems[id].item_text}}</label>
                          </div>
                        </ng-template>
                      </ng-multiselect-dropdown>
                    </div>

<!--                    <div *ngIf="!alias.get('signType')?.valid && (alias.get('signType')?.dirty ||alias.get('signType')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('signType')?.errors?.required">-->
<!--                        Loại ký không được để trống-->
<!--                      </p>-->
<!--                    </div>-->

                  </div>
                  <div class="col-md-1">
                    <div class="label_item">OTP</div>
                    <input type="checkbox" formControlName="isOtp" class="form-check-input" [disabled]="true">
                  </div>
                  <div class="col-md-5">
                    <div class="label_item">Số điện thoại <span class="require_star">*</span></div>
                    <input type="text" formControlName="phone" class="form-control input_phone" [disabled]="true">

<!--                    <div *ngIf="!alias.get('phone')?.valid && (alias.get('phone')?.dirty ||alias.get('phone')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('phone')?.errors?.required">-->
<!--                        Số điện thoại không được để trống-->
<!--                      </p>-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!alias.get('phone')?.errors?.pattern">-->
<!--                        Số điện thoại sai định dạng-->
<!--                      </p>-->
<!--                    </div>-->

                  </div>
                </div>
              </div>
<!--              <div class="col-md-1 remove">-->
<!--                <i (click)="removeUserSign(i)" class="fa fa-times-circle remove_icon"></i>-->
<!--              </div>-->
            </div>
          </div>
<!--          <div class="add_click"><a class="add_link" (click)="addUserSign()"><i class="fa fa-plus-circle"></i> Thêm người ký</a></div>-->
        </div>

        <!-- User document -->
        <div class="add_content" formArrayName="userDocs">
          <div class="label">Văn thư</div>
          <div *ngFor="let userDoc of userDocs().controls; let i=index" [formGroupName]="i">
            <div class="row">
              <div class="col-md-1 order">
                <input type="number" formControlName="order" class="form-control order_input" [disabled]="true">
              </div>
              <div class="col-md-10">
                <div class="row">
                  <div class="col-md-6">
                    <div class="label_item">Họ tên <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/icon_name.svg" class="input-img">
                      <input type="text" formControlName="name" class="input-text" [disabled]="true">
                    </div>
<!--                    <div *ngIf="!userDoc.get('name')?.valid && (userDoc.get('name')?.dirty ||userDoc.get('name')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userDoc.get('name')?.errors?.required">-->
<!--                        Họ tên không được để trống-->
<!--                      </p>-->
<!--                    </div>-->
                  </div>
                  <div class="col-md-6">
                    <div class="label_item">Email <span class="require_star">*</span></div>
                    <div class="form-control input-line">
                      <img src="assets/img/login_email.svg" class="input-img">
                      <input type="text" formControlName="email" class="input-text" [disabled]="true">
                    </div>
<!--                    <div *ngIf="!userDoc.get('email')?.valid && (userDoc.get('email')?.dirty ||userDoc.get('email')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userDoc.get('email')?.errors?.required">-->
<!--                        Email không được để trống-->
<!--                      </p>-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userDoc.get('email')?.errors?.email">-->
<!--                        Email sai định dạng-->
<!--                      </p>-->
<!--                    </div>-->
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6">
                    <div class="label_item">Loại ký <span class="require_star">*</span></div>
                    <div class="col">
                      <ng-multiselect-dropdown
                        formControlName="signType"
                        [placeholder]="'-- Chọn --'"
                        [settings]="dropdownSignTypeSettings"
                        [disabled]="true"
                        [data]="signTypeList">
                        <ng-template
                          #optionsTemplate
                          let-item
                          let-option="option"
                          let-id="id"
                          let-isSelected="isSelected">
                          <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                            <label
                              style="color: #333; font-weight: normal;"
                              [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getSignTypeItems[id].isDisabled? 'lightgrey': ''}"
                            >{{getSignTypeItems[id].item_text}}</label>
                          </div>
                        </ng-template>
                      </ng-multiselect-dropdown>
                    </div>
<!--                    <div *ngIf="!userDoc.get('signType')?.valid && (userDoc.get('signType')?.dirty ||userDoc.get('signType')?.touched)">-->
<!--                      <p class="alert alert-danger error-detail" role="alert" [hidden]="!userDoc.get('signType')?.errors?.required">-->
<!--                        Loại ký không được để trống-->
<!--                      </p>-->
<!--                    </div>-->
                  </div>
                </div>
              </div>
<!--              <div class="col-md-1 remove">-->
<!--                <i (click)="removeUserDoc(i)" class="fa fa-times-circle remove_icon"></i>-->
<!--              </div>-->
            </div>
          </div>
<!--          <div class="add_click"><a class="add_link" (click)="addUserDoc()"><i class="fa fa-plus-circle"></i> Thêm văn thư</a></div>-->
        </div>
      </div>
    </div>
  </form>

  <form [formGroup]="partnerForm">
    <div formArrayName='partnerArrs' *ngFor="let partners of partnerArrs().controls; let a = index;">
      <div [formGroupName]="a">
        <div class="partner_content" >
          <div class="row">
            <div class="col-md-1 order">
              <input type="number" formControlName="order" class="form-control order_input">
            </div>
            <div class="col-md-11 form_content">

              <div class="row">
                <div class="radio col-md-6 label_type">
                  <label><input type="radio" formControlName="type" [value]="1" [ngModel]="partners.value.type"> <span> Tổ chức</span></label>
                </div>
                <div class="radio col-md-6 label_type">
                  <label><input type="radio" formControlName="type" [value]="2" [ngModel]="partners.value.type"> <span> Cá nhân</span></label>
                </div>
              </div>

              <div *ngIf="partners.value.type==1">
                <p>
                  <label class="labelOrg">TÊN ĐỐI TÁC <span class="require_star">*</span></label>
                  <input class="form-control textOrg" id="name" name="name" formControlName="name">
                </p>
                <div *ngIf="!partners.get('name')?.valid && (partners.get('name')?.dirty ||partners.get('name')?.touched)">
                  <p class="alert alert-danger error-detail" role="alert" [hidden]="!partners.get('name')?.errors?.required">
                    Tên đối tác không được để trống
                  </p>
                </div>

                <!-- Partner lead -->
                <div class="add_content" formArrayName="partnerLeads">
                  <div class="label">Người điều phối</div>
                  <div *ngFor="let partnerLead of partnerLeads(a).controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 order">
                        <input type="number" formControlName="order" class="form-control order_input">
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Họ tên</div>
                            <div class="form-control input-line">
                              <img src="assets/img/icon_name.svg" class="input-img">
                              <input type="text" formControlName="name" class="input-text">
                            </div>
                            <div *ngIf="!partnerLead.get('name')?.valid && (partnerLead.get('name')?.dirty ||partnerLead.get('name')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerLead.get('name')?.errors?.required">
                                Họ tên không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="label_item">Email</div>
                            <div class="form-control input-line">
                              <img src="assets/img/login_email.svg" class="input-img">
                              <input type="text" formControlName="email" class="input-text">
                            </div>
                            <div *ngIf="!partnerLead.get('email')?.valid && (partnerLead.get('email')?.dirty ||partnerLead.get('email')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerLead.get('email')?.errors?.required">
                                Email không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerLead.get('email')?.errors?.email">
                                Email sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 remove">
                        <i (click)="removePartnerLead(a, i)" class="fa fa-times-circle remove_icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add_click"><a class="add_link" (click)="addPartnerLead(a)"><i class="fa fa-plus-circle"></i> Thêm người điều phối</a></div>
                </div>

                <!-- Partner view -->
                <div class="add_content" formArrayName="partnerViews">
                  <div class="label">Người xem xét</div>
                  <div *ngFor="let partnerView of partnerViews(a).controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 order">
                        <input type="number" formControlName="order" class="form-control order_input">
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Họ tên <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/icon_name.svg" class="input-img">
                              <input type="text" formControlName="name" class="input-text">
                            </div>
                            <div *ngIf="!partnerView.get('name')?.valid && (partnerView.get('name')?.dirty ||partnerView.get('name')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerView.get('name')?.errors?.required">
                                Họ tên không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="label_item">Email <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/login_email.svg" class="input-img">
                              <input type="text" formControlName="email" class="input-text">
                            </div>
                            <div *ngIf="!partnerView.get('email')?.valid && (partnerView.get('email')?.dirty ||partnerView.get('email')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerView.get('email')?.errors?.required">
                                Email không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerView.get('email')?.errors?.email">
                                Email sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 remove">
                        <i (click)="removePartnerView(a, i)" class="fa fa-times-circle remove_icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add_click"><a class="add_link" (click)="addPartnerView(a)"><i class="fa fa-plus-circle"></i> Thêm người xem xét</a></div>
                </div>

                <!-- Partner sign -->
                <div class="add_content" formArrayName="partnerSigns">
                  <div class="label">Người ký</div>
                  <div *ngFor="let partnerSign of partnerSigns(a).controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 order">
                        <input type="number" formControlName="order" class="form-control order_input">
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Họ tên <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/icon_name.svg" class="input-img">
                              <input type="text" formControlName="name" class="input-text">
                            </div>
                            <div *ngIf="!partnerSign.get('name')?.valid && (partnerSign.get('name')?.dirty ||partnerSign.get('name')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('name')?.errors?.required">
                                Họ tên không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="label_item">Email <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/login_email.svg" class="input-img">
                              <input type="text" formControlName="email" class="input-text">
                            </div>
                            <div *ngIf="!partnerSign.get('email')?.valid && (partnerSign.get('email')?.dirty ||partnerSign.get('email')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('email')?.errors?.required">
                                Email không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('email')?.errors?.email">
                                Email sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Loại ký <span class="require_star">*</span></div>
                            <div class="col">
                              <ng-multiselect-dropdown
                                formControlName="signType"
                                [placeholder]="'-- Chọn --'"
                                [settings]="dropdownSignTypeSettings"
                                [data]="signTypeList">
                                <ng-template
                                  #optionsTemplate
                                  let-item
                                  let-option="option"
                                  let-id="id"
                                  let-isSelected="isSelected">
                                  <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                                    <label
                                      style="color: #333; font-weight: normal;"
                                      [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getSignTypeItems[id].isDisabled? 'lightgrey': ''}"
                                    >{{getSignTypeItems[id].item_text}}</label>
                                  </div>
                                </ng-template>
                              </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="!partnerSign.get('signType')?.valid && (partnerSign.get('signType')?.dirty ||partnerSign.get('signType')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('signType')?.errors?.required">
                                Loại ký không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="label_item">OTP</div>
                            <input type="checkbox" formControlName="isOtp" class="form-check-input">
                          </div>
                          <div class="col-md-5">
                            <div class="label_item">Số điện thoại <span class="require_star">*</span></div>
                            <input type="text" formControlName="phone" class="form-control input_phone">
                            <div *ngIf="!partnerSign.get('phone')?.valid && (partnerSign.get('phone')?.dirty ||partnerSign.get('phone')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('phone')?.errors?.required">
                                Số điện thoại không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerSign.get('phone')?.errors?.pattern">
                                Số điện thoại sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 remove">
                        <i (click)="removePartnerSign(a, i)" class="fa fa-times-circle remove_icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add_click"><a class="add_link" (click)="addPartnerSign(a)"><i class="fa fa-plus-circle"></i> Thêm người ký</a></div>
                </div>

                <!-- Partner document -->
                <div class="add_content" formArrayName="partnerDocs">
                  <div class="label">Văn thư</div>
                  <div *ngFor="let partnerDoc of partnerDocs(a).controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 order">
                        <input type="number" formControlName="order" class="form-control order_input">
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Họ tên <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/icon_name.svg" class="input-img">
                              <input type="text" formControlName="name" class="input-text">
                            </div>
                            <div *ngIf="!partnerDoc.get('name')?.valid && (partnerDoc.get('name')?.dirty ||partnerDoc.get('name')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerDoc.get('name')?.errors?.required">
                                Họ tên không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="label_item">Email <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/login_email.svg" class="input-img">
                              <input type="text" formControlName="email" class="input-text">
                            </div>
                            <div *ngIf="!partnerDoc.get('email')?.valid && (partnerDoc.get('email')?.dirty ||partnerDoc.get('email')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerDoc.get('email')?.errors?.required">
                                Email không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerDoc.get('email')?.errors?.email">
                                Email sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Loại ký <span class="require_star">*</span></div>
                            <div class="col">
                              <ng-multiselect-dropdown
                                formControlName="signType"
                                [placeholder]="'-- Chọn --'"
                                [settings]="dropdownSignTypeSettings"
                                [data]="signTypeList">
                                <ng-template
                                  #optionsTemplate
                                  let-item
                                  let-option="option"
                                  let-id="id"
                                  let-isSelected="isSelected">
                                  <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                                    <label
                                      style="color: #333; font-weight: normal;"
                                      [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getSignTypeItems[id].isDisabled? 'lightgrey': ''}"
                                    >{{getSignTypeItems[id].item_text}}</label>
                                  </div>
                                </ng-template>
                              </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="!partnerDoc.get('signType')?.valid && (partnerDoc.get('signType')?.dirty ||partnerDoc.get('signType')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerDoc.get('signType')?.errors?.required">
                                Loại ký không được để trống
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 remove">
                        <i (click)="removePartnerDoc(a, i)" class="fa fa-times-circle remove_icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add_click"><a class="add_link" (click)="addPartnerDoc(a)"><i class="fa fa-plus-circle"></i> Thêm văn thư</a></div>
                </div>
              </div>

              <div *ngIf="partners.value.type==2">
                <p>
                  <label class="labelOrg">TÊN ĐỐI TÁC <span class="require_star">*</span></label>
                  <input class="form-control textOrg" id="name" name="name" formControlName="name">
                </p>

                <!-- Partner user -->
                <div class="add_content" formArrayName="partnerUsers">
                  <div class="label">Người ký</div>
                  <div *ngFor="let partnerUser of partnerUsers(a)?.controls; let i=index" [formGroupName]="i">
                    <div class="row">
                      <div class="col-md-1 order">
                        <input type="number" formControlName="order" class="form-control order_input">
                      </div>
                      <div class="col-md-10">
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Họ tên <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/icon_name.svg" class="input-img">
                              <input type="text" formControlName="name" class="input-text">
                            </div>
                            <div *ngIf="!partnerUser.get('name')?.valid && (partnerUser.get('name')?.dirty ||partnerUser.get('name')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerUser.get('name')?.errors?.required">
                                Họ tên không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-6">
                            <div class="label_item">Email <span class="require_star">*</span></div>
                            <div class="form-control input-line">
                              <img src="assets/img/login_email.svg" class="input-img">
                              <input type="text" formControlName="email" class="input-text">
                            </div>
                            <div *ngIf="!partnerUser.get('email')?.valid && (partnerUser.get('email')?.dirty ||partnerUser.get('email')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerUser.get('email')?.errors?.required">
                                Email không được để trống
                              </p>
                            </div>
                          </div>
                        </div>
                        <div class="row">
                          <div class="col-md-6">
                            <div class="label_item">Loại ký <span class="require_star">*</span></div>
                            <div class="col">
                              <ng-multiselect-dropdown
                                formControlName="signType"
                                [placeholder]="'-- Chọn --'"
                                [settings]="dropdownSignTypeSettings"
                                [data]="signTypeList">
                                <ng-template
                                  #optionsTemplate
                                  let-item
                                  let-option="option"
                                  let-id="id"
                                  let-isSelected="isSelected">
                                  <div style="padding: 1px 10px; margin-right: 10px; right: 2px; top: -2px;">
                                    <label
                                      style="color: #333; font-weight: normal;"
                                      [ngStyle]="{ 'font-weight': isSelected? 'bold':' normal','color': getSignTypeItems[id].isDisabled? 'lightgrey': ''}"
                                    >{{getSignTypeItems[id].item_text}}</label>
                                  </div>
                                </ng-template>
                              </ng-multiselect-dropdown>
                            </div>
                            <div *ngIf="!partnerUser.get('signType')?.valid && (partnerUser.get('signType')?.dirty ||partnerUser.get('signType')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerUser.get('signType')?.errors?.required">
                                Loại ký không được để trống
                              </p>
                            </div>
                          </div>
                          <div class="col-md-1">
                            <div class="label_item">OTP</div>
                            <input type="checkbox" formControlName="isOtp" class="form-check-input">
                          </div>
                          <div class="col-md-5">
                            <div class="label_item">Số điện thoại <span class="require_star">*</span></div>
                            <input type="text" formControlName="phone" class="form-control input_phone">
                            <div *ngIf="!partnerUser.get('phone')?.valid && (partnerUser.get('phone')?.dirty ||partnerUser.get('phone')?.touched)">
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerUser.get('phone')?.errors?.required">
                                Số điện thoại không được để trống
                              </p>
                              <p class="alert alert-danger error-detail" role="alert" [hidden]="!partnerUser.get('phone')?.errors?.pattern">
                                Số điện thoại sai định dạng
                              </p>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-1 remove">
                        <i (click)="removePartnerUser(a, i)" class="fa fa-times-circle remove_icon"></i>
                      </div>
                    </div>
                  </div>
                  <div class="add_click"><a class="add_link" (click)="addPartnerUser(a)"><i class="fa fa-plus-circle"></i> Thêm người ký</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-11">
        <div class="add_click"><a class="add_link" (click)="addPartner()"><i class="fa fa-plus-circle"></i> Thêm đối tác</a></div>
      </div>
    </div>
  </form>

</div>

<div class="footer-determine" style="display: flex; justify-content: space-between; margin-top: 20px">
  <div style="width: 200px;">
    <button (click)="back($event, 'infor-contract')" type="button" name="next" class="next action-button" style="background-color: #8B8B8B">Quay lại</button>
  </div>
  <div class="content_footer">@Copyright 2021 - MobiFone</div>
  <div>
    <button (click)="next()" type="button" name="next" class="next action-button pull-right">Tiếp theo</button>
  </div>
</div>

